{{#icon.name}}
&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;{{icon.className}}&quot;&gt;
&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-{{icon.name}}&quot;&gt;&lt;/use&gt;
&Tab;&lt;/svg&gt;
{{/icon.name}}