&lt;div class=&quot;carousel-list-carousel&quot;&gt;&NewLine;&Tab;&lt;div class=&quot;carousel-container&quot;&gt;&NewLine;&Tab;&Tab;{{&gt; molecules-inset-block }} &NewLine;&Tab;&lt;div&gt;&NewLine;&Tab;&lt;div class=&quot;carousel-controls&quot;&gt;&NewLine;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;carousel-prev&quot;&gt;&amp;larr;&lt;/a&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;carousel-pagination&quot;&gt;1/5&lt;/div&gt;&NewLine;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;carousel-next&quot;&gt;&amp;rarr;&lt;/a&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&lt;/div&gt;