&lt;div class=&quot;homepageHeader&quot;&gt;
&Tab;&lt;div class=&quot;homepageHeader-background&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;homepageHeader-background-image&quot; style=&quot;background-image: url(&apos;../../images/homepage/header-ondernemer-krijn-ratsma.jpg&apos;)&quot;&gt;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;{{&gt; organisms-header }}
&Tab;&lt;div class=&quot;layoutContainer gridContainer homepageHeader-container&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;column homepageHeader-topTasks&quot;&gt;
&Tab;&Tab;&Tab;&lt;label class=&quot;filterContent&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;filterContent-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Wat de meeste
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;select class=&quot;filterContent-select&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;Ondernemers&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;Starters&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;Ervaren ondernemers&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/select&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;filterContent-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;willen weten
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;

&Tab;&Tab;&Tab;&lt;/label&gt;

&Tab;&Tab;&Tab;&lt;ul class=&quot;labelList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link labelList-link--white&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Een rechtsvorm kiezen
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link labelList-link--white&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;De VAR: onmisbaar voor zzp&apos;ers
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link labelList-link--white&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;In 10 stappen naar een eigen bedrijf
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link labelList-link--white&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Financiering vinden
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link labelList-link--white&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Een ondernemingsplan maken
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link labelList-link--white&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Btw-aangifte doen voor starters
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;