&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;
&lt;div class=&quot;menuBarContainer ngAnimate-menuBar&quot; menu-bar element-registar&gt;
    &lt;div class=&quot;menuBar&quot; ng-class=&quot;{&apos;is-menuBar-retracted&apos;: viewModel.isMenuBarRetracted()}&quot;&gt;
        &lt;div class=&quot;menuBar-navigation&quot;&gt;
            &lt;a href=&quot;{{ link.templates-homepage }}&quot; class=&quot;menuBar-button menuBar-button--navigation menuBar-button-inner menuBar-button--home&quot;&gt;
                &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-home-2004&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;span class=&quot;menuBar-button-text&quot;&gt;Home&lt;/span&gt;
            &lt;/a&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;menu&apos;)&quot; class=&quot;menuBar-button menuBar-button--navigation menuBar-button--menu&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;menu&apos;, viewModel.sideContentUnitType)}&quot;&gt;
                &lt;div class=&quot;menuBar-button-inner&quot;&gt;
                    &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                        &lt;use xlink:href=&quot;#figures-menu-3903&quot;&gt;&lt;/use&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;menuBar-button-text&quot;&gt;Menu&lt;/span&gt;
                &lt;/div&gt;
            &lt;/button&gt;
            &lt;button ng-click=&quot;console.log(&apos;search&apos;);viewModel.openClose.toggle(&apos;search&apos;)&quot; class=&quot;menuBar-button menuBar-button--navigation menuBar-button--search&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;search&apos;, viewModel.sideContentUnitType)}&quot;&gt;
                &lt;div class=&quot;menuBar-button-inner&quot;&gt;
                    &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                        &lt;use xlink:href=&quot;#figures-zoek-3907&quot;&gt;&lt;/use&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;menuBar-button-text&quot;&gt;Zoeken&lt;/span&gt;
                &lt;/div&gt;
            &lt;/button&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;profile&apos;)&quot; class=&quot;menuBar-button menuBar-button--navigation menuBar-button--profile&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;profile&apos;, viewModel.sideContentUnitType)}&quot;&gt;
                &lt;div class=&quot;menuBar-button-inner&quot;&gt;
                    &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                        &lt;use xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;menuBar-button-text&quot;&gt;Profiel&lt;/span&gt;
                &lt;/div&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;menuBar-context&quot;&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;share&apos;)&quot;  register-element=&quot;{&apos;type&apos;: &apos;button&apos;, &apos;unitName&apos;: &apos;share&apos;}&quot; class=&quot;menuBar-button menuBar-button--context menuBar-button--share&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;share&apos;)}&quot;&gt;
                &lt;div class=&quot;menuBar-button-inner&quot;&gt;
                    &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                        &lt;use xlink:href=&quot;#figures-delen&quot;&gt;&lt;/use&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;menuBar-button-text&quot;&gt;Delen&lt;/span&gt;
                &lt;/div&gt;
            &lt;/button&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;feedback&apos;)&quot;  register-element=&quot;{&apos;type&apos;: &apos;button&apos;, &apos;unitName&apos;: &apos;feedback&apos;}&quot; class=&quot;menuBar-button menuBar-button--context menuBar-button--feedback&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;feedback&apos;)}&quot;&gt;
                &lt;div class=&quot;menuBar-button-inner&quot;&gt;
                    &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                        &lt;use xlink:href=&quot;#figures-mening&quot;&gt;&lt;/use&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;menuBar-button-text&quot;&gt;Uw mening&lt;/span&gt;
                &lt;/div&gt;
            &lt;/button&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;enquete&apos;)&quot;  register-element=&quot;{&apos;type&apos;: &apos;button&apos;, &apos;unitName&apos;: &apos;enquete&apos;}&quot; class=&quot;menuBar-button menuBar-button--context menuBar-button--enquete&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;enquete&apos;)}&quot;&gt;
                &lt;div class=&quot;menuBar-button-inner&quot;&gt;
                    &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                        &lt;use xlink:href=&quot;#figures-enquete&quot;&gt;&lt;/use&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;menuBar-button-text&quot;&gt;Enquete&lt;/span&gt;
                &lt;/div&gt;
            &lt;/button&gt;
            &lt;a href=&quot;#&quot; class=&quot;menuBar-button menuBar-button--context menuBar-button--backToTop is-offScreen menuBar-button-inner&quot; back-to-top&gt;
                &lt;svg aria-hidden=&quot;true&quot; class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-top&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;span class=&quot;menuBar-button-text&quot;&gt;Naar boven&lt;/span&gt;
            &lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id=&quot;menu&quot; class=&quot;menuBar-sideContent ngAnimate-menuBar-sideContent is-hidden&quot; menu-bar-side-content unit-name=&quot;menu&quot;&gt;
        {{&gt;organisms-mainMenu}}
    &lt;/div&gt;
    &lt;div id=&quot;search&quot; class=&quot;menuBar-sideContent ngAnimate-menuBar-sideContent is-hidden&quot; menu-bar-side-content unit-name=&quot;search&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Zoeken&lt;/p&gt;
        &lt;p&gt;
            &lt;input id=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;Waar bent u naar op zoek?&quot;&gt;
        &lt;/p&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Meest gezocht&lt;/p&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;ondernemersplan&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;bedrijf starten&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;belastingaangifte&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div id=&quot;profile&quot; class=&quot;menuBar-sideContent ngAnimate-menuBar-sideContent is-hidden&quot; menu-bar-side-content unit-name=&quot;profile&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Informatie op maat&lt;/p&gt;
        &lt;p&gt;Hier kan de gebruiker zijn profiel instellen en beheren!&lt;/p&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Uw favorieten&lt;/p&gt;
        &lt;ul&gt;
            &lt;li&gt;Branche(s)&lt;/li&gt;
            &lt;li&gt;Regio(s)&lt;/li&gt;
            &lt;li&gt;Opgeslagen paginas&lt;/li&gt;
        &lt;/ul&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Mogelijk voor u interessant&lt;/p&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;ondernemersplan&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;bedrijf starten&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;belastingaangifte&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Uw berichtenbox&lt;/p&gt;
        &lt;p&gt;Koppel uw Berichtenbox aan Ondernemersplein.nl en kijk hier of er nieuwe berichten voor u zijn.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id=&quot;share&quot; class=&quot;menuBar-overlayContent ngAnimate-menuBar-overlayContent is-hidden&quot; menu-bar-overlay-content unit-name=&quot;share&quot;&gt;
        {{&gt; molecules-social-share }}
        &lt;button class=&quot;close share-close&quot; ng-click=&quot;viewModel.openClose.close(&apos;share&apos;)&quot;&gt;
            &lt;span class=&quot;close-text&quot;&gt;Sluiten&lt;/span&gt;
            &lt;svg class=&quot;close-icon&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;#figures-sluiten&quot;&gt;&lt;/use&gt;
            &lt;/svg&gt;
        &lt;/button&gt;
    &lt;/div&gt;
    &lt;div id=&quot;feedback&quot; class=&quot;menuBar-overlayContent ngAnimate-menuBar-overlayContent is-hidden&quot; menu-bar-overlay-content unit-name=&quot;feedback&quot;&gt;
        {{&gt; organisms-sidebar-feedback }}
    &lt;/div&gt;
    &lt;div id=&quot;enquete&quot; class=&quot;menuBar-overlayContent ngAnimate-menuBar-overlayContent is-hidden&quot; menu-bar-overlay-content unit-name=&quot;enquete&quot;&gt;
        &lt;button class=&quot;close enquete-close&quot; ng-click=&quot;viewModel.openClose.close(&apos;enquete&apos;)&quot;&gt;
            &lt;span class=&quot;close-text&quot;&gt;Sluiten&lt;/span&gt;
            &lt;svg class=&quot;close-icon&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;#figures-sluiten&quot;&gt;&lt;/use&gt;
            &lt;/svg&gt;
        &lt;/button&gt;
        &lt;p&gt;
            Wij zijn benieuwd naar uw ervaringen met de website. Wilt u daarom een vragenlijst invullen? Dit duurt maximaal 5 minuten.
        &lt;/p&gt;
        &lt;p&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Ja&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Nee&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Herinner mij later&lt;/a&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;