&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;
&lt;script type=&quot;text/ng-template&quot; id=&quot;menuBar.html&quot;&gt;
    &lt;div class=&quot;menuBar&quot;&gt;
        &lt;div class=&quot;menuBar-item&quot;&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;menu&apos;)&quot; class=&quot;menuBar-button menuBar-button--menu&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isOpened(&apos;menu&apos;)}&quot;&gt;
                &lt;svg class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-menu-3903&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;menuBar-item&quot;&gt;
            &lt;button ng-click=&quot;console.log(&apos;search&apos;);viewModel.openClose.toggle(&apos;search&apos;)&quot; class=&quot;menuBar-button menuBar-button--search&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isOpened(&apos;search&apos;)}&quot;&gt;
                &lt;svg class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-zoek-3907&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;menuBar-item&quot;&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;profile&apos;)&quot; class=&quot;menuBar-button menuBar-button--profile&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isOpened(&apos;profile&apos;)}&quot;&gt;
                &lt;svg class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;menuBar-item&quot;&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;share&apos;)&quot; class=&quot;menuBar-button menuBar-button--share&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isOpened(&apos;share&apos;)}&quot;&gt;
                &lt;svg class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-delen&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;menuBar-item&quot;&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;feedback&apos;)&quot; class=&quot;menuBar-button menuBar-button--feedback&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isOpened(&apos;feedback&apos;)}&quot;&gt;
                &lt;svg class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-ear-4001&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
            &lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;menuBar-item&quot;&gt;
            &lt;button ng-click=&quot;viewModel.openClose.toggle(&apos;enquete&apos;)&quot; class=&quot;menuBar-button menuBar-button--enquete&quot; ng-class=&quot;{&apos;is-opened&apos;: viewModel.openClose.isOpened(&apos;enquete&apos;)}&quot;&gt;
                &lt;svg class=&quot;menuBar-icon&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-enquete-2022&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
            &lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div id=&quot;menu&quot; class=&quot;menuBar-content ngAnimate-menuBar-content ng-hide&quot; ng-show=&quot;viewModel.openClose.isOpened(&apos;menu&apos;)&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/p&gt;
        &lt;span class=&quot;menuBar--subTitle textLine&quot;&gt;Onderwerpen&lt;/span&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Personeel&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bedrijf starten&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Handelsregister&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Administratie&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Geldzaken&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Belastingen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Internationaal ondernemen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Innovatie en productontwikkeling&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Marketing&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Huisvesting&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bedrijf organiseren&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bedrijf beschermen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Freelance en zzp&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bedrijf stoppen of verkopen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Duurzaam ondernemen&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;span class=&quot;menuBar--subTitle textLine&quot;&gt;Direct naar&lt;/span&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Wetten en regels&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Wetswijzigingen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Subsidies&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Direct regelen&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Branche-informatie&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Regio-informatie&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Webinars en video&CloseCurlyQuote;s&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Evenementen&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;span class=&quot;menuBar--subTitle textLine&quot;&gt;Ondernemersplein&lt;/span&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Uw idee ter verbetering&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Over ons&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div id=&quot;search&quot; class=&quot;menuBar-content ngAnimate-menuBar-content ng-hide&quot; ng-show=&quot;viewModel.openClose.isOpened(&apos;search&apos;)&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Zoeken&lt;/p&gt;
        &lt;p&gt;
            &lt;input id=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;Waar bent u naar op zoek?&quot;&gt;
        &lt;/p&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Meest gezocht&lt;/p&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;ondernemersplan&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;bedrijf starten&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;belastingaangifte&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div id=&quot;profile&quot; class=&quot;menuBar-content ngAnimate-menuBar-content ng-hide&quot; ng-show=&quot;viewModel.openClose.isOpened(&apos;profile&apos;)&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Informatie op maat&lt;/p&gt;
        &lt;p&gt;Hier kan de gebruiker zijn profiel instellen en beheren!&lt;/p&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Uw favorieten&lt;/p&gt;
        &lt;ul&gt;
            &lt;li&gt;Branche(s)&lt;/li&gt;
            &lt;li&gt;Regio(s)&lt;/li&gt;
            &lt;li&gt;Opgeslagen paginas&lt;/li&gt;
        &lt;/ul&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Mogelijk voor u interessant&lt;/p&gt;
        &lt;ul class=&quot;linkList&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;ondernemersplan&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;bedrijf starten&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;belastingaangifte&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;p class=&quot;menuBar--subTitle textLine&quot;&gt;Uw berichtenbox&lt;/p&gt;
        &lt;p&gt;Koppel uw Berichtenbox aan Ondernemersplein.nl en kijk hier of er nieuwe berichten voor u zijn.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id=&quot;share&quot; class=&quot;menuBar-content ngAnimate-menuBar-content ng-hide&quot; ng-show=&quot;viewModel.openClose.isOpened(&apos;share&apos;)&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Deel deze pagina&lt;/p&gt;
        {{&gt; molecules-social-share }}
    &lt;/div&gt;
    &lt;div id=&quot;feedback&quot; class=&quot;menuBar-content ngAnimate-menuBar-content ng-hide&quot; ng-show=&quot;viewModel.openClose.isOpened(&apos;feedback&apos;)&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Geef uw mening&lt;/p&gt;
        &lt;form action=&quot;#&quot; style=&quot;padding: 0 20px;&quot;&gt;
            &lt;fieldset class=&quot;options&quot;&gt;
                &lt;legend&gt;Heeft deze informatie u geholpen?&lt;/legend&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;label for=&quot;radio1&quot;&gt;&lt;input id=&quot;radio1&quot; name=&quot;radio&quot; type=&quot;radio&quot; class=&quot;radio&quot; checked=&quot;checked&quot;&gt;Ja&lt;/label&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;label for=&quot;radio2&quot;&gt;&lt;input id=&quot;radio2&quot; name=&quot;radio&quot; type=&quot;radio&quot; class=&quot;radio&quot;&gt;Nee&lt;/label&gt;&lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class=&quot;field-container&quot;&gt;
                    &lt;label for=&quot;textarea&quot;&gt;Wat vindt u goed op deze pagina (maximaal 1000 tekens)?&lt;/label&gt;
                    &lt;textarea id=&quot;textarea&quot; rows=&quot;3&quot; cols=&quot;48&quot; placeholder=&quot;&quot;&gt;&lt;/textarea&gt;
                &lt;/div&gt;
            &lt;/fieldset&gt;
        &lt;/form&gt;
        &lt;p&gt;Annuleer | Verstuur&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id=&quot;enquete&quot; class=&quot;menuBar-content ngAnimate-menuBar-content ng-hide&quot; ng-show=&quot;viewModel.openClose.isOpened(&apos;enquete&apos;)&quot;&gt;
        &lt;p class=&quot;menuBar--title&quot;&gt;Enquete&lt;/p&gt;
        &lt;p&gt;
            Wilt u ons helpen onze website te verbeteren? Vul dan de vragenlijst in!
        &lt;/p&gt;
        &lt;p&gt;Ja / Nee / Herinner mij over 10 paginas&lt;/p&gt;
    &lt;/div&gt;

&lt;/script&gt;

&lt;div class=&quot;menuBarContainer ngAnimate-menuBar&quot; menu-bar&gt;

&lt;/div&gt;