&lt;div class=&quot;tip&quot;&gt;
&Tab;&lt;h3 class=&quot;h4 tip--header&quot;&gt;Bezwaar maken&lt;/h3&gt;
&Tab;&lt;p class=&quot;tip--content&quot;&gt;Bent u het niet eens met de VAR die u heeft gekregen? Op uw VAR staat hoe u bezwaar kunt maken en bij wie u daarvoor moet zijn.&lt;/p&gt;
&lt;/div&gt;