/* FOOTER */

.footer {
	background: getColor(grijs light);
	@include insideMarginTop(0.5rem);
	font-size: getFontSize(small);

	@include mqGreaterThan(smallMedium) {
		font-size: getFontSize(root);
	}
}

.partnerLogos {
	overflow: auto;
	overflow-y: hidden;

	&-intro {
		text-align: center;
	}
}

.partnerLogo {
	max-width: none;
	width: auto;
	height: 2.5rem;
	filter: grayscale(100%);
	&:hover {
		transform: scale(1.1);
		filter: grayscale(0%);
	}
}

.copyright {
	text-align: center;
	margin: 1rem 0;
}