/* FOOTER */

.footer {
	//background: getColor(hemelblauw lightest);
	background: #BADDEF;
	@include insideMarginTop(0.5rem);
	font-size: getFontSize(small);

	@include mqGreaterThan(smallMedium) {
		font-size: getFontSize(root);
	}
}

.footerNav {
	&-link {
		color: getColor(hemelblauw darkest);
	}
}

.partnerLogos {
	overflow: auto;
	overflow-y: hidden;

	&-intro {
		text-align: center;
	}
}

.partnerLogo {
	&--color {
		filter: grayscale(100%);
		&:hover {
			filter: grayscale(0%);
		}
	}

	&--contentBottom { }
	&--contentRight { }

	&-item {
		padding-right: $pad;
	}
	&-image {
		max-width: none;
		width: auto;
		height: 1.8rem;
		@include mqGreaterThan(large) {
			height: 2.5rem;
		}
		.sourceBlock & {
			//height: 3.5em;
		}
	}
	&--footer {
		opacity: 0.5;
		&:hover {
			transition: all 0.2s ease-in-out;
			transform: scale(1.1);
			opacity: 1;
		}
	}
}

.copyright {
	text-align: center;
	margin: 1rem 0;
}