&lt;svg class=&quot;goIconSimple {{goIcon.className}}&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-chevron-right&quot;&gt;&lt;/use&gt;&lt;/svg&gt;