&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&lt;h2 class=&quot;charlieHeading&quot;&gt;Discussies&lt;/h2&gt;
&Tab;&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;Starten als zzp&apos;er&lt;br /&gt;Geplaatst op 18 okt 2014 (5 reacties)&lt;/a&gt;&lt;/span&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;Cursus Starten als ZZP&CloseCurlyQuote;er van LOI&lt;br /&gt;Geplaatst op 6 okt 2014 (7 reacties)&lt;/a&gt;&lt;/span&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink &quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;hulp bij 1e belasting aangifte als ondernemer&lt;br /&gt;Geplaatst op 20 aug 2014 (5 reacties)&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&Tab;&lt;!--a href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Meer discussies&lt;/a--&gt;
&Tab;&lt;p class=&quot;infoText&quot;&gt;Deze informatie is afkomstig van Hallo en Higherlevel&lt;/p&gt;
&lt;/div&gt;