&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&lt;a class=&quot;promoBlock promoBlock--green&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&lt;figure class=&quot;promoBlock-figure&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;promoBlock-image&quot; src=&quot;../../images/startersdag.png&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;promoBlock-label&quot;&gt;Evenement&lt;/div&gt;
&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&lt;div class=&quot;promoBlock-content&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2 class=&quot;promoBlock-title h4&quot;&gt;Zeker weten dat je goed van start gaat?&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;p&gt;Kom naar de KvK Startersdag op 7 november 2015&lt;/p&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/a&gt;
&Tab;&lt;div class=&quot;blockContainer-more blockContainer-more--green&quot;&gt;
&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;Meer evenementen
&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;