&lt;div class=&quot;column column--third&quot;&gt;&NewLine;&Tab;&lt;div class=&quot;block block--border&quot;&gt;&NewLine;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Promoblok&lt;/span&gt;&lt;/h3&gt;&NewLine;&Tab;&Tab;&lt;p&gt;Handmatige koppeling van een X aantal promoblokken mogelijk&lt;/p&gt;&NewLine;&Tab;&Tab;&lt;a href=&quot;#promolink&quot;&gt;Call 2 Action link&lt;/a&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&lt;/div&gt;