&lt;div class=&quot;block--side summary&quot;&gt;
&Tab;&lt;p class=&quot;summary-unit media&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;counter media-figure summary-number&quot; visual-cloak&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;counter-original&quot;&gt;21&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;span count-up count-start=&quot;0&quot; count-end=&quot;21&quot; class=&quot;counter-overlay&quot; aria-hidden=&quot;true&quot;&gt;0&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;summary-percentage&quot;&gt;%&lt;/span&gt;
&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;summary-text media-text&quot;&gt;levering van onroerende zaken&lt;/span&gt;
&Tab;&lt;/p&gt;
&Tab;&lt;p class=&quot;summary-unit media&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;counter media-figure summary-number&quot; visual-cloak&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;counter-original&quot;&gt;6&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;span count-up count-start=&quot;0&quot; count-end=&quot;6&quot; class=&quot;counter-overlay&quot; aria-hidden=&quot;true&quot;&gt;0&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;summary-percentage&quot;&gt;%&lt;/span&gt;
&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;summary-text media-text&quot;&gt;onder meer voor etenswaren en sommige diensten&lt;/span&gt;
&Tab;&lt;/p&gt;
&Tab;&lt;p class=&quot;summary-unit media&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;counter media-figure summary-number summary-number--secondary&quot; visual-cloak&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;counter-original&quot;&gt;5&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;span count-up count-start=&quot;0&quot; count-end=&quot;5&quot; class=&quot;counter-overlay&quot; aria-hidden=&quot;true&quot;&gt;0&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;summary-percentage&quot;&gt;%&lt;/span&gt;
&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;summary-text media-text&quot;&gt;onder meer voor etenswaren en sommige diensten&lt;/span&gt;
&Tab;&lt;/p&gt;
&Tab;&lt;p&gt;
&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Bekijk voor alle tarieven ons overzicht&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;
&Tab;&lt;/p&gt;
&lt;/div&gt;
&lt;script type=&quot;text/ng-template&quot; id=&quot;/countUp.html&quot;&gt;
&Tab;&lt;span class=&quot;&quot; ng-bind=&quot;viewModel.currentCount&quot;&gt;&lt;/span&gt;
&lt;/script&gt;