&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link breadcrumb-linkFirst diapositive-link&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Home&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Wetten en regels&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Omgevingsvergunning&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-bronhouder-text }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-laatste-update }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;Gaat u bouwen, verbouwen of slopen? Wilt u een boom kappen? Wilt u reclame maken op uw bedrijfspand? Of wilt u tijdelijk een steiger op de openbare weg plaatsen? Voor de meeste activiteiten op het gebied van (ver)bouw, wonen, monumenten, milieu, natuur en ruimte gelden algemene regels of moet u een melding doen.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;pageContentNav block--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;pageContentNav--title h3&quot;&gt;Op deze pagina behandelen we&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;pageContentNav--list linkList list list--double&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#aanvragen&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Hoe vraagt u een omgevingsvergunning aan?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#overleggen&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Wilt u vooraf overleggen met uw gemeente?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#beslissen&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Wanneer beslist de gemeente over uw aanvraag?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#beschikking&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Gedoogbeschikking&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#externe-links&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Externe links&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#wetswijzigingen&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Wetswijzigingen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Wilt u weten of u een melding moet doen of een omgevingsvergunning nodig hebt? Doe via Omgevingsloket online de &lt;a href=&quot;https://www.omgevingsloket.nl/Zakelijk/zakelijk/home/checken?init=true&amp;amp;clear-case=true#&quot; class=&quot;externalLink&quot;&gt;vergunningcheck&lt;/a&gt;.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;scBlock-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--grey scBlock&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title scBlock--title&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;svg aria-hidden=&quot;true&quot; class=&quot;scBlock--icon&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                  &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-consument-6003&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                    Meer weten of direct aanvragen?
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;scBlock--subTitle&quot;&gt;Bij uw gemeente, provincie of waterschap&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;form class=&quot;scBlock--form&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input id=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;Bijvoorbeeld Rotterdam&quot; value=&quot;Gemeente Amsterdam&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;scBlock--clearIcon&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;use xlink:href=&quot;#figures-sluiten&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/form&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;scBlock--result&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink scBlock--resultLink&quot;&gt;{{&gt; atoms-goIcon-arrow-hook }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingsvergunning aanvragen (Amsterdam)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;scBlock--result&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink scBlock--resultLink&quot;&gt;{{&gt; atoms-goIcon-arrow-hook }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Milieubeheer, gedoogbeschikking (Noord-Holland)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;scBlock--result&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink scBlock--resultLink&quot;&gt;{{&gt; atoms-goIcon-arrow-hook }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingsvergunning (Noord-Holland)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;De omgevingsvergunning bestaat sinds 1 oktober 2010 en vervangt een aantal &lt;a href=&quot;http://www.ondernemersplein.nl/regel/omgevingsvergunning-vervangen-vergunningen-uitzonderingen/&quot; title=&quot;Omgevingsvergunning: vervangen vergunningen en uitzonderingen&quot;&gt;vergunningen en ontheffingen&lt;/a&gt;.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;aanvragen&quot;&gt;Hoe vraagt u een omgevingsvergunning aan?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U kunt de omgevingsvergunning met &eacute;&eacute;n aanvraagformulier aanvragen bij uw gemeente. Dit kan digitaal of schriftelijk. U kunt iemand machtigen de omgevingsvergunning voor u aan te vragen.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;Digitaal aanvragen&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U vraagt de omgevingsvergunning digitaal aan via de website van uw gemeente of rechtstreeks via &lt;a class=&quot;externalLink&quot; href=&quot;https://www.omgevingsloket.nl/Zakelijk/zakelijk/home?init=true&quot; title=&quot;externe link&quot;&gt;Omgevingsloket online&lt;/a&gt;. U &lt;a href=&quot;https://www.eherkenning.nl/inloggen-met-eherkenning/&quot; class=&quot;externalLink&quot; title=&quot;externe link&quot;&gt;identificeert zich&lt;/a&gt; met eHerkenning. U hebt hiervoor een eHerkenningsmiddel met ten minste betrouwbaarheidsniveau 2 nodig.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Als u de omgevingsvergunning hebt aangevraagd via Omgevingsloket online, kunt u de afhandeling van uw aanvraag digitaal via de &lt;a href=&quot;http://www.ondernemersplein.nl/berichtenbox-voor-bedrijven/&quot; title=&quot;Berichtenbox voor bedrijven&quot;&gt;berichtenbox&lt;/a&gt; laten verlopen. Hiervoor vult u bij de aanvraag uw berichtenboxnaam in.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;Schriftelijk aanvragen&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U stelt het &lt;a class=&quot;externalLink&quot; href=&quot;https://www.omgevingsloket.nl/Zakelijk/zakelijk/home/papierenformulier#&quot; title=&quot;externe link&quot;&gt;papieren aanvraagformulier&lt;/a&gt; samen via Omgevingsloket online, print het uit en stuurt het op. Ook kunt u uw gemeente om een papieren aanvraagformulier vragen.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;overleggen&quot;&gt;Wilt u vooraf overleggen met uw gemeente?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Wilt u vooraf weten of het zin heeft om de omgevingsvergunning aan te vragen? Dan kunt u dit in het Omgevingsloket online aangeven. De gemeente kijkt dan met u mee. Dit is niet in iedere gemeente mogelijk.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;beslissen&quot;&gt;Wanneer beslist de gemeente over uw aanvraag?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Meestal beslist de gemeente binnen 8 weken of u wel of geen omgevingsvergunning krijgt. Het gaat dan om eenvoudige aanvragen. Is de aanvraag moeilijker? Dan beslist de gemeente binnen 6 maanden of u wel of geen omgevingsvergunning krijgt.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;beschikking&quot;&gt;Gedoogbeschikking&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Kunt u niet voldoen aan regels op het gebied van het omgevingsrecht? Dan kunt u onder bepaalde omstandigheden een gedoogbeschikking aanvragen bij de provincie.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;content-block blauw rand&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Digitaal aanvragen met de berichtenbox&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bij de provincie Noord-Brabant kunt u de gedoogbeschikking omgevingsrecht digitaal aanvragen met de &lt;a href=&quot;http://www.ondernemersplein.nl/berichtenbox-voor-bedrijven/&quot; title=&quot;Berichtenbox voor bedrijven&quot;&gt;berichtenbox&lt;/a&gt;. De berichtenbox is een beveiligd e-mailsysteem waarmee u als ondernemer digitaal berichten kunt uitwisselen met Nederlandse overheidsorganisaties.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;


                    &lt;h2 id=&quot;externe-links&quot;&gt;Externe links&lt;/h2&gt;
                    &lt;ul class=&quot;linkList&quot;&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a href=&quot;https://www.omgevingsloket.nl/Zakelijk/zakelijk/home?init=true&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingsloket online zakelijk&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a href=&quot;http://www.infomil.nl/onderwerpen/integrale/omgevingsloket/infoblad-bedrijven/&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Infoblad voor bedrijven - Omgevingsvergunning en watervergunning (Kenniscentrum InfoMil)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a href=&quot;http://www.infomil.nl/onderwerpen/integrale/omgevingsloket&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingsloket online (Kenniscentrum InfoMil)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a href=&quot;http://www.infomil.nl/onderwerpen/integrale/omgevingsvergunning/&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingsvergunning/Wabo (Kenniscentrum InfoMil)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a href=&quot;https://www.eherkenning.nl/inloggen-met-eherkenning/&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Veilig inloggen (eHerkenning)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a href=&quot;http://www.rijksoverheid.nl/onderwerpen/omgevingswet&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingswet (Rijksoverheid)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;h2 id=&quot;wetswijzigingen&quot;&gt;Wetswijzigingen&lt;/h2&gt;
                    &lt;ul class=&quot;linkList&quot;&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a class=&quot;interfaceLink&quot; href=&quot;http://www.ondernemersplein.nl/wetswijziging/nieuwe-wet-natuurbescherming/&quot;&gt;
                            &Tab;{{&gt; atoms-goIcon-interfaceLink }}
                            &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;                                &lt;span class=&quot;textLine&quot;&gt;Nieuwe Wet Natuurbescherming&lt;/span&gt;
&Tab;                                &lt;time class=&quot;infoText&quot; datetime=&quot;Ingangsdatum: 1 mrt 2016&quot;&gt;
&Tab;                                    Ingangsdatum: 1 mrt 2016
&Tab;                                &lt;/time&gt;
                                &lt;/span&gt;&lt;/span&gt;
                            &lt;/a&gt;
                            &lt;span class=&quot;wetswijziging-datum&quot; data-url=&quot;/WetswijzigingsDatumHandler.ashx?id=tcm:106-275116&quot;&gt;&lt;/span&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a class=&quot;interfaceLink&quot; href=&quot;http://www.ondernemersplein.nl/wetswijziging/verlening-milieuvergunningen-omgevingsdiensten/&quot;&gt;
                            &Tab;{{&gt; atoms-goIcon-interfaceLink }}
                            &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;                                &lt;span class=&quot;textLine&quot;&gt;Omgevingsdiensten verlenen en handhaven milieuvergunningen&lt;/span&gt;
&Tab;                                &lt;time class=&quot;infoText&quot; datetime=&quot;Ingangsdatum: 1 jan 2016&quot;&gt;
&Tab;                                    Ingangsdatum: 1 jan 2016
&Tab;                                &lt;/time&gt;
                                &lt;/span&gt;&lt;/span&gt;
                            &lt;/a&gt;
                            &lt;span class=&quot;wetswijziging-datum&quot; data-url=&quot;/WetswijzigingsDatumHandler.ashx?id=tcm:106-386228&quot;&gt;&lt;/span&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;linkList-item&quot;&gt;
                            &lt;a class=&quot;interfaceLink&quot; href=&quot;http://www.ondernemersplein.nl/wetswijziging/aanpassing-omgevingsrecht/&quot;&gt;
                            &Tab;{{&gt; atoms-goIcon-interfaceLink }}
                            &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;                                &lt;span class=&quot;textLine&quot;&gt;Omgevingsrecht wordt aangepast&lt;/span&gt;
&Tab;                                &lt;time class=&quot;infoText&quot; datetime=&quot;Ingangsdatum: 1 jan 2018&quot;&gt;
&Tab;                                    Ingangsdatum: 1 jan 2018
&Tab;                                &lt;/time&gt;
                                &lt;/span&gt;&lt;/span&gt;
                            &lt;/a&gt;
                            &lt;span class=&quot;wetswijziging-datum&quot; data-url=&quot;/WetswijzigingsDatumHandler.ashx?id=tcm:106-275626&quot;&gt;&lt;/span&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-hoenuverder-blok }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! molecules-bronhouder-contentfooter }}

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;sourceBlock&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;infoText infoText--afzender&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span&gt;Deze informatie is geplaatst door:&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;gridContainer gridContainer--singleLine u-noBullets&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo-image partnerLogo--contentBottom&quot; src=&quot;../../images/logos/AVB_color.svg&quot; alt=&quot;Antwoord voor bedrijven&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third aside&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-samenvatting }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-side-blok-linklijst }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-linklijst-extern }}

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side externalLinks&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title h3 sideHeading&quot;&gt;Wet- en regelgeving&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;http://wetten.overheid.nl/1.0:c:BWBR0024779&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Wet algemene bepalingen omgevingsrecht (Wabo) (Overheid.nl)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;http://wetten.overheid.nl/1.0:c:BWBR0027464&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Besluit omgevingsrecht (Overheid.nl)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;http://zoekdienst.overheid.nl/ictu_website/CVDR/CVDRZoeken.aspx?searchtype=Simple&amp;connection=CVDR&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Regelingen van gemeenten, provincies en waterschappen (Overheid.nl)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal}}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&Tab;{{! organisms-promoblok}}
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block-promo block-promo--green&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure class=&quot;block-image&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img src=&quot;../../images/startersdag.png&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block-label&quot;&gt;Evenement&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title h3&quot;&gt;Zeker weten dat je goed van start gaat?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Kom naar de KvK Startersdag op 7 november 2015&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;http://www.google.nl&quot; class=&quot;block-link&quot;&gt;Meer over de Startersdag&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;