&lt;div class=&quot;block block--side suggestions&quot;&gt;
&Tab;&lt;h2 class=&quot;block-title h4 sideHeading&quot;&gt;Misschien bent u op zoek naar&lt;/h2&gt;
&Tab;&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Omgevingsvergunning: vervangen vergunningen en uitzonderingen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Watervergunning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bezwaar en beroep tegen beslissing overheid&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;eHerkenning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;