&lt;div class=&quot;block block--side suggestions&quot;&gt;
&Tab;&lt;h2 class=&quot;block-title charlieHeading sideHeading&quot;&gt;H2 Niet gevonden wat u zocht?&lt;/h2&gt;
&Tab;&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Omgevingsvergunning: vervangen vergunningen en uitzonderingen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink externalLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Watervergunning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Bezwaar en beroep tegen beslissing overheid&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;eHerkenning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;