
{{> organisms-sidebar }}

<div class="page">
{{> organisms-header }}

<div class="hide-svg">{{> atoms-figures }}</div>

<main class="main layoutContainer gridContainer gridContainer--stretchItems">
	<div class="column column--twoThird">
		<header class="">

			<h1>Ondernemersaftrek</h1>
		</header>
	</div>
	<div class="column column--twoThird">

		<p class="intro">Als ondernemer kunt u in aanmerking komen voor de <a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/ondernemersaftrek/" title="externe link">ondernemersaftrek</a>. De ondernemersaftrek is een bedrag dat u aftrekt van uw winst, zodat u minder belasting betaalt.</p>


		<p>De ondernemersaftrek bestaat uit de onderdelen:</p>
		<ul class="interne-link">
			<li><a href="/subsidie/zelfstandigenaftrek/" title="Zelfstandigenaftrek">Zelfstandigenaftrek</a></li>
			<li><a href="/subsidie/startersaftrek/" title="Startersaftrek (bij arbeidsongeschiktheid)">Startersaftrek</a> (verhoging van de zelfstandigenaftrek)</li>
			<li><a href="/subsidie/meewerkaftrek/" title="Meewerkaftrek">Meewerkaftrek</a></li>
			<li><a href="/subsidie/wbso/" title="Aftrek voor speur- en ontwikkelingswerk (WBSO)">Aftrek voor speur- en ontwikkelingswerk (WBSO)</a></li>
			<li><a href="/subsidie/stakingsaftrek/" title="Stakingsaftrek en stakingslijfrenteaftrek">Stakingsaftrek</a></li>
			<li><a href="/subsidie/startersaftrek/" title="Startersaftrek (bij arbeidsongeschiktheid)">Startersaftrek bij arbeidsongeschiktheid</a>
			</li>
		</ul>

		<h2>Wanneer komt u in aanmerking?</h2>

		<p>U moet voldoen aan het <a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/voorwaarden_urencriterium" title="externe link">urencriterium</a>:</p>
		<ul>
			<li>U werkt minimaal 1.225 uur voor uw eigen bedrijf. Voor de startersaftrek bij arbeidsongeschiktheid geldt een verlaagd urencriterium. U moet dan minimaal 800 uur per jaar aan uw bedrijf besteden.</li>
			<li>U werkt meer dan 50% van uw werktijd voor uw eigen onderneming. Deze eis geldt niet als u in de laatste 5 jaar geen ondernemer was.</li>
		</ul>

		<h2>Hoe kunt u aanvragen?</h2>
		<p>De ondernemersaftrek geeft u aan in uw aangifte inkomstenbelasting.</p>


		<h2>Externe links</h2>
		<ul class="external-links">
			<li>
				<a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/ondernemersaftrek/">Ondernemersaftrek (Belastingdienst)</a>
			</li>
			<li>
				<a href="https://www.youtube.com/watch?v=miow_wUDmt0">Het urencriterium voor ondernemers (Belastingdienst)</a>
			</li>
		</ul>

	</div>
	<div class="column column--third aside">
		<div class="">
		    <h3 class="block-title">Vragen?</h3>
		    <ul class="">
                <li><a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/standaard_functies/prive/contact/belastingtelefoon_bellen/belastingtelefoon_bellen">Bel de BelastingTelefoon: 0800 0543</a></li>
                <li><a href="http://www.higherlevel.nl/forum/index.php?board=49">Vraag advies aan andere ondernemers op Higherlevel.nl</a></li>
            </ul>
		</div>
		<div class="">
		    <h3 class="">Niet gezocht wat u vond?</h3>
		    <ul class="">
                <li>
		            <a href="/subsidie/rda/">Research &amp; Development Aftrek (RDA)</a>
		        </li>
                <li>
		            <a href="/subsidie/milieu-investeringsaftrek/">Milieu-investeringsaftrek (MIA)</a>
		        </li>
                <li>
		            <a href="/subsidie/willekeurige-afschrijving-milieu-investeringen/">Willekeurige afschrijving milieu-investeringen (Vamil)</a>
		        </li>
                <li>
		            <a href="/subsidie/energie-investeringsaftrek/">Energie-investeringsaftrek (EIA)</a>
		        </li>
            </ul>
	    </div>
	</div>
</main>

{{> organisms-footer }}

</div>
