&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;

&lt;h2 class=&quot;charlieHeading&quot;&gt;Innovatie &amp;amp; productontwikkeling&lt;/h2&gt;
&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Maatregelen Prinsjesdag 2015&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een rechtsvorm kiezen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;De VAR: onmisbaar voor zzp&apos;ers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;In 10 stappen naar een eigen bedrijf&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Financiering vinden&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een ondernemingsplan maken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Btw-aangifte doen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Aangiftehulp Belastingdienst&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h2 class=&quot;charlieHeading&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;headingLink media&quot;&gt;
&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;media-figure&quot;&gt;
&Tab;    &lt;use xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&lt;/svg&gt;
&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;Innovatie &amp;amp; productontwikkeling Bedrijf starten&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;
&Tab;&lt;/span&gt;
&lt;/h2&gt;

&lt;ul class=&quot;linkList list list--double&quot;&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Maatregelen Prinsjesdag 2015&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een rechtsvorm kiezen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;De VAR: onmisbaar voor zzp&apos;ers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;In 10 stappen naar een eigen bedrijf&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Financiering vinden&lt;/span&gt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een ondernemingsplan maken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Btw-aangifte doen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Aangiftehulp Belastingdienst&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;linkList list list--triple&quot;&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Maatregelen Prinsjesdag 2015&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een rechtsvorm kiezen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;De VAR: onmisbaar voor zzp&apos;ers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;In 10 stappen naar een eigen bedrijf&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Financiering vinden&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een ondernemingsplan maken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Btw-aangifte doen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Aangiftehulp Belastingdienst&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;