node_modules/
/public/**
.DS_Store
.sass-cache/**
/sass-cache
Thumbs.db
/source/css/style.css
/source/css/style.css.map
patternlab.json
/source/css/scss/iconFont/
/source/iconFontSource/icons.html
/source/fonts/iconFont
jspm_packages
/source/_patterns/00-atoms/04-images/figures.mustache
/source/_patterns/00-atoms/04-images/01-figures-demo.mustache
/source/js
/coverage
