<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;">Hoofdkleur: Blauw</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #005387;"></span>
		<span class="sg-label">#005387<br /><small>darkestBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #005b94;"></span>
		<span class="sg-label">#005b94<br /><small>darkerBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #006bad;"></span>
		<span class="sg-label">#006bad<br /><small>darkBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #007bc8;"></span>
		<span class="sg-label">#007bc8<br /><small>blue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #1693e0;"></span>
		<span class="sg-label">#1693e0<br /><small>mediumBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #23a4f3;"></span>
		<span class="sg-label">#23a4f3<br /><small>lightMediumBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #b2d7ee;"></span>
		<span class="sg-label">#b2d7ee<br /><small>lightBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d9ebf7;"></span>
		<span class="sg-label">#d9ebf7<br /><small>lighterBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #e7f7fe;"></span>
		<span class="sg-label">#e7f7fe<br /><small>lightestBlue</small></span>
	</li>
</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin-top:1.5em;">Tekstkleur: Grijs</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #3e3e3e;"></span>
		<span class="sg-label">#3e3e3e<br /><small>darkestGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #575757;"></span>
		<span class="sg-label">#575757<br /><small>darkerGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #8a8a8a;"></span>
		<span class="sg-label">#8a8a8a<br /><small>darkGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #a3a3a3;"></span>
		<span class="sg-label">#a3a3a3<br /><small>mediumGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d9d9d9;"></span>
		<span class="sg-label">#d9d9d9<br /><small>lightGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #e5e5e5;"></span>
		<span class="sg-label">#e5e5e5<br /><small>lighterGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #f3f3f3;"></span>
		<span class="sg-label">#f3f3f3<br /><small>lightestGray</small></span>
	</li>
</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin-top:1.5em;">Rijkshuisstijl steunkleuren</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #CA005D;"></span>
		<span class="sg-label">#CA005D<br /><small>R202G0B93<br />Robijnrood</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #777C00;"></span>
		<span class="sg-label">#777C00<br /><small>R119G124B0<br />Mosgroen</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #42145F;"></span>
		<span class="sg-label">#42145F<br /><small>R66G20B95<br />Paars</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000<br /><small>R0G0B0<br />Zwart</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">#FFFFFF<br /><small>R255G255B255<br />Wit</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d52b1e;"></span>
		<span class="sg-label">#d52b1e<br /><small>R213G43B30<br />Rood</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #39870c;"></span>
		<span class="sg-label">#39870c<br /><small>R57G135B12<br />Groen</small></span>
	</li>
</ul>