<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin:15px 0;">Standaard font</p>
<p>Standaard: 'RijksOverheidSansRegular', 'tahoma', sans-serif;</p>
<p><em>Italic: 'RijksOverheidSansRegularItalic', 'tahoma', sans-serif;</em></p>
<p><strong>Bold: 'RijksOverheidSansBold', 'tahoma', sans-serif;</strong></p>
<p><strong><em>Bold Italic: 'RijksOverheidSansBoldItalic', 'tahoma', sans-serif;</em></strong></p>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin:15px 0">Fall-back font</p>
<p class="font-secondary">Standaard: 'Tahoma', sans-serif;</p>
<p class="font-secondary"><em>Italic: 'Tahoma', sans-serif;</em></p>
<p class="font-secondary"><strong>Bold: 'Tahoma', sans-serif;</strong></p>
<p class="font-secondary"><strong><em>Bold Italic: 'Tahoma', sans-serif;</em></strong></p>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin:15px 0;">Aanvullende informatie</p>
<p><strong>RijksoverheidSans Web Font</strong></p>
<p><a href="http://www.rijkshuisstijl.nl/bouwstenen/lettertype/webfonts">http://www.rijkshuisstijl.nl/bouwstenen/lettertype/webfonts</a></p>
<ul>
	<li>Geleverde formaten: EOT, TTF, WOFF</li>
	<li>Beschikbare varianten: Regular, Italic, Bold</li>
	<li>Zo goed als alle vreemde tekens beschikbaar</li>
	<li>Bestandsgrootte: EOT (195 kb), TTF (429 kb), WOFF (226 kb)</li>
</ul>

<p><strong>RijksoverheidSans door DOP geoptimaliseerd (zie <a href="https://ondernemersportaal.atlassian.net/browse/DOP-1243">DOP-1243</a>)</strong></p>
<ul>
	<li>Geleverde formaten: EOT, TTF, WOFF, WOFF2, SVG</li>
	<li>Beschikbare varianten: Regular, Italic, Bold, BoldItalic</li>
	<li>Beperkt aantal vreemde tekens beschikbaar</li>
	<li>Bestandsgrootte: EOT (59 kb), TTF (138 kb), WOFF (67 kb)</li>
</ul>