/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
	display: inline-block;
	background: mapDeepGet($colors, grijs darkest);
	color: mapDeepGet($colors, wit);
	line-height: 1;
	font-weight: bold;
	padding: $pad;
	border: 0;
	text-align: center;

	&:hover, &:focus {
		color: mapDeepGet($colors, wit);
	}

	&.disabled {
		background: mapDeepGet($colors, grijs lightest);
		color: mapDeepGet($colors, grijs medium);
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: mapDeepGet($colors, grijs medium);
	font-size: 1.4rem;
	font-weight: normal;
}

.text-btn {
	font-style: italic;
}