/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
	display: inline-block;
	background: getColor(hemelblauw default);
	color: getColor(wit);
	line-height: 1;
	//font-weight: bold;
	padding: 0.75rem;
	border: 0;
	text-align: center;
	text-transform: uppercase;

	&:hover, &:focus {
		color: getColor(wit);
		background: getColor(hemelblauw darkest);
	}

	&.disabled {
		background: getColor(grijs light);
		color: getColor(grijs darkest);
	}

	&--marginRight {
		margin-right: $pad-half;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: getColor(hemelblauw default);
	font-size: 1.4rem;
	font-weight: normal;
}

.text-btn {
	font-style: italic;
}

// remove default styling from button
@mixin cleanButton {
	background: none;
	border: none;
	padding: 0;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: left;
}