// COLORS

// Declaration of all colors
// grouped by major color group
$colors: (
	hemelblauw: (
		default: #007bc7,	// default -> hemelblauw
		darkest: #033054,	// bestaat niet in Rijkshuisstijl
		light: #8FCAE7,		// default -> licht blauw
		lightest: #DDEFF8, 	// light -> licht blauw
		grijscontrast: #0172b7
	),
	violet: (
		default: #A90061,
		light: #e5b2cf,
		lightest: #f2d9e7
	),
	mosgroen: (
		default: #777C00,
		light: #d6d7b2,
		lightest: #ebebd9
	),
	paars: (
		default: #42145F,
		light: #c6b8cf,
		lightest: #e3dce7
	),
	mintgroen: (
		default: #76d2b6,
		light: #d6f1e9,
		lightest: #ebf8f4
	),
	grijs: (				// alle grijstinten wijken af van Rijkshuisstijl
		darkest: #333333,
		grijs6: #696969,	// uit Rijkhuisstijl (5.5 contrast op wit)
		default: #8F8F8F,
		rightcolumn: #444444,
		border: #e5e5e5,
		light: #dddddd,
		lightest: #f6f6f6
	),
	groen: (
		default: #39870c,
		light: #c3dbb6,
		lightest: #efeddb
	),
	rood: (
		default: #d52b1e,
		light: #f2bfbb,
		lightest: #f9dfdd
	),
	zwart: #000000,
	wit: #FFFFFF,
	socials: (
		facebook: #3B5998,
		twitter: #5EA9DD,
		linkedin: #0274B3,
		googleplus: #DA4835,
		youtube: #CC181E
	)
);

// Example:
// color: getColor(hemelblauw darkest);
@function getColor($color) {
	@return mapDeepGet($colors, $color);
}
