// COLORS

// Declaration of all colors
// grouped by major color group
$colors: (
	hemelblauw: (
		default: #007bc7,
		darkest: #033054,
		light: #8FCAE7,
		lightest: #DDEFF8
	),
	robijnrood: (
		default: #A90061,
	),
	mosgroen: (
		default: #777C00,
	),
	paars: (
		default: #42145F,
	),
	mintgroen: (
		default: #76d2b6
	),
	grijs: (
		darkest: #333333,
		default: #8F8F8F,
		rightcolumn: #444444,
		light: #dddddd,
		lightest: #f2f2f2
	),
	zwart: #000000,
	wit: #FFFFFF,
	socials: (
		facebook: #3B5998,
		twitter: #5EA9DD,
		linkedin: #0274B3,
		googleplus: #DA4835,
		youtube: #CC181E
	)
);

// Example:
// color: getColor(hemelblauw darkest);
@function getColor($color) {
	@return mapDeepGet($colors, $color);
}
