// FONTSIZES

$fontSize: (
	root: 1rem,
	small: 0.875rem,
	large: 1.25rem,
	menuLabels: 0.7rem,
	aside: 0.95rem,
	logo: (
		all: 1.5rem,
		small: 1.66rem,
		large: 1.735rem,
	),
	pageHeading: (
		small: 1.7rem,
		medium: 1.9rem,
		large: 2.2rem,
	),
	bravoHeading: (
		small: 1.3rem,
		medium: 1.4rem,
		large: 1.5rem,
	),
	charlieHeading: (
		small: 1rem,
		medium: 1.1rem,
		large: 1.1rem,
	),
	introText: (
		small: 1.15rem,
		medium: 1.2rem,
	)
);

@function getFontSize ($name) {
	@return mapDeepGet($fontSize, $name);
}

// How to use in CSS
// font-size: getFontSize(logo, small);