// FONTSIZES

$fontsize: (
	root: 1rem,
	small: 0.75rem,
	large: 1.25rem,
	pageheading: 2.75rem,
	bravoHeading: 2.25rem,
	charlieHeading: 2rem,
	deltaHeading: 1.75rem,
	echoHeading: 1.5rem,
	introText: (
		small: 1.15rem,
		medium: 1.2rem,
	)
);