// FONTSIZES

// Overview of all fontsizes
// submaps are used for responsive sizes
$fontSize: (
	root: 1rem,
	small: 0.875rem,
	extrasmall: 0.75rem,
	menuLabels: 0.7rem,
	logo: (
		all: 1.5rem,
		small: 1.66rem,
		large: 1.735rem,
	),
	h1: (
		all: 1.7rem,
		small: 1.9rem,
		large: 2.2rem,
	),
	h2: (
		all: 1.3rem,
		small: 1.4rem,
		large: 1.5rem,
	),
	h3: (
		all: 1.1rem,
		small: 1.15rem,
		large: 1.2rem,
	),
	h4: (
		all: 1rem,
	),
	introText: 1.2rem,
	summary: (
		number: 8rem,
		percentage: 3.3rem,
	),
);

// Example:
// font-size: getFontSize(logo small);
@function getFontSize ($name) {
	@return mapDeepGet($fontSize, $name);
}
