/* Headings */

h1, .pageHeading {
	font-size: mapDeepGet($fontsize, pageheading);
}
h2, .bravoHeading {
	font-size: mapDeepGet($fontsize, bravoHeading);
}
h3, .charlieHeading {
	font-size: mapDeepGet($fontsize, charlieHeading);
}
h4, .deltaHeading {
	font-size: mapDeepGet($fontsize, deltaHeading);
}
h5, .echoHeading {
	font-size: mapDeepGet($fontsize, echoHeading);
}
h6 {
	font-size: mapDeepGet($fontsize, root);
}
