/* Headings */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	line-height: 1.2;
	color: getColor(hemelblauw darkest);
}

h1, .h1 {
	font-size: getFontSize(h1 small);
	color: getColor(hemelblauw default);
	hyphens: auto;
	margin: {
		top: 0;
		bottom: 0.3em;
	}

	@include mqGreaterThan(small) {
		font-size: getFontSize(h1 medium);
	}

	@include mqGreaterThan(large) {
		font-size: getFontSize(h1 large);
		margin-bottom: 0.5em;
	}
}
h2, .h2 {
	font-size: getFontSize(h2 small);

	margin: {
		top: 1.6em;
		bottom: 0.4em;
	}

	@include mqGreaterThan(small) {
		font-size: getFontSize(h2 medium);
	}

	@include mqGreaterThan(large) {
		font-size: getFontSize(h2 large);
		// margin-bottom: 0.1em;
	}

	&.block-title {
		margin-top: 0;
	}
}
h3, .h3 {
	font-size: getFontSize(h3 small);
	//font-weight: normal;

	margin: {
		top: 1.6em;
		bottom: 0.4em;
	}

	@include mqGreaterThan(small) {
		font-size: getFontSize(h3 medium);
	}

	@include mqGreaterThan(large) {
		font-size: getFontSize(h3 large);
		// margin-bottom: 0.1em;
	}

	&.block-title {
		margin-top: 0;
	}
}

h4, .h4,
h5, .h5,
h6, .h6 {
	font-size: getFontSize(h4);
	margin: {
		top: 1.6em;
		bottom: 0.2em;
	}

	&.block-title {
		margin-top: 0;
	}
}

.sideHeading {
	color: getColor(grijs darkest);
	margin-top: $pad-half;
}