/* Headings */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	line-height: 1.2;
	color: getColor(hemelblauw darkest);
}

h1, .h1 {
	color: getColor(hemelblauw default);
	hyphens: auto;
	margin: {
		top: 0;
		bottom: 0.3em;
	}

	@include setPropWithMq(greater, font-size, getFontSize(h1));
}
h2, .h2 {
	margin: {
		top: 2em;
		bottom: 0.4em;
	}

	@include setPropWithMq(greater, font-size, getFontSize(h2));

	&.block-title {
		margin-top: 0;
	}
}
h3, .h3 {
	margin: {
		top: 2em;
		bottom: 0.4em;
	}
	@include setPropWithMq(greater, font-size, getFontSize(h3));

	&.block-title {
		margin-top: 0;
	}
}

h4, .h4,
h5, .h5,
h6, .h6 {
	@include setPropWithMq(greater, font-size, getFontSize(h4));
	margin: {
		top: 2em;
		bottom: 0.2em;
	}

	&.block-title {
		margin-top: 0;
	}
}

.sideHeading {
	color: getColor(grijs darkest);
	margin-top: $pad-half;
}