/* LINKS */

@mixin underline {
	text-decoration: none;
	border-bottom: 1px solid;
}

@mixin noUnderline {
	text-decoration: none;
	border-bottom: none;
}

a {
	color: inherit;
	@include underline;
	transition: color 400ms;

	&:hover,
	&:focus,
	&:active {
		color: getColor(hemelblauw default);
	}
}