/* LISTS */

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	ul, ol {
		margin-bottom: 0;
		ul, ol {
			margin-bottom: 0;
		}
	}
}

li {
	margin: 0;
	padding: {
		top: 0.3em;
		bottom: 0.3em;
	}

}

// Unordered list
ul {
	@include bullets;
	margin-left: 1.1rem;
}

// Ordered list
ol {
	@include numbers;
	margin-left: 1.6rem;
}

// Definition List
dl {
	overflow: hidden;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 0.3em;
}