/* TABLES */
.tableWrapper {
	position: relative;

	&.is-fixedTable {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: getColor(wit);

		@include zIndex(overlay);
	}
}

table {
	padding-top: 2.1rem;
	border-collapse: collapse;
	border-spacing: 0;
	word-wrap:break-word;
	margin-bottom: 1em;
	font-size: getFontSize(small);
	display: block;
	width: 100%;
	overflow: auto;
	max-height: 90vh;
	@include zIndex(table);
}

caption {
	position: absolute;
	left: 0;
	right: 0;
	font-weight: bold;
	color: getColor(hemelblauw darkest);
	background-color: getColor(wit);
	top: 0;
	padding: 0.3em 1em;
	max-width: 100%;
	@include zIndex(table caption);
	font-size: getFontSize(h3 small);

	@include mqGreaterThan(small) {
		font-size: getFontSize(h3 medium);
	}

	@include mqGreaterThan(large) {
		font-size: getFontSize(h3 large);
	}
}
th, td {
	text-align: left;
	border-bottom: 1px solid getColor(grijs light);
	padding: 0.2em 0.6em;
	color: getColor(hemelblauw darkest);
	vertical-align: top;
    text-align: left;
    min-width: 10rem;
    max-width: 20rem;
	@include zIndex(table content);

    &:first-child {
    	min-width: 6rem;
    }
}
td {
	color: getColor(grijs darkest);
}

.table {
	&-control {
		position: relative;
		@include zIndex(table control);

	}
}