/* TABLES */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout:fixed;
	word-wrap:break-word;
	margin-bottom: 1em;
}
th, td {
	text-align: left;
	border-bottom: 1px solid getColor(grijs light);
	padding: 0.2em;
	color: getColor(hemelblauw darkest);
	vertical-align: top;
    text-align: left;
}
td {
	color: getColor(grijs darkest);
}