html {
	font-size: 100%;

	@include mqGreaterThan(small) {
		font-size: 100%/16*17;
	}

	@include mqGreaterThan(large) {
		font-size: 100%/16*18;
	}
}

/* Text-Related Elements */
p {
	margin-bottom: 1em;
}

/* Blockquote */
blockquote {
    font-style: italic;
    border-left: 1px solid getColor(grijs default);
    color: getColor(grijs default);
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */
hr {
	border: 0;
    height: 2px;
    background: getColor(grijs light);
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted getColor(grijs default);
    cursor: help;
}

//Intro text
.intro {
	font-size: getFontSize(introText medium);
    font-style: italic;
    display: block;
    clear: both;
    margin-bottom: 1em;
	color: getColor(hemelblauw darkest);
	@include mqGreaterThan(large) {
		margin-bottom: 1.5em;
	}
}

//Pullquote
.pullquote {
	font-size: getFontSize(large);
    font-style: italic;
}

//Info text
.infoText {
	font-style: italic;
	margin-bottom: 1em;
	color: getColor(grijs default);
	font-size: getFontSize(small);

	&--source {
		float: left;
		max-width: 65%;
	}
	&--date {
		float: right;
	}
}

.textLine {
	display: block;
}

.highlight--blue {
	color: getColor(hemelblauw default);
}

// Only for development purposes!
.yellow-marker {
	background-color: yellow;
}
.yellow-line {
	border-bottom: 10px yellow solid;
}