html {
	font-size: 100%;

	@include mqGreaterThan(small) {
		font-size: 100%/16*17;
	}

	@include mqGreaterThan(large) {
		font-size: 100%/16*18;
	}
}

/* Text-Related Elements */
p {
	margin-bottom: 1em;
}

/* Blockquote */
blockquote {
    font-style: italic;
    border-left: 1px solid getColor(grijs default);
    color: getColor(grijs default);
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */
hr {
	border: 0;
    height: 2px;
    background: getColor(grijs light);
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted getColor(grijs default);
    cursor: help;
}

//Intro text
.intro {
	font-size: getFontSize(introText);
    font-style: italic;
    display: block;
    clear: both;
	color: getColor(hemelblauw darkest);
	margin-bottom: (1.4 * getFontSize(bravoHeading small));

	@include mqGreaterThan(small) {
		margin-bottom: (1.4 * getFontSize(bravoHeading medium));
	}

	@include mqGreaterThan(large) {
		margin-bottom: (1.4 * getFontSize(bravoHeading large));
	}
}

//Info text
.infoText {
	font-style: italic;
	margin-bottom: 1em;
	font-size: getFontSize(small);

	&--source {
		@include mqGreaterThan(smallMedium) {
			float: left;
			max-width: 65%;
		}
	}
	&--date {
		@include mqGreaterThan(smallMedium) {
			float: right;

			span {
				display: block;
			}
		}
		@include mqGreaterThan(extraLarge) {
			span {
				display: inline;
			}
		}
	}
	&--afzender {
		//text-align: left;
		//position: relative;
		border-top: 4px solid getColor(grijs border);
		padding-top: 0.75em;
		margin-bottom: 0.75em;
		span {
			//background-color: white;
			//padding: 0 1rem 0 0;
			//position: absolute;
			//top: -14px;
		}
	}
}
.blockFooterText {
	font-style: italic;
	margin-top: 1em;
	margin-bottom: 0;
	font-size: getFontSize(small);
}

//Source Block
.sourceBlock {

	padding: 1rem 0;

	ul {
		margin-left: 0;
		.verticalItem:first-child {
			margin-left: 0;
		}
		.partnerLogo {
			height: 2.75rem;
		}
	}
}

.textLine {
	display: block;
}

.highlight--blue {
	color: getColor(hemelblauw default);
}

// Only for development purposes!
.yellow-marker {
	background-color: yellow;
}
.yellow-line {
	border-bottom: 10px yellow solid;
}
