html {
	font-size: 100%;

	@include mqGreaterThan(medium) {
		font-size: 100%/16*17;
	}

	@include mqGreaterThan(extraLarge) {
		font-size: 100%/16*18;
	}
}

/* Text-Related Elements */
p {
	//margin-bottom: $space;
}

/* Blockquote */
blockquote {
    font-style: italic;
    border-left: 1px solid getColor(grijs medium);
    color: getColor(grijs medium);
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */
hr {
	border: 0;
    height: 2px;
    background: getColor(grijs lightest);
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted getColor(grijs medium);
    cursor: help;
}

//Intro text
.intro {
	font-size: mapDeepGet($fontsize, echoHeading);
    font-style: italic;
    display: block;
    clear: both;
}

//Pullquote
.pullquote {
	font-size: mapDeepGet($fontsize, large);
    font-style: italic;
}

//Info text
.infoText {
	font-style: italic;
	margin-bottom: 1em;

	&--source {
		float: left;
	}
	&--date {
		float: right;
	}
}

.textLine {
	display: block;
}

.highlight--blue {
	color: getColor(hemelblauw default);
}

// Only for development purposes!
.yellow-marker {
	background-color: yellow;
}
.yellow-line {
	border-bottom: 10px yellow solid;
}