&lt;form action=&quot;#&quot; method=&quot;post&quot; class=&quot;inline-form search-form&quot;&gt;&NewLine;    &lt;fieldset&gt;&NewLine;&Tab;    &lt;legend class=&quot;is-vishidden&quot;&gt;Search&lt;/legend&gt;&NewLine;&Tab;    &lt;label for=&quot;search-field&quot; class=&quot;is-vishidden&quot;&gt;Search&lt;/label&gt;&NewLine;&Tab;    &lt;input type=&quot;search&quot; placeholder=&quot;Search&quot; id=&quot;search-field&quot; class=&quot;search-field&quot; /&gt;&NewLine;&Tab;    &lt;button class=&quot;search-submit&quot;&gt;&NewLine;&Tab;    &Tab;&lt;span class=&quot;icon-search&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;&NewLine;&Tab;    &Tab;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&NewLine;&Tab;    &lt;/button&gt;&NewLine;    &lt;/fieldset&gt;&NewLine;&lt;/form&gt;