&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link breadcrumb-linkFirst diapositive-link&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Home&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Alles over ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.usability-zzp-01-freelance-en-zzp }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Freelance en zzp&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Starten als freelancer of zzp&apos;er&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Samenwerken als zzp&apos;ers&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-bronhouder-text }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-laatste-update }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;Als zzp&CloseCurlyQuote;er werkt u veelal in uw eentje. Heeft u er wel eens aan gedacht om samen te werken met andere zzp&CloseCurlyQuote;ers als een opdracht voor u alleen te groot is? Denk bijvoorbeeld aan meedingen naar een &lt;a href=&quot;http://www.ondernemersplein.nl/regel/aanbestedingen-aankondigingen/&quot;&gt;aanbesteding&lt;/a&gt;. Maar hoe pakt u dit aan: hoe vindt u een geschikte samenwerkingspartner? En hoe gaat u samenwerken?&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;pageContentNav block--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;pageContentNav--title h4&quot;&gt;Op deze pagina behandelen we&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;pageContentNav--list linkList list list--double&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#waarom&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Waarom samenwerken?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#geschikt&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Hoe vindt u een geschikte samenwerkingspartner?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#organiseren&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Hoe organiseert u de samenwerking?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;waarom&quot;&gt;Waarom samenwerken?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Ga op zoek naar samenwerkingspartners met dezelfde motieven. Zo voorkomt u verkeerde verwachtingen. Er zijn verschillende motieven om samen te werken:&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;Een samenwerking is noodzakelijk om een opdracht te kunnen krijgen of deze te kunnen uitvoeren.&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;Een samenwerking maakt het mogelijk om gezamenlijk als groep (onder &eacute;&eacute;n naam) naar buiten op te kunnen treden&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;Het delen van kosten, kennis en risico&CloseCurlyQuote;s; denk aan gezamenlijke huisvesting of promotie, maar ook aan het gebruik maken van elkaars kwaliteiten of elkaar vervangen tijdens ziekte.&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;Persoonlijke ontwikkeling; ontwikkeling door kennis en netwerk uit te wisselen en elkaar onderling te stimuleren of te coachen.&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;contentSpecialBlock&quot;3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&quot;Dat sparren met collega&apos;s zou ik niet kunnen missen&quot;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;&lt;a href=&quot;http://verhalen.ondernemersplein.nl/artikel/2013/03/bieneke-braat/&quot;&gt;Lees het verhaal van Bieneke Braat&lt;/a&gt; in de Verhalen-app. Braat is een van de 20 advocaten van Legaltree. Geen maatschap, zoals veel andere advocatenkantoren, maar een hechte club zzp&apos;ers. &quot;Legaltree is de ideale oplossing: zelfstandig opereren als ondernemer, maar toch niet alleen. &CloseCurlyDoubleQuote;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;geschikt&quot;&gt;Hoe vindt u een geschikte samenwerkingspartner?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Misschien is een netwerkbijeenkomst iets voor u? Of zoekt u liever op sociale media? Gebruik daarvoor bijvoorbeeld Twitter. Met de hashtag #durftevragen of #dtv kunt u een tweet plaatsen of zoeken naar tweets. Met de hashtag #zzpmatch kunt u ook op zoek naar samenwerkingspartners. Kijk ook eens op &lt;a class=&quot;externalLink&quot; href=&quot;http://hallo.kvk.nl/hallo/&quot;&gt;Hallo!&lt;/a&gt; Daar vindt u een netwerk van ondernemers.&amp;nbsp;Ook op Facebook zijn er allerlei mogelijkheden.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 id=&quot;organiseren&quot;&gt;Hoe organiseert u de samenwerking?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Heeft u uw samenwerkingspartner gevonden? Maak dan duidelijke afspraken over de wijze waarop u gaat samenwerken. Welke samenwerkingsvorm het beste bij jullie past, hangt samen met het type opdracht. &lt;a href=&quot;http://www.op.nl/ondernemen/innovatie-en-productontwikkeling/samen-innoveren/info-en-advies/samenwerking-vormgeven/&quot; title=&quot;Samenwerking vormgeven&quot;&gt;Lees meer over rechtsvormen en contracten.&lt;/a&gt;&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;video-container&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;iframe width=&quot;512&quot; height=&quot;288&quot; frameborder=&quot;0&quot; src=&quot;//quadia.webtvframework.com/kvk/_app/player/?id=639198&quot; xmlns=&quot;http://www.w3.org/1999/xhtml&quot;&gt;&lt;/iframe&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-hoenuverder-blok }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! molecules-bronhouder-contentfooter }}

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;sourceBlock&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;infoText infoText--afzender&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span&gt;Deze informatie is geplaatst door:&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;gridContainer gridContainer--singleLine u-noBullets&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo-image partnerLogo--contentBottom&quot; src=&quot;../../images/logos/KvK_color.svg&quot; alt=&quot;Kamer van Koophandel&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third aside&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;blockContact blockContact--purple&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;blockContact-title h3&quot;&gt;Heeft u nog vragen? Neem dan contact op met de Kamer van Koophandel&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;    &lt;p class=&quot;blockContact-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon blockContact-icon&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;              &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-email-2012&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;a class=&quot;interfaceLink blockContact-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Stuur een e-mail&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                &lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;        &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;    &lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-samenvatting }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-linklijst }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-linklijst-extern }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-promoblok }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;