&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;
&lt;!--Grid 1up--&gt;
&lt;style&gt;
&Tab;.column {
&Tab;&Tab;/*outline: 1px solid #ca005d;*/
&Tab;}
&lt;/style&gt;
&lt;div class=&quot;menuBarContainer&quot; style=&quot;width: 2.8rem; background: hsl(0, 0%, 70%);&quot;&gt;

&lt;/div&gt;
&lt;div class=&quot;page&quot;&gt;
&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&lt;div class=&quot;column column--twoThird intro&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&lt;p&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/p&gt;

&Tab;&Tab;&lt;p&gt;Sedert jaren vraag ik mij af, waartoe zulke dingen dienen, en ik sta verbaasd over de onbeschaamdheid, waarmee een dichter of romanverteller u iets op de mouw durft spelden, dat nooit gebeurd is, en meestal niet gebeuren kan.Als ik in mijn vak ik ben makelaar in koffie, en woon op de Lauriergracht No 37 aan een principaal een principaal is iemand die koffie verkoopt een opgave deed, waarin maar een klein gedeelte der onwaarheden voorkwam, die in gedichten en romans de hoofdzaak uitmaken, zou hij terstond Busselinck &amp;amp; Waterman nemen.&lt;/p&gt;

&Tab;&Tab;&lt;p&gt;Dat zijn ook makelaars in koffie, doch hun adres behoeft ge niet te weten. Ik pas er dus wel op, dat ik geen romans schrijf, of andere valse opgaven doe. Ik heb dan ook altijd opgemerkt dat mensen die zich met zoiets inlaten, gewoonlijk slecht wegkomen. Ik ben drie&euml;nveertig jaar oud, bezoek sedert twintig jaren de beurs, en kan dus voor de dag treden, als men iemand roept die ondervinding heeft. Ik heb al wat huizen zien vallen! En gewoonlijk, wanneer ik de oorzaken naging, kwam het me voor, dat die moesten gezocht worden in de verkeerde richting die aan de meesten gegeven was in hun jeugd.&lt;/p&gt;

&Tab;&Tab;&lt;p&gt;Ik zeg: waarheid en gezond verstand, en hier blijf ik bij. Voor de Schrift maak ik natuurlijk een uitzondering. De fout begint al van Van Alphen af, en wel terstond bij de eerste regel over die `lieve wichtjes&apos;. Wat drommel kon die oude heer bewegen, zich uit te geven voor een aanbidder van mijn zusje Truitje die zere ogen had, of van mijn broer Gerrit die altijd met zijn neus speelde? En toch, hij zegt: `dat hij die versjes zong, door liefde gedrongen&apos;.&lt;/p&gt;

&Tab;&Tab;&lt;p&gt;Ik dacht dikwijls als kind: `Man, ik wilde u graag eens ontmoeten, en als ge mij de marmerknikkers weigerde, die ik u vragen zou, of mijn naam voluit in banket ik heet Batavus dan houd ik u voor een leugenaar.&apos; Maar ik heb Van Alphen nooit gezien. Hij was al dood, geloof ik, toen hij ons vertelde dat mijn vader mijn beste vriend was -- ik hield meer van Pauweltje Winser, die naast ons woonde in de Batavierstraat -- en dat mijn kleine hond zo dankbaar was. We hielden geen honden, omdat ze zo onzindelijk zijn.&lt;/p&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--third aside&quot;&gt;
&Tab;&Tab;&lt;p&gt;Telefoon: 06 35 23 23 55 43&lt;/p&gt;
&Tab;&Tab;&lt;p&gt;Adres: Blaak 40, Rotterdam&lt;/p&gt;
&Tab;&Tab;&lt;p&gt;Email: ondernemers@example.com&lt;/p&gt;
&Tab;&Tab;&lt;p&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.
&Tab;&Tab;&lt;/p&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Bedrijf starten
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Belastingen
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Marketing
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Internationaal ondernemen
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Huisvesting en milieu
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Product en dienst
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Innovatie
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Geldzaken
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Administratie
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Handelsregister
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Personeel
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter media&quot;&gt;
&Tab;&Tab;&lt;svg class=&quot;media-figure&quot; style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;Marketing
&Tab;&Tab;&lt;/span&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&lt;div class=&quot;column column--half&quot;&gt;
&Tab;&Tab;&lt;p&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/p&gt;
&Tab;&Tab;&lt;p&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/p&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--half&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--half&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter&quot;&gt;
&Tab;&Tab;&lt;svg style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;Bedrijf starten
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter&quot;&gt;
&Tab;&Tab;&lt;svg style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;Belastingen
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--quarter&quot;&gt;
&Tab;&Tab;&lt;svg style=&quot;width: 2em; height: 2em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-user-3905&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;Marketing
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--threeQuarter&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--full intro&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&lt;p&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/p&gt;
&Tab;&Tab;&lt;p&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/p&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--third&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--third&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--third&quot;&gt;Ik ben makelaar in koffi, en woon op de Lauriergracht No 37. Het is mijn gewoonte niet, romans te schrijven, of zulke dingen, en het heeft dan ook lang geduurd, voor ik er toe overging een paar riem papier extra te bestellen, en het werk aan te vangen, dat gij, lieve lezer, zo&acirc;ven in de hand hebt genomen, en dat ge lezen moet als ge makelaar in koffie zijt, of als ge wat anders zijt. Niet alleen dat ik nooit iets schreef wat naar een roman geleek, maar ik houd er zelfs niet van, iets dergelijks te lezen, omdat ik een man van zaken ben.&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--End Grid 1up--&gt;