<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column">
					<header class="article-header">
						<h1>Ondernemersplein.nl</h1>
					</header>
					<ul>
						<li><a href="{{ link.templates-theme }}">Thema: Marketing</a></li>
						<li><a href="{{ link.templates-subject }}">Onderwerp: Marktonderzoek</a></li>
						<li><a href="{{ link.templates-contentpage }}">Contentpagina: Marktonderzoek doen</a></li>
					</ul>
					{{> molecules-social-share }}
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>