<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-homepage-header }}
		<div class="main" style="margin-bottom:1rem;">

			{{> organisms-homepage-themes-minimal }}

			<div class="crs-wrapper">
				<div class="layoutContainer gridContainer gridContainer--stretchItems">
					<div class="column column--third blockContainer">
						<div class="homeBlockMore homeBlockMore--purple">
							<a class="interfaceLink" href="#">
								<span class="interfaceLink-text"><span class="underliner">
									Evenementen en bijeenkomsten
								</span></span>
								{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
							</a>
						</div>
						<div class="listBlock listBlock--purple" style="min-height:1rem">
							<ul class="listBlock-list linkList">
								<li class="linkList-item">
									<a href="#" class="interfaceLink">
										<svg class="goIcon interfaceLink-icon" aria-hidden="true" style="height: 2rem;width: 2rem;margin-right: 0.5rem;margin-left: -0.5rem; margin-top:0.25rem; "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-groep-mensen-0015">></use></svg>
										<span class="interfaceLink-text">
											<span class="postTitle" style="font-size:1rem;"><span class="underliner">Eigen bedrijf starten vanuit de WW</span></span>
											<span class="postDate"><span class="underliner">14 december 2015 van 9.30 uur tot 17.30 uur</span></span>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="column column--third blockContainer">
						<div class="homeBlockMore homeBlockMore--green">
							<a class="interfaceLink" href="#">
								<span class="interfaceLink-text"><span class="underliner">
									Wetten en regels
								</span></span>
								{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
							</a>
						</div>
						<div class="listBlock listBlock--green" style="min-height:1rem">
							<ul class="listBlock-list linkList">
								<li class="linkList-item">
									<a href="#" class="interfaceLink">
										{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
										<span class="postTitle interfaceLink-text"><span class="underliner">
											Wetten en regels op onderwerp
										</span></span>
									</a>
								</li>
								<li class="linkList-item">
									<a href="#" class="interfaceLink">
										{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
										<span class="postTitle interfaceLink-text"><span class="underliner">
											Wetten en regels per sector
										</span></span>
									</a>
								</li>
								<li class="linkList-item">
									<a href="#" class="interfaceLink">
										{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
										<span class="postTitle interfaceLink-text"><span class="underliner">
											Alle wetswijzigingen
										</span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="column column--third blockContainer">
						<div class="homeBlockMore homeBlockMore--purple">
							<a class="interfaceLink" href="#">
								<span class="interfaceLink-text"><span class="underliner">
									Snel regelen
								</span></span>
								{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
							</a>
						</div>
						<div class="listBlock listBlock--purple" style="min-height:1rem">
							<ul class="listBlock-list linkList">
								<li class="linkList-item">
									<a href="#" class="interfaceLink">
										{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
										<span class="postTitle interfaceLink-text"><span class="underliner">
											Inschrijven bij de KvK
										</span></span>
									</a>
								</li>
								<li class="linkList-item">
									<a href="#" class="interfaceLink">
										{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
										<span class="postTitle interfaceLink-text"><span class="underliner">
											VAR aanvragen
										</span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="layoutContainer gridContainer" style="margin-top:2em;">
				<div class="column column--third">
					<a href="#" class="imageLink">
						<figure>
							<img src="../../images/block-sector_small.png">
						</figure>
					</a>
				</div>
				<div class="column column--third">
					<a href="#" class="imageLink">
						<figure>
							<img src="../../images/block-gemeente_small.png">
						</figure>
					</a>
				</div>
				<div class="column column--third">
					<a href="#" class="imageLink">
						<figure>
							<img src="../../images/block-landen_small.png">
						</figure>
					</a>
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				<div class="column column--third blockContainer" style="">
					<div class="homeBlockMore homeBlockMore--green">
						<a class="interfaceLink" href="#">
							<span class="interfaceLink-text"><span class="underliner">
								Feiten en cijfers
							</span></span>
							{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
						</a>
					</div>
					<div class="listBlock listBlock--green" style="min-height:1rem">
						<figure class="homeBlock-figure">
							<img class="homeBlock-image" src="../../images/feiten-en-cijfers.png">
						</figure>
					</div>
				</div>
				<div class="column column--third blockContainer">
					<div class="homeBlockMore homeBlockMore--purple">
						<a class="interfaceLink" href="#">
							<span class="interfaceLink-text"><span class="underliner">
								Video's en webinars
							</span></span>
							{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
						</a>
					</div>
					<div class="listBlock listBlock--purple" style="min-height:1rem">
						<ul class="listBlock-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Hoe komt u aan geld?
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Starten met een eigen bedrijf
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Is ondernemen iets voor jou?
									</span></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="column column--third blockContainer">
					<div class="homeBlockMore homeBlockMore--violet">
						<a class="interfaceLink" href="#">
							<span class="interfaceLink-text"><span class="underliner">
								Situaties
							</span></span>
							{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
						</a>
					</div>
					<div class="listBlock listBlock--violet" style="min-height:1rem;">
						<ul class="listBlock-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Ik wil starten naast mijn studie
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Ik ben zzp'er en zwanger
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Ik wil een bedrijf aan huis starten
									</span></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>