<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-homepage-header }}
		<div class="main">
			{{> organisms-homepage-themes }}

			<div class="crs-wrapper">
				<div class="layoutContainer gridContainer gridContainer--stretchItems">
					{{> organisms-home-evenementen }}
					{{> organisms-home-wetten-regels }}
					{{> organisms-crsblok-tool}}
				</div>
			</div>

			<div class="layoutContainer gridContainer" style="margin-top:1em;">
				<div class="column column--third">
					<a href="#" class="imageLink">
						<figure>
							<img src="../../images/block-sector.jpg">
						</figure>
					</a>
				</div>
				<div class="column column--third">
					<a href="#" class="imageLink">
						<figure>
							<img src="../../images/block-gemeente.png">
						</figure>
					</a>
				</div>
				<div class="column column--third">
					<a href="#" class="imageLink">
						<figure>
							<img src="../../images/block-landen.png">
						</figure>
					</a>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<!-- Handelsregister -->
				<div class="column column--third">
					<h2 class="h3">
						<a class="headingLink" href="#">
							<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6034-handel"></use>
								</svg>
							<span class="headingLink-text">
								<span class="underliner">Handelsregister</span>
							</span>
							<svg class="goIcon headingLink-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-pijl-rechts-1003"></use></svg>
						</a>
					</h2>
					<p>Met o.a.:
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">Inschrijven KvK</span></span></a>
						|
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">Bedrijfsinformatie</span></span></a>
						|
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">Wijzig inschrijving</span></span></a>
					</p>
				</div>
				<!-- Vergunningen -->
				<div class="column column--third">
					<h2 class="h3">
						<a class="headingLink" href="#">
							<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-1012-rijkspas"></use>
								</svg>
							<span class="headingLink-text">
								<span class="underliner">Vergunningen</span>
							</span>
							<svg class="goIcon headingLink-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-pijl-rechts-1003"></use></svg>
						</a>
					</h2>
					<p>Met o.a.:
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">Drank- en horeca vergunning</span></span></a>
						|
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">Terrasvergunning</span></span></a>
						|
						<a class="interfaceLink" href="{{ link.usability-mkb-00-omgevingsvergunning }}"><span class="interfaceLink-text"><span class="underliner">Omgevingsvergunning</span></span></a>
					</p>
				</div>
				<!-- Online aanvragen -->
				<div class="column column--third">
					<h2 class="h3">
						<a class="headingLink" href="#">
							<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-2008-computer"></use>
								</svg>
							<span class="headingLink-text">
								<span class="underliner">Online aanvragen</span>
							</span>
							<svg class="goIcon headingLink-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-pijl-rechts-1003"></use></svg>
						</a>
					</h2>
					<p>Met o.a.:
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">VAR aanvragen</span></span></a>
						|
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">SMS Alert BTW aangifte</span></span></a>
						|
						<a class="interfaceLink" href="#"><span class="interfaceLink-text"><span class="underliner">A1 verklaring aanvragen</span></span></a>
					</p>
				</div>
				<div class="column column--full">
					<div class="linkList linkList--grey">
						<div class="linkList-itemMore" style="padding-top:0.5em;">
		                    <a href="#" class="interfaceLink">
		                    	{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
		                    	<span class="interfaceLink-text"><span class="underliner">Meer direct regelen</span></span>
		                    </a>
		                </div>
	                </div>
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-feiten-en-cijfers }}
				{{> organisms-home-webinars }}
				{{> organisms-home-situaties }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>