<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column">
					<header class="article-header">
						<h1>Ondernemersplein.nl</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column">
					<h2>Wat de meeste ondernemers willen weten</h2>
					<ul>
						<li><a href="{{ link.templates-contentpage }}">Een rechtsvorm kiezen</a></li>
						<li><a href="{{ link.templates-contentpage }}">De VAR: onmisbaar voor zzp'ers</a></li>
						<li><a href="{{ link.templates-contentpage }}">In 10 stappen naar een eigen bedrijf</a></li>
						<li><a href="{{ link.templates-contentpage }}">Financiering vinden</a></li>
						<li><a href="{{ link.templates-contentpage }}">Een ondernemingsplan maken</a></li>
						<li><a href="{{ link.templates-contentpage }}">Btw-aangifte doen voor starters</a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column">
					<h2>Thema's</h2>
				</div>
				<div class="column column--third">
					<ul>
						<li><a href="{{ link.templates-theme }}">Personeel</a></li>
						<li><a href="{{ link.templates-theme }}">Bedrijf starten</a></li>
						<li><a href="{{ link.templates-theme }}">Handelsregister</a></li>
						<li><a href="{{ link.templates-theme }}">Administratie</a></li>
						<li><a href="{{ link.templates-theme }}">Belastingen</a></li>
						<li><a href="{{ link.templates-theme }}">Geldzaken</a></li>
					</ul>
				</div>
				<div class="column column--third">
					<ul>
						<li><a href="{{ link.templates-theme }}">Internationaal ondernemen</a></li>
						<li><a href="{{ link.templates-theme }}">Innovatie</a></li>
						<li><a href="{{ link.templates-theme }}">Product en dienst</a></li>
						<li><a href="{{ link.templates-theme }}">Marketing</a></li>
						<li><a href="{{ link.templates-theme }}">Huisvesting en milieu</a></li>
					</ul>
				</div>
				<div class="column column--third">
					<ul>
						<li><a href="{{ link.templates-theme }}">Freelance en zzp</a></li>
						<li><a href="{{ link.templates-theme }}">Bedrijf stoppen of verkopen</a></li>
						<li><a href="{{ link.templates-theme }}">Duurzaam ondernemen</a></li>
						<li><a href="{{ link.templates-theme }}">Bedrijf beschermen</a></li>
						<li><a href="{{ link.templates-theme }}">Bedrijf organiseren</a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h3>Branche</h3>
					<p>Ruimte voor branche blok</p>
				</div>
				<div class="column column--third">
					<h3>Regio</h3>
					<p>Ruimte voor regio blok</p>
				</div>
				<div class="column column--third">
					<h2>Situaties</h2>
					<ul>
						<li><a href="#situatie1">Ik wil een nieuw idee realiseren</a></li>
						<li><a href="#situatie2">Ik heb geld nogdig voor mijn bedrijf</a></li>
						<li><a href="#situatie3">Ik wil starten met een uitvinding</a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column">
					<h2>Direct regelen</h2>
					<ul class="interfaceLinkList triple-list">
                        <li><a href="#">Adressenbestand</a></li>
                        <li><a href="#">VAR aanvragen</a></li>
                        <li><a href="#">Omgevingsvergunning</a></li>
                        <li><a href="#">Aftrek voor speur- en ontwikkelingswerk (WBSO)</a></li>
                        <li><a href="#">Afval </a></li>
                        <li><a href="#">Uw bedrijf en het milieu</a></li>
                        <li><a href="#">Geluid</a></li>
                    </ul>
                    <a href="#meer">Wat kan ik nog meer direct regelen?</a>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h3>Promoblok</h3>
					<p>Handmatige koppeling van een X aantal promoblokken mogelijk</p>
				</div>
				<div class="column column--third">
					<h3>Promoblok</h3>
					<p>Handmatige koppeling van een X aantal promoblokken mogelijk</p>
				</div>
				<div class="column column--third">
					<h3>Promoblok</h3>
					<p>Handmatige koppeling van een X aantal promoblokken mogelijk</p>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>