<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Marketing</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--half">
					<h2><span class="yellow-marker">Veel gezocht</span></h2>
					<ul>
                        <li><a href="#">Maak een concurrentieanalyse</a></li>
                        <li><a href="#">Hoe kunt u reclame maken?</a></li>
                        <li><a href="#">Zorg voor een goede marketingmix</a></li>
                    </ul>
                </div>
                <div class="column column--half">
					{{> organisms-contactblok }}
				</div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Marktonderzoek</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage }}">Marktonderzoek doen</a></li>
						<li><a href="{{ link.templates-contentpage }}">Brancheonderzoek</a></li>
						<li><a href="{{ link.templates-contentpage }}">Onderzoek uw klanten</a></li>
						<li><a href="{{ link.templates-contentpage }}">Een concurrentieanalyse maken</a></li>
						<li><a href="{{ link.templates-contentpage }}">Omgevingsanalyse</a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Marketingplan</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage }}">Marketingmix</a></li>
						<li><a href="{{ link.templates-contentpage }}">Sterkte-zwakte analyse</a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Klanten vinden</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage }}">Hoe vindt u uw klanten?</a></li>
						<li><a href="{{ link.templates-contentpage }}">Netwerken</a></li>
						<li><a href="{{ link.templates-contentpage }}">Een offerte maken</a></li>
						<li><a href="{{ link.templates-contentpage }}">Social media</a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Aanbestedingen</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage }}">Aanbestedingen</a></li>
						<li><a href="{{ link.templates-contentpage }}">Stappenplan inschrijven op aanbestedingen</a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2><span class="yellow-marker">Situaties</span></h2>
					<ul>
						<li><a href="#situatie1">Ik wil een nieuw idee realiseren</a></li>
						<li><a href="#situatie2">Ik heb geld nogdig voor mijn bedrijf</a></li>
						<li><a href="#situatie3">Ik wil starten met een uitvinding</a></li>
					</ul>
				</div>
				<div class="column column--third">
					<h2><span class="yellow-marker">Direct regelen</span></h2>
					<ul>
						<li><a href="#dgu">Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel</a></li>
						<li><a href="#code">Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen</a></li>
					</ul>
					<a href="#meer">Wat kan ik nog meer direct regelen?</a>
				</div>
				<div class="column column--third">
					<h2><span class="yellow-marker">Wetten en regels</span></h2>
					<ul>
						<li><a href="#wet1">Reclamebelasting</a></li>
						<li><a href="#wet2">Reclame maken op uw pand</a></li>
						<li><a href="#wet3">Reclamemateriaal verspreiden</a></li>
						<li><a href="#wet4">Reclame maken</a></li>
					</ul>
					<a href="#meer">Alle wetten en regels voor reclame en promotie</a>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				{{> organisms-promoblok}}
				<div class="column column--third">
					<h3><span class="yellow-line">CRS 1</span></h3>
					<p>Bijvoorbeeld: Forum</p>
				</div>
				<div class="column column--third">
					<h3><span class="yellow-line">CRS 2</span></h3>
					<p>Bijvoorbeeld: Bijeenkomsten</p>
				</div>
				<div class="column column--third">
					<h3><span class="yellow-line">CRS 3</span></h3>
					<p>Bijvoorbeeld: Verhaal</p>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>