<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Marketing</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<h2 class="block-title h4">Veel gezocht</h2>
					<ul class="labelList">
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Maak een concurrentieanalyse
								</span></span>
							</a>
						</li>
					    <li class="labelList-item">
					    	<a href="#" class="labelList-link">
					    		<span class="labelList-text"><span>
					    			Hoe kunt u reclame maken?
					    		</span></span>
					    	</a>
					    </li>
					    <li class="labelList-item">
					    	<a href="#" class="labelList-link">
					    		<span class="labelList-text"><span>
					    			Zorg voor een goede marketingmix
					    		</span></span>
					    	</a>
					    </li>
					</ul>
                </div>
                <div class="column column--third">
					{{> organisms-contactblok }}
				</div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="{{ link.templates-subject }}"><span class="headingLink-text"><span>Marktonderzoek</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<p>Met o.a.: <a class="interfaceLink" href="{{ link.templates-contentpage-base }}"><span class="interfaceLink-text"><span>Marktonderzoek doen</span</span></a> | <a class="interfaceLink" href="#"><span class="interfaceLink-text"><span>Brancheonderzoek</span</span></a> | <a class="interfaceLink" href="#"><span class="interfaceLink-text"><span>Onderzoek uw klanten</span</span></a></p>
					<!--ul class="linkList list">
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Marktonderzoek doen</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Brancheonderzoek</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Onderzoek uw klanten</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een concurrentieanalyse maken</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Omgevingsanalyse</span></span></a></li>
					</ul-->
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span>Marketingplan</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<p>Met: <a class="interfaceLink" href="{{ link.templates-contentpage-base }}"><span class="interfaceLink-text"><span>Marketingmix</span</span></a> | <a class="interfaceLink" href="#"><span class="interfaceLink-text"><span>Sterkte-zwakte analyse</span</span></a></p>
					<!--ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Marketingmix</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Sterkte-zwakte analyse</span></span></a></li>
					</ul-->
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span>Onderwerp zonder links</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
                	<p>U heeft een goed idee, maar zijn er wel klanten voor? Een marktonderzoek biedt uitkomst.</p>
				</div>

				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span>Klanten vinden</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
                	<!--p>Met o.a.: <a class="interfaceLink" href="{{ link.templates-contentpage-base }}"><span class="interfaceLink-text"><span>Hoe vindt u uw klanten?</span</span></a> | <a class="interfaceLink" href="#"><span class="interfaceLink-text"><span>Netwerken</span</span></a> | <a class="interfaceLink" href="#"><span class="interfaceLink-text"><span>Een offerte maken</span</span></a></p-->
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Hoe vindt u uw klanten?</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Netwerken</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een offerte maken</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span>Aanbestedingen</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
                	<!--p>Met: <a class="interfaceLink" href="{{ link.templates-contentpage-base }}"><span class="interfaceLink-text"><span>Aanbestedingen</span</span></a> | <a class="interfaceLink" href="#"><span class="interfaceLink-text"><span>Stappenplan inschrijven op aanbestedingen</span</span></a></p-->
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Aanbestedingen</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Stappenplan inschrijven op aanbestedingen</span></span></a></li>
					</ul>
				</div>

			</div>
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-wetten-en-regels }}
				{{> organisms-crsblok-direct-regelen }}
				{{> organisms-crsblok-linklijst}}
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal }}
				{{> organisms-crsblok-discussies }}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>