<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Marketing</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--half">
					<h2><span class="yellow-marker">Veel gezocht</span></h2>
					<ul>
                        <li><a href="{{ link.templates-contentpage-base }}">Maak een concurrentieanalyse</a></li>
                        <li><a href="{{ link.templates-contentpage-base }}">Hoe kunt u reclame maken?</a></li>
                        <li><a href="{{ link.templates-contentpage-base }}">Zorg voor een goede marketingmix</a></li>
                    </ul>
                </div>
                <div class="column column--half">
					{{> organisms-contactblok }}
				</div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Marktonderzoek</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage-base }}">Marktonderzoek doen</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Brancheonderzoek</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Onderzoek uw klanten</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Een concurrentieanalyse maken</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Omgevingsanalyse</a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Marketingplan</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage-base }}">Marketingmix</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Sterkte-zwakte analyse</a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Klanten vinden</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage-base }}">Hoe vindt u uw klanten?</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Netwerken</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Een offerte maken</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Social media</a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h3><a href="{{ link.templates-subject }}">Aanbestedingen</a></h3>
					<ul>
						<li><a href="{{ link.templates-contentpage-base }}">Aanbestedingen</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Stappenplan inschrijven op aanbestedingen</a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-linklijst}}
				<div class="column column--third">
					<h2><span class="yellow-marker">Direct regelen</span></h2>
					<ul>
						<li><a href="{{ link.templates-contentpage-base }}">Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen</a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Wat kan ik nog meer direct regelen?</a>
				</div>
				<div class="column column--third">
					<h2><span class="yellow-marker">Wetten en regels</span></h2>
					<ul>
						<li><a href="{{ link.templates-contentpage-base }}">Reclamebelasting</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Reclame maken op uw pand</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Reclamemateriaal verspreiden</a></li>
						<li><a href="{{ link.templates-contentpage-base }}">Reclame maken</a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Alle wetten en regels voor reclame en promotie</a>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				{{> organisms-promoblok}}
				{{> organisms-crsblok-linklijst}}
				<div class="column column--third">
					<h3><span class="yellow-line">CRS 2</span></h3>
					<p>Bijvoorbeeld: Bijeenkomsten</p>
				</div>
				<div class="column column--third">
					<h3><span class="yellow-line">CRS 3</span></h3>
					<p>Bijvoorbeeld: Verhaal</p>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>