<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		{{> organisms-onderwerp-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<p class="intro">U heeft een goed idee, maar weet niet of er wel genoeg interesse is voor uw dienst of product. Om zekerheid te krijgen, kunt u een marktonderzoek uitvoeren. U kijkt dan naar uw branche, klanten, concurrentie en omgeving. Hier vindt u informatie die u op weg helpt met een marktonderzoek.</p>
				</div>
				<div class="column column--third">
					{{> organisms-contactblok }}
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<h2 class="h3">Wat de meeste ondernemers willen weten</h2>
					{{> organisms-toptaken }}
				</div>
			</div>
			<!-- Informatie en advies -->
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.templates-contentpage-base }}"><span class="headingLink-text"><span class="underliner">Marktonderzoek doen</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>U heeft een goed idee, maar zijn er wel klanten voor? Een marktonderzoek biedt uitkomst.</p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.templates-contentpage-base }}"><span class="headingLink-text"><span class="underliner">Brancheonderzoek</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Hoe ontwikkelt de branche zich waarin u wilt ondernemen? Een brancheonderzoek geeft u inzicht. </p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.templates-contentpage-base }}"><span class="headingLink-text"><span class="underliner">Onderzoek uw klanten</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Hoe bereikt u uw klanten? Door onderzoek naar uw klanten en hun koopgedrag weet u hoe en waar u ze benadert.</p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.templates-contentpage-base }}"><span class="headingLink-text"><span class="underliner">Een concurrentieanalyse maken</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Hoe onderscheidt u zich van uw concurrent? Maak uw eigen concurrentieanalyse.</p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.templates-contentpage-base }}"><span class="headingLink-text"><span class="underliner">Omgevingsanalyse</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>U kent een goede bedrijfsplek en u wilt weten of uw idee potentie heeft. Een omgevingsanalyse geeft u inzicht in kansen en bedreigingen.</p>
				</div>
			</div>
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-wetten-en-regels }}
				{{> organisms-crsblok-direct-regelen }}
				{{> organisms-crsblok-discussies }}
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal}}
				{{> organisms-crsblok-linklijst}}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>