<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Marktonderzoek</h1>
					</header>
				</div>
				<div class="column column--twoThird">
					<p class="intro">U heeft een goed idee, maar weet niet of er wel genoeg interesse is voor uw dienst of product. Om zekerheid te krijgen, kunt u een marktonderzoek uitvoeren. U kijkt dan naar uw branche, klanten, concurrentie en omgeving. Hier vindt u informatie die u op weg helpt met een marktonderzoek.</p>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<div class="block block--grey">
						<h2 class="block-title">Wat de meeste mensen willen weten</h2>
						<ul class="linkList list">
							<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Maak een concurrentieanalyse</span></span></a></li>
	                        <li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Hoe kunt u reclame maken?</span></span></a></li>
	                        <li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Zorg voor een goede marketingmix</span></span></a></li>
						</ul>
					</div>
				</div>
				<div class="column column--third">
					{{> organisms-contactblok }}
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2><a href="{{ link.templates-contentpage-base }}">Marktonderzoek doen</a></h2>
					<p>U heeft een goed idee, maar zijn er wel klanten voor? Een marktonderzoek biedt uitkomst.</p>
				</div>
				<div class="column column--third">
					<h2><a href="{{ link.templates-contentpage-base }}">Brancheonderzoek</a></h2>
					<p>Hoe ontwikkelt de branche zich waarin u wilt ondernemen? Een brancheonderzoek geeft u inzicht. </p>
				</div>
				<div class="column column--third">
					<h2><a href="{{ link.templates-contentpage-base }}">Onderzoek uw klanten</a></h2>
					<p>Hoe bereikt u uw klanten? Door onderzoek naar uw klanten en hun koopgedrag weet u hoe en waar u ze benadert.</p>
				</div>
				<div class="column column--third">
					<h2><a href="{{ link.templates-contentpage-base }}">Een concurrentieanalyse maken</a></h2>
					<p>Hoe onderscheidt u zich van uw concurrent? Maak uw eigen concurrentieanalyse.</p>
				</div>
				<div class="column column--third">
					<h2><a href="{{ link.templates-contentpage-base }}">Omgevingsanalyse</a></h2>
					<p>U kent een goede bedrijfsplek en u wilt weten of uw idee potentie heeft. Een omgevingsanalyse geeft u inzicht in kansen en bedreigingen.</p>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h3>Direct regelen</h3>
					<ul class="linkList list">
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen</span></span></a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Wat kan ik nog meer direct regelen?</a>
				</div>
				<div class="column column--third">
					<h3>Wetten en regels</h3>
					<ul class="linkList list">
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Reclamebelasting</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Reclame maken op uw pand</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Reclamemateriaal verspreiden</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Reclame maken</span></span></a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Alle wetten en regels voor reclame en promotie</a>
				</div>
				{{> organisms-crsblok-discussies }}
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-verhaal}}
				<div class="column column--third">
					<div class="block block--blue">
						<h2 class="block-title h3">CRS 2</h2>
						<p>Bijvoorbeeld: Bijeenkomsten</p>
					</div>
				</div>
				{{> organisms-crsblok-linklijst}}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>