<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column">
					<header class="article-header">
						<h1>Marktonderzoek</h1>
					</header>
					{{> molecules-intro-text }}
					<ul>
						<li><a href="{{ link.templates-contentpage }}">Marktonderzoek doen</a></li>
					</ul>
					{{> molecules-social-share }}
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>