<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>H1 Marktonderzoek doen</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>
					{{> molecules-intro-text }}
					{{> organisms-content-body-base }}
				</div>
				<div class="column column--third aside">
					<div class="block block--side suggestions">
						<h2 class="block-title charlieHeading sideHeading">H2 Niet gevonden wat u zocht?</h2>
						<ul class="linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Omgevingsvergunning: vervangen vergunningen en uitzonderingen</span></a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Watervergunning</span></a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Bezwaar en beroep tegen beslissing overheid</span></a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">eHerkenning</span></a>
							</li>
						</ul>
					</div>
					{{> molecules-bronhouder-logo }}
				</div>
				<div class="column column--full">
					{{> molecules-bronhouder-contentfooter }}
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>