<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Marktonderzoek doen</h1>
						{{> molecules-bronhouder }}
						{{> molecules-laatste-update }}
					</header>
					{{> molecules-intro-text }}
					{{> organisms-content-body }}
					{{> molecules-social-share }}
				</div>
				<div class="column column--third">
					<div class="block block--side contact">
	        			<h2 class="block-title echoHeading">Neem contact op met</h2>
	        			<p class="contact-info echoHeading highlight--blue">een adviseur van de KvK</p>
	        			<p class="contact-phone">
	        				<span>Bel  (088) 585 2222</span>
	                    </p>
					</div>
					<div class="block block--side block--blue suggestions">
						<h2 class="block-title echoHeading">Niet gevonden wat u zocht?</h2>
						<p>Was u misschien op zoek naar:</p>
						<ul>
							<li><a href="#1">Marketingmix</a></li>
							<li><a href="#2">Sterkte-zwakte analyse</a></li>
							<li><a href="#3">Brancheonderzoek</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>