<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>H1 Marktonderzoek doen</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>
					{{> molecules-intro-text }}
					{{> organisms-content-body-base }}
					{{> molecules-bronhouder-contentfooter }}
				</div>
				<div class="column column--third aside">
					{{> organisms-side-blok-linklijst }}
					{{! molecules-bronhouder-logo }}
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>