<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Marktonderzoek doen</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>
					{{> molecules-intro-text }}
					{{> molecules-page-content }}
					{{> organisms-content-body-extended }}
					{{> organisms-hoenuverder-blok }}
					{{> molecules-bronhouder-contentfooter }}
				</div>
				<div class="column column--third aside">
					{{> organisms-side-blok-samenvatting }}
					{{> organisms-side-blok-linklijst }}
					{{> organisms-side-blok-linklijst-extern }}
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-verhaal}}
				{{> organisms-crsblok-discussies }}
				{{! organisms-promoblok}}
				<div class="column column--third">
					<div class="block block-promo block-promo--green">
						<figure class="block-image">
							<img src="../../images/startersdag.png">
							<div class="block-label">Evenement</div>
						</figure>
						<h2 class="block-title charlieHeading">Zeker weten dat je goed van start gaat?</h2>
						<div class="block-text">
							<p>Kom naar de KvK Startersdag op 7 november 2015</p>
						</div>
						<a href="http://www.google.nl" class="block-link">Meer over de Startersdag</a>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>