<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		{{> organisms-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Marktonderzoek doen</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>
					{{> molecules-intro-text }}
					{{> organisms-content-body-extended }}
					{{> organisms-hoenuverder-blok }}
					{{> molecules-bronhouder-contentfooter }}
				</div>
				<div class="column column--third aside">
					{{> organisms-side-blok-samenvatting }}
					{{> organisms-side-blok-linklijst }}
					{{> organisms-side-blok-linklijst-extern }}
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal }}
				{{> organisms-crsblok-discussies }}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>