&lt;div class=&quot;column column--third block-crs&quot;&gt;
&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;Situaties&lt;/span&gt;&lt;/h3&gt;
&Tab;&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Ik wil een nieuw idee realiseren&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Ik heb geld nodig voor het uitbreiden van mijn bedrijf&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Ik wil starten met een uitvinding&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;