{{#header.tabs.contentActive}}
&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&lt;ul class=&quot;contentIndex list list--triple&quot;&gt;
&Tab;&Tab;&Tab;{{#header.contentIndex.links}}
&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;contentIndex-item list-item gridItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;contentIndex-link interfaceLink&quot; href=&quot;{{href}}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg class=&quot;goIcon interfaceLink-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-pijl-rechts-1003&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;{{name}}&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;{{/header.contentIndex.links}}
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/div&gt;
{{/header.tabs.contentActive}}