&lt;!-- Begin .header --&gt;&NewLine;&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;&NewLine;&Tab;{{&gt; atoms-logo }}&NewLine;&Tab;&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-search icon-search&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&lt;/a&gt;&NewLine;&Tab;&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;&NewLine;&Tab;{{&gt; molecules-primary-nav }}&NewLine;&Tab;{{&gt; molecules-search }}&NewLine;&lt;/header&gt;&NewLine;&lt;!-- End .header --&gt;&NewLine;