$maxWidth: 30rem;

.layoutContainer {
	max-width: $maxWidth;
}

.gridContainer {
	display: flex;
	flex-wrap: wrap;
}

.column {

}

.column--full {

}

.column--half {

}

.column--quarter {

}

.column--threeQuarter {

}

.column--third {

}

.column--twoThird {

}