/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: getColor(wit);
	font: 100%/1.5 RijksOverheidSans, Tahoma;
	-webkit-text-size-adjust: 100%;
	color: getColor(grijs darkest);
}

.page {
	padding-left: 50px;
}

.font-secondary {
	font-family: Tahoma;
}

.hide-svg {
	@include accHide;
}