/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: mapDeepGet($colors, wit);
	font: 100%/1.5 RijksOverheidSans, Tahoma;
	-webkit-text-size-adjust: 100%;
	color: mapDeepGet($colors, grijs darkest);
	@include mqLesserThan(extraLarge) {
		padding-left: 50px;
	}
}

.font-secondary {
	font-family: Tahoma;
}

.hide-svg {
	@include accHide;
}