// MEDIAQUERIES

$mediaQueries: (
	extraSmall: (
		greater: "(min-width: 10em)",
		lesser: "(max-width: #{10em - (1/16)})"
	),
	small: (
		greater: "(min-width: 20em)",
		lesser: "(max-width: #{20em - (1/16)})"
	),
	medium: (
		greater: "(min-width: 30em)",
		lesser: "(max-width: #{30em - (1/16)})"
	),
	large: (
		greater: "(min-width: 40em)",
		lesser: "(max-width: #{40em - (1/16)})"
	),
	extraLarge: (
		greater: "(min-width: 50em)",
		lesser: "(max-width: #{50em - (1/16)})"
	),
);

@function getMediaQuery($name, $type) {
	@return mapDeepGet($mediaQueries, $name $type);
}

@mixin mqGreaterThan($name) {
	@media #{getMediaQuery($name, greater)} {
		@content;
	}
};

@mixin mqLesserThan($name) {
	@media #{getMediaQuery($name, lesser)} {
		@content;
	}
};

@mixin mqBetween($smallest, $largest) {
	$smallestMq: getMediaQuery($smallest, greater);
	$largestMq: getMediaQuery($largest, lesser);

	@media #{$smallestMq} and #{$largestMq} {
		@content;
	};
};