@function mapDeepGet($map, $keys) {
  $result: $map;
  @each $key in $keys {
    $result: map-get($result, $key);
  }

  @return $result;
}

$mediaQueries: (
	extraSmall: (
		larger: "(min-width: 10em)",
		smaller: "(max-width: #{10em - (1/16)})"
	),
	small: (
		larger: "(min-width: 20em)",
		smaller: "(max-width: #{20em - (1/16)})"
	),
	medium: (
		larger: "(min-width: 30em)",
		smaller: "(max-width: #{30em - (1/16)})"
	),
	large: (
		larger: "(min-width: 40em)",
		smaller: "(max-width: #{40em - (1/16)})"
	),
	extraLarge: (
		larger: "(min-width: 50em)",
		smaller: "(max-width: #{50em - (1/16)})"
	),
);

@function getMediaQuery($name, $type) {
	@return mapDeepGet($mediaQueries, $name $type);
}

@mixin mqLargerThan($name) {
	@media #{getMediaQuery($name, larger)} {
		@content;
	}
};

@mixin mqSmallerThan($name) {
	@media #{getMediaQuery($name, smaller)} {
		@content;
	}
};

@mixin mqBetween($smallest, $largest) {
	$smallestMq: getMediaQuery($smallest, larger);
	$largestMq: getMediaQuery($largest, smaller);

	@media #{$smallestMq} and #{$largestMq} {
		@content;
	};
};