// MEDIAQUERIES

$mediaQueries: (
	// 480px
	extraSmall: (
		greater: "(min-width: 30em)",
		lesser: "(max-width: #{30em - (1/16)})"
	),
	// 640px
	small: (
		greater: "(min-width: 40em)",
		lesser: "(max-width: #{40em - (1/16)})"
	),
	// 768px
	medium: (
		greater: "(min-width: 48em)",
		lesser: "(max-width: #{48em - (1/16)})"
	),
	// 960px
	large: (
		greater: "(min-width: 64em)",
		lesser: "(max-width: #{64em - (1/16)})"
	),
	// 1280px
	extraLarge: (
		greater: "(min-width: 80em)",
		lesser: "(max-width: #{80em - (1/16)})"
	),
);

@function getMediaQuery($name, $type) {
	@return mapDeepGet($mediaQueries, $name $type);
}

@mixin mqGreaterThan($name) {
	@media #{getMediaQuery($name, greater)} {
		@content;
	}
};

@mixin mqLesserThan($name) {
	@media #{getMediaQuery($name, lesser)} {
		@content;
	}
};

@mixin mqBetween($smallest, $largest) {
	$smallestMq: getMediaQuery($smallest, greater);
	$largestMq: getMediaQuery($largest, lesser);

	@media #{$smallestMq} and #{$largestMq} {
		@content;
	};
};