&lt;div class=&quot;block block--side externalLinks&quot;&gt;
&Tab;&lt;h2 class=&quot;block-title h4 sideHeading&quot;&gt;Wet- en regelgeving&lt;/h2&gt;
&Tab;&lt;ul class=&quot;linkList&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIconSimple(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingsloket online zakelijk&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIconSimple(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Infoblad voor bedrijven - Omgevingsvergunning en watervergunning (Kenniscentrum InfoMil)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIconSimple(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Veilig inloggen (eHerkenning)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIconSimple(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Omgevingswet (Rijksoverheid)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;