&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&lt;div class=&quot;block block-crs block--purple&quot;&gt;
&Tab;&Tab;&lt;h2 class=&quot;block-title h4&quot;&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
                &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon block-icon&quot;&gt;
                  &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-consument-6003&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;span class=&quot;media-text&quot;&gt;
                    Direct regelen
                &lt;/span&gt;
            &lt;/span&gt;
&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&lt;ul class=&quot;block-list linkList&quot;&gt;
&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&lt;div class=&quot;block-moreLink&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;Meer direct regelen
&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;