// FONTSIZES

$fontsize: (
	root: 1em,
	small: 0.75em,
	large: 1.25em,
	pageheading: 1.5em
);

$font-size-norm : 1em;
$font-size-slightly-larger : 1.0625em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.75em;
$font-size-large : 1.4375em;