/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

// ACCESSIBILITY
// Places an item out of sight while keeping it available for screenreaders.
// Focusable elements such as links and inputs are placed back in sight on focus,
// for keyboard users.

@mixin accHide {
	position:absolute;
	left:-999em;
	top:0;
	height: 1px;
	overflow: hidden;
	&:focus {
		left:1em;
		height: auto;
	}
}
@mixin accShow {
	position:relative;
	left:0;
	top:0;
	height: auto;
	&:focus {
		left:0;
	}
}
@mixin hideText {
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
	@if $lte-ie8 {
		text-indent: 1000em;
	}
}
@mixin showText {
	text-indent:0;
	white-space:normal;
	overflow:auto;
}