<div class="tip">
   	<h3 class="tip--header charlieHeading">Lorem ipsum dolor sit amet</h3>
   	<p class="tip--content">Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>
</div>