<div class="tip">
	<h3 class="h4 tip--header">Bezwaar maken</h3>
	<p class="tip--content">Bent u het niet eens met de VAR die u heeft gekregen? Op uw VAR staat hoe u bezwaar kunt maken en bij wie u daarvoor moet zijn.</p>
</div>