
{{&gt; organisms-sidebar }}

&lt;div class=&quot;page&quot;&gt;
{{&gt; organisms-header }}

&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;

&lt;main class=&quot;main layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;&quot;&gt;

&Tab;&Tab;&Tab;&lt;h1&gt;Ondernemersaftrek&lt;/h1&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;

&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;Als ondernemer kunt u in aanmerking komen voor de &lt;a href=&quot;http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/ondernemersaftrek/&quot; title=&quot;externe link&quot;&gt;ondernemersaftrek&lt;/a&gt;. De ondernemersaftrek is een bedrag dat u aftrekt van uw winst, zodat u minder belasting betaalt.&lt;/p&gt;


&Tab;&Tab;&lt;p&gt;De ondernemersaftrek bestaat uit de onderdelen:&lt;/p&gt;
&Tab;&Tab;&lt;ul class=&quot;interne-link&quot;&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;/subsidie/zelfstandigenaftrek/&quot; title=&quot;Zelfstandigenaftrek&quot;&gt;Zelfstandigenaftrek&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;/subsidie/startersaftrek/&quot; title=&quot;Startersaftrek (bij arbeidsongeschiktheid)&quot;&gt;Startersaftrek&lt;/a&gt; (verhoging van de zelfstandigenaftrek)&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;/subsidie/meewerkaftrek/&quot; title=&quot;Meewerkaftrek&quot;&gt;Meewerkaftrek&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;/subsidie/wbso/&quot; title=&quot;Aftrek voor speur- en ontwikkelingswerk (WBSO)&quot;&gt;Aftrek voor speur- en ontwikkelingswerk (WBSO)&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;/subsidie/stakingsaftrek/&quot; title=&quot;Stakingsaftrek en stakingslijfrenteaftrek&quot;&gt;Stakingsaftrek&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;/subsidie/startersaftrek/&quot; title=&quot;Startersaftrek (bij arbeidsongeschiktheid)&quot;&gt;Startersaftrek bij arbeidsongeschiktheid&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;

&Tab;&Tab;&lt;h2&gt;Wanneer komt u in aanmerking?&lt;/h2&gt;

&Tab;&Tab;&lt;p&gt;U moet voldoen aan het &lt;a href=&quot;http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/voorwaarden_urencriterium&quot; title=&quot;externe link&quot;&gt;urencriterium&lt;/a&gt;:&lt;/p&gt;
&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&lt;li&gt;U werkt minimaal 1.225 uur voor uw eigen bedrijf. Voor de startersaftrek bij arbeidsongeschiktheid geldt een verlaagd urencriterium. U moet dan minimaal 800 uur per jaar aan uw bedrijf besteden.&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;U werkt meer dan 50% van uw werktijd voor uw eigen onderneming. Deze eis geldt niet als u in de laatste 5 jaar geen ondernemer was.&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;

&Tab;&Tab;&lt;h2&gt;Hoe kunt u aanvragen?&lt;/h2&gt;
&Tab;&Tab;&lt;p&gt;De ondernemersaftrek geeft u aan in uw aangifte inkomstenbelasting.&lt;/p&gt;


&Tab;&Tab;&lt;h2&gt;Externe links&lt;/h2&gt;
&Tab;&Tab;&lt;ul class=&quot;external-links&quot;&gt;
&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/winst/inkomstenbelasting/inkomstenbelasting_voor_ondernemers/ondernemersaftrek/&quot;&gt;Ondernemersaftrek (Belastingdienst)&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;https://www.youtube.com/watch?v=miow_wUDmt0&quot;&gt;Het urencriterium voor ondernemers (Belastingdienst)&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;

&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;column column--third aside&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;&quot;&gt;
&Tab;&Tab;    &lt;h3 class=&quot;block-title&quot;&gt;Vragen?&lt;/h3&gt;
&Tab;&Tab;    &lt;ul class=&quot;&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/standaard_functies/prive/contact/belastingtelefoon_bellen/belastingtelefoon_bellen&quot;&gt;Bel de BelastingTelefoon: 0800 0543&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;http://www.higherlevel.nl/forum/index.php?board=49&quot;&gt;Vraag advies aan andere ondernemers op Higherlevel.nl&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;&quot;&gt;
&Tab;&Tab;    &lt;h3 class=&quot;&quot;&gt;Niet gezocht wat u vond?&lt;/h3&gt;
&Tab;&Tab;    &lt;ul class=&quot;&quot;&gt;
                &lt;li&gt;
&Tab;&Tab;            &lt;a href=&quot;/subsidie/rda/&quot;&gt;Research &amp;amp; Development Aftrek (RDA)&lt;/a&gt;
&Tab;&Tab;        &lt;/li&gt;
                &lt;li&gt;
&Tab;&Tab;            &lt;a href=&quot;/subsidie/milieu-investeringsaftrek/&quot;&gt;Milieu-investeringsaftrek (MIA)&lt;/a&gt;
&Tab;&Tab;        &lt;/li&gt;
                &lt;li&gt;
&Tab;&Tab;            &lt;a href=&quot;/subsidie/willekeurige-afschrijving-milieu-investeringen/&quot;&gt;Willekeurige afschrijving milieu-investeringen (Vamil)&lt;/a&gt;
&Tab;&Tab;        &lt;/li&gt;
                &lt;li&gt;
&Tab;&Tab;            &lt;a href=&quot;/subsidie/energie-investeringsaftrek/&quot;&gt;Energie-investeringsaftrek (EIA)&lt;/a&gt;
&Tab;&Tab;        &lt;/li&gt;
            &lt;/ul&gt;
&Tab;    &lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-footer }}

&lt;/div&gt;
