&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;{{&gt; organisms-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Marktonderzoek&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;U heeft een goed idee, maar weet niet of er wel genoeg interesse is voor uw dienst of product. Om zekerheid te krijgen, kunt u een marktonderzoek uitvoeren. U kijkt dan naar uw branche, klanten, concurrentie en omgeving. Hier vindt u informatie die u op weg helpt met een marktonderzoek.&lt;/span&gt;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Wat de meeste mensen willen weten&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Maak een concurrentieanalyse&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Hoe kunt u reclame maken?&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Zorg voor een goede marketingmix&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-contactblok }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;a href=&quot;{{ link.templates-contentpage }}&quot;&gt;Marktonderzoek doen&lt;/a&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U heeft een goed idee, maar zijn er wel klanten voor? Een marktonderzoek biedt uitkomst.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;a href=&quot;{{ link.templates-contentpage }}&quot;&gt;Brancheonderzoek&lt;/a&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe ontwikkelt de branche zich waarin u wilt ondernemen? Een brancheonderzoek geeft u inzicht. &lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;a href=&quot;{{ link.templates-contentpage }}&quot;&gt;Onderzoek uw klanten&lt;/a&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe bereikt u uw klanten? Door onderzoek naar uw klanten en hun koopgedrag weet u hoe en waar u ze benadert.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;a href=&quot;{{ link.templates-contentpage }}&quot;&gt;Een concurrentieanalyse maken&lt;/a&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe onderscheidt u zich van uw concurrent? Maak uw eigen concurrentieanalyse.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;a href=&quot;{{ link.templates-contentpage }}&quot;&gt;Omgevingsanalyse&lt;/a&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U kent een goede bedrijfsplek en u wilt weten of uw idee potentie heeft. Een omgevingsanalyse geeft u inzicht in kansen en bedreigingen.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Direct regelen&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#dgu&quot;&gt;Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#code&quot;&gt;Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#meer&quot;&gt;Wat kan ik nog meer direct regelen?&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Wetten en regels&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#wet1&quot;&gt;Reclamebelasting&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#wet2&quot;&gt;Reclame maken op uw pand&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#wet3&quot;&gt;Reclamemateriaal verspreiden&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#wet4&quot;&gt;Reclame maken&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;&lt;span class=&quot;yellow-line&quot;&gt;Forum&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#discussie1&quot;&gt;Starten als zzp&apos;er&lt;br /&gt;Geplaatst op 18 okt 2014 (5 reacties)&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#discussie2&quot;&gt;Cursus Starten als ZZP&CloseCurlyQuote;er van LOI&lt;br /&gt;Geplaatst op 6 okt 2014 (7 reacties) &lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#discussie3&quot;&gt;hulp bij 1e belasting aangifte als ondernemer&lt;br /&gt;Geplaatst op 20 aug 2014 (5 reacties) &lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#meer&quot;&gt;Meer discussies&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;CRS 1&lt;/span&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bijvoorbeeld: Forum&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;CRS 2&lt;/span&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bijvoorbeeld: Bijeenkomsten&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;CRS 3&lt;/span&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bijvoorbeeld: Verhaal&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;