&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;{{&gt; organisms-header }}
&Tab;&Tab;{{&gt; organisms-onderwerp-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;U heeft een goed idee, maar weet niet of er wel genoeg interesse is voor uw dienst of product. Om zekerheid te krijgen, kunt u een marktonderzoek uitvoeren. U kijkt dan naar uw branche, klanten, concurrentie en omgeving. Hier vindt u informatie die u op weg helpt met een marktonderzoek.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-contactblok }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-toptaken }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;!-- Informatie en advies --&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Marktonderzoek doen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U heeft een goed idee, maar zijn er wel klanten voor? Een marktonderzoek biedt uitkomst.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Brancheonderzoek&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe ontwikkelt de branche zich waarin u wilt ondernemen? Een brancheonderzoek geeft u inzicht. &lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Onderzoek uw klanten&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe bereikt u uw klanten? Door onderzoek naar uw klanten en hun koopgedrag weet u hoe en waar u ze benadert.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Een concurrentieanalyse maken&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe onderscheidt u zich van uw concurrent? Maak uw eigen concurrentieanalyse.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Omgevingsanalyse&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;U kent een goede bedrijfsplek en u wilt weten of uw idee potentie heeft. Een omgevingsanalyse geeft u inzicht in kansen en bedreigingen.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-wetten-en-regels }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-direct-regelen }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal}}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-linklijst}}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-promoblok }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;