<!-- Begin Header -->
<header class="header cf" role="banner">
	{{> molecules-logo }}
	<div class="brandBar">
		{{> molecules-payoff }}
		{{> molecules-breadcrumbs }}
	</div>
</header>
<!-- End Header -->