<!-- Begin Footer -->
<footer class="footer ">
	<div class="footerBar">
		<div class="layoutContainer gridContainer">
			{{> molecules-footer-nav }}
			{{> molecules-social-follow }}
		</div>
	</div>
	<div class="footer-content-wrapper">
		<div class="layoutContainer gridContainer">
			<div class="column footer-content">
				{{> molecules-partnerlogos }}
				<p class="copyright">&copy; 2015 Ondernemersplein</p>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->