<footer class="footer">
	{{> molecules-footer-nav }}
	{{> molecules-social-follow }}
	{{> molecules-colophon }}
</footer>



<script type="text/ng-template" id='/deadLink.html'>
	<div class="deadLink" ng-click="viewModel.close('deadLinkAlert')" ng-if="viewModel.isOpened('deadLinkAlert')"><strong>Deze link doet het nog niet.</strong>
		<button ng-click="viewModel.close('deadLinkAlert')">Oké..</button>
	</div>
</script>

<div dead-link></div>