<div class="hide-svg">{{> atoms-figures }}</div>
<div class="menuBarContainer ngAnimate-menuBar" menu-bar element-registar>
    <div class="menuBar" ng-class="{'is-menuBar-retracted': viewModel.isMenuBarRetracted()}">
        <div class="menuBar-navigation">
            <a href="{{ link.templates-homepage }}" class="menuBar-button menuBar-button--navigation menuBar-button-inner menuBar-button--home">
                <svg aria-hidden="true" class="menuBar-icon">
                    <use xlink:href="#figures-home-2004"></use>
                </svg>
                <span class="menuBar-button-text">Home</span>
            </a>
            <button ng-click="viewModel.openClose.toggle('menu')" class="menuBar-button menuBar-button--navigation menuBar-button--menu" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('menu', viewModel.sideContentUnitType)}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-menu-3903"></use>
                    </svg>
                    <span class="menuBar-button-text">Menu</span>
                </div>
            </button>
            <button ng-click="console.log('search');viewModel.openClose.toggle('search')" class="menuBar-button menuBar-button--navigation menuBar-button--search" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('search', viewModel.sideContentUnitType)}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-zoek-3907"></use>
                    </svg>
                    <span class="menuBar-button-text">Zoeken</span>
                </div>
            </button>
            <button ng-click="viewModel.openClose.toggle('profile')" class="menuBar-button menuBar-button--navigation menuBar-button--profile" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('profile', viewModel.sideContentUnitType)}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-user-3905"></use>
                    </svg>
                    <span class="menuBar-button-text">Profiel</span>
                </div>
            </button>
        </div>
        <div class="menuBar-context">
            <button ng-click="viewModel.openClose.toggle('share')"  register-element="{'type': 'button', 'unitName': 'share'}" class="menuBar-button menuBar-button--context menuBar-button--share" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('share')}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-delen"></use>
                    </svg>
                    <span class="menuBar-button-text">Delen</span>
                </div>
            </button>
            <button ng-click="viewModel.openClose.toggle('feedback')"  register-element="{'type': 'button', 'unitName': 'feedback'}" class="menuBar-button menuBar-button--context menuBar-button--feedback" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('feedback')}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-mening"></use>
                    </svg>
                    <span class="menuBar-button-text">Uw mening</span>
                </div>
            </button>
            <button ng-click="viewModel.openClose.toggle('backtotop')"  register-element="{'type': 'button', 'unitName': 'backtotop'}" class="menuBar-button menuBar-button--context menuBar-button--backtotop" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('backtotop')}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-top"></use>
                    </svg>
                    <span class="menuBar-button-text">Naar boven</span>
                </div>
            </button>
            <!--button ng-click="viewModel.openClose.toggle('enquete')"  register-element="{'type': 'button', 'unitName': 'enquete'}" class="menuBar-button menuBar-button--context menuBar-button--enquete" ng-class="{'is-opened': viewModel.openClose.isFullyOpened('enquete')}">
                <div class="menuBar-button-inner">
                    <svg aria-hidden="true" class="menuBar-icon">
                        <use xlink:href="#figures-enquete"></use>
                    </svg>
                    <span class="menuBar-button-text">Enquete</span>
                </div>
            </button-->
        </div>
    </div>
    <div id="menu" class="menuBar-sideContent ngAnimate-menuBar-sideContent is-hidden" menu-bar-side-content unit-name="menu">
        {{>organisms-mainMenu}}
    </div>
    <div id="search" class="menuBar-sideContent ngAnimate-menuBar-sideContent is-hidden" menu-bar-side-content unit-name="search">
        <p class="menuBar--title">Zoeken</p>
        <p>
            <input id="text" type="text" placeholder="Waar bent u naar op zoek?">
        </p>
        <p class="menuBar--subTitle textLine">Meest gezocht</p>
        <ul class="linkList">
            <li><a href="#">ondernemersplan</a></li>
            <li><a href="#">bedrijf starten</a></li>
            <li><a href="#">belastingaangifte</a></li>
        </ul>
    </div>
    <div id="profile" class="menuBar-sideContent ngAnimate-menuBar-sideContent is-hidden" menu-bar-side-content unit-name="profile">
        <p class="menuBar--title">Informatie op maat</p>
        <p>Hier kan de gebruiker zijn profiel instellen en beheren!</p>
        <p class="menuBar--subTitle textLine">Uw favorieten</p>
        <ul>
            <li>Branche(s)</li>
            <li>Regio(s)</li>
            <li>Opgeslagen paginas</li>
        </ul>
        <p class="menuBar--subTitle textLine">Mogelijk voor u interessant</p>
        <ul class="linkList">
            <li><a href="#">ondernemersplan</a></li>
            <li><a href="#">bedrijf starten</a></li>
            <li><a href="#">belastingaangifte</a></li>
        </ul>
        <p class="menuBar--subTitle textLine">Uw berichtenbox</p>
        <p>Koppel uw Berichtenbox aan Ondernemersplein.nl en kijk hier of er nieuwe berichten voor u zijn.</p>
    </div>
    <div id="share" class="menuBar-overlayContent ngAnimate-menuBar-overlayContent is-hidden" menu-bar-overlay-content unit-name="share">
        {{> molecules-social-share }}
        <button class="close share-close" ng-click="viewModel.openClose.close('share')">
            <span class="close-text">Sluiten</span>
            <svg class="close-icon" aria-hidden="true">
                <use xlink:href="#figures-sluiten"></use>
            </svg>
        </button>
    </div>
    <div id="feedback" class="menuBar-overlayContent ngAnimate-menuBar-overlayContent is-hidden" menu-bar-overlay-content unit-name="feedback">
        {{> organisms-sidebar-feedback }}
    </div>
    <div id="enquete" class="menuBar-overlayContent ngAnimate-menuBar-overlayContent is-hidden" menu-bar-overlay-content unit-name="enquete">
        <button class="close enquete-close" ng-click="viewModel.openClose.close('enquete')">
            <span class="close-text">Sluiten</span>
            <svg class="close-icon" aria-hidden="true">
                <use xlink:href="#figures-sluiten"></use>
            </svg>
        </button>
        <p>
            Wij zijn benieuwd naar uw ervaringen met de website. Wilt u daarom een vragenlijst invullen? Dit duurt maximaal 5 minuten.
        </p>
        <p>
            <a href="#" class="btn">Ja</a>
            <a href="#" class="btn">Nee</a>
            <a href="#" class="btn">Herinner mij later</a>
        </p>
    </div>
</div>