<div class="ng-hide">{{> atoms-figures }}</div>
<script type="text/ng-template" id="menuBar.html">
    <div class="menuBar">
        <div class="menuBar-item">
            <button href="#" ng-click="viewModel.openClose.toggle('menu')" class="menuBar-button menuBar-button--menu" ng-class="{'is-opened': viewModel.openClose.isOpened('menu')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-menu-3903"></use>
                </svg>
            </button>
        </div>
        <div class="menuBar-item">
            <button href="#" ng-click="console.log('search');viewModel.openClose.toggle('search')" class="menuBar-button menuBar-button--search" ng-class="{'is-opened': viewModel.openClose.isOpened('search')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-zoek-3907"></use>
                </svg>
            </button>
        </div>
        <div class="menuBar-item">
            <button href="#" ng-click="viewModel.openClose.toggle('profile')" class="menuBar-button menuBar-button--profile" ng-class="{'is-opened': viewModel.openClose.isOpened('profile')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-user-3905"></use>
                </svg>
            </button>
        </div>
        <div class="menuBar-item">
            <button href="#" ng-click="viewModel.openClose.toggle('share')" class="menuBar-button menuBar-button--share" ng-class="{'is-opened': viewModel.openClose.isOpened('share')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-delen"></use>
                </svg>
            </button>
        </div>
        <div class="menuBar-item">
            <button href="#" ng-click="viewModel.openClose.toggle('feedback')" class="menuBar-button menuBar-button--feedback" ng-class="{'is-opened': viewModel.openClose.isOpened('feedback')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-ear-4001"></use>
                </svg>
            </button>
        </div>
        <div class="menuBar-item">
            <button href="#" ng-click="viewModel.openClose.toggle('enquete')" class="menuBar-button menuBar-button--enquete" ng-class="{'is-opened': viewModel.openClose.isOpened('enquete')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-enquete-2022"></use>
                </svg>
            </button>
        </div>
    </div>

    <div id="menu" class="menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('menu')">
        <ul>
            <li><a href="#" class="homeLink">Home</a></li>
        </ul>
        <span class="kopje textLine">Onderwerpen</span>
        <ul>
            <li><a href="#">Personeel</a></li>
            <li><a href="#">Bedrijf starten</a></li>
            <li><a href="#">Handelsregister</a></li>
            <li><a href="#">Administratie</a></li>
            <li><a href="#">Geldzaken</a></li>
            <li><a href="#">Belastingen</a></li>
            <li><a href="#">Internationaal ondernemen</a></li>
            <li><a href="#">Innovatie en productontwikkeling</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Huisvesting</a></li>
            <li><a href="#">Bedrijf organiseren</a></li>
            <li><a href="#">Bedrijf beschermen</a></li>
            <li><a href="#">Freelance en zzp</a></li>
            <li><a href="#">Bedrijf stoppen of verkopen</a></li>
            <li><a href="#">Duurzaam ondernemen</a></li>
        </ul>
        <span class="kopje textLine">Direct naar</span>
        <ul>
            <li><a href="#">Wetten en regels</a></li>
            <li><a href="#">Wetswijzigingen</a></li>
            <li><a href="#">Subsidies</a></li>
            <li><a href="#">Direct regelen</a></li>
            <li><a href="#">Branche-informatie</a></li>
            <li><a href="#">Regio-informatie</a></li>
            <li><a href="#">Webinars en video’s</a></li>
            <li><a href="#">Evenementen</a></li>
        </ul>
        <span class="kopje textLine">Ondernemersplein</span>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Uw idee ter verbetering</a></li>
            <li><a href="#">Over ons</a></li>
        </ul>
    </div>
    <div id="search" class="menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('search')">
        <span class="kopje textLine">Zoeken</span>
        <p>Hier komt het zoekformulier</p>
    </div>
    <div id="profile" class="menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('profile')">
        <span class="kopje textLine">Uw profiel</span>
        <p>Hier kan de gebruiker zijn profiel instellen en beheren!</p>
    </div>
    <div id="share" class="menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('share')">
        <span class="kopje textLine">Deel deze pagina via</span>
        <p>Facebook | Twitter | LinkedIn | Google+ | E-mail</p>
    </div>
    <div id="feedback" class="menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('feedback')">
        <span class="kopje textLine">Geef uw mening</span>
        <p>Heeft deze informatie u geholpen?</p>
        <p>Ja / Nee</p>
    </div>
    <div id="enquete" class="menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('enquete')">
        <span class="kopje textLine">Enquete</span>
        <p>Hier komt de korte enquete</p>
    </div>

</script>

<div class="menuBarContainer ngAnimate-menuBar" menu-bar>

</div>