<div class="hide-svg">{{> atoms-figures }}</div>
<script type="text/ng-template" id="menuBar.html">
    <div class="menuBar is-menuBar-retracted">
        <div class="menuBar-navigation">
            <a href="{{ link.templates-homepage }}" class="menuBar-button menuBar-button--navigation menuBar-button--home">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-menu-3903"></use>
                </svg>
                <span class="menuBar-button-text">Home</span>
            </a>
            <button ng-click="viewModel.openClose.toggle('menu')" class="menuBar-button menuBar-button--navigation menuBar-button--menu" ng-class="{'is-opened': viewModel.openClose.isOpened('menu')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-menu-3903"></use>
                </svg>
                <span class="menuBar-button-text">Menu</span>
            </button>
            <button ng-click="console.log('search');viewModel.openClose.toggle('search')" class="menuBar-button menuBar-button--navigation menuBar-button--search" ng-class="{'is-opened': viewModel.openClose.isOpened('search')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-zoek-3907"></use>
                </svg>
                <span class="menuBar-button-text">Zoeken</span>
            </button>
            <button ng-click="viewModel.openClose.toggle('profile')" class="menuBar-button menuBar-button--navigation menuBar-button--profile" ng-class="{'is-opened': viewModel.openClose.isOpened('profile')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-user-3905"></use>
                </svg>
                <span class="menuBar-button-text">Profiel</span>
            </button>
        </div>
        <div class="menuBar-context">
            <button ng-click="viewModel.openClose.toggle('share')" class="menuBar-button menuBar-button--context menuBar-button--share" ng-class="{'is-opened': viewModel.openClose.isOpened('share')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-delen"></use>
                </svg>
                <span class="menuBar-button-text">Delen</span>
            </button>
            <button ng-click="viewModel.openClose.toggle('feedback')" class="menuBar-button menuBar-button--context menuBar-button--feedback" ng-class="{'is-opened': viewModel.openClose.isOpened('feedback')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-ear-4001"></use>
                </svg>
                <span class="menuBar-button-text">Uw mening</span>
            </button>
            <button ng-click="viewModel.openClose.toggle('enquete')" class="menuBar-button menuBar-button--context menuBar-button--enquete" ng-class="{'is-opened': viewModel.openClose.isOpened('enquete')}">
                <svg class="menuBar-icon">
                    <use xlink:href="#figures-enquete-2022"></use>
                </svg>
                <span class="menuBar-button-text">Enquête</span>
            </button>
        </div>
    </div>

    <div id="menu" class="menuBar-content ngAnimate-menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('menu')">
        <p class="menuBar--title"><a href="#">Home</a></p>
        <span class="menuBar--subTitle textLine">Onderwerpen</span>
        <ul class="linkList">
            <li><a href="#">Personeel</a></li>
            <li><a href="#">Bedrijf starten</a></li>
            <li><a href="#">Handelsregister</a></li>
            <li><a href="#">Administratie</a></li>
            <li><a href="#">Geldzaken</a></li>
            <li><a href="#">Belastingen</a></li>
            <li><a href="#">Internationaal ondernemen</a></li>
            <li><a href="#">Innovatie en productontwikkeling</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Huisvesting</a></li>
            <li><a href="#">Bedrijf organiseren</a></li>
            <li><a href="#">Bedrijf beschermen</a></li>
            <li><a href="#">Freelance en zzp</a></li>
            <li><a href="#">Bedrijf stoppen of verkopen</a></li>
            <li><a href="#">Duurzaam ondernemen</a></li>
        </ul>
        <span class="menuBar--subTitle textLine">Direct naar</span>
        <ul class="linkList">
            <li><a href="#">Wetten en regels</a></li>
            <li><a href="#">Wetswijzigingen</a></li>
            <li><a href="#">Subsidies</a></li>
            <li><a href="#">Direct regelen</a></li>
            <li><a href="#">Branche-informatie</a></li>
            <li><a href="#">Regio-informatie</a></li>
            <li><a href="#">Webinars en video’s</a></li>
            <li><a href="#">Evenementen</a></li>
        </ul>
        <span class="menuBar--subTitle textLine">Ondernemersplein</span>
        <ul class="linkList">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Uw idee ter verbetering</a></li>
            <li><a href="#">Over ons</a></li>
        </ul>
    </div>
    <div id="search" class="menuBar-content ngAnimate-menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('search')">
        <p class="menuBar--title">Zoeken</p>
        <p>
            <input id="text" type="text" placeholder="Waar bent u naar op zoek?">
        </p>
        <p class="menuBar--subTitle textLine">Meest gezocht</p>
        <ul class="linkList">
            <li><a href="#">ondernemersplan</a></li>
            <li><a href="#">bedrijf starten</a></li>
            <li><a href="#">belastingaangifte</a></li>
        </ul>
    </div>
    <div id="profile" class="menuBar-content ngAnimate-menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('profile')">
        <p class="menuBar--title">Informatie op maat</p>
        <p>Hier kan de gebruiker zijn profiel instellen en beheren!</p>
        <p class="menuBar--subTitle textLine">Uw favorieten</p>
        <ul>
            <li>Branche(s)</li>
            <li>Regio(s)</li>
            <li>Opgeslagen paginas</li>
        </ul>
        <p class="menuBar--subTitle textLine">Mogelijk voor u interessant</p>
        <ul class="linkList">
            <li><a href="#">ondernemersplan</a></li>
            <li><a href="#">bedrijf starten</a></li>
            <li><a href="#">belastingaangifte</a></li>
        </ul>
        <p class="menuBar--subTitle textLine">Uw berichtenbox</p>
        <p>Koppel uw Berichtenbox aan Ondernemersplein.nl en kijk hier of er nieuwe berichten voor u zijn.</p>
    </div>
    <div id="share" class="menuBar-content ngAnimate-menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('share')">
        <p class="menuBar--title">Deel deze pagina</p>
        {{> molecules-social-share }}
    </div>
    <div id="feedback" class="menuBar-content ngAnimate-menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('feedback')">
        <p class="menuBar--title">Geef uw mening</p>
        <form action="#" style="padding: 0 20px;">
            <fieldset class="options">
                <legend>Heeft deze informatie u geholpen?</legend>
                <ul>
                    <li><label for="radio1"><input id="radio1" name="radio" type="radio" class="radio" checked="checked">Ja</label></li>
                    <li><label for="radio2"><input id="radio2" name="radio" type="radio" class="radio">Nee</label></li>
                </ul>
                <div class="field-container">
                    <label for="textarea">Wat vindt u goed op deze pagina (maximaal 1000 tekens)?</label>
                    <textarea id="textarea" rows="3" cols="48" placeholder=""></textarea>
                </div>
            </fieldset>
        </form>
        <p>Annuleer | Verstuur</p>
    </div>
    <div id="enquete" class="menuBar-content ngAnimate-menuBar-content ng-hide" ng-show="viewModel.openClose.isOpened('enquete')">
        <p class="menuBar--title">Enquete</p>
        <p>
            Wilt u ons helpen onze website te verbeteren? Vul dan de vragenlijst in!
        </p>
        <p>Ja / Nee / Herinner mij over 10 paginas</p>
    </div>

</script>

<div class="menuBarContainer ngAnimate-menuBar" menu-bar>

</div>