<div style="height: 80vh; width: 400px;">

    <nav class="mainMenu" main-menu default-opened="onderwerpen">
        <h2 class="charlieHeading mainMenu-title" ng-click="viewModel.openClose.toggle('onderwerpen')">
            Onderwerpen
            <button class="mainMenu-button" ng-switch="viewModel.openClose.isOpened('onderwerpen')">
                <span ng-switch-when="true">sluiten</span>
                <span ng-switch-when="false">openen</span>
            </button>
        </h2>
        <div class="mainMenu-content ngAnimate-height" ng-show="viewModel.openClose.isOpened('onderwerpen')">
            <ul class="linkList">
                <li><a href="#">Personeel</a></li>
                <li><a href="#">Bedrijf starten</a></li>
                <li><a href="#">Handelsregister</a></li>
                <li><a href="#">Administratie</a></li>
                <li><a href="#">Geldzaken</a></li>
                <li><a href="#">Belastingen</a></li>
                <li><a href="#">Internationaal ondernemen</a></li>
                <li><a href="#">Innovatie en productontwikkeling</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Huisvesting</a></li>
                <li><a href="#">Bedrijf organiseren</a></li>
                <li><a href="#">Bedrijf beschermen</a></li>
                <li><a href="#">Freelance en zzp</a></li>
                <li><a href="#">Bedrijf stoppen of verkopen</a></li>
                <li><a href="#">Duurzaam ondernemen</a></li>
            </ul>
        </div>
        <h2 class="charlieHeading mainMenu-title" ng-click="viewModel.openClose.toggle('directNaar')">
            Direct naar
            <button class="mainMenu-button" ng-switch="viewModel.openClose.isOpened('directNaar')">
                <span ng-switch-when="true">sluiten</span>
                <span ng-switch-when="false">openen</span>
            </button>
        </h2>
        <div class="mainMenu-content ngAnimate-height ng-hide" ng-show="viewModel.openClose.isOpened('directNaar')">
            <ul class="linkList">
                <li><a href="#">Wetten en regels</a></li>
                <li><a href="#">Wetswijzigingen</a></li>
                <li><a href="#">Subsidies</a></li>
                <li><a href="#">Direct regelen</a></li>
                <li><a href="#">Branche-informatie</a></li>
                <li><a href="#">Regio-informatie</a></li>
                <li><a href="#">Webinars en video’s</a></li>
                <li><a href="#">Evenementen</a></li>
            </ul>
        </div>
        <h2 class="charlieHeading mainMenu-title" ng-click="viewModel.openClose.toggle('ondernemersplein')">
            Ondernemersplein
            <button class="mainMenu-button" ng-switch="viewModel.openClose.isOpened('ondernemersplein')">
                <span ng-switch-when="true">sluiten</span>
                <span ng-switch-when="false">openen</span>
            </button>
        </h2>
        <div class="mainMenu-content ngAnimate-height ng-hide" ng-show="viewModel.openClose.isOpened('ondernemersplein')">
            <ul class="linkList">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Uw idee ter verbetering</a></li>
                <li><a href="#">Over ons</a></li>
            </ul>
    </nav>
</div>
