<div class="mainMenu">

    <button class="close mainMenu-close" ng-click="viewModel.openClose.close('menu')">
        <span class="close-text">Sluiten</span>
        <svg class="close-icon" aria-hidden>
            <use xlink:href="#figures-sluiten"></use>
        </svg>
    </button>
    <nav class="mainMenu-nav" main-menu default-opened="onderwerpen">
        <h2 class="charlieHeading mainMenu-title" ng-click="viewModel.openClose.toggle('onderwerpen')">
            Onderwerpen
            <button class="mainMenu-button openCloseMark is-opened" ng-class="{ 'is-opened': viewModel.openClose.isFullyOpened('onderwerpen') }" ng-switch="viewModel.openClose.isOpened('onderwerpen')">
                <svg class="openCloseMark-icon" aria-hidden>
                    <use xlink:href="#figures-chevron-down"></use>
                </svg>
                <span class="openCloseMark-text" ng-switch-when="true">sluiten</span>
                <span class="openCloseMark-text" ng-switch-when="false">openen</span>
            </button>
        </h2>
        <div class="mainMenu-content ngAnimate-height" open-close-content="viewModel.openClose" unit-name="onderwerpen">
            <ul class="mainMenu-linkList columnsContainer columnsContainer--half">
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Personeel</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Bedrijf starten</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Handelsregister</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Administratie</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Geldzaken</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Belastingen</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Internationaal ondernemen</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Innovatie en productontwikkeling</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Marketing</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Huisvesting</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Bedrijf organiseren</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Bedrijf beschermen</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Freelance en zzp</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Bedrijf stoppen of verkopen</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Duurzaam ondernemen</a></li>
            </ul>
        </div>
        <h2 class="charlieHeading mainMenu-title" ng-click="viewModel.openClose.toggle('directNaar')">
            Direct naar…
            <button class="mainMenu-button openCloseMark" ng-class="{ 'is-opened': viewModel.openClose.isFullyOpened('directNaar') }" ng-switch="viewModel.openClose.isOpened('directNaar')">
                <svg class="openCloseMark-icon" aria-hidden>
                    <use xlink:href="#figures-chevron-down"></use>
                </svg>
                <span class="openCloseMark-text" ng-switch-when="true">sluiten</span>
                <span class="openCloseMark-text" ng-switch-when="false">openen</span>
            </button>
        </h2>
        <div class="mainMenu-content ngAnimate-height is-hidden" open-close-content="viewModel.openClose" unit-name="directNaar">
            <ul class="mainMenu-linkList columnsContainer columnsContainer--half">
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Wetten en regels</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Wetswijzigingen</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Subsidies</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Direct regelen</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Branche-informatie</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Regio-informatie</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Webinars en video’s</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Evenementen</a></li>
            </ul>
        </div>
        <h2 class="charlieHeading mainMenu-title" ng-click="viewModel.openClose.toggle('ondernemersplein')">
            Ondernemersplein
            <button class="mainMenu-button openCloseMark" ng-class="{ 'is-opened': viewModel.openClose.isFullyOpened('ondernemersplein') }" ng-switch="viewModel.openClose.isOpened('ondernemersplein')">
                <svg class="openCloseMark-icon" aria-hidden>
                    <use xlink:href="#figures-chevron-down"></use>
                </svg>
                <span class="openCloseMark-text" ng-switch-when="true">sluiten</span>
                <span class="openCloseMark-text" ng-switch-when="false">openen</span>
            </button>
        </h2>
        <div class="mainMenu-content ngAnimate-height is-hidden" open-close-content="viewModel.openClose" unit-name="ondernemersplein">
            <ul class="mainMenu-linkList columnsContainer columnsContainer--half">
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Contact</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Uw idee ter verbetering</a></li>
                <li class="mainMenu-item columnsContainer-item"><a class="mainMenu-link" href="#">Over ons</a></li>
            </ul>
    </nav>
</div>
