// MENU

.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
}

.menuBarContainer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

.menuBar {
	position: relative;
	height: 100%;
	width: 50px;
	background: #8fcae7 none repeat scroll 0% 0%;
	background-image: linear-gradient(#8fcae7, #76d2b6);
	z-index: 10;

	&:before {
		content: "";
		position: absolute;
		display: block;
		background: #d9ebf7;
		top: 0;
		bottom: 0;
		right: 100%;
		width: 2000px;
	}
}

.menuBar-item {
	height: 50px;
	width: 50px;
	background: #8fcae7;
}
.menuBar-button {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 12px 15px 13px;
    background: none;
    border: none;

    &.active {
    	background-color: #d9ebf7;
    }
    &.menuBar-button--menu {
	    .bar {
	    	display: block;
		    width: 25px;
		    margin-bottom: 5px;
		    height: 4px;
		    background-color: #005387;
		    &:last-child {
		    	margin-bottom: 0;
		    }
	    }
	}
    &.menuBar-button--search {
		top: 60px;
    }
    &.menuBar-button--profile {
    	top: 130px;
    }
    &.menuBar-button--share {
    	top: 250px;
    }
    &.menuBar-button--feedback {
    	top: 310px;
    }
    &.menuBar-button--enquete {
    	top: 370px;
    }
}

.menuBar-content {
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	z-index: 10;
	@include mqLesserThan(extraLarge) {
		transform: translate(-290px, 0px);
	}
	background: #d9ebf7;
	overflow-y: visible;
	overflow-x: hidden;
	width: 240px;
	height: 100%;

	// For testing script
	&:nth-child(2) {
		width: 250px;
	}
	&:nth-child(3) {
		width: 260px;
	}
	&:nth-child(4) {
		width: 270px;
	}

	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	li {
	    margin: 0;
	    &:hover {
	    	a {
	    		background: #006bad;
	    		color: white;
	    	}
	    }
	}
	a {
	    padding: 5px 20px;
	    color: #005387;
	    text-decoration: none;
	    display: block;
	    &.homeLink {
	    	font-family: 'RijksOverheidSansBold', 'tahoma', sans-serif;
			padding: 20px;
			font-size: 1.5em;
	    }
	}
	p {
		padding: 5px 20px;
	}

}

.kopje {
	padding: 10px 20px;
	color: #3e3e3e;
	font-family: 'RijksOverheidSansBold', 'tahoma', sans-serif;
	text-transform: uppercase;
}