// MENU

.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
}

.menuBarContainer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	@include zIndex(menuBar);
}

.menuBar {
	position: relative;
	height: 100%;
	width: 50px;
	background: #8fcae7 none repeat scroll 0% 0%;
	background-image: linear-gradient(#8fcae7, #76d2b6);

	&:before {
		content: "";
		position: absolute;
		display: block;
		background: #d9ebf7;
		top: 0;
		bottom: 0;
		right: 100%;
		width: 2000px;
		width: 100vw;
	}
}

.menuBar-button {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 0;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;

    &.menuBar-button--menu {

	}
    &.menuBar-button--search {
		top: 75px;
    }
    &.menuBar-button--profile {
    	top: 145px;
    }
    &.menuBar-button--share {
    	top: 265px;
    }
    &.menuBar-button--feedback {
    	top: 335px;
    }
    &.menuBar-button--enquete {
    	top: 405px;
    }
}
// SVG Icon
.menuBar-icon {
	width: 40px;
	height: 40px;
	fill: mapDeepGet($colors, hemelblauw darkest);
	transition: all .2s ease-in-out;
}
button:hover {
	.menuBar-icon {
		//stroke: mapDeepGet($colors, wit);
		//stroke-width: 1px;
		//fill-opacity:0.1;
		//stroke-opacity:0.9;
		fill: mapDeepGet($colors, zwart);
		transform: scale(1.1);
	}
}

.menuBar-content {
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	z-index: 10;
	@include mqLesserThan(extraLarge) {
		transform: translate(-290px, 0px);
	}
	background: #d9ebf7;
	overflow-y: visible;
	overflow-x: hidden;
	width: 240px;
	height: 100%;

	// For testing script
	&:nth-child(2) {
		width: 250px;
	}
	&:nth-child(3) {
		width: 300px;
	}
	&:nth-child(4) {
		width: 350px;
	}

	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	li {
	    margin: 0;
	    &:hover {
	    	a {
	    		background: #006bad;
	    		color: white;
	    	}
	    }
	}
	a {
	    padding: 5px 20px;
	    color: #005387;
	    text-decoration: none;
	    display: block;
	    &.homeLink {
	    	font-family: 'RijksOverheidSansBold', 'tahoma', sans-serif;
			padding: 20px;
			font-size: 1.5em;
	    }
	}
	p {
		padding: 5px 20px;
	}

}

.kopje {
	padding: 10px 20px;
	color: #3e3e3e;
	font-family: 'RijksOverheidSansBold', 'tahoma', sans-serif;
	text-transform: uppercase;
}