&lt;div class=&quot;block block--side block--grey readMoreBlock&quot;&gt;
&Tab;&lt;h2 class=&quot;readMoreBlock-title deltaHeading&quot;&gt;Hoe nu verder?&lt;/h2&gt;
&Tab;&lt;ul class=&quot;readMoreBlock--list linkList list list--double&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h2&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;Van idee naar markt&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h3&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;Onderdelen van uw marktonderzoek&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h4&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;Hoe doet u een marktonderzoek?&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h5&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;Zelf marktonderzoek doen of uitbesteden?&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h6&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;Kleinste heading die er is&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;