&lt;section class=&quot;comments section&quot;&gt;&NewLine;&Tab;&lt;div class=&quot;comments-container&quot; id=&quot;comments-container&quot;&gt;&NewLine;&Tab;&Tab;&lt;h2 class=&quot;section-title&quot;&gt;59 Comments&lt;/h2&gt;&NewLine;&Tab;&Tab;{{&gt; molecules-comment-form }} &NewLine;&Tab;&Tab;&lt;ul class=&quot;comment-list&quot;&gt;&NewLine;&Tab;&Tab;&Tab;{{#listItems.twelve}}&NewLine;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-single-comment }} &NewLine;&Tab;&Tab;&Tab;{{/listItems.twelve}}&NewLine;&Tab;&Tab;&lt;/ul&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&Tab;{{&gt; molecules-pagination }} &NewLine;&lt;/section&gt;