&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;Alles over ondernemen&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Marketing&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.templates-subject }}&quot;&gt;Marktonderzoek&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;