&lt;div class=&quot;column column--half logo&quot;&gt;&NewLine;&Tab;&lt;a class=&quot;logo-link&quot; title=&quot;Ga naar homepage&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;&NewLine;&Tab;&Tab;&lt;span class=&quot;textLine&quot;&gt;&NewLine;&Tab;&Tab;&Tab;o&lt;span class=&quot;highlight--blue&quot;&gt;n&lt;/span&gt;dernemers&NewLine;&Tab;&Tab;&lt;/span&gt; &lt;span class=&quot;textLine&quot;&gt;p&lt;span class=&quot;highlight--blue&quot;&gt;l&lt;/span&gt;ein&lt;/span&gt;&NewLine;&Tab;&lt;/a&gt;&NewLine;&lt;/div&gt;