&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link breadcrumb-linkFirst diapositive-link&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Home&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Alles over ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Freelance en zzp&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h3&quot;&gt;Wat de meeste ondernemers willen weten&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;labelList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Maatregelen Prinsjesdag 2015
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Wanneer bent u zelfstandig?
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Webinar &quot;Starten als zzp&apos;er of freelancer&quot;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
                &lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
                &lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Starten als freelancer of zzp&apos;er&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Aan de slag als freelancer of zzp&apos;er&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Parttime zzp&apos;er of freelancer&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.usability-zzp-00-samenwerken-als-zzpers }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Samenwerken als zzp&apos;ers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item linkList-itemMore&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Meer&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.usability-zzp-02-var }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Verklaring Arbeidsrelatie (VAR) voor zelfstandigen&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.usability-zzp-03-var-onmisbaar }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;De VAR: onmisbaar voor freelancers en zzp&apos;ers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Vier soorten VAR&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;VAR aanvragen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item linkList-itemMore&quot;&gt;&lt;a href=&quot;{{ link.usability-zzp-02-var }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Meer&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Zzp&apos;er en schijnzelfstandigheid&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Zelfstandigheid bij zzp&apos;ers en freelancers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Fictieve dienstbetrekking versus schijnzelfstandigheid&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Resultaat uit overig werk (resultaatgenieter)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item linkList-itemMore&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Meer&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Uitkeringen voor zzp&apos;ers en freelancers&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Een paar uitkeringen zijn specifiek voor freelancers en zzp&CloseCurlyQuote;ers&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Pensioen en verzekeringen voor zelfstandigen&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Zzp&apos;er en pensioen&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.usability-zzp-00-samenwerken-als-zzpers }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Samenwerken als zzp&apos;ers&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hoe kunt u samenwerken met andere ondernemers? En voor welke rechtsvorm kiest u?&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;h3&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.usability-mkb-02-ontslag-en-opzeggen }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Stoppen als zzp&apos;er&lt;/span&gt;&lt;/span&gt;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf stoppen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.usability-mkb-03-ontslagprocedures }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf verkopen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;listBlock listBlock--autoHeight listBlock--purple&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;listBlock-title h4&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon listBlock-icon&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;              &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-consument-6003&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;                Direct regelen
&Tab;&Tab;&Tab;&Tab;&Tab;            &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;        &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;listBlock-list linkList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;blockContainer-more blockContainer-more--purple&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Meer direct regelen
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;

&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;promoBlock promoBlock--autoHeight promoBlock--violet&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;promoBlock-go&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4 interfaceLinkStatic promoBlock-go-title&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Ik wil weten of ik ondernemer ben
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure class=&quot;promoBlock-figure&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img class=&quot;promoBlock-image&quot; src=&quot;../../images/sample/zwembad.jpg&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;promoBlock promoBlock--autoHeight promoBlock--violet&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;promoBlock-go&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4 interfaceLinkStatic promoBlock-go-title&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Ik wil starten als zzp&apos;er in de zorg
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure class=&quot;promoBlock-figure&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img class=&quot;promoBlock-image&quot; src=&quot;../../images/sample/zorg.jpg&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;promoBlock promoBlock--autoHeight promoBlock--violet&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;promoBlock-go&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4 interfaceLinkStatic promoBlock-go-title&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Ik wil starten als zzp&apos;er in de bouw
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure class=&quot;promoBlock-figure&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img class=&quot;promoBlock-image&quot; src=&quot;../../images/sample/zzper-bouw.jpg&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal}}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-promoblok }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;