&lt;div class=&quot;pageContentNav block--grey&quot;&gt;
&Tab;&lt;h2 class=&quot;pageContentNav--title deltaHeading&quot;&gt;Op deze pagina behandelen we&lt;/h2&gt;
&Tab;&lt;ul class=&quot;pageContentNav--list linkList list list--double&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h2&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Van idee naar markt&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h3&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Onderdelen van uw marktonderzoek&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h4&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Hoe doet u een marktonderzoek?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h5&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Zelf marktonderzoek doen of uitbesteden?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;linkList-item list-spacedItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a href=&quot;#h6&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-arrow-down }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Kleinste heading die er is&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;