<nav class="footerNav layoutContainer">
	<ul class="gridContainer gridContainer--centerItems u-noBullets">
		<li class="verticalItem"><a class="footerNav-link" href="#about">Over ons</a></li>
		<li class="verticalItem"><a class="footerNav-link" href="#contact">Contact</a></li>
		<li class="verticalItem"><a class="footerNav-link" href="#idee">Uw idee</a></li>
		<li class="verticalItem"><a class="footerNav-link" href="#disclaimer">Disclaimer</a></li>
		<li class="verticalItem"><a class="footerNav-link" href="#cookies">Cookies &amp; Privacy</a></li>
		<li class="verticalItem"><a class="footerNav-link" href="#sitemap">Sitemap</a></li>
	</ul>
</nav>