<nav class="footerNav layoutContainer">
	<ul class="gridContainer gridContainer--centerItems u-noBullets">
		<li class="verticalItem">
			<a class="footerNav-link" href="{{ link.templates-contentpage-base }}">Over ons</a>
		</li>
		<li class="verticalItem">
			<a class="footerNav-link" href="{{ link.templates-contentpage-base }}">Contact</a>
		</li>
		<li class="verticalItem">
			<a class="footerNav-link" href="{{ link.templates-contentpage-base }}">Disclaimer</a>
		</li>
		<li class="verticalItem">
			<a class="footerNav-link" href="{{ link.templates-contentpage-base }}">Cookies &amp; Privacy</a>
		</li>
		<li class="verticalItem">
			<a class="footerNav-link" href="{{ link.templates-contentpage-base }}">Sitemap</a>
		</li>
	</ul>
</nav>