<div class="column column--twoThird">
	<ul class="footer-navigation">
		<li><a href="#about">Over ons</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#idee">Uw idee</a></li>
		<li class="divider">|</li>
		<li><a href="#disclaimer">Disclaimer</a></li>
		<li><a href="#cookies">Cookies &amp; Privacy</a></li>
		<li><a href="#sitemap">Sitemap</a></li>
	</ul>
</div>