<ul class="breadcrumbs diapositive">
	<li class="breadcrumb">
		<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="{{ link.templates-homepage }}">
			<span class="breadcrumb-text">Home</span>
		</a>
	</li>
	<li class="breadcrumb">
		<a class="breadcrumb-link diapositive-link" href="#">
			<span class="breadcrumb-text">Alles over ondernemen</span>
		</a>
	</li>
	<li class="breadcrumb">
		<a class="breadcrumb-link diapositive-link" href="{{ link.templates-theme }}">
			<span class="breadcrumb-text">Marketing</span>
		</a>
	</li>
	<li class="breadcrumb">
		<a class="breadcrumb-link diapositive-link" href="{{ link.templates-subject }}">
			<span class="breadcrumb-text">Marktonderzoek</span>
		</a>
	</li>
</ul>