<ul class="contentIndexInTab list">
	{{#header.contentIndex.links}}
		<li class="contentIndexInTab-item list-item">
			<a class="contentIndexInTab-link {{#active}}is-active{{/active}}" href="{{href}}">
				{{name}}
			</a>
		</li>
	{{/header.contentIndex.links}}
</ul>