{{#header.tabs.contentActive}}
	<ul class="contentIndexInTab list">
		{{#header.contentIndex.links}}
			<li class="contentIndexInTab-item list-item">
				<a class="contentIndexInTab-link" href="{{href}}">
					{{name}}
				</a>
			</li>
		{{/header.contentIndex.links}}
	</ul>
{{/header.tabs.contentActive}}