{{#header.tabs.contentActive}}
	<div class="layoutContainer">
		<ul class="contentIndex list list--triple">
			{{#header.contentIndex.links}}
				<li class="contentIndex-item list-item gridItem">
					<a class="contentIndex-link interfaceLink {{#active}}is-active{{/active}}" href="{{href}}">
						<svg class="goIcon interfaceLink-icon contentIndex-icon {{#active}}is-active{{/active}}" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-pijl-rechts-1003"></use></svg>
						<span class="interfaceLink-text">{{name}}</span>
					</a>
				</li>
			{{/header.contentIndex.links}}
		</ul>
	</div>
{{/header.tabs.contentActive}}