<div class="pageContentNav block--grey">
	<h2 class="pageContentNav--title deltaHeading">Op deze pagina behandelen we:</h2>
	<ul class="pageContentNav--list linkList list list--double">
		<li class="linkList-item list-spacedItem">
			<a href="#h2" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Van idee naar markt</span></span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h3" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Onderdelen van uw marktonderzoek</span></span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h4" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Hoe doet u een marktonderzoek?</span></span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h5" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Zelf marktonderzoek doen of uitbesteden?</span></span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h6" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Kleinste heading die er is</span></span></a>
		</li>
	</ul>
</div>