&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&lt;div class=&quot;homeBlockMore homeBlockMore--purple&quot;&gt;
&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;Webinars
&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&lt;/a&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;a class=&quot;homeBlock homeBlock--purple&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&lt;figure class=&quot;homeBlock-figure&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;homeBlock-image&quot; src=&quot;../../images/webinar.png&quot;&gt;
&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&lt;div class=&quot;homeBlock-content&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2 class=&quot;homeBlock-title h4&quot;&gt;Hoe komt u aan geld?&lt;/h2&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;blockContainer-more blockContainer-more--purple&quot;&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLinkStatic&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;Bekijk deze webinar
&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/a&gt;
&lt;/div&gt;