&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link breadcrumb-linkFirst diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Home&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Alles over ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.usability-zzp-01-freelance-en-zzp }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Freelance en zzp&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;{{&gt; organisms-onderwerp-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;!--div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Verklaring Arbeidsrelatie (VAR)&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div--&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;Een Verklaring Arbeidsrelatie (VAR) geeft uw klanten en opdrachtgevers zekerheid over uw zelfstandigheid. Zo weten zij dat ze geen loonheffingen of premies hoeven te betalen voor uw werkzaamheden. Welke VAR heeft u precies nodig, hoe vraagt u een VAR aan en waar moet u zoal op letten? Die informatie vindt u hier.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;!--div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title&quot;&gt;Wat de meeste mensen willen weten&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Maak een concurrentieanalyse&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;                        &lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Hoe kunt u reclame maken?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;                        &lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Zorg voor een goede marketingmix&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-contactblok }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div--&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.usability-zzp-03-var-onmisbaar }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;De VAR: onmisbaar voor freelancers en zzp&apos;ers&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Met een &apos;var&apos; geeft de Belastingdienst aan hoe uw inkomsten als &apos;zelfstandige&apos; beoordeeld gaan worden.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Vier soorten VAR&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Wat betekent welke VAR? Afhankelijk van uw situatie krijgt u &eacute;&eacute;n van vier Verklaringen Arbeidsrelatie (VAR).&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;{{ link.usability-mkb-03-ontslagprocedures }}&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;VAR aanvragen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Informatie voor het aanvragen van de VAR. Hoe u deze aanvraagt en wat de Belastingdienst van u wilt weten.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h4&quot;&gt;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span&gt;Tips bij VAR aanvragen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Handige weetjes en tips voor ondernemers die een VAR aan willen vragen.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;!--div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Direct regelen&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Wat kan ik nog meer direct regelen?&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Wetten en regels&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Verklaring arbeidsrelatie (VAR)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;(Model)overeenkomst vervangt Verklaring arbeidsrelatie (VAR)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Alle wetten en regels voor VAR&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;{{! organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&lt;/div--&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block-crs block--green&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title h4&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
&Tab;&Tab;&Tab;&Tab;                &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon block-icon&quot;&gt;
&Tab;&Tab;&Tab;&Tab;                  &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-wet-7003&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;                &lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;                &lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;                    Wetten en regels
&Tab;&Tab;&Tab;&Tab;                &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;            &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;block-list linkList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Verklaring arbeidsrelatie (VAR)
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;(Model)overeenkomst vervangt Verklaring arbeidsrelatie (VAR)
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block-moreLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Meer wetten en regels
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block-crs block--purple&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title h4&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
&Tab;&Tab;&Tab;&Tab;                &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon block-icon&quot;&gt;
&Tab;&Tab;&Tab;&Tab;                  &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-consument-6003&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;                &lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;                &lt;span class=&quot;media-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;                    Direct regelen
&Tab;&Tab;&Tab;&Tab;                &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;            &lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;block-list linkList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block-moreLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Meer direct regelen
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;