&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link breadcrumb-linkFirst diapositive-link&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Home&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Alles over ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.usability-mkb-01-personeel }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Personeel&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;{{ link.usability-mkb-02-ontslag-en-opzeggen }}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Ontslag en opzeggen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;{{&gt; organisms-onderwerp-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Ontslagprocedures&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-bronhouder-text }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-laatste-update }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;intro&quot;&gt;Er zijn verschillende ontslagprocedures. Een ontslag is alleen geldig als u daarvoor de juiste ontslagprocedure volgt. De kantonrechter en UWV beoordelen vooraf of u zich houdt aan de procedure. Dit heet een preventieve toets. De tijd die dit kost komt in mindering op de opzegtermijn. Wel moet altijd 1 maand opzegtermijn overblijven. &lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Wanneer welke ontslagprocedure?&lt;/h2&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;Ontslag via UWV&lt;/h3&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;Als uw werknemer langdurig arbeidsongeschikt is.&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;Bij bedrijfseconomisch ontslag. Hierbij is het mogelijk dat een onafhankelijke en onpartijdige cao-commissie, in plaats van UWV, de preventieve toets uitvoert.&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;Ontslag via kantonrechter&lt;/h3&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Ontslag om alle andere redenen. Bijvoorbeeld wegens onvoldoende functioneren van uw werknemer of door een verstoorde arbeidsverhouding.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;Ontslag met wederzijds goedvinden&lt;/h3&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Hierbij maakt u samen met uw werknemer afspraken over het ontslag. Wat is bijvoorbeeld de einddatum? En krijgt uw werknemer een vergoeding? Die afspraken moet u schriftelijk vastleggen in een be&euml;indigingsovereenkomst. Uw werknemer krijgt 14 dagen bedenktijd. Ook deze afspraak zet u in de be&euml;indigingsovereenkomst. Doet u dit niet? Dan krijgt uw werknemer 21 dagen bedenktijd.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Collectief ontslag en sociaal plan&lt;/h2&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Ontslaat u binnen 3 maanden om bedrijfseconomische redenen 20 of meer werknemers? En allemaal binnen hetzelfde werkgebied? Dan is er sprake van &lt;a href=&quot;#&quot;&gt;collectief ontslag&lt;/a&gt;. De collectieve regelingen en voorzieningen voor het vertrekkende personeel legt u vast in een &lt;a href=&quot;#&quot;&gt;sociaal plan&lt;/a&gt;.&lt;/p&gt;

&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-hoenuverder-blok }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! molecules-bronhouder-contentfooter }}

&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;sourceBlock&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;infoText infoText--afzender&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span&gt;Deze informatie is geplaatst door:&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;gridContainer gridContainer--singleLine u-noBullets&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo-image partnerLogo--contentBottom&quot; src=&quot;../../images/logos/SZW_color.svg&quot; alt=&quot;Ministerie van Sociale Zaken en Werkgelegenheid&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third aside&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-samenvatting }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-linklijst }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{! organisms-side-blok-linklijst-extern }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-promoblok }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;