&lt;svg class=&quot;goIcon headingLink-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-pijl-rechts-1003&quot;&gt;&lt;/use&gt;&lt;/svg&gt;