<p><a href="#">Een goed idee is het halve werk</a>. Maar om van uw idee een bedrijf te maken, heeft u klanten nodig. Door een marktonderzoek te doen ziet u of uw plannen haalbaar zijn.</p>

{{> organisms-transactie-blok }}

<h2>H2 Van idee naar markt</h2>
<p>Met een marktonderzoek brengt u de markt in kaart. U onderzoekt wie uw klanten zijn, wat ze willen en waar u ze vindt. Ook is het interessant om te kijken hoe anderen in uw branche het doen. Hoe kunt u zich onderscheiden van de concurrentie? Uit een <a href="#" class="externalLink">marktonderzoek</a> blijkt hoe u klanten naar uw bedrijf kunt trekken. Het is de basis voor uw marketing.</p>

<h3>H3 Onderdelen van uw marktonderzoek</h3>
<p>Aliquam ultrices cursus mauris, eget volutpat justo mattis nec. Sed a orci turpis. Aliquam aliquet placerat dui, consectetur tincidunt leo tristique et.</p>

{{> atoms-unordered }}

<h4>H4 Hoe doet u een marktonderzoek?</h4>
<p>Marktonderzoek doen kan op allerlei manieren. In een literatuuronderzoek gebruikt u bestaande informatie. U kunt ook zelf aan de slag: leg uw idee voor aan potentiële klanten en leveranciers. Kiest u hierbij voor een kwalitatief onderzoek, dan bevraagt u een beperkt aantal mensen. Zij kunnen dan uitgebreid reageren. Bij een kwantitatief onderzoek is de groep respondenten groter. U benadert ze dan bijvoorbeeld telefonisch of via een online vragenlijst.
</p>

{{> molecules-tip }}

<h5>H5 Zelf marktonderzoek doen of uitbesteden?</h5>
<p>U kunt uw marktonderzoek ook uitbesteden, bijvoorbeeld aan studenten of een marktonderzoekbureau. De kosten van een bureau zijn vaak hoger. Daar staat tegenover dat een bureau vaak ervaring heeft en soms ook gespecialiseerd is in bepaalde markten. </p>

{{> atoms-ordered }}

<h6>H6 Kleinste heading die er is</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

{{> atoms-table-rechtsvorm }}

<p>Aliquam ultrices cursus mauris, eget volutpat justo mattis nec. Sed a orci turpis. Aliquam aliquet placerat dui, consectetur tincidunt leo tristique et.</p>