<div themes-view>
	<!-- Alle ondernemers -->
	<div class="layoutContainer gridContainer" ng-if="viewModel.selectedAudience == 'Ondernemers'">
		<div class="column column--full">
			<ul class="linkList list list--triple themeList">
				<li class="linkList-item themeList-item">
					<a href="{{ link.usability-mkb-01-personeel }}" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-4094-werkgelegenheid"></use>
						</svg>
						<span class="headingLink-text">
							<span class="underliner">Personeel</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="{{ link.usability-starter-01-bedrijf-starten }}" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6005-starters"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Bedrijf starten</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="#" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-budget-9000"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Geldzaken</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="#" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-world"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Internationaal ondernemen</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="{{ link.usability-zzp-01-freelance-en-zzp }}" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6033-zzp"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Freelance en zzp</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="#" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-9012-koopwoning"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Bedrijf stoppen of verkopen</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="#" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-1008-oog"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Marketing</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="#" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-9001-rekening"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Administatie</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item">
					<a href="#" class="headingLink">
						<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-9004-belastingen"></use>
						</svg>
						<span class="headingLink-text"><span class="underliner">Belastingen</span></span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
			</ul>
		</div>
		<div class="column column--full">
			<div class="linkList">
				<div class="linkList-itemMore" style="padding:0.5em 0;">
                    <a href="#" class="interfaceLink">
                    	{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
                    	<span class="interfaceLink-text"><span class="underliner">Bekijk alle onderwerpen</span></span>
                    </a>
                </div>
            </div>
		</div>
	</div>

	<!-- Startende ondernemers -->
	<div class="layoutContainer gridContainer" ng-if="viewModel.selectedAudience == 'Starters'" ng-cloak>
		<div class="column column--third" style="margin-bottom:1rem;">
        	<h2 class="h3" style="margin-top:0;">
        		<a href="{{ link.usability-starter-01-bedrijf-starten }}" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6005-starters"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Bedrijf starten</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Starten vanuit huis</span></span></a></li>
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">In 10 stappen naar een eigen bedrijf</span></span></a></li>
			</ul>
        	<h2 class="h3">
        		<a href="{{ link.usability-zzp-01-freelance-en-zzp }}" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6033-zzp"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Freelance en zzp</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="{{ link.usability-zzp-02-var }}" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Verklaring Arbeidsrelatie (VAR)</span></span></a></li>
				<li class="linkList-item"><a href="{{ link.usability-zzp-00-samenwerken-als-zzpers }}" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Samenwerken als zzp'ers</span></span></a></li>
			</ul>
		</div>
		<div class="column column--third">
        	<h2 class="h3" style="margin-top:0;">
        		<a href="#" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-9001-rekening"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Administratie</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Hoe beheert u uw administratie?</span></span></a></li>
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Welke eisen bestaan er t.a.v. facturatie?</span></span></a></li>
			</ul>
        	<h2 class="h3">
        		<a href="#" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-budget-9000"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Geldzaken</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Uw financiën onder controle</span></span></a></li>
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Subsidies</span></span></a></li>
			</ul>
		</div>
		<div class="column column--third">
			<ul class="linkList list">
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Duurzaam ondernemen</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="{{ link.usability-mkb-01-personeel }}" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Personeel</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Bedrijf beschermen</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Innovatie</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Internationaal ondernemen</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Huisvesting en milieu</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
			</ul>
			<div class="linkList">
				<div class="linkList-itemMore" style="padding:0.5em 0;">
                    <a href="#" class="interfaceLink">
                    	{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
                    	<span class="interfaceLink-text"><span class="underliner">Bekijk alle onderwerpen</span></span>
                    </a>
                </div>
            </div>
		</div>
	</div>

	<!-- Ervaren ondernemers -->
	<div class="layoutContainer gridContainer" ng-if="viewModel.selectedAudience == 'Ervaren ondernemers'" ng-cloak>
		<div class="column column--third" style="margin-bottom:1rem;">
        	<h2 class="h3" style="margin-top:0;">
        		<a href="{{ link.usability-mkb-01-personeel }}" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-4094-werkgelegenheid"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Personeel</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Personeel aannemen</span></span></a></li>
				<li class="linkList-item"><a href="{{ link.usability-mkb-03-ontslagprocedures }}" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Ontslagprocedures</span></span></a></li>
			</ul>
        	<h2 class="h3">
        		<a href="#" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-world"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Internationaal ondernemen</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Exporteren</span></span></a></li>
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Belastingen bij internationaal ondernemen</span></span></a></li>
			</ul>
		</div>
		<div class="column column--third">
        	<h2 class="h3" style="margin-top:0;">
        		<a href="#" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6019-innovatie"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Innovatie</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Bescherm uw idee of product</span></span></a></li>
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Samen innoveren</span></span></a></li>
			</ul>
        	<h2 class="h3">
        		<a href="#" class="headingLink">
					<svg aria-hidden="true" class="headingLink-bigIcon" style="height:2em;width:2em;margin-right:0.5em;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-6023-ondernemen"></use>
					</svg>
					<span class="headingLink-text"><span class="underliner">Duurzaam ondernemen</span></span>
					{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
				</a>
        	</h2>
			<ul class="linkList list">
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Subsidies voor duurzaam ondernemen</span></span></a></li>
				<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Energielabel voor bedrijfspand</span></span></a></li>
			</ul>
		</div>
		<div class="column column--third">
			<ul class="linkList list">
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Bedrijf stoppen of verkopen</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="{{ link.usability-zzp-01-freelance-en-zzp }}" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Freelance en zzp</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Bedrijf beschermen</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Administratie</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Geldzaken</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
				<li class="linkList-item themeList-item">
					<a href="#" class="headingLink">
						<span class="headingLink-text">
							<span class="underliner">Huisvesting en milieu</span>
						</span>
						{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}
					</a>
				</li>
			</ul>
			<div class="linkList">
				<div class="linkList-itemMore" style="padding:0.5em 0;">
                    <a href="#" class="interfaceLink">
                    	{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
                    	<span class="interfaceLink-text"><span class="underliner">Bekijk alle onderwerpen</span></span>
                    </a>
                </div>
            </div>
		</div>
	</div>

</div>