<div class="homepageHeader" stories-view>
	<div class="homepageHeader-background">
		<div class="homepageHeader-background-image" style="background-image: url('../../images/homepage/Header-Leonie-Meutstege.jpg')" ng-style="viewModel.imageStyle"></div>
	</div>
	{{> organisms-header }}
	<div class="layoutContainer gridContainer homepageHeader-container">
		<div class="column homepageHeader-topTasks">
			<label class="filterContent" audience-selector>
					<span class="filterContent-text">
						<strong>Ik ben een</strong>
					</span>
					<select class="filterContent-select" ng-model="viewModel.selectedAudienceStore.selectedAudience">
						<option value="Ondernemers">...</option>
						<option value="Starters">startende</option>
						<option value="Ervaren ondernemers">ervaren</option>
					</select>
					<span class="filterContent-text">
						<strong>ondernemer</strong>
					</span>

			</label>

			<script type="text/ng-template" id='/topTasks.html'>
				<ul class="labelList">
					<li class="labelList-item" ng-repeat="topTask in viewModel.topTasks track by $index">
						<a ng-href="{|topTask.href|}" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span ng-bind="topTask.text">
							</span></span>
						</a>
					</li>
				</ul>
			</script>
			<div top-tasks>
				<ul class="labelList">
					<li class="labelList-item">
						<a href="{{ link.usability-starter-02-alle-rechtsvormen }}" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span>
								Een rechtsvorm kiezen
							</span></span>
						</a>
					</li>
					<li class="labelList-item">
						<a href="{{ link.usability-zzp-03-var-onmisbaar }}" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span>
								De VAR: onmisbaar voor zzp'ers
							</span></span>
						</a>
					</li>
					<li class="labelList-item">
						<a href="#" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span>
								In 10 stappen naar een eigen bedrijf
							</span></span>
						</a>
					</li>
					<li class="labelList-item">
						<a href="#" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span>
								Financiering vinden
							</span></span>
						</a>
					</li>
					<li class="labelList-item">
						<a href="#" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span>
								Een ondernemingsplan maken
							</span></span>
						</a>
					</li>
					<li class="labelList-item">
						<a href="{{ link.usability-starter-00-aangifte-doen }}" class="labelList-link labelList-link--white">
							<span class="labelList-text"><span>
								Btw-aangifte doen voor starters
							</span></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<a href="http://verhalen.ondernemersplein.nl/artikelen/#2590/krijn-ratsma" ng-href="{|viewModel.story.href|}" class="headerStory">
		<h2 class="headerStory-intro">Ondernemersverhaal</h2>
		<blockquote class="headerStory-blockquote">
			<p class="headerStory-quote" ng-bind="viewModel.story.quote">Doe de dingen waar je zelf energie van krijgt</p>
			<footer class="headerStory-citation" ng-bind="viewModel.story.citation">
				Krijn Ratsma
			</footer>
		</blockquote>
	</a>
</div>