<div class="onderwerpHeader {{#header.tabs.contentActive}}block--grey{{/header.tabs.contentActive}}">
	<header class="onderwerpHeader-titleContainer">
		<div class="contentContainer">
			{{#header.tabs.overviewActive}}
				<h1 class="h1 onderwerpHeading">{{header.onderwerpTitle}}</h1>
			{{/header.tabs.overviewActive}}
			{{^header.tabs.overviewActive}}
				<h2 class="h1 onderwerpHeading">{{header.onderwerpTitle}}</h2>
			{{/header.tabs.overviewActive}}
		</div>

	</header>
	<div class="onderwerpHeader-tabContainer">
		<div class="contentContainer">
			{{> molecules-tabs }}
		</div>
	</div>
	{{> molecules-content-index }}
</div>