&lt;div class=&quot;column payOff&quot;&gt;
&Tab;&lt;p class=&quot;payOff-text {{#isHomepage}}payOff-text--home{{/isHomepage}}&quot;&gt;
&Tab;&Tab;Het informatiepunt voor ondernemers &lt;span class=&quot;highlight--blue&quot;&gt;van de overheid&lt;/span&gt;
&Tab;&lt;/p&gt;
&lt;/div&gt;