&lt;ul class=&quot;contentIndexInTab&quot;&gt;
&Tab;{{#header.contentIndex.links}}
&Tab;&Tab;&lt;li class=&quot;contentIndexInTab-item list-item&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;contentIndexInTab-link {{#active}}is-active{{/active}}&quot; href=&quot;{{href}}&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{name}}
&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;{{/header.contentIndex.links}}
&lt;/ul&gt;