&lt;div class=&quot;text&quot;&gt;&NewLine;&Tab;&lt;ol&gt;&NewLine;&Tab;&Tab;&lt;li&gt;This is a list item in an ordered list&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;&NewLine;&Tab;&Tab;&Tab;Lists can be nested inside of each other&NewLine;&Tab;&Tab;&Tab;&lt;ol&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;This is a nested list item&lt;/li&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;This is another nested list item in an ordered list&lt;/li&gt;&NewLine;&Tab;&Tab;&Tab;&lt;/ol&gt;&NewLine;&Tab;&Tab;&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;This is the last list item&lt;/li&gt;&NewLine;&Tab;&lt;/ol&gt;&NewLine;&lt;/div&gt;