&lt;ol&gt;
&Tab;&lt;li&gt;This is a list item in an ordered list&lt;/li&gt;
&Tab;&lt;li&gt;An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.&lt;/li&gt;
&Tab;&lt;li&gt;Lists can be nested inside of each other&lt;/li&gt;
&Tab;&lt;li&gt;This is a standard list item&lt;/li&gt;
&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;This is the last list item with a link&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;