.close {
	transition: transform 0.2s ease-in-out;
	padding: 0;
	background: none;
	border: none;
    position: relative;
    width: $menuBarWidthSmall;
    height: $menuBarWidthSmall;
    padding: ($menuIconSizePaddingRatioSmall * $menuBarWidthSmall);
	position: absolute;
	top: 0;
	background: getColor(wit);

	@include mqGreaterThan(small) {
		width: $menuBarWidthLarge;
		height: $menuBarWidthLarge;
	    padding: ($menuIconSizePaddingRatioLarge * $menuBarWidthLarge);
	}

	@include hoverEtc {
		outline: none;
		transform: scale(1.1);
	}

	&-icon {
		width: 100%;
		height: 100%;
	}
	&-text {
		@include accHide;
	}
}

.close-icon {
	fill: getColor(hemelblauw darkest);
}

%overlayMenuClose {
	position: absolute;
	right: $halfSpace;
	transform-origin: 50% 0%;
}

.feedback-close {
	@extend %overlayMenuClose;

	top: 0;
}
.enquete-close {
	@extend %overlayMenuClose;

	top: 0;
}
.share-close {
	@extend %overlayMenuClose;
	top: 1.5rem;
	transform-origin: 50% 50%;

	@include mqGreaterThan(small) {
		top: 0.75rem;
	}
}