/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
svg, img, video, object {
	display: block;
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: $space;
	max-width: 100%;
}

figure {
	margin-bottom: $space;
	img {
		margin-bottom: $space-quarter;
	}
}
figcaption {
	font-style: italic;
}