&lt;!-- Begin Header --&gt;&NewLine;&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;&NewLine;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;&NewLine;&Tab;&Tab;{{&gt; molecules-logo }}&NewLine;&Tab;&Tab;{{&gt; molecules-payoff }}&NewLine;&Tab;&lt;/div&gt;&NewLine;&Tab;&lt;div class=&quot;brandBar&quot;&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;&NewLine;&Tab;&Tab;&Tab;{{&gt; molecules-breadcrumbs }}&NewLine;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&lt;/header&gt;&NewLine;&lt;!-- End Header --&gt;