&lt;!-- Begin Header --&gt;
&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; molecules-breadcrumbs }}
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End Header --&gt;