&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; molecules-breadcrumbs }}
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/header&gt;