<blockquote>
	<p>Een goed idee is het halve werk. Maar om van uw idee een bedrijf te maken, heeft u klanten nodig. Door een marktonderzoek te doen ziet u of uw plannen haalbaar zijn.</p>
</blockquote>