<p class="error">Dit is een paragraaf met de class 'error' die gebruikt kan worden voor foetmeldingen</p>
<p class="valid">Dit is een paragraaf met de class 'valid' waarmee kan worden aangegeven dat er geen fouten zijn gevonden</p>
<p class="warning">Dit is een paragraaf met de class 'warning' die gebruikt kan worden voor waarschuwingen</p>
<p class="information">Dit is een paragraaf met de class 'information' die gebruikt kan worden om bepaalde informatie (of tip) uit te lichten</p>
<p>Dit is een tekst waarin een bepaald <span class="highlight--blue">woord</span> benadrukt wordt (m.b.v. de class 'highlight--blue')</span></p>