&lt;ul class=&quot;social social--share&quot;&gt;
&Tab;&lt;li&gt;&lt;a href=&quot;#twitter&quot; class=&quot;twitter&quot; title=&quot;Delen via Twitter&quot;&gt;&lt;span&gt;Twitter&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li&gt;&lt;a href=&quot;#facebook&quot; class=&quot;facebook&quot; title=&quot;Delen via Facebook&quot;&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li&gt;&lt;a href=&quot;#linkedin&quot; class=&quot;linkedin&quot; title=&quot;Delen via LinkedIn&quot;&gt;&lt;span&gt;LinkedIn&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li&gt;&lt;a href=&quot;#googleplus&quot; class=&quot;googleplus&quot; title=&quot;Delen via Google+&quot;&gt;&lt;span&gt;Google+&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;li&gt;&lt;a href=&quot;#mail&quot; class=&quot;mail&quot; title=&quot;Delen via E-mail&quot;&gt;&lt;span&gt;E-mail&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;