/* FONT-FACE */

@font-face {
	font-family: "RijksOverheidSans";
	src: 	url("../fonts/RijksoverheidSans/ROsanswebtextregular.eot");
	src: 	url("../fonts/RijksoverheidSans/ROsanswebtextregular.eot?#iefix") format("embedded-opentype"),
			url("../fonts/RijksoverheidSans/ROsanswebtextregular.woff") format("woff"),
			url("../fonts/RijksoverheidSans/ROsanswebtextregular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RijksOverheidSans";
	src: 	url("../fonts/RijksoverheidSans/ROsanswebtextitalic.eot");
	src: 	url("../fonts/RijksoverheidSans/ROsanswebtextitalic.eot?#iefix") format("embedded-opentype"),
			url("../fonts/RijksoverheidSans/ROsanswebtextitalic.woff") format("woff"),
			url("../fonts/RijksoverheidSans/ROsanswebtextitalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "RijksOverheidSans";
	src: 	url("../fonts/RijksoverheidSans/ROsanswebtextbold.eot");
	src: 	url("../fonts/RijksoverheidSans/ROsanswebtextbold.eot?#iefix") format("embedded-opentype"),
			url("../fonts/RijksoverheidSans/ROsanswebtextbold.woff") format("woff"),
			url("../fonts/RijksoverheidSans/ROsanswebtextbold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}