&lt;ul class=&quot;labelList&quot;&gt;
&Tab;&lt;li class=&quot;labelList-item&quot;&gt;
&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link&quot;&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
&Tab;&Tab;&Tab;&Tab;Maak een concurrentieanalyse
&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;
&Tab;&lt;/li&gt;
    &lt;li class=&quot;labelList-item&quot;&gt;
    &Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link&quot;&gt;
    &Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
    &Tab;&Tab;&Tab;Hoe kunt u reclame maken?
    &Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
    &Tab;&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;labelList-item&quot;&gt;
    &Tab;&lt;a href=&quot;#&quot; class=&quot;labelList-link&quot;&gt;
    &Tab;&Tab;&lt;span class=&quot;labelList-text&quot;&gt;&lt;span&gt;
    &Tab;&Tab;&Tab;Zorg voor een goede marketingmix
    &Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
    &Tab;&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;