<div class="column column--half logo">
	<a class="logo-link" title="Ga naar homepage" href="/">
		<span class="textLine">
			o<span class="highlight--blue">n</span>dernemers
		</span> <span class="textLine">p<span class="highlight--blue">l</span>ein</span>
	</a>
</div>