<div class="column payOff">
	<p class="payOff-text {{#isHomepage}}payOff-text--home{{/isHomepage}}">
		Het informatiepunt voor ondernemers <span class="highlight--blue">van de overheid</span>
	</p>
</div>