<p class="partnerLogos-intro">Informatie op de website wordt u aangeboden door (semi-) overheidspartijen zoals:</p>
<div class="partnerLogos">

	<ul class="gridContainer gridContainer--centerItems gridContainer--singleLine u-noBullets">
		<li class="verticalItem"><a href="#kvk"><img class="partnerLogo" src="//placehold.it/59x50/e7f7fe/033054?text=KvK" alt="Kamer van Koophandel"></a></li>
		<li class="verticalItem"><img class="partnerLogo" src="//placehold.it/50x50/e7f7fe/033054?text=avb" alt="Antwoord voor bedrijven"></li>
		<li class="verticalItem"><a href="#rvo"><img class="partnerLogo" src="//placehold.it/133x50/e7f7fe/033054?text=rvo" alt="Rijksdienst voor Ondernemend Nederland"></a></li>
		<li class="verticalItem"><a href="#rdw"><img class="partnerLogo" src="//placehold.it/143x50/e7f7fe/033054?text=RDW" alt="RDW"></a></li>
		<li class="verticalItem"><a href="#bd"><img class="partnerLogo" src="//placehold.it/89x50/e7f7fe/033054?text=BD" alt="Belastingdienst"></a></li>
		<li class="verticalItem"><a href="#cbs"><img class="partnerLogo" src="//placehold.it/33x50/e7f7fe/033054?text=CBS" alt="CBS"></a></li>
		<li class="verticalItem"><a href="#uwv"><img class="partnerLogo" src="//placehold.it/162x50/e7f7fe/033054?text=UWV" alt="UWV"></a></li>
	</ul>
</div>