<p class="partnerLogos-intro column">Informatie op de website wordt u aangeboden door (semi-) overheidspartijen zoals:</p>
<div class="partnerLogos column">
	<ul class="gridContainer gridContainer--centerItems gridContainer--singleLine u-noBullets">
	<!-- //placehold.it/133x50/e7f7fe/033054?text=rvo -->
		<li class="verticalItem">
			<a href="#kvk">
				<img class="partnerLogo" src="/images/logos/KvK-Logo-groot.svg" alt="Kamer van Koophandel">
			</a>
		</li>
		<li class="verticalItem">
			<img class="partnerLogo" src="/images/logos/Logo_AvB_35x35.svg" alt="Antwoord voor bedrijven">
		</li>
		<li class="verticalItem">
			<a href="#rvo">
				<img class="partnerLogo" src="/images/logos/rdo-logo.svg" alt="Rijksdienst voor Ondernemend Nederland">
			</a>
		</li>
		<li class="verticalItem">
			<a href="#rdw">
				<img class="partnerLogo" src="/images/logos/Logo_RDW_100x35.svg" alt="RDW">
			</a>
		</li>
		<li class="verticalItem">
			<a href="#bd">
				<img class="partnerLogo" src="/images/logos/Logo_Belastingdienst_63x35.svg" alt="Belastingdienst">
			</a>
		</li>
		<li class="verticalItem">
			<a href="#cbs">
				<img class="partnerLogo" src="/images/logos/Logo_CBS_23x35.svg" alt="CBS">
			</a>
		</li>
		<li class="verticalItem">
			<a href="#uwv">
				<img class="partnerLogo" src="/images/logos/Logo-UWV.svg" alt="UWV">
			</a>
		</li>
	</ul>
</div>