<p class="partnerLogos-intro column">Informatie op de website wordt u aangeboden door (semi-) overheidspartijen zoals:</p>
<!-- //placehold.it/133x50/e7f7fe/033054?text=rvo -->
<!-- voorbeeld voor hover effect met kleur uigeschakeld
<div class="partnerLogos column">
	<ul class="gridContainer gridContainer--centerItems gridContainer--singleLine u-noBullets">
		<li class="verticalItem">
			<a href="http://www.kvk.nl" title="Kamer van Koophandel">
				<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/KvK_color.svg" alt="Kamer van Koophandel">
			</a>
		</li>
		<li class="verticalItem">
			<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/AVB_color.svg" alt="Antwoord voor bedrijven">
		</li>
		<li class="verticalItem">
			<a href="http://www.rvo.nl" title="Rijksdienst voor Ondernemend Nederland">
				<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/RVO_color.svg" alt="Rijksdienst voor Ondernemend Nederland">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.belastingdienst.nl/zakelijk" title="Belastingdienst">
				<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/Belastingdienst_color.svg" alt="Belastingdienst">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.rdw.nl/Zakelijk" title="Rijksdienst voor het Wegverkeer">
				<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/RDW_color.svg" alt="RDW">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.cbs.nl" title="Centraal Bureau voor de Statistiek">
				<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/CBS_color.svg" alt="CBS">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.uwv.nl/particulieren/" title="Uitvoeringsinstituut Werknemers Verzekeringen">
				<img class="partnerLogo partnerLogo--footer partnerLogo--color" src="/images/logos/UWV_color.svg" alt="UWV">
			</a>
		</li>
	</ul>
</div>
-->
<div class="partnerLogos column">
	<ul class="gridContainer gridContainer--centerItems gridContainer--singleLine u-noBullets">
		<li class="verticalItem">
			<a href="http://www.kvk.nl" title="Kamer van Koophandel">
				<img class="partnerLogo partnerLogo--footer" src="/images/logos/KvK_blue.svg" alt="Kamer van Koophandel">
			</a>
		</li>
		<li class="verticalItem">
			<img class="partnerLogo partnerLogo--footer" src="/images/logos/AVB_blue.svg" alt="Antwoord voor bedrijven">
		</li>
		<li class="verticalItem">
			<a href="http://www.rvo.nl" title="Rijksdienst voor Ondernemend Nederland">
				<img class="partnerLogo partnerLogo--footer" src="/images/logos/RVO_blue.svg" alt="Rijksdienst voor Ondernemend Nederland">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.belastingdienst.nl/zakelijk" title="Belastingdienst">
				<img class="partnerLogo partnerLogo--footer" src="/images/logos/Belastingdienst_blue.svg" alt="Belastingdienst">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.rdw.nl/Zakelijk" title="Rijksdienst voor het Wegverkeer">
				<img class="partnerLogo partnerLogo--footer" src="/images/logos/RDW_blue.svg" alt="RDW">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.cbs.nl" title="Centraal Bureau voor de Statistiek">
				<img class="partnerLogo partnerLogo--footer" src="/images/logos/CBS_blue.svg" alt="CBS">
			</a>
		</li>
		<li class="verticalItem">
			<a href="http://www.uwv.nl/particulieren/" title="Uitvoeringsinstituut Werknemers Verzekeringen">
				<img class="partnerLogo partnerLogo--footer" src="/images/logos/UWV_blue.svg" alt="UWV">
			</a>
		</li>
	</ul>
</div>