<div class="infoText">
	<p>Deze informatie in dit artikel komt van:</p>
	<ul class="gridContainer gridContainer--singleLine u-noBullets">
		<li class="verticalItem">
			<img class="partnerLogo partnerLogo--contentBottom" src="/images/logos/KvK_dark.svg" alt="Kamer van Koophandel">
		</li>
		<li class="verticalItem">
			<img class="partnerLogo partnerLogo--contentBottom" src="/images/logos/RVO_dark.svg" alt="Rijksdienst voor Ondernemend Nederland">
		</li>
	</ul>
</div>