<div class="sourceBlock">
	<p class="infoText infoText--afzender">
		<span>Deze informatie is geplaatst door:</span>
	</p>
	<ul class="gridContainer gridContainer--singleLine u-noBullets">
		<li class="verticalItem">
			<img class="partnerLogo partnerLogo--contentBottom" src="../../images/logos/KvK_color.svg" alt="Kamer van Koophandel">
		</li>
		<li class="verticalItem">
			<img class="partnerLogo partnerLogo--contentBottom" src="../../images/logos/RVO_color.svg" alt="Rijksdienst voor Ondernemend Nederland">
		</li>
	</ul>
</div>