<div class="hide-svg">{{> atoms-figures }}</div>

<h2 class="charlieHeading">Innovatie &amp; productontwikkeling</h2>
<ul class="linkList">
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Maatregelen Prinsjesdag 2015</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Een rechtsvorm kiezen</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">De VAR: onmisbaar voor zzp'ers</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">In 10 stappen naar een eigen bedrijf</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Financiering vinden</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Een ondernemingsplan maken</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Btw-aangifte doen</span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Aangiftehulp Belastingdienst</span></a></li>
</ul>
<h2 class="charlieHeading"><a href="#" class="interfaceLink"><span class="interfaceLink-text">Bedrijf starten</span>{{> atoms-goIcon }}</a></h2>
<ul class="linkList list list--double">
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Maatregelen Prinsjesdag 2015</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Een rechtsvorm kiezen</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">De VAR: onmisbaar voor zzp'ers</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">In 10 stappen naar een eigen bedrijf</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Financiering vinden</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Een ondernemingsplan maken</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Btw-aangifte doen</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Aangiftehulp Belastingdienst</span></a></li>
</ul>
<ul class="linkList list list--triple">
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Maatregelen Prinsjesdag 2015</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Een rechtsvorm kiezen</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">De VAR: onmisbaar voor zzp'ers</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">In 10 stappen naar een eigen bedrijf</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Financiering vinden</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Een ondernemingsplan maken</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Btw-aangifte doen</span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon }}<span class="interfaceLink-text">Aangiftehulp Belastingdienst</span></a></li>
</ul>