<div class="hide-svg">{{> atoms-figures }}</div>

<h2 class="charlieHeading">Innovatie &amp; productontwikkeling</h2>
<ul class="linkList">
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Maatregelen Prinsjesdag 2015</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een rechtsvorm kiezen</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>De VAR: onmisbaar voor zzp'ers</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>In 10 stappen naar een eigen bedrijf</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Financiering vinden</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een ondernemingsplan maken</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Btw-aangifte doen</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Aangiftehulp Belastingdienst</span></span></a></li>
</ul>

<h2 class="charlieHeading"><a href="#" class="headingLink media">
	<svg aria-hidden="true" class="media-figure">
	    <use xlink:href="#figures-user-3905"></use>
	</svg>
	<span class="media-text">
		<span class="headingLink-text">Innovatie &amp; productontwikkeling Bedrijf starten</span>{{> atoms-goIcon-headingLink }}</a>
	</span>
</h2>

<ul class="linkList list list--double">
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Maatregelen Prinsjesdag 2015</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een rechtsvorm kiezen</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>De VAR: onmisbaar voor zzp'ers</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>In 10 stappen naar een eigen bedrijf</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Financiering vinden</span>/span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een ondernemingsplan maken</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Btw-aangifte doen</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Aangiftehulp Belastingdienst</span></span></a></li>
</ul>
<ul class="linkList list list--triple">
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Maatregelen Prinsjesdag 2015</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een rechtsvorm kiezen</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>De VAR: onmisbaar voor zzp'ers</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>In 10 stappen naar een eigen bedrijf</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Financiering vinden</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een ondernemingsplan maken</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Btw-aangifte doen</span></span></a></li>
	<li class="linkList-item list-spacedItem"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Aangiftehulp Belastingdienst</span></span></a></li>
</ul>