<ul class="linkList">
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Maatregelen Prinsjesdag 2015</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Een rechtsvorm kiezen</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>De VAR: onmisbaar voor zzp'ers</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>In 10 stappen naar een eigen bedrijf</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Financiering vinden</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Een ondernemingsplan maken</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Btw-aangifte doen</span></span></a></li>
	<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Aangiftehulp Belastingdienst</span></span></a></li>
</ul>