&lt;li class=&quot;comment-container&quot;&gt;&NewLine;&Tab;&lt;div class=&quot;comment-meta&quot;&gt;&NewLine;&Tab;&Tab;{{&gt; atoms-avatar }}&NewLine;&Tab;&Tab;&lt;h4 class=&quot;comment-name&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{name.first}} {{name.last}}&lt;/a&gt;&lt;/h4&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&Tab;&lt;div class=&quot;comment-text&quot;&gt;&NewLine;&Tab;&Tab;&lt;p&gt;{{description}}&lt;/p&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&lt;/li&gt;