&lt;fieldset&gt;&NewLine;    &lt;div class=&quot;field-container&quot;&gt;&NewLine;        &lt;label for=&quot;select&quot;&gt;Select&lt;/label&gt;&NewLine;        &lt;select id=&quot;select&quot;&gt;&NewLine;            &lt;optgroup label=&quot;Option Group&quot;&gt;&NewLine;                &lt;option&gt;Option One&lt;/option&gt;&NewLine;                &lt;option&gt;Option Two&lt;/option&gt;&NewLine;                &lt;option&gt;Option Three&lt;/option&gt;&NewLine;            &lt;/optgroup&gt;&NewLine;        &lt;/select&gt;&NewLine;    &lt;/div&gt;&NewLine;&lt;/fieldset&gt;