/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Text-Align */
.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

//
.valid {
	color: getColor(mosgroen default);
}

.error {
	color: getColor(violet default);
}