// Add a margin to the inside of an element
// this can be used instead of padding
// when it is desirable that the padding
// of the parent element collapses with the
// margin of the child elements

// Example: @include insideMarginTop(2em);
@mixin insideMarginTop($margin) {
	@include before("") {
		display: block;
		margin-top: -1px;
		padding-top: 1px;
		margin-bottom: $margin;
	}
}

// Example: @include insideMarginBottom(2rem);
@mixin insideMarginBottom($margin) {
	@include after("") {
		display: block;
		margin-bottom: -1px;
		padding-bottom: 1px;
		margin-top: $margin;
	}
}

// Set the inside margin for both top and bottom
// Example: @include insideMargin(2rem 1rem);
// Example2: @include insideMargin(2rem); -> This add 2rem to both top and bottom
@mixin insideMargin($margin) {
	$marginTop: nth($margin, 1);
	$marginBottom: if(length($margin) > 1,
		nth($margin, 2),
		nth($margin, 1)
	);
	@include insideMarginTop($marginTop);
	@include insideMarginBottom($marginBottom);
}