/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: getColor(wit);
	// added unit size to line-height to keep a consistent vertical rhythm
	font: 100%/1.6 RijksOverheidSans, Tahoma;
	-webkit-text-size-adjust: 100%;
	color: getColor(grijs darkest);
}

.page {
	transition-property: opacity;
	transition-duration: 200ms;
	.is-menuOpened & {
		opacity: 0.3;
	}
}

.main {
	margin-top: (1.4 * getFontSize(bravoHeading small));
	margin-bottom: (1.4 * getFontSize(bravoHeading small));

	@include mqGreaterThan(small) {
		margin-top: (1.4 * getFontSize(bravoHeading medium));
		margin-bottom: (1.4 * getFontSize(bravoHeading medium));
	}

	@include mqGreaterThan(large) {
		margin-top: (1.4 * getFontSize(bravoHeading large));
		margin-bottom: (1.4 * getFontSize(bravoHeading large));
	}
}

.font-secondary {
	font-family: Tahoma;
}

.hide-svg {
	@include accHide;
}