/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: getColor(wit);
	// added unit size to line-height to keep a consistent vertical rhythm
	font: 100%/1.6 RijksOverheidSans, Tahoma;
	-webkit-text-size-adjust: 100%;
	color: getColor(grijs darkest);
}

.page {
	transition-property: opacity;
	transition-duration: 200ms;
	.is-menuOpened & {
		opacity: 0.3;
	}
}

.main {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.font-secondary {
	font-family: Tahoma;
}

.hide-svg {
	@include accHide;
}