/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
body {
	background: getColor(wit);
	// added unit size to line-height to keep a consistent vertical rhythm
	font: 100%/1.6 RijksOverheidSans, Tahoma;
	-webkit-text-size-adjust: 100%;
	color: getColor(grijs darkest);
}

.page {
}

.font-secondary {
	font-family: Tahoma;
}

.hide-svg {
	@include accHide;
}