// MEDIAQUERIES

$mediaQueries: (
	// 384px
	extraSmall: (
		greater: "(min-width: 24em)",
		lesser: "(max-width: #{24em - (1/16)})"
	),
	// 560px
	small: (
		greater: "(min-width: 35em)",
		lesser: "(max-width: #{35em - (1/16)})"
	),
	// 640px
	smallMedium: (
		greater: "(min-width: 40em)",
		lesser: "(max-width: #{40em - (1/16)})"
	),
	// 720px
	medium: (
		greater: "(min-width: 45em)",
		lesser: "(max-width: #{45em - (1/16)})"
	),
	// 800px
	mediumLarge: (
		greater: "(min-width: 50em)",
		lesser: "(max-width: #{50em - (1/16)})"
	),
	// 880px
	large: (
		greater: "(min-width: 55em)",
		lesser: "(max-width: #{55em - (1/16)})"
	),
	// 912px
	extraLarge: (
		greater: "(min-width: 57em)",
		lesser: "(max-width: #{57em - (1/16)})"
	),
);

@function getMediaQuery($name, $type) {
	@return mapDeepGet($mediaQueries, $name $type);
}

@mixin mqGreaterThan($name) {
	@media #{getMediaQuery($name, greater)} {
		@content;
	}
};

@mixin mqLesserThan($name) {
	@media #{getMediaQuery($name, lesser)} {
		@content;
	}
};

@mixin mqBetween($smallest, $largest) {
	$smallestMq: getMediaQuery($smallest, greater);
	$largestMq: getMediaQuery($largest, lesser);

	@media #{$smallestMq} and #{$largestMq} {
		@content;
	};
};