@function negative($number) {
	@return -1 * $number;
}

// FUNCTIONS

// Get a property from a nested map
// voorbeeld gebruik:
// a {
//	 color: mapDeepGet($colors, blue light);
//	 background-color: mapDeepGet($colors, paars);
// }
@function mapDeepGet($map, $keys) {
	$result: $map;
	@each $key in $keys {
		$result: map-get($result,$key);
	}

	@if $result == null {
		@error "could not find #{$keys} in #{$map}";
	}

	@return $result;
}


// Vermenigvuldig alle values van een map een vaste factor
// Voorbeeld:
// multiplyProps((
// 	all: 1rem,
// 	small: 2rem,
// 	large: 3rem,
// ), 2);
// geeft als resultaat:
// (
// 	all: 2rem,
// 	small: 4rem,
// 	large: 6rem,
// );
@function multiplyProps($map, $factor: 1) {
	$results: ();

	@each $key, $value in $map {
    $results: map-merge($results, ($key: ($value * $factor)))
	}

	@return $results;
}