// VARIABLES

//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;

$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;


// Menu bar
$menuBarWidthSmall: 2rem;
$menuBarWidthLarge: 3.16rem;
$menuBarWidthExtraLarge: 7.9rem;