&lt;div class=&quot;block block-thumb&quot;&gt;&NewLine;&Tab;&lt;a href=&quot;#&quot; class=&quot;b-inner&quot;&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;b-thumb&quot;&gt;&NewLine;&Tab;&Tab;&Tab;{{&gt; atoms-square }}&NewLine;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;b-text&quot;&gt;&NewLine;&Tab;&Tab;&Tab;&lt;h2 class=&quot;headline&quot;&gt;{{ title }}&lt;/h2&gt;&NewLine;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&lt;/a&gt;&NewLine;&lt;/div&gt;