&lt;div class=&quot;demo&quot;&gt;&NewLine;&Tab;&lt;!--Grid 3up--&gt;&NewLine;&Tab;&lt;div class=&quot;g g-3up&quot;&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;1/3&lt;/div&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;1/3&lt;/div&gt;&NewLine;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;1/3&lt;/div&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&lt;/div&gt;