&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer &quot;&gt;
&Tab;&lt;div class=&quot;footerBar&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; molecules-footer-nav }}
&Tab;&Tab;&Tab;{{&gt; molecules-social-follow }}
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;footer-content-wrapper&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full footer-content&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-partnerlogos }}
&Tab;&Tab;&Tab;&Tab;&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2015 Ondernemersplein&lt;/p&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;