&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot;&gt;
&Tab;{{&gt; molecules-footer-nav }}
&Tab;{{&gt; molecules-social-follow }}
&Tab;{{&gt; molecules-colophon }}
&lt;/footer&gt;
&lt;!-- End Footer --&gt;