&lt;nav class=&quot;footerNav layoutContainer&quot;&gt;
&Tab;&lt;ul class=&quot;gridContainer gridContainer--centerItems u-noBullets&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;footerNav-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Over ons&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;footerNav-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Contact&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;footerNav-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Disclaimer&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;footerNav-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Cookies &amp;amp; Privacy&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;a class=&quot;footerNav-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Sitemap&lt;/a&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/nav&gt;