&lt;figure class=&quot;image-figure&quot;&gt;
&Tab;&lt;img class=&quot;image&quot; src=&quot;/images/voorbeeld-afbeelding.jpg&quot; alt=&quot;Voorbeeld afbeelding&quot; /&gt;
&Tab;&lt;figcaption class=&quot;image-caption&quot;&gt;Voordelen van een bedrijf aan huis zijn de relatief lage kosten en de reistijd die u bespaart.&lt;/figcaption&gt;
&lt;/figure&gt;
