<style type="text/css">
p { margin-bottom: 1em; }
</style>
<h1>Code Guidelines</h1>

<h2>1) Class names</h2>

<p>.breadcrumbs (standaard)<br />
.breadcrumbs-list (subitem)<br />
.breadcrumbs-item (subitem)<br />
.breadcrumbs--footer (variant op standaard | gebruik: class = ".breadcrumbs .breadcrumbs--footer")</p>

<p>.pageHeader (standaard meerdere woorden met camelCase)<br />
.pageHeader-link<br />
.pageHeader--home</p>

<h3>States</h3>
<p>.is-opened<br />
.is-closed<br />
.is-animating<br />
.is-selected<br />
.is-disabled</p>

<h3>Javascript / Angular</h3>
<p>.js-openClose / .js-openClose-content<br />
.js-accordion / .js-accordion--mobile</p>

<h3>Angular Animation Classes</h3>
<p>.ngAnimate-height<br />
.ngAnimate-scale<br />
.ngAnimate-opacity</p>

<h2>2) Mixin names</h2>

<p><strong>Altijd camelCase!</strong></p>

<p>@mixin accShow<br />
@mixin showText</p>

<h2>3) Var names</h2>

<p><strong>Altijd camelCase!</strong></p>

<p>$lightBlue<br />
%addSidePadding<br />
$blockMargin</p>

<h2>4) Units</h2>

<p>
rem - als ie 'vast' moet staan (alleen als de hele pagina schaalt)<br />
em - als ie mee moet schalen met het element zelf (bijv. "personeel >")<br />
% - met name voor breedtes (bijv. blokken)
</p>
<h3>Viewport</h3>
<p>
vw - breedte van browserscherm = 100vw<br />
vh - hoogte van het browserscherm = 100vh<br />
vmin<br />
vmax
</p>

<p>Voor de definitie van borders kan/mag wel gebruik worden gemaakt van pixels,
omdat het strakke, voorspelbare lijnen moeten zijn.</p>

<h2>5) z-index</h2>

<p>Isaac maakt mixin</p>

<p><strong>VERWERKT!!!</strong></p>

<h2>6) boxSizing</h2>

<p>Standaard op 'border-box' (zie <s>_reset.scss</s> _normalize.scss)</p>

<p><strong>VERWERKT!!!</strong></p>

<h2>7) Normalize</h2>

<p>Nieuwste versie (3.0.3) downloaden!<br />
+ combineren met _reset.scss</p>

<p><strong>VERWERKT!!!</strong></p>

<h2>8) Lay-out</h2>

<p>Standaard flexbox (geen Float, inlineBlock)</p>

<p><strong>VERWERKT!!!</strong></p>

<h2>9) Uitzoeken: Responsive images</h2>

<p>Toon aparte afbeelding per schermgrootte, alternatief voor wat we nu doen bij Subhome Personeel</p>

<p>html5-picture-element</p>

<h2>10) Iconen</h2>

<p>Hoe om te gaan met iconen? Met name bij Thema's</p>

<p>- In iconFont of SVG's?<br />
- Houdt rekening met requests/performance<br />
- Beheer door redactie of definieren in CSS<br />
- etc.</p>

<p>Functionele iconen in iconFont en content gerelateerde iconen in SVG???</p>

<h2>11) Taal</h2>

<p>Gebruik Engels voor classnamen en commentaar binnen CSS en Javascript</p>