&lt;div class=&quot;block block--side block--blue sc-block&quot;&gt;
&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;Meer weten of direct aanvragen&lt;/h2&gt;
&Tab;&lt;p&gt;SC block&lt;/p&gt;
&lt;/div&gt;