&lt;div class=&quot;text&quot;&gt;&NewLine;&Tab;&lt;ul&gt;&NewLine;&Tab;&Tab;&lt;li&gt;This is a list item in an unordered list&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;&NewLine;&Tab;&Tab;&Tab;Lists can be nested inside of each other&NewLine;&Tab;&Tab;&Tab;&lt;ul&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;This is a nested list item&lt;/li&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;This is another nested list item in an unordered list&lt;/li&gt;&NewLine;&Tab;&Tab;&Tab;&lt;/ul&gt;&NewLine;&Tab;&Tab;&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;This is the last list item with a link&lt;/a&gt;&lt;/li&gt;&NewLine;&Tab;&lt;/ul&gt;&NewLine;&lt;/div&gt;