<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">

				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Overzicht van links</h1>
					</header>

					<p class="intro">Op deze pagina vind je een overzicht van alle pagina's die onderdeel zijn van het Usability onderzoek.</p>

					<h2>Starter</h2>
					<ul class="linkList">
						<li class="linkList-item">
							<a href="{{ link.usability-starter-00-aangifte-doen }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Pagina: Aangifte doen
								</span></span>
							</a>
						</li>
						<li class="linkList-item">
							FLOW: Rechtsvormen
						</li>
						<li class="linkList-item">
							<a href="{{ link.usability-starter-01-bedrijf-starten }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Thema: Bedrijf starten
								</span></span>
							</a>
						</li>
						<li class="linkList-item">
							<a href="{{ link.usability-starter-02-alle-rechtsvormen }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Pagina: Alle rechtsvormen op een rij
								</span></span>
							</a>
						</li>
					</ul>

					<h2>MKB'er</h2>
					<ul class="linkList">
						<li class="linkList-item">
							<a href="{{ link.usability-mkb-00-omgevingsvergunning }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Pagina: Omgevingsvergunning
								</span></span>
							</a>
						</li>
						<li class="linkList-item">
							FLOW: Ontslaan
						</li>
						<li class="linkList-item">
							<a href="{{ link.usability-mkb-01-personeel }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Thema: Personeel
								</span></span>
							</a>
						</li>
						<li class="linkList-item">
							<a href="{{ link.usability-mkb-02-ontslag-en-opzeggen }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Onderwerp: Ontslag en opzeggen
								</span></span>
							</a>
						</li>
						<li class="linkList-item">
							<a href="{{ link.usability-mkb-03-ontslagprocedures }}" class="interfaceLink" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Pagina: Ontslagprocedures
								</span></span>
							</a>
						</li>
					</ul>

					<h2>ZZP'er</h2>
					<ul class="linkList">
						<li class="linkList-item">
							<a href="{{ link.usability-zzp-samenwerken-als-zzpers }}" class="interfaceLink">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Pagina: Samenwerken als zzp'ers
								</span></span>
							</a>
						</li>
					</ul>

				</div>
				<div class="column column--third aside">

				</div>
			</div>
		</div>

		{{> organisms-footer }}
	</div>
</div>