<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="{{ link.templates-homepage }}">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Belastingen</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Aangifte doen en betalen</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Aangifte doen</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>

					<p class="intro">Wanneer doet u aangifte voor welke soort belasting? En waar moet u op letten?</p>

					<div class="pageContentNav block--grey">
						<h2 class="pageContentNav--title deltaHeading">Op deze pagina behandelen we</h2>
						<ul class="pageContentNav--list linkList list list--double">
							<li class="linkList-item list-spacedItem">
								<a href="#aangifte-ib" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Aangifte inkomstenbelasting en vennootschapsbelasting</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#online" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Online aangiftehulp</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#aangifte-lh" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Aangifte loonheffingen</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#aangifte-btw" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Btw-aangifte</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#btw-alert" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Uw btw-aangifte op tijd met de app Btw-Alert</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#schulden" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Btw-schulden</span></span></a>
							</li>
						</ul>
					</div>

					<h2 id="aangifte-ib">Aangifte inkomstenbelasting en vennootschapsbelasting</h2>
					<p>Als ondernemer doet u 1 keer per jaar vóór 1 april aangifte inkomstenbelasting. Als uw onderneming een gebroken boekjaar heeft, moet u aangifte doen binnen drie maanden na afloop van het boekjaar. Voor de vennootschapsbelasting geldt dat u 1 keer per jaar aangifte doet na afloop van het boekjaar van uw onderneming.</p>
					<p>Bij uw digitale aangifte inkomstenbelasting en vennootschapsbelasting moet u op het volgende letten:</p>
					<ul>
						<li>U ontvangt een aangiftebrief. U weet dan dat de aangifte voor u klaarstaat op het <a class="externalLink" href="http://mijn.belastingdienst.nl/ppa/">beveiligde gedeelte</a> van Belastingdienst.nl. Als de Belastingdienst een e-mailadres van u heeft, krijgt u die melding ook per e-mail.</li>
						<li>U kunt geen bijlagen, toelichtingen of andere documenten met de aangifte meesturen.</li>
						<li>De aangifte kan maar door 1 persoon ondertekend worden.</li>
					</ul>
					<p>Bij het invullen van uw aangifte kunt u gebruik maken van de korte uitleg bij de vragen op het online formulier. Ook is er een uitgebreide helpfunctie. Vergeet u ook vooral niet te kijken van welke aftrekposten en fiscale regelingen u gebruik kunt maken. U betaalt dan minder belasting.</p>

					<h2 id="online">Online aangiftehulp</h2>
					<p>Bent u ondernemer voor de inkomstenbelasting? En doet u zelf uw aangifte? Met de nieuwe <a class="externalLink" title="Aangiftehulp Ondernemersplein.nl" href="http://aangiftehulp.ondernemersplein.nl/">online aangiftehulp</a> van de Belastingdienst kunt u sneller en makkelijker uw aangifte inkomstenbelasting invullen. De aangiftehulp geeft uitleg en advies met video's en rekenhulpmiddelen. U vindt daar bijvoorbeeld informatie over de auto van de zaak en verschillende aftrekposten.</p>

					<h2 id="aangifte-lh">Aangifte loonheffingen</h2>
					<p>Als u werknemers in dienst heeft, doet u 1 keer per maand of per vier weken aangifte loonheffingen. Als u meer dan 10 werknemers heeft, moet u verplicht aangifte doen met een softwarepakket. U kunt dan geen gebruik maken van de aangifte in het <a class="externalLink" href="https://mijn.belastingdienst.nl/ppa">beveiligde gedeelte</a> van Belastingdienst.nl.</p>
					<p>Voor uw aangifte loonheffingen kunt u gebruikmaken van het <a class="externalLink" href="http://www.belastingdienst.nl/bibliotheek/handboeken/html/boeken/HL/stappenplan-stap_11_loonheffingen_aangeven_en_betalen.html">Handboek Loonheffingen</a>.</p>

					<h2 id="aangifte-btw">Btw-aangifte</h2>
					<p>De Belastingdienst laat u weten wanneer u btw-aangifte moet doen en wanneer u moet betalen. Meestal doet u per kwartaal aangifte, maar het kan ook zijn dat u per maand of per jaar aangifte moet doen. Hoe vaak u aangifte doet, hangt af van de hoogte van uw omzet.</p>
					<p>Voor de uiterste datum waarop u aangifte moet doen geldt het volgende:</p>
					<ul>
						<li>Doet u per kwartaal of per maand aangifte? Dan doet u uiterlijk aangifte op de laatste dag van de maand die volgt op het kwartaal of de maand waarover u aangifte doet. Uw aangifte over februari doet u dus uiterlijk 31 maart. Uw aangifte over het eerste kwartaal doet u uiterlijk 30 april.</li>
						<li>Doet u per jaar aangifte? Dan doet u aangifte voor 1 april van het eerstvolgende jaar.</li>
					</ul>
					<p>Bent u een startende ondernemer? Dan krijgt u uw eerste btw-aangifte nadat u uw onderneming heeft aangemeld bij de KvK. De eerste aangifte krijgt u vaak op papier. Bij het invullen van uw btw-aangifte kunt u gebruik maken van de <a class="externalLink" href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/brochures_en_publicaties/toelichting_bij_de_digitale_aangifte_omzetbelasting">toelichting</a>. Er is een <a class="externalLink" href="http://download.belastingdienst.nl/belastingdienst/docs/toelichting_aangifte_omzetbelasting_ob1411t31pl.pdf">speciale toelichting</a> bij de btw-aangifte voor startende ondernemers. Voor uw volgende aangiften maakt u gebruik van de aangifte die voor u klaar staat in het <a class="externalLink" href="https://mijn.belastingdienst.nl/ppa/">beveiligde gedeelte</a> van Belastingdienst.nl.</p>
					<p>Ook als u geen omzet heeft, moet u aangifte doen.</p>

					<h2 id="btw-alert">Uw&nbsp;btw-aangifte op tijd met de app Btw-Alert</h2>
					<p>Bent u weleens te laat met uw btw-aangifte? Met de <a class="externalLink" href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/standaard_functies/prive/contact/andere_onderwerpen/apps_voor_uw_mobiele_telefoon/app_btw-alert">app&nbsp;Btw-Alert</a> voorkomt u dat u te laat aangifte doet.</p>
					<h3>Wat kunt u met de app?</h3>
					<p>Met de app kunt u;</p>
					<ul>
						<li>een herinnering sturen wanneer u aangifte moet doen;</li>
						<li>tijd reserveren in uw digitale agenda om aangifte te doen; en</li>
						<li>betalingskenmerken en aangiftedatums opzoeken.</li>
					</ul>
					<p>U vindt de App Btw-Alert in de <a class="externalLink" href="https://itunes.apple.com/nl/app/btw-alert/id968410049">iTunes-store</a> (iOS) en in <a class="externalLink" href="https://play.google.com/store/apps/details?id=nl.belastingdienst.btwalert">Google Play</a> (Android).</p>
					<h3>Meer tips voor een tijdige btw-aangifte</h3>
					<ul>
						<li>Voor een herinnering per e-mail geeft u uw e-mailadres op op het <a class="externalLink" href="http://mijn.belastingdienst.nl/ppa/">beveiligde gedeelte</a> van Belastingdienst.nl.</li>
						<li>Volg het Twitteraccount <a class="externalLink" class="ns_onclick ns_teller_https_twitter_com.bdzakelijk" href="https://twitter.com/bdzakelijk">@BDzakelijk</a> voor tips en antwoorden op vragen.</li>
						<li>Heeft u een tip waardoor u altijd op tijd bent met de btw-aangifte en -betaling? Deel deze op <a class="externalLink ns_onclick ns_teller_http_hallo_kvk_nl.hallo." href="http://hallo.kvk.nl/hallo/">Hallo!</a> of <a class="externalLink ns_onclick ns_teller_http_www_higherlevel_nl.forum." href="http://www.higherlevel.nl/forum/">Higherlevel</a>.</li>
					</ul>

					<h2 id="schulden">Btw-schulden</h2>
					<p>De Belastingdienst besteedt veel aandacht aan btw-schulden. Het is dus verstandig om na te gaan of u alle btw heeft aangegeven en betaald. Het kan namelijk zijn dat u per ongeluk een factuur vergeten bent in uw aangifte. Wilt u weten of u een btw-schuld heeft? En wat u dan moet doen? Lees dan <a href="http://www.op.nl/ondernemen/administratie/administratie-beheren/info-en-advies/btw-schulden/" title="Btw-schulden">'Btw-schulden? Check uw administratie'</a>.</p>

					{{! organisms-hoenuverder-blok }}
					{{! molecules-bronhouder-contentfooter }}

					<div class="sourceBlock">
						<p class="infoText infoText--afzender">
							<span>Deze informatie is geplaatst door:</span>
						</p>
						<ul class="gridContainer gridContainer--singleLine u-noBullets">
							<li class="verticalItem">
								<img class="partnerLogo-image partnerLogo--contentBottom" src="../../images/logos/Belastingdienst_color.svg" alt="Belastingdienst">
							</li>
						</ul>
					</div>

				</div>
				<div class="column column--third aside">
					{{> organisms-contactblok }}
					{{! organisms-side-blok-samenvatting }}
					{{! organisms-side-blok-linklijst }}
					{{! organisms-side-blok-linklijst-extern }}
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-verhaal}}
				{{> organisms-crsblok-discussies }}
				{{! organisms-promoblok}}
				<div class="column column--third">
					<div class="block block-promo block-promo--green">
						<figure class="block-image">
							<img src="../../images/startersdag.png">
							<div class="block-label">Evenement</div>
						</figure>
						<h2 class="block-title charlieHeading">Zeker weten dat je goed van start gaat?</h2>
						<div class="block-text">
							<p>Kom naar de KvK Startersdag op 7 november 2015</p>
						</div>
						<a href="http://www.google.nl" class="block-link">Meer over de Startersdag</a>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>