<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="{{ link.templates-homepage }}">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Wetten en regels</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Omgevingsvergunning</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>

					<p class="intro">Gaat u bouwen, verbouwen of slopen? Wilt u een boom kappen? Wilt u reclame maken op uw bedrijfspand? Of wilt u tijdelijk een steiger op de openbare weg plaatsen? Voor de meeste activiteiten op het gebied van (ver)bouw, wonen, monumenten, milieu, natuur en ruimte gelden algemene regels of moet u een melding doen.</p>

					<div class="pageContentNav block--grey">
						<h2 class="pageContentNav--title h3">Op deze pagina behandelen we</h2>
						<ul class="pageContentNav--list linkList list list--double">
							<li class="linkList-item list-spacedItem">
								<a href="#aanvragen" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Hoe vraagt u een omgevingsvergunning aan?</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#overleggen" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Wilt u vooraf overleggen met uw gemeente?</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#beslissen" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Wanneer beslist de gemeente over uw aanvraag?</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#beschikking" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Gedoogbeschikking</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#externe-links" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Externe links</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#wetswijzigingen" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Wetswijzigingen</span></span></a>
							</li>
						</ul>
					</div>

					<p>Wilt u weten of u een melding moet doen of een omgevingsvergunning nodig hebt? Doe via Omgevingsloket online de <a href="https://www.omgevingsloket.nl/Zakelijk/zakelijk/home/checken?init=true&amp;clear-case=true#" class="externalLink">vergunningcheck</a>.</p>

					<div class="scBlock-wrapper">
						<div class="block block--grey scBlock">
							<h2 class="block-title scBlock--title">
								<span class="inlineMedia">
					                <svg aria-hidden="true" class="scBlock--icon">
					                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-consument-6003"></use>
					                </svg>
					                <span class="media-text">
					                    Meer weten of direct aanvragen?
					                </span>
					            </span>
							</h2>
							<p class="scBlock--subTitle">Bij uw gemeente, provincie of waterschap</p>
							<form class="scBlock--form">
								<input id="text" type="text" placeholder="Bijvoorbeeld Rotterdam" value="Gemeente Amsterdam">
								<svg aria-hidden="true" class="scBlock--clearIcon">
					                <use xlink:href="#figures-sluiten"></use>
					            </svg>
							</form>
						</div>
						<div class="scBlock--result">
							<a href="#" class="interfaceLink scBlock--resultLink">{{> atoms-goIcon-arrow-hook }}<span class="interfaceLink-text externalLink"><span>Omgevingsvergunning aanvragen (Amsterdam)</span></span></a>
						</div>
						<div class="scBlock--result">
							<a href="#" class="interfaceLink scBlock--resultLink">{{> atoms-goIcon-arrow-hook }}<span class="interfaceLink-text externalLink"><span>Milieubeheer, gedoogbeschikking (Noord-Holland)</span></span></a>
						</div>
						<div class="scBlock--result">
							<a href="#" class="interfaceLink scBlock--resultLink">{{> atoms-goIcon-arrow-hook }}<span class="interfaceLink-text externalLink"><span>Omgevingsvergunning (Noord-Holland)</span></span></a>
						</div>
					</div>

					<p>De omgevingsvergunning bestaat sinds 1 oktober 2010 en vervangt een aantal <a href="http://www.ondernemersplein.nl/regel/omgevingsvergunning-vervangen-vergunningen-uitzonderingen/" title="Omgevingsvergunning: vervangen vergunningen en uitzonderingen">vergunningen en ontheffingen</a>.</p>

					<h2 id="aanvragen">Hoe vraagt u een omgevingsvergunning aan?</h2>
					<p>U kunt de omgevingsvergunning met één aanvraagformulier aanvragen bij uw gemeente. Dit kan digitaal of schriftelijk. U kunt iemand machtigen de omgevingsvergunning voor u aan te vragen.</p>

					<h3>Digitaal aanvragen</h3>
					<p>U vraagt de omgevingsvergunning digitaal aan via de website van uw gemeente of rechtstreeks via <a class="externalLink" href="https://www.omgevingsloket.nl/Zakelijk/zakelijk/home?init=true" title="externe link">Omgevingsloket online</a>. U <a href="https://www.eherkenning.nl/inloggen-met-eherkenning/" class="externalLink" title="externe link">identificeert zich</a> met eHerkenning. U hebt hiervoor een eHerkenningsmiddel met ten minste betrouwbaarheidsniveau 2 nodig.</p>
					<p>Als u de omgevingsvergunning hebt aangevraagd via Omgevingsloket online, kunt u de afhandeling van uw aanvraag digitaal via de <a href="http://www.ondernemersplein.nl/berichtenbox-voor-bedrijven/" title="Berichtenbox voor bedrijven">berichtenbox</a> laten verlopen. Hiervoor vult u bij de aanvraag uw berichtenboxnaam in.</p>

					<h3>Schriftelijk aanvragen</h3>
					<p>U stelt het <a class="externalLink" href="https://www.omgevingsloket.nl/Zakelijk/zakelijk/home/papierenformulier#" title="externe link">papieren aanvraagformulier</a> samen via Omgevingsloket online, print het uit en stuurt het op. Ook kunt u uw gemeente om een papieren aanvraagformulier vragen.</p>

					<h2 id="overleggen">Wilt u vooraf overleggen met uw gemeente?</h2>
					<p>Wilt u vooraf weten of het zin heeft om de omgevingsvergunning aan te vragen? Dan kunt u dit in het Omgevingsloket online aangeven. De gemeente kijkt dan met u mee. Dit is niet in iedere gemeente mogelijk.</p>

					<h2 id="beslissen">Wanneer beslist de gemeente over uw aanvraag?</h2>
					<p>Meestal beslist de gemeente binnen 8 weken of u wel of geen omgevingsvergunning krijgt. Het gaat dan om eenvoudige aanvragen. Is de aanvraag moeilijker? Dan beslist de gemeente binnen 6 maanden of u wel of geen omgevingsvergunning krijgt.</p>

					<h2 id="beschikking">Gedoogbeschikking</h2>
					<p>Kunt u niet voldoen aan regels op het gebied van het omgevingsrecht? Dan kunt u onder bepaalde omstandigheden een gedoogbeschikking aanvragen bij de provincie.</p>

					<div class="content-block blauw rand">
						<h2>Digitaal aanvragen met de berichtenbox</h2>
						<p>Bij de provincie Noord-Brabant kunt u de gedoogbeschikking omgevingsrecht digitaal aanvragen met de <a href="http://www.ondernemersplein.nl/berichtenbox-voor-bedrijven/" title="Berichtenbox voor bedrijven">berichtenbox</a>. De berichtenbox is een beveiligd e-mailsysteem waarmee u als ondernemer digitaal berichten kunt uitwisselen met Nederlandse overheidsorganisaties.</p>
					</div>


                    <h2 id="externe-links">Externe links</h2>
                    <ul class="linkList">
                        <li class="linkList-item">
                            <a href="https://www.omgevingsloket.nl/Zakelijk/zakelijk/home?init=true" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Omgevingsloket online zakelijk</span></span></a>
                        </li>
                        <li class="linkList-item">
                            <a href="http://www.infomil.nl/onderwerpen/integrale/omgevingsloket/infoblad-bedrijven/" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Infoblad voor bedrijven - Omgevingsvergunning en watervergunning (Kenniscentrum InfoMil)</span></span></a>
                        </li>
                        <li class="linkList-item">
                            <a href="http://www.infomil.nl/onderwerpen/integrale/omgevingsloket" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Omgevingsloket online (Kenniscentrum InfoMil)</span></span></a>
                        </li>
                        <li class="linkList-item">
                            <a href="http://www.infomil.nl/onderwerpen/integrale/omgevingsvergunning/" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Omgevingsvergunning/Wabo (Kenniscentrum InfoMil)</span></span></a>
                        </li>
                        <li class="linkList-item">
                            <a href="https://www.eherkenning.nl/inloggen-met-eherkenning/" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Veilig inloggen (eHerkenning)</span></span></a>
                        </li>
                        <li class="linkList-item">
                            <a href="http://www.rijksoverheid.nl/onderwerpen/omgevingswet" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Omgevingswet (Rijksoverheid)</span></span></a>
                        </li>
                    </ul>

                    <h2 id="wetswijzigingen">Wetswijzigingen</h2>
                    <ul class="linkList">
                        <li class="linkList-item">
                            <a class="interfaceLink" href="http://www.ondernemersplein.nl/wetswijziging/nieuwe-wet-natuurbescherming/">
                            	{{> atoms-goIcon-interfaceLink }}
                            	<span class="interfaceLink-text"><span>
	                                <span class="textLine">Nieuwe Wet Natuurbescherming</span>
	                                <time class="infoText" datetime="Ingangsdatum: 1 mrt 2016">
	                                    Ingangsdatum: 1 mrt 2016
	                                </time>
                                </span></span>
                            </a>
                            <span class="wetswijziging-datum" data-url="/WetswijzigingsDatumHandler.ashx?id=tcm:106-275116"></span>
                        </li>
                        <li class="linkList-item">
                            <a class="interfaceLink" href="http://www.ondernemersplein.nl/wetswijziging/verlening-milieuvergunningen-omgevingsdiensten/">
                            	{{> atoms-goIcon-interfaceLink }}
                            	<span class="interfaceLink-text"><span>
	                                <span class="textLine">Omgevingsdiensten verlenen en handhaven milieuvergunningen</span>
	                                <time class="infoText" datetime="Ingangsdatum: 1 jan 2016">
	                                    Ingangsdatum: 1 jan 2016
	                                </time>
                                </span></span>
                            </a>
                            <span class="wetswijziging-datum" data-url="/WetswijzigingsDatumHandler.ashx?id=tcm:106-386228"></span>
                        </li>
                        <li class="linkList-item">
                            <a class="interfaceLink" href="http://www.ondernemersplein.nl/wetswijziging/aanpassing-omgevingsrecht/">
                            	{{> atoms-goIcon-interfaceLink }}
                            	<span class="interfaceLink-text"><span>
	                                <span class="textLine">Omgevingsrecht wordt aangepast</span>
	                                <time class="infoText" datetime="Ingangsdatum: 1 jan 2018">
	                                    Ingangsdatum: 1 jan 2018
	                                </time>
                                </span></span>
                            </a>
                            <span class="wetswijziging-datum" data-url="/WetswijzigingsDatumHandler.ashx?id=tcm:106-275626"></span>
                        </li>
                    </ul>

					{{! organisms-hoenuverder-blok }}
					{{! molecules-bronhouder-contentfooter }}

					<div class="sourceBlock">
						<p class="infoText infoText--afzender">
							<span>Deze informatie is geplaatst door:</span>
						</p>
						<ul class="gridContainer gridContainer--singleLine u-noBullets">
							<li class="verticalItem">
								<img class="partnerLogo-image partnerLogo--contentBottom" src="../../images/logos/AVB_color.svg" alt="Antwoord voor bedrijven">
							</li>
						</ul>
					</div>

				</div>
				<div class="column column--third aside">
					{{! organisms-side-blok-samenvatting }}
					{{> organisms-side-blok-linklijst }}
					{{! organisms-side-blok-linklijst-extern }}

					<div class="block block--side externalLinks">
						<h2 class="block-title h3 sideHeading">Wet- en regelgeving</h2>
						<ul class="linkList">
							<li class="linkList-item">
								<a href="http://wetten.overheid.nl/1.0:c:BWBR0024779" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Wet algemene bepalingen omgevingsrecht (Wabo) (Overheid.nl)</span></span></a>
							</li>
							<li class="linkList-item">
								<a href="http://wetten.overheid.nl/1.0:c:BWBR0027464" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Besluit omgevingsrecht (Overheid.nl)</span></span></a>
							</li>
							<li class="linkList-item">
								<a href="http://zoekdienst.overheid.nl/ictu_website/CVDR/CVDRZoeken.aspx?searchtype=Simple&connection=CVDR" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Regelingen van gemeenten, provincies en waterschappen (Overheid.nl)</span></span></a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal }}
				{{> organisms-crsblok-discussies }}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>