<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="{{ link.templates-homepage }}">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Personeel</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<h2 class="h3">Wat de meeste ondernemers willen weten</h2>
					<ul class="labelList">
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Maatregelen Prinsjesdag 2015
								</span></span>
							</a>
						</li>
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Wat draagt u af aan sociale premies?
								</span></span>
							</a>
						</li>
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Ontslag, hoe werkt dat?
								</span></span>
							</a>
						</li>
					</ul>
                </div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Personeel zoeken</span></span>{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Soorten werknemers</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Personeel vinden</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Personeel aannemen en inhuren</span></span>{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Personeel aannemen</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Personeel inhuren</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Buitenlands personeel aannemen of inhuren</span></span></a></li>
						<li class="linkList-item linkList-itemMore"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Arbeidsvoorwaarden</span></span>{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Loon en loonstrookje</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Vakantiedagen en feestdagen</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Werktijden</span></span></a></li>
						<li class="linkList-item linkList-itemMore"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Arbeidsomstandigheden</span></span>{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Minder ziekteverzuim en een hogere productiviteit? Zorg voor goede arbeidsomstandigheden</p>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#">Ziekte en arbeidsongeschiktheid</span></span>{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Wat moet u doen bij ziekte van uw werknemer? En welke verzekeringen kunt u hiervoor afsluiten?</p>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="{{ link.usability-mkb-02-ontslag-en-opzeggen }}"><span class="headingLink-text"><span class="underliner">Ontslag en opzeggen</span></span>{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Redenen voor ontslag</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Opzegtermijn en aanzegtermijn</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.usability-mkb-03-ontslagprocedures }}" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Ontslagprocedures</span></span></a></li>
						<li class="linkList-item linkList-itemMore"><a href="{{ link.usability-mkb-02-ontslag-en-opzeggen }}" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Meer</span></span></a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				<div class="column column--third blockContainer">
					<div class="listBlock listBlock--autoHeight listBlock--green">
						<h2 class="listBlock-title h4">
							<span class="inlineMedia">
					            <svg aria-hidden="true" class="media-icon listBlock-icon">
					              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-wet-7003"></use>
					            </svg>
					            <span class="media-text">
					                Wetten en regels
					            </span>
					        </span>
						</h2>
						<ul class="listBlock-list linkList list">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Personeel aannemen en inhuren
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Personeel ontslaan
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Arbeidsvoorwaarden en personeelsadministratie
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Arbeidomstandigheden en ziekte
									</span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="blockContainer-more blockContainer-more--green">
						<a class="interfaceLink" href="#">
							{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
							<span class="interfaceLink-text"><span class="underliner">
								Meer wetten en regels
							</span></span>
						</a>
					</div>
				</div>
			</div>
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				<div class="column column--third blockContainer">
					<a class="promoBlock promoBlock--autoHeight promoBlock--violet" href="#">
						<div class="promoBlock-go">
							<h2 class="h4 interfaceLinkStatic promoBlock-go-title">
								{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
								<span class="interfaceLink-text">
									Ik ga voor het eerst personeel aannemen
								</span>
							</h2>
						</div>
						<figure class="promoBlock-figure">
							<img class="promoBlock-image" src="../../images/sample/winkel.jpg">
						</figure>
					</a>
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal }}
				{{> organisms-crsblok-discussies }}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>