<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="#">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Bedrijf starten</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<div class="block block--grey">
						<h2 class="block-title">Veel gezocht</h2>
						<ul class="linkList list">
	                        <li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Stappenplan bedrijf starten</span></span></a></li>
	                    </ul>
	                </div>
                </div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h2 class=""><a href="#">Ondernemen, iets voor u?</a></h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Een eigen bedrijf, wat betekent dat?</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Ondernemen, iets voor u?</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Hoe wilt u starten?</a></h2>
					<p>Een bedrijf starten kan op allerlei manieren. Waar kiest u voor?</p>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Stappenplan bedrijf starten</a></h2>
					<p>Een bedrijf starten, hoe pakt u dat aan? In 10 stappen naar uw eigen bedrijf.</p>
				</div>
				<div class="column column--third">
                	<h2><a href="{{ link.usability-starter-02-alle-rechtsvormen }}">Rechtsvorm kiezen</a></h2>
					<p>Bv, nv, eenmanszaak, vof; welke juridische vormen zijn er allemaal?</p>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Een ondernemingsplan maken</a></h2>
					<p>Briljant bedrijfsidee? Met een ondernemingsplan ziet u meteen of uw plan haalbaar is.</p>
				</div>
				<div class="column column--third">
                	<h2><a href="#">De juiste papieren</a></h2>
					<p>Onderzoek voor de start van uw bedrijf of u vergunningen, diploma's of een VAR nodig heeft.</p>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Breng uw risico's in kaart</a></h2>
					<p>Verklein de risico's die u als ondernemer loopt door u goed voor te bereiden.</p>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Btw-aangifte doen</a></h2>
					<p>Btw-aangifte doen hoort er vanaf het begin bij, ook als u geen omzet heeft.</p>
				</div>
				<div class="column column--third">
                	<h2 class=""><a href="#">Een bestaand bedrijf kopen</a></h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Waarom een bedrijf overnemen?</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Waar vind ik bedrijven te koop?</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Wat en hoe betaal ik voor het bedrijf dat te koop staat</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Meer</span></span></a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2>Direct regelen</h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="http://kvk.ondernemerstest.nl/app/" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Doe de 'Ondernemerschapstest' en ontdek of u klaar bent voor het ondernemerschap</span></span></a></li>
						<li class="linkList-item"><a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/programmas_en_formulieren/aanvraag_verklaring_arbeidsrelatie_online_formulier" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst</span></span></a></li>
					</ul>
					<a href="#">Wat kan ik nog meer direct regelen?</a>
				</div>
				<div class="column column--third">
					<h2>Wetten en regels</h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Bedrijf starten of kopen</span></span></a></li>
					</ul>
					<a href="#">Alle wetten en regels voor bedrijf starten</a>
				</div>
				{{> organisms-crsblok-linklijst}}
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-verhaal}}
				{{> organisms-crsblok-discussies }}
				<div class="column column--third">
					<div class="block block-promo block-promo--green">
						<figure class="block-image">
							<img src="../../images/startersdag.png">
							<div class="block-label">Evenement</div>
						</figure>
						<h2 class="block-title h3">Zeker weten dat je goed van start gaat?</h2>
						<div class="block-text">
							<p>Kom naar de KvK Startersdag op 7 november 2015</p>
						</div>
						<a href="http://www.google.nl" class="block-link">Meer over de Startersdag</a>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>