<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="#">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Personeel</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<div class="block block--grey">
						<h2 class="block-title">Veel gezocht</h2>
						<ul class="linkList list">
	                        <li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Maatregelen Prinsjesdag 2015</span></span></a></li>
	                        <li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Wat draagt u af aan sociale premies?</span></span></a></li>
	                        <li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Ontslag, hoe werkt dat?</span></span></a></li>
	                    </ul>
	                </div>
                </div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h2 class=""><a href="#">Personeel zoeken</a></h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Soorten werknemers</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Personeel vinden</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class=""><a href="#">Personeel aannemen en inhuren</a></h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Personeel aannemen</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Personeel inhuren</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Buitenlands personeel aannemen of inhuren</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class=""><a href="#">Arbeidsvoorwaarden</a></h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Loon en loonstrookje</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Vakantiedagen en feestdagen</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Werktijden</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Arbeidsomstandigheden</a></h2>
					<p>Minder ziekteverzuim en een hogere productiviteit? Zorg voor goede arbeidsomstandigheden</p>
				</div>
				<div class="column column--third">
                	<h2><a href="#">Ziekte en arbeidsongeschiktheid</a></h2>
					<p>Wat moet u doen bij ziekte van uw werknemer? En welke verzekeringen kunt u hiervoor afsluiten?</p>
				</div>
				<div class="column column--third">
                	<h2 class=""><a href="{{ link.usability-mkb-02-ontslag-en-opzeggen }}">Ontslag en opzeggen</a></h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Redenen voor ontslag</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Opzegtermijn en aanzegtermijn</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.usability-mkb-03-ontslagprocedures }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Ontslagprocedures</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.usability-mkb-02-ontslag-en-opzeggen }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Meer</span></span></a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<h2>Wetten en regels</h2>
					<ul class="linkList list list--double">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Personeel aannemen en inhuren</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Personeel ontslaan</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Arbeidsvoorwaarden en personeelsadministratie</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Arbeidomstandigheden en ziekte</span></span></a></li>
					</ul>
					<a href="#">Alle wetten en regels voor bedrijf starten</a>
				</div>
				{{> organisms-crsblok-linklijst}}
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal }}
				{{> organisms-crsblok-discussies }}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>