<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="#">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="{{ link.usability-mkb-01-personeel }}">
								<span class="breadcrumb-text">Personeel</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		{{> organisms-onderwerp-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<p class="intro">Wanneer mag u een werknemer ontslaan? En wanneer niet? Hoe gaat een ontslagprocedure? Wat is het verschil tussen de opzegtermijn en aanzegtermijn? Hoe werkt ontslag bij tijdelijke contracten? Hoe zit het eigenlijk met die transitievergoeding? En wat als een werknemer zelf ontslag neemt?</p>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2 class="h4">
						<a class="headingLink" href="#">
							<span class="headingLink-text"><span class="underliner">Redenen voor ontslag</span></span>
							{{> atoms-goIcon-headingLink }}
						</a>
					</h2>
					<p>Wanneer mag u uw werknemer ontslaan? En wanneer juist niet?</p>
				</div>
				<div class="column column--third">
					<h2 class="h4">
						<a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Opzegtermijn en aanzegtermijn</span></span>
							{{> atoms-goIcon-headingLink }}</a>
					</h2>
					<p>Opzegtermijn of aanzegtermijn: wanneer en waarom?</p>
				</div>
				<div class="column column--third">
					<h2 class="h4">
						<a class="headingLink" href="{{ link.usability-mkb-03-ontslagprocedures }}"><span class="headingLink-text"><span class="underliner">Ontslagprocedures</span></span>
							{{> atoms-goIcon-headingLink }}</a>
					</h2>
					<p>Welke ontslagprocedure moet u volgen?</p>
				</div>
				<div class="column column--third">
					<h2 class="h4">
						<a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Transitievergoeding bij ontslag</span></span>
							{{> atoms-goIcon-headingLink }}</a>
					</h2>
					<p>Wanneer moet u een transitievergoeding betalen? En wanneer niet?</p>
				</div>
				<div class="column column--third">
					<h2 class="h4">
						<a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Transitievergoeding berekenen</span></span>
							{{> atoms-goIcon-headingLink }}</a>
					</h2>
					<p>Bereken de hoogte van de transitievergoeding</p>
				</div>
				<div class="column column--third">
					<h2 class="h4">
						<a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Bruto maandsalaris voor transitievergoeding</span></span>
							{{> atoms-goIcon-headingLink }}</a>
					</h2>
					<p>Hiermee berekent u de hoogte van de transitievergoeding</p>
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal}}
				<div class="column column--third blockContainer">
					<div class="listBlock listBlock--green">

						<h2 class="listBlock-title h4">
							<span class="inlineMedia">
				                <svg aria-hidden="true" class="media-icon listBlock-icon">
				                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-wet-7003"></use>
				                </svg>
				                <span class="media-text">
				                    Wetten en regels
				                </span>
				            </span>
						</h2>
						<ul class="listBlock-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Ontslagvergoeding
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Opzegtermijn
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Aanzegtermijn
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="{{ link.usability-mkb-04-ontslagprocedures-en-opzegverboden }}" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Ontslagprocedures en opzegverboden
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Transitievergoeding bij ontslag
									</span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="blockContainer-more blockContainer-more--green">
						<a class="interfaceLink" href="#">
							{{> atoms-goIcon-interfaceLink }}
							<span class="interfaceLink-text"><span class="underliner">
								Meer wetten en regels
							</span></span>
						</a>
					</div>
				</div>
				{{> organisms-crsblok-discussies }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>