<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="#">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="{{ link.usability-zzp-01-freelance-en-zzp }}">
								<span class="breadcrumb-text">Freelance en zzp</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Verklaring Arbeidsrelatie (VAR)</h1>
					</header>
				</div>
				<div class="column column--twoThird">
					<p class="intro">Een Verklaring Arbeidsrelatie (VAR) geeft uw klanten en opdrachtgevers zekerheid over uw zelfstandigheid. Zo weten zij dat ze geen loonheffingen of premies hoeven te betalen voor uw werkzaamheden. Welke VAR heeft u precies nodig, hoe vraagt u een VAR aan en waar moet u zoal op letten? Die informatie vindt u hier.</p>
				</div>
			</div>
			<!--div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<div class="block block--grey">
						<h2 class="block-title">Wat de meeste mensen willen weten</h2>
						<ul class="linkList list">
							<li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Maak een concurrentieanalyse</span></span></a></li>
	                        <li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Hoe kunt u reclame maken?</span></span></a></li>
	                        <li class="linkList-item"><a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Zorg voor een goede marketingmix</span></span></a></li>
						</ul>
					</div>
				</div>
				<div class="column column--third">
					{{> organisms-contactblok }}
				</div>
			</div-->
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2><a href="{{ link.usability-zzp-03-var-onmisbaar }}">De VAR: onmisbaar voor freelancers en zzp'ers</a></h2>
					<p>Met een 'var' geeft de Belastingdienst aan hoe uw inkomsten als 'zelfstandige' beoordeeld gaan worden.</p>
				</div>
				<div class="column column--third">
					<h2><a href="#">Vier soorten VAR</a></h2>
					<p>Wat betekent welke VAR? Afhankelijk van uw situatie krijgt u één van vier Verklaringen Arbeidsrelatie (VAR).</p>
				</div>
				<div class="column column--third">
					<h2><a href="{{ link.usability-mkb-03-ontslagprocedures }}">VAR aanvragen</a></h2>
					<p>Informatie voor het aanvragen van de VAR. Hoe u deze aanvraagt en wat de Belastingdienst van u wilt weten.</p>
				</div>
				<div class="column column--third">
					<h2><a href="#">Tips bij VAR aanvragen</a></h2>
					<p>Handige weetjes en tips voor ondernemers die een VAR aan willen vragen.</p>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2>Direct regelen</h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text externalLink"><span>Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst</span></span></a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Wat kan ik nog meer direct regelen?</a>
				</div>
				<div class="column column--third">
					<h2>Wetten en regels</h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Verklaring arbeidsrelatie (VAR)</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>(Model)overeenkomst vervangt Verklaring arbeidsrelatie (VAR)</span></span></a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Alle wetten en regels voor VAR</a>
				</div>
				{{> organisms-crsblok-discussies }}
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-verhaal}}
				{{! organisms-crsblok-linklijst}}
				<div class="column column--third">
					<div class="block block-promo block-promo--green">
						<figure class="block-image">
							<img src="../../images/startersdag.png">
							<div class="block-label">Evenement</div>
						</figure>
						<h2 class="block-title h4">Zeker weten dat je goed van start gaat?</h2>
						<div class="block-text">
							<p>Kom naar de KvK Startersdag op 7 november 2015</p>
						</div>
						<a href="http://www.google.nl" class="block-link">Meer over de Startersdag</a>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>