<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="{{ link.templates-homepage }}">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="{{ link.usability-zzp-01-freelance-en-zzp }}">
								<span class="breadcrumb-text">Freelance en zzp</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		{{> organisms-onderwerp-header }}
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<p class="intro">Een Verklaring Arbeidsrelatie (VAR) geeft uw klanten en opdrachtgevers zekerheid over uw zelfstandigheid. Zo weten zij dat ze geen loonheffingen of premies hoeven te betalen voor uw werkzaamheden. Welke VAR heeft u precies nodig, hoe vraagt u een VAR aan en waar moet u zoal op letten? Die informatie vindt u hier.</p>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.usability-zzp-03-var-onmisbaar }}"><span class="headingLink-text"><span class="underliner">De VAR: onmisbaar voor freelancers en zzp'ers</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Met een 'var' geeft de Belastingdienst aan hoe uw inkomsten als 'zelfstandige' beoordeeld gaan worden.</p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Vier soorten VAR</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Wat betekent welke VAR? Afhankelijk van uw situatie krijgt u één van vier Verklaringen Arbeidsrelatie (VAR).</p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="{{ link.usability-mkb-03-ontslagprocedures }}"><span class="headingLink-text"><span class="underliner">VAR aanvragen</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Informatie voor het aanvragen van de VAR. Hoe u deze aanvraagt en wat de Belastingdienst van u wilt weten.</p>
				</div>
				<div class="column column--third">
					<h2 class="h4"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Tips bij VAR aanvragen</span></span>
							{{> atoms-goIcon(goIcon: {className: "headingLink-icon"}) }}</a></h2>
					<p>Handige weetjes en tips voor ondernemers die een VAR aan willen vragen.</p>
				</div>
			</div>
			<!--div class="layoutContainer gridContainer">
				<div class="column column--third">
					<h2>Direct regelen</h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text extern class="underliner"alLink"><span>Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst</span></span></a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Wat kan ik nog meer direct regelen?</a>
				</div>
				<div class="column column--third">
					<h2>Wetten en regels</h2>
					<ul class="linkList list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Verklaring arbeidsrelatie (VAR)</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">(Model)overeenkomst vervangt Verklaring arbeidsrelatie (VAR)</span></span></a></li>
					</ul>
					<a href="{{ link.templates-contentpage-base }}">Alle wetten en regels voor VAR</a>
				</div>
				{{! organisms-crsblok-discussies }}
			</div-->
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				<div class="column column--third blockContainer">
					<div class="listBlock listBlock--green">
						<h2 class="listBlock-title h4">
							<span class="inlineMedia">
				                <svg aria-hidden="true" class="media-icon listBlock-icon">
				                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-wet-7003"></use>
				                </svg>
				                <span class="media-text">
				                    Wetten en regels
				                </span>
				            </span>
						</h2>
						<ul class="listBlock-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Verklaring arbeidsrelatie (VAR)
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										(Model)overeenkomst vervangt Verklaring arbeidsrelatie (VAR)
									</span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="blockContainer-more blockContainer-more--green">
						<a class="interfaceLink" href="#">
							{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
							<span class="interfaceLink-text"><span class="underliner">
								Meer wetten en regels
							</span></span>
						</a>
					</div>
				</div>
				<div class="column column--third blockContainer">
					<div class="listBlock listBlock--purple">
						<h2 class="listBlock-title h4">
							<span class="inlineMedia">
				                <svg aria-hidden="true" class="media-icon listBlock-icon">
				                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-consument-6003"></use>
				                </svg>
				                <span class="media-text">
				                    Direct regelen
				                </span>
				            </span>
						</h2>
						<ul class="listBlock-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst
									</span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="blockContainer-more blockContainer-more--purple">
						<a class="interfaceLink" href="#">
							{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
							<span class="interfaceLink-text"><span class="underliner">
								Meer direct regelen
							</span></span>
						</a>
					</div>
				</div>
				{{> organisms-crsblok-discussies }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>