<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="{{ link.templates-homepage }}">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Freelance en zzp</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Starten als freelancer of zzp'er</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--twoThird">
					<header class="article-header">
						<h1>Samenwerken als zzp'ers</h1>
						{{> molecules-bronhouder-text }}
						{{> molecules-laatste-update }}
					</header>

					<p class="intro">Als zzp’er werkt u veelal in uw eentje. Heeft u er wel eens aan gedacht om samen te werken met andere zzp’ers als een opdracht voor u alleen te groot is? Denk bijvoorbeeld aan meedingen naar een <a href="http://www.ondernemersplein.nl/regel/aanbestedingen-aankondigingen/">aanbesteding</a>. Maar hoe pakt u dit aan: hoe vindt u een geschikte samenwerkingspartner? En hoe gaat u samenwerken?</p>

					<div class="pageContentNav block--grey">
						<h2 class="pageContentNav--title h4">Op deze pagina behandelen we</h2>
						<ul class="pageContentNav--list linkList list list--double">
							<li class="linkList-item list-spacedItem">
								<a href="#waarom" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Waarom samenwerken?</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#geschikt" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Hoe vindt u een geschikte samenwerkingspartner?</span></span></a>
							</li>
							<li class="linkList-item list-spacedItem">
								<a href="#organiseren" class="interfaceLink">{{> atoms-goIcon-arrow-down }}<span class="interfaceLink-text"><span>Hoe organiseert u de samenwerking?</span></span></a>
							</li>
						</ul>
					</div>

					<h2 id="waarom">Waarom samenwerken?</h2>
					<p>Ga op zoek naar samenwerkingspartners met dezelfde motieven. Zo voorkomt u verkeerde verwachtingen. Er zijn verschillende motieven om samen te werken:</p>
					<ul>
						<li>Een samenwerking is noodzakelijk om een opdracht te kunnen krijgen of deze te kunnen uitvoeren.</li>
						<li>Een samenwerking maakt het mogelijk om gezamenlijk als groep (onder één naam) naar buiten op te kunnen treden</li>
						<li>Het delen van kosten, kennis en risico’s; denk aan gezamenlijke huisvesting of promotie, maar ook aan het gebruik maken van elkaars kwaliteiten of elkaar vervangen tijdens ziekte.</li>
						<li>Persoonlijke ontwikkeling; ontwikkeling door kennis en netwerk uit te wisselen en elkaar onderling te stimuleren of te coachen.</li>
					</ul>

					<div class="contentSpecialBlock"3>
						<h3>"Dat sparren met collega's zou ik niet kunnen missen"</h3>
						<p><a href="http://verhalen.ondernemersplein.nl/artikel/2013/03/bieneke-braat/">Lees het verhaal van Bieneke Braat</a> in de Verhalen-app. Braat is een van de 20 advocaten van Legaltree. Geen maatschap, zoals veel andere advocatenkantoren, maar een hechte club zzp'ers. "Legaltree is de ideale oplossing: zelfstandig opereren als ondernemer, maar toch niet alleen. ”</p>
					</div>

					<h2 id="geschikt">Hoe vindt u een geschikte samenwerkingspartner?</h2>
					<p>Misschien is een netwerkbijeenkomst iets voor u? Of zoekt u liever op sociale media? Gebruik daarvoor bijvoorbeeld Twitter. Met de hashtag #durftevragen of #dtv kunt u een tweet plaatsen of zoeken naar tweets. Met de hashtag #zzpmatch kunt u ook op zoek naar samenwerkingspartners. Kijk ook eens op <a class="externalLink" href="http://hallo.kvk.nl/hallo/">Hallo!</a> Daar vindt u een netwerk van ondernemers.&nbsp;Ook op Facebook zijn er allerlei mogelijkheden.</p>

					<h2 id="organiseren">Hoe organiseert u de samenwerking?</h2>
					<p>Heeft u uw samenwerkingspartner gevonden? Maak dan duidelijke afspraken over de wijze waarop u gaat samenwerken. Welke samenwerkingsvorm het beste bij jullie past, hangt samen met het type opdracht. <a href="http://www.op.nl/ondernemen/innovatie-en-productontwikkeling/samen-innoveren/info-en-advies/samenwerking-vormgeven/" title="Samenwerking vormgeven">Lees meer over rechtsvormen en contracten.</a></p>

					<div class="video-container">
						<iframe width="512" height="288" frameborder="0" src="//quadia.webtvframework.com/kvk/_app/player/?id=639198" xmlns="http://www.w3.org/1999/xhtml"></iframe>
					</div>

					{{! organisms-hoenuverder-blok }}
					{{! molecules-bronhouder-contentfooter }}

					<div class="sourceBlock">
						<p class="infoText infoText--afzender">
							<span>Deze informatie is geplaatst door:</span>
						</p>
						<ul class="gridContainer gridContainer--singleLine u-noBullets">
							<li class="verticalItem">
								<img class="partnerLogo-image partnerLogo--contentBottom" src="../../images/logos/KvK_color.svg" alt="Kamer van Koophandel">
							</li>
						</ul>
					</div>

				</div>
				<div class="column column--third aside">
					<div class="block block--blue contact">
						<h2 class="block-title h4">Neem contact op met</h2>
						<p class="contact-info">een adviseur van de KvK</p>
						<p class="contact-phone">
							<span>Bel (088) 585 2222</span>
					    </p>
					</div>
					{{! organisms-side-blok-samenvatting }}
					{{! organisms-side-blok-linklijst }}
					{{! organisms-side-blok-linklijst-extern }}
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer">
				{{> organisms-crsblok-verhaal}}
				{{> organisms-crsblok-discussies }}
				{{! organisms-promoblok}}
				<div class="column column--third">
					<div class="block block-promo block-promo--green">
						<figure class="block-image">
							<img src="../../images/startersdag.png">
							<div class="block-label">Evenement</div>
						</figure>
						<h2 class="block-title h4">Zeker weten dat je goed van start gaat?</h2>
						<div class="block-text">
							<p>Kom naar de KvK Startersdag op 7 november 2015</p>
						</div>
						<a href="http://www.google.nl" class="block-link">Meer over de Startersdag</a>
					</div>
				</div>
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>