<div class="container">
	{{> organisms-sidebar }}
	<div class="page" id="page">
		<header class="header clearfix" role="banner">
			<div class="header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems">
				{{> molecules-logo }}
				{{> molecules-payoff }}
			</div>
			<div class="brandBar">
				<div class="layoutContainer">
					<ul class="breadcrumbs diapositive">
						<li class="breadcrumb">
							<a class="breadcrumb-link breadcrumb-linkFirst diapositive-link" href="#">
								<span class="breadcrumb-text">Home</span>
							</a>
						</li>
						<li class="breadcrumb">
							<a class="breadcrumb-link diapositive-link" href="#">
								<span class="breadcrumb-text">Alles over ondernemen</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<header class="article-header">
						<h1>Freelance en zzp</h1>
					</header>
				</div>
			</div>
			<div class="layoutContainer gridContainer">
				<div class="column column--full">
					<h2 class="h3">Wat de meeste ondernemers willen weten</h2>
					<ul class="labelList">
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Maatregelen Prinsjesdag 2015
								</span></span>
							</a>
						</li>
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Wanneer bent u zelfstandig?
								</span></span>
							</a>
						</li>
						<li class="labelList-item">
							<a href="#" class="labelList-link">
								<span class="labelList-text"><span>
									Webinar "Starten als zzp'er of freelancer"
								</span></span>
							</a>
						</li>
					</ul>
                </div>
			</div>
			<div class="layoutContainer gridContainer">
                <div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Starten als freelancer of zzp'er</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Aan de slag als freelancer of zzp'er</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Parttime zzp'er of freelancer</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.usability-zzp-00-samenwerken-als-zzpers }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Samenwerken als zzp'ers</span></span></a></li>
						<li class="linkList-item linkList-itemMore"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="{{ link.usability-zzp-02-var }}"><span class="headingLink-text"><span class="underliner">Verklaring Arbeidsrelatie (VAR) voor zelfstandigen</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="{{ link.usability-zzp-03-var-onmisbaar }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">De VAR: onmisbaar voor freelancers en zzp'ers</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Vier soorten VAR</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">VAR aanvragen</span></span></a></li>
						<li class="linkList-item linkList-itemMore"><a href="{{ link.usability-zzp-02-var }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Zzp'er en schijnzelfstandigheid</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Zelfstandigheid bij zzp'ers en freelancers</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Fictieve dienstbetrekking versus schijnzelfstandigheid</span></span></a></li>
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Resultaat uit overig werk (resultaatgenieter)</span></span></a></li>
						<li class="linkList-item linkList-itemMore"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Meer</span></span></a></li>
					</ul>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Uitkeringen voor zzp'ers en freelancers</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<p>Een paar uitkeringen zijn specifiek voor freelancers en zzp’ers</p>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="#"><span class="headingLink-text"><span class="underliner">Pensioen en verzekeringen voor zelfstandigen</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<p>Zzp'er en pensioen</p>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="{{ link.usability-zzp-00-samenwerken-als-zzpers }}"><span class="headingLink-text"><span class="underliner">Samenwerken als zzp'ers</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<p>Hoe kunt u samenwerken met andere ondernemers? En voor welke rechtsvorm kiest u?</p>
				</div>
				<div class="column column--third">
                	<h2 class="h3"><a class="headingLink" href="{{ link.usability-mkb-02-ontslag-en-opzeggen }}"><span class="headingLink-text"><span class="underliner">Stoppen als zzp'er</span></span>{{> atoms-goIcon-headingLink }}</a></h2>
					<ul class="linkList linkList--grey list">
						<li class="linkList-item"><a href="#" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Bedrijf stoppen</span></span></a></li>
						<li class="linkList-item"><a href="{{ link.usability-mkb-03-ontslagprocedures }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span class="underliner">Bedrijf verkopen</span></span></a></li>
					</ul>
				</div>
			</div>
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				<div class="column column--third blockContainer">
					<div class="listBlock listBlock--autoHeight listBlock--purple">
						<h2 class="listBlock-title h4">
							<span class="inlineMedia">
					            <svg aria-hidden="true" class="media-icon listBlock-icon">
					              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-consument-6003"></use>
					            </svg>
					            <span class="media-text">
					                Direct regelen
					            </span>
					        </span>
						</h2>
						<ul class="listBlock-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span class="underliner">
										Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst
									</span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="blockContainer-more blockContainer-more--purple">
						<a class="interfaceLink" href="#">
							{{> atoms-goIcon-interfaceLink }}
							<span class="interfaceLink-text"><span class="underliner">
								Meer direct regelen
							</span></span>
						</a>
					</div>
				</div>
			</div>
			<div class="layoutContainer gridContainer gridContainer--stretchItems">

				<div class="column column--third blockContainer">
					<a class="promoBlock promoBlock--autoHeight promoBlock--violet" href="#">
						<div class="promoBlock-go">
							<h2 class="h4 interfaceLinkStatic promoBlock-go-title">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text">
									Ik wil weten of ik ondernemer ben
								</span>
							</h2>
						</div>
						<figure class="promoBlock-figure">
							<img class="promoBlock-image" src="../../images/sample/zwembad.jpg">
						</figure>
					</a>
				</div>
				<div class="column column--third blockContainer">
					<a class="promoBlock promoBlock--autoHeight promoBlock--violet" href="#">
						<div class="promoBlock-go">
							<h2 class="h4 interfaceLinkStatic promoBlock-go-title">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text">
									Ik wil starten als zzp'er in de zorg
								</span>
							</h2>
						</div>
						<figure class="promoBlock-figure">
							<img class="promoBlock-image" src="../../images/sample/zorg.jpg">
						</figure>
					</a>
				</div>
				<div class="column column--third blockContainer">
					<a class="promoBlock promoBlock--autoHeight promoBlock--violet" href="#">
						<div class="promoBlock-go">
							<h2 class="h4 interfaceLinkStatic promoBlock-go-title">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text">
									Ik wil starten als zzp'er in de bouw
								</span>
							</h2>
						</div>
						<figure class="promoBlock-figure">
							<img class="promoBlock-image" src="../../images/sample/haven.jpg">
						</figure>
					</a>
				</div>
			</div>
		</div>
		<div class="crs-wrapper">
			<div class="layoutContainer gridContainer gridContainer--stretchItems">
				{{> organisms-crsblok-verhaal}}
				{{> organisms-crsblok-discussies }}
				{{> organisms-promoblok }}
			</div>
		</div>
		{{> organisms-footer }}
	</div>
</div>