<div class="column column--third blockContainer">
	<a class="promoBlock promoBlock--green" href="#">
		<figure class="promoBlock-figure">
			<img class="promoBlock-image" src="../../images/startersdag.png">
			<div class="promoBlock-label">Evenement</div>
		</figure>
		<div class="promoBlock-content">
			<h2 class="promoBlock-title h4">Zeker weten dat je goed van start gaat?</h2>
			<p>Kom naar de KvK Startersdag op 7 november 2015</p>
		</div>
	</a>
	<div class="blockContainer-more blockContainer-more--green">
		<a class="interfaceLink" href="http://www.google.nl">
			{{> atoms-goIcon-interfaceLink }}
			<span class="interfaceLink-text"><span class="underliner">
				Meer over de Startersdag
			</span></span>
		</a>
	</div>
</div>