<div class="column column--third">
	<div class="block block-promo block-promo--green">
		<figure class="block-image">
			<img src="../../images/startersdag.png">
			<div class="block-label">Evenement</div>
		</figure>
		<h2 class="block-title h4">Zeker weten dat je goed van start gaat?</h2>
		<div class="block-text">
			<p>Kom naar de KvK Startersdag op 7 november 2015</p>
		</div>
		<a href="http://www.google.nl" class="block-link">Meer over de Startersdag</a>
	</div>
</div>