<div class="column column--third">
	<div class="block block--border">
		<h2 class="block-title charlieHeading">Promoblok</h2>
		<p>Handmatige koppeling van een X aantal promoblokken mogelijk</p>
		<a href="#promolink" class="btn">Call 2 Action link</a>
	</div>
</div>