<div class="column column--third blockContainer">
	<a class="promoBlock promoBlock--autoHeight promoBlock--violet" href="#">
		<div class="promoBlock-go">
			<h2 class="h4 interfaceLinkStatic promoBlock-go-title">
				{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
				<span class="interfaceLink-text">
					Ik wil een bedrijf aan huis beginnen
				</span>
			</h2>
		</div>
		<figure class="promoBlock-figure">
			<img class="promoBlock-image" src="../../images/sample/zzper-bouw.jpg">
		</figure>
	</a>
</div>