<div class="blockContact blockContact--purple">
	<h2 class="blockContact-title h3">Heeft u nog vragen?</h2>
    <p>Belastingdienst:</p>
	<p class="blockContact-item">
		<span class="inlineMedia">
            <svg aria-hidden="true" class="media-icon blockContact-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-telefoon-0022"></use>
            </svg>
            <span class="media-text">
                Bel 0800-0543
            </span>
        </span>
    </p>
    <p class="blockContact-item">
		<span class="inlineMedia">
            <svg aria-hidden="true" class="media-icon blockContact-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-email-2012"></use>
            </svg>
            <span class="media-text">
                <a class="interfaceLink blockContact-link" href="#">
                	<span class="interfaceLink-text"><span class="underliner">Stuur een e-mail</span></span>
                </a>
            </span>
        </span>
    </p>
    <p class="blockContact-item">
		<span class="inlineMedia">
            <svg aria-hidden="true" class="media-icon blockContact-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-contact-2005"></use>
            </svg>
            <span class="media-text">
                <a class="interfaceLink blockContact-link" href="#">
                	<span class="interfaceLink-text"><span class="underliner">Chat</span></span>
                </a>
            </span>
        </span>
    </p>
</div>