<div class="block block--blue contact">
	<h2 class="block-title h3">Neem contact op met</h2>
	<p class="contact-info">BelastingTelefoon</p>
	<p class="contact-phone">
		<span>Bel 0800-0543</span>
    </p>
</div>