<div class="block block--side block--blue contact">
	<h2 class="block-title echoHeading"><span class="yellow-marker">Neem contact op met</span></h2>
	<p class="contact-info echoHeading highlight--blue">een adviseur van de KvK</p>
	<p class="contact-phone">
		<span>Bel (088) 585 2222</span>
    </p>
</div>