<div class="column column--third block-crs">
	<div class="block block--violet">
		<h2 class="block-title h2">
			<span class="inlineMedia">
                <svg aria-hidden="true" class="media-icon block-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-user-3905"></use>
                </svg>
                <span class="media-text">
                    Situaties
                </span>
            </span>
		</h2>
		<ul class="linkList">
			<li class="linkList-item">
				<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						Ik wil starten als zzp'er in de zorg
					</span></span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						Ik wil een bedrijf starten naast mijn studie
					</span></span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						Ik wil een bedrijf aan huis beginnen
					</span></span>
				</a>
			</li>
		</ul>
	</div>
</div>