<div class="column column--third block-crs">
	<h3><span class="yellow-line">Situaties</span></h3>
	<ul class="linkList">
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Ik wil een nieuw idee realiseren</span></a>
		</li>
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Ik heb geld nogdig voor mijn bedrijf</span></a>
		</li>
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Ik wil starten met een uitvinding</span></a>
		</li>
	</ul>
</div>