<div class="column column--third block-crs">
	<h3><span class="yellow-line">Situaties</span></h3>
	<ul class="linkList">
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Ik wil een nieuw idee realiseren</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Ik heb geld nodig voor het uitbreiden van mijn bedrijf</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text"><span>Ik wil starten met een uitvinding</span></span></a>
		</li>
	</ul>
</div>