<div class="block block--side suggestions">
	<h2 class="block-title h4 sideHeading">Misschien bent u op zoek naar</h2>
	<ul class="linkList">
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Omgevingsvergunning: vervangen vergunningen en uitzonderingen</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Watervergunning</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">Bezwaar en beroep tegen beslissing overheid</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span class="underliner">eHerkenning</span></span></a>
		</li>
	</ul>
</div>