<div class="block block--side block--blue rvo-links">
	<h2 class="block-title echoHeading"><span class="yellow-marker">Lees meer over [...] (RVO)</span></h2>
	<ul>
		<li><a href="#1">Marketingmix</a></li>
		<li><a href="#2">Sterkte-zwakte analyse</a></li>
		<li><a href="#3">Brancheonderzoek</a></li>
	</ul>
</div>