<div class="block block--side block--grey readMoreBlock">
	<h2 class="readMoreBlock-title deltaHeading">Hoe nu verder?</h2>
	<ul class="readMoreBlock--list linkList list list--double">
		<li class="linkList-item list-spacedItem">
			<a href="#h2" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Van idee naar markt</span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h3" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Onderdelen van uw marktonderzoek</span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h4" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Hoe doet u een marktonderzoek?</span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h5" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Zelf marktonderzoek doen of uitbesteden?</span></a>
		</li>
		<li class="linkList-item list-spacedItem">
			<a href="#h6" class="interfaceLink">{{> atoms-goIcon-interfaceLink }}<span class="interfaceLink-text">Kleinste heading die er is</span></a>
		</li>
	</ul>
</div>