<div class="readMoreBlock block--grey">
	<h2 class="readMoreBlock--title h4">Hoe nu verder?</h2>
	<ul class="readMoreBlock--list linkList list list--double">
		<li class="linkList-item">
			<a href="#h2" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Van idee naar markt</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#h3" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Onderdelen van uw marktonderzoek</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#h4" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Hoe doet u een marktonderzoek?</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#h5" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Zelf marktonderzoek doen of uitbesteden?</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#h6" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text"><span>Kleinste heading die er is</span></span></a>
		</li>
	</ul>
</div>