<div class="column column--third">
					<div class="block block-crs block--green">
						<h2 class="block-title h4">
							<span class="inlineMedia">
				                <svg aria-hidden="true" class="media-icon block-icon">
				                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-wet-7003"></use>
				                </svg>
				                <span class="media-text">
				                    Wetten en regels
				                </span>
				            </span>
						</h2>
						<ul class="block-list linkList">
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span>
										Reclamebelasting
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span>
										Reclame maken op uw pand
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span>
										Reclame maken
									</span></span>
								</a>
							</li>
							<li class="linkList-item">
								<a href="#" class="interfaceLink">
									{{> atoms-goIcon-interfaceLink }}
									<span class="postTitle interfaceLink-text"><span>
										Reclamemateriaal verspreiden
									</span></span>
								</a>
							</li>
						</ul>
						<div class="block-moreLink">
							<a class="interfaceLink" href="#">
								{{> atoms-goIcon-interfaceLink }}
								<span class="interfaceLink-text"><span>
									Meer wetten en regels
								</span></span>
							</a>
						</div>
					</div>
				</div>