<div class="column column--third blockContainer">
	<div class="listBlock listBlock--purple">
		<h2 class="listBlock-title h4">
			<span class="inlineMedia">
	            <svg aria-hidden="true" class="media-icon listBlock-icon">
	              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-communicatie-2022"></use>
	            </svg>
	            <span class="media-text">
	                Forum
	            </span>
	        </span>
		</h2>
		<ul class="listBlock-list linkList">
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text">
						<span class="postTitle"><span class="underliner">Starten als zzp'er</span></span>
						<span class="postDate"><span class="underliner">Geplaatst op 18 okt 2014 (5 reacties)</span></span>
					</span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text">
						<span class="postTitle"><span class="underliner">Cursus Starten als ZZP’er van LOI</span></span>
						<span class="postDate"><span class="underliner">Geplaatst op 6 okt 2014 (7 reacties)</span></span>
					</span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="#" class="interfaceLink ">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						<span class="postTitle"><span class="underliner">hulp bij 1e belasting aangifte als ondernemer</span></span>
						<span class="postDate"><span class="underliner">Geplaatst op 20 aug 2014 (5 reacties)</span></span>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="blockContainer-more blockContainer-more--purple">
		<a class="interfaceLink" href="#">
			{{> atoms-goIcon-interfaceLink }}
			<span class="interfaceLink-text"><span class="underliner">
				Meer discussies
			</span></span>
		</a>
	</div>
</div>