<div class="column column--third">
	<h2 class="charlieHeading">Discussies</h2>
	<ul class="linkList">
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">
				{{> atoms-goIcon-interfaceLink }}
				<span class="interfaceLink-text">Starten als zzp'er<br />Geplaatst op 18 okt 2014 (5 reacties)</a></span>
		</li>
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink">
				{{> atoms-goIcon-interfaceLink }}
				<span class="interfaceLink-text">Cursus Starten als ZZP’er van LOI<br />Geplaatst op 6 okt 2014 (7 reacties)</a></span>
		</li>
		<li class="linkList-item">
			<a href="{{ link.templates-contentpage-base }}" class="interfaceLink ">
				{{> atoms-goIcon-interfaceLink }}
				<span class="interfaceLink-text">hulp bij 1e belasting aangifte als ondernemer<br />Geplaatst op 20 aug 2014 (5 reacties)</span>
			</a>
		</li>
	</ul>
	<a href="{{ link.templates-contentpage-base }}">Meer discussies</a>
</div>