<div class="column column--third">
	<div class="block block-crs block--purple">
		<h2 class="block-title h4">
			<span class="inlineMedia">
                <svg aria-hidden="true" class="media-icon block-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-communicatie-2022"></use>
                </svg>
                <span class="media-text">
                    Forum
                </span>
            </span>
		</h2>
		<ul class="block-list linkList">
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						<span class="postTitle">Starten als zzp'er</span>
						<span class="postDate">Geplaatst op 18 okt 2014 (5 reacties)</span>
					</span></span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						<span class="postTitle">Cursus Starten als ZZP’er van LOI</span>
						<span class="postDate">Geplaatst op 6 okt 2014 (7 reacties)</span>
					</span></span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="#" class="interfaceLink ">
					{{> atoms-goIcon-interfaceLink }}
					<span class="interfaceLink-text"><span>
						<span class="postTitle">hulp bij 1e belasting aangifte als ondernemer</span>
						<span class="postDate">Geplaatst op 20 aug 2014 (5 reacties)</span>
					</span></span>
				</a>
			</li>
		</ul>
		<p class="blockFooterText">Deze informatie is afkomstig van Hallo en Higherlevel</p>
	</div>
</div>