<div class="column column--third blockContainer">
	<div class="listBlock listBlock--purple">

		<h2 class="listBlock-title h4">
			<span class="inlineMedia">
	            <svg aria-hidden="true" class="media-icon listBlock-icon">
	              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#figures-2008-computer"></use>
	            </svg>
	            <span class="media-text">
	                Direct regelen
	            </span>
	        </span>
		</h2>
		<ul class="listBlock-list linkList">
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
					<span class="postTitle interfaceLink-text"><span class="underliner">
						Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel
					</span></span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
					<span class="postTitle interfaceLink-text"><span class="underliner">
						Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen
					</span></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="blockContainer-more blockContainer-more--purple">
		<a class="interfaceLink" href="#">
			{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
			<span class="interfaceLink-text"><span class="underliner">
				Meer direct regelen
			</span></span>
		</a>
	</div>
</div>