<div class="column column--third">
	<div class="block block--promo">
		<figure class="block-image">
			<img src="../../images/verhaal-v2.jpg">
			<div class="block-label block-label--violet">Verhaal</div>
		</figure>
		<h2 class="block-title charlieHeading">"Ik had gelukkig goede adviseurs"</h2>
		<div class="block-text">
			<p>Marloes Plantenga ging van student naar eigenaar van zelfstandig ...
		</div>
		<a href="http://www.google.nl" class="block-link">Lees dit verhaal</a>
	</div>
</div>