<div class="column column--third blockContainer">
	<a class="promoBlock promoBlock--violet">
		<div class="promoBlock-zoomContainer">
			<figure class="promoBlock-figure">
				<img class="promoBlock-image" src="../../images/sample/fotograaf.jpg">
			</figure>
			<div class="promoBlock-label">Test</div>
		</div>
		<div class="promoBlock-content">
			<!--h2 class="promoBlock-title h4">Doe de ondernemerschapstest</h2-->
			<p>Doe de ondernemerschaptest en ontdek of u klaar bent voor het ondernemerschap</p>
		</div>
	</a>
	<div class="blockContainer-more blockContainer-more--violet">
		<a class="interfaceLink" href="http://kvk.ondernemerstest.nl/">
			{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
			<span class="interfaceLink-text"><span class="underliner">
				Direct naar de test
			</span></span>
		</a>
	</div>
</div>