<div class="column column--third blockContainer">
	<a class="promoBlock promoBlock--violet">
		<figure class="promoBlock-figure">
			<img class="promoBlock-image" src="../../images/verhaal-ramon.jpg">
			<div class="promoBlock-label">Verhaal</div>
		</figure>
		<div class="promoBlock-content">
			<h2 class="promoBlock-title h4">"Huiswerk goed gedaan? Ga ondernemen!"</h2>
			<p>Student Ramon Ameerali Niamat uit Amsterdam heeft zijn eigen autowasbedrijf ... <!--Hij wil niet in loondienst werken Het zou hem alleen maar frustreren: “Ik begrijp niet waarom zoveel bedrijven hun klanten slecht behandelen.”--></p>
			<!-- <p>Ramon Niamat is ondernemer en tegelijkertijd hbo-student small business &amp; retail management. Zijn bedrijf <em>Wash and Care</em> levert mileuvriendelijke autowasservice aan huis in de regio Amsterdam.</p>-->
		</div>
	</a>
	<div class="blockContainer-more blockContainer-more--violet">
		<a class="interfaceLink" href="http://verhalen.ondernemersplein.nl/artikelen/#1746/ramon-ameerali-niamat">
			{{> atoms-goIcon-interfaceLink }}
			<span class="interfaceLink-text"><span class="underliner">
				Meer verhalen
			</span></span>
		</a>
	</div>
</div>