<div class="column column--third">
	<div class="block">
		<h2 class="block-title charlieHeading">"Dit is een quote bij het verhaal"</h2>
		<figure class="block-image">
			<img src="../../images/verhaal.png">
		</figure>
		<a href="#verhaallink" class="block-link">Lees dit verhaal</a>
	</div>
</div>