<div class="block block--side externalLinks">
	<h2 class="block-title h4 sideHeading">Wet- en regelgeving</h2>
	<ul class="linkList">
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text externalLink"><span>Omgevingsloket online zakelijk</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text externalLink"><span>Infoblad voor bedrijven - Omgevingsvergunning en watervergunning (Kenniscentrum InfoMil)</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text externalLink"><span>Veilig inloggen (eHerkenning)</span></span></a>
		</li>
		<li class="linkList-item">
			<a href="#" class="interfaceLink">{{> atoms-goIconSimple(goIcon: {className: "interfaceLink-icon"}) }}<span class="interfaceLink-text externalLink"><span>Omgevingswet (Rijksoverheid)</span></span></a>
		</li>
	</ul>
</div>