<div class="block block--side summary">
	<p style="position: relative;margin-bottom: 2rem;text-align: center;">
		<span class="highlight--blue" style="font-size:8rem; font-weight:bold;">21</span>
		<span class="highlight--blue" style="font-size:3rem;">%</span>
		<span class="textLine">levering van onroerende zaken</span>
	</p>
	<p style="position: relative;text-align: center;">
		<span class="highlight--blue" style="font-size:6rem; font-weight:bold;">6</span>
		<span class="highlight--blue" style="font-size:3rem;">%</span>
		<span class="textLine">onder meer voor etenswaren en sommige diensten</span>
	</p>
	<p>
		<a href="#" class="interfaceLink">
			{{> atoms-goIcon-interfaceLink }}
			<span class="interfaceLink-text"><span>Bekijk voor alle tarieven ons overzicht</span></span>
		</a>
	</p>
</div>