<div class="block block--side summary" visual-cloak>
	<p class="summary-unit media">
		<span class="counter highlight--blue media-figure summary-number summary-number--primary">
			<span class="counter-original">21</span>
			<span count-up count-start="0" count-end="21" class="counter-overlay" aria-hidden="true">0</span>
			<span class="highlight--blue summary-percentage">%</span>
		</span>
		<span class="summary-text media-text">levering van onroerende zaken</span>
	</p>
	<p class="summary-unit media">
		<span class="counter highlight--blue media-figure summary-number summary-number--secondary">
			<span class="counter-original">6</span>
			<span count-up count-start="0" count-end="6" class="counter-overlay" aria-hidden="true">0</span>
			<span class="highlight--blue summary-percentage">%</span>
		</span>
		<span class="summary-text media-text">onder meer voor etenswaren en sommige diensten</span>
	</p>
	<p class="summary-unit media">
		<span class="counter highlight--blue media-figure summary-number summary-number--secondary">
			<span class="counter-original">5</span>
			<span count-up count-start="0" count-end="5" class="counter-overlay" aria-hidden="true">0</span>
			<span class="highlight--blue summary-percentage">%</span>
		</span>
		<span class="summary-text media-text">onder meer voor etenswaren en sommige diensten</span>
	</p>
	<p>
		<a href="#" class="interfaceLink">
			{{> atoms-goIcon-interfaceLink }}
			<span class="interfaceLink-text"><span>Bekijk voor alle tarieven ons overzicht</span></span>
		</a>
	</p>
</div>
<script type="text/ng-template" id="/countUp.html">
	<span class="" ng-bind="viewModel.currentCount"></span>
</script>