<div class="column column--third blockContainer">
	<a class="promoBlock promoBlock--green" href="#">
		<figure class="promoBlock-figure">
			<img class="promoBlock-image" src="../../images/feiten-en-cijfers.png">
			<div class="promoBlock-label">Evenement</div>
		</figure>
		<div class="promoBlock-content">
			<h2 class="promoBlock-title h4">Cijfers over uw buurt, branche of concurrenten nodig?</h2>
		</div>
	</a>
	<div class="blockContainer-more blockContainer-more--green">
		<a class="interfaceLink" href="#">
			{{> atoms-goIcon-interfaceLink }}
			<span class="interfaceLink-text"><span class="underliner">
				Bekijk alle Feiten &amp; Cijfers
			</span></span>
		</a>
	</div>
</div>