<div class="column column--third blockContainer">
	<div class="homeBlockMore homeBlockMore--green">
		<a class="interfaceLink" href="#">
			<span class="interfaceLink-text"><span class="underliner">
				Wetten en regels
			</span></span>
			{{> atoms-goIcon-interfaceLink }}
		</a>
	</div>
	<div class="listBlock listBlock--green">
		<p class="infoText">Alles te weten komen waaraan u moet voldoen met uw onderneming?</p>
		<ul class="listBlock-list linkList">
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="postTitle interfaceLink-text"><span class="underliner">
						Wetten en regels op onderwerp
					</span></span>
				</a>
			</li>
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="postTitle interfaceLink-text"><span class="underliner">
						Wetten en regels per sector
					</span></span>
				</a>
			</li>
		</ul>
		<ul class="listBlock-list linkList" style="margin-top:1em;">
			<li class="linkList-item">
				<a href="#" class="interfaceLink">
					{{> atoms-goIcon-interfaceLink }}
					<span class="postTitle interfaceLink-text"><span class="underliner">
						Alle wetswijzigingen
					</span></span>
				</a>
			</li>
		</ul>

	</div>
</div>