<div class="column column--third blockContainer">
	<div class="homeBlockMore homeBlockMore--violet">
		<a class="interfaceLink" href="#">
			<span class="interfaceLink-text"><span class="underliner">
				Situaties
			</span></span>
			{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
		</a>
	</div>
	<a class="homeBlock homeBlock--violet" href="#">
		<figure class="homeBlock-figure homeBlock-zoomContainer">
			<img class="homeBlock-image" src="../../images/sample/zorg.jpg">
		</figure>
		<div class="homeBlock-content">
			<h2 class="homeBlock-title h4">Ik wil starten als zzp'er in de zorg</h2>
		</div>
		<div class="blockContainer-more blockContainer-more--violet">
			<span class="interfaceLinkStatic">
				{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
				<span class="interfaceLink-text"><span class="underliner">
					Lees wat u kunt doen
				</span></span>
			</span>
		</div>
	</a>
</div>