<div class="column column--third blockContainer">
	<div class="homeBlockMore homeBlockMore--purple">
		<a class="interfaceLink" href="#">
			<span class="interfaceLink-text"><span class="underliner">
				Bijeenkomsten
			</span></span>
			{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
		</a>
	</div>
	<a class="homeBlock homeBlock--purple" href="#">
		<figure class="homeBlock-figure">
			<img class="homeBlock-image" src="../../images/startersdag.png">
		</figure>
		<div class="homeBlock-content">
			<h2 class="homeBlock-title h4">Eigen bedrijf starten vanuit de WW</h2>
			<p class="infoText">27 januari van 10.30 uur tot 11.30 uur</p>
		</div>
		<div class="blockContainer-more blockContainer-more--purple">
			<span class="interfaceLinkStatic">
				{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
				<span class="interfaceLink-text"><span class="underliner">
					Bekijk de bijeenkomst
				</span></span>
			</span>
		</div>
	</a>
</div>