<div class="column column--third blockContainer">
	<div class="homeBlockMore homeBlockMore--purple">
		<a class="interfaceLink" href="#">
			<span class="interfaceLink-text"><span class="underliner">
				Webinars
			</span></span>
			{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
		</a>
	</div>
	<a class="homeBlock homeBlock--purple" href="#">
		<figure class="homeBlock-figure homeBlock-zoomContainer">
			<img class="homeBlock-image" src="../../images/webinar.png">
		</figure>
		<div class="homeBlock-content">
			<h2 class="homeBlock-title h4">Hoe komt u aan geld?</h2>
		</div>
		<div class="blockContainer-more blockContainer-more--purple">
			<span class="interfaceLinkStatic">
				{{> atoms-goIcon(goIcon: {className: "interfaceLink-icon"}) }}
				<span class="interfaceLink-text"><span class="underliner">
					Bekijk deze webinar
				</span></span>
			</span>
		</div>
	</a>
</div>