<h2 class="block-title h4">Wat de meeste mensen willen weten</h2>
<ul class="labelList">
	<li class="labelList-item">
		<a href="#" class="labelList-link">
			<span class="labelList-text"><span>
				Maak een concurrentieanalyse
			</span></span>
		</a>
	</li>
    <li class="labelList-item">
    	<a href="#" class="labelList-link">
    		<span class="labelList-text"><span>
    			Hoe kunt u reclame maken?
    		</span></span>
    	</a>
    </li>
    <li class="labelList-item">
    	<a href="#" class="labelList-link">
    		<span class="labelList-text"><span>
    			Zorg voor een goede marketingmix
    		</span></span>
    	</a>
    </li>
</ul>