<!DOCTYPE html>
<html ng-app="DopApp" ng-strict-di class="html" ng-class="{'is-menuOpened': menuOpened}">
  <head id="patternlab-head">
    <title>Pattern Lab Sub-type Style Guide</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="../../styleguide/css/styleguide.css" media="all" />
    <link rel="stylesheet" href="../../styleguide/css/styleguide-specific.css" media="all" />
    <link rel="stylesheet" href="../../css/style.css" media="all" />
    <style>
      .menuBarContainer {
        position: relative !important;
        height: 100vh !important;
      }
    </style>
  </head>
  <body class="sg-pattern-list" ng-class="{'is-menuOpened': menuOpened}">

    <!-- View All Patterns in a Pattern Sub-Type -->
    <div class="sg-main" role="main">

      <!-- Patterns -->
      <div id="sg-patterns">
        {{# partials }}
          <div class="sg-pattern">
            <h2 class="sg-pattern-head" ><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartialPath }}">{{ patternName }}</a></h2>
            <div class="sg-pattern-body">
              {{{ patternPartial }}}
              <div class="sg-code" style="display: none">
                {{# patternLineageExists }}
                  <div class="sg-code-contains">
                    This pattern contains:
                    {{# patternLineages }}
                      <a href="{{ lineagePath }}"><code>{{ lineagePattern }}</code></a>
                    {{/ patternLineages }}
                  </div>
                {{/ patternLineageExists }}
                <h3 class="sg-code-head">HTML</h3>
                <pre class="sg-code-html">
                  <code>
                    {{ patternPartial }}
                  </code>
                </pre>
                {{# patternCSSExists }}
                  <h3 class="sg-code-head">CSS</h3>
                  <pre class="sg-code-css">
                    <code>
                      {{ patternCSS }}
                    </code>
                  </pre>
                {{/ patternCSSExists }}
              </div>
            </div>
          </div>
        {{/ partials }}
      </div> <!--end #sg-patterns-->

    </div><!--end .sg-main-->

    <!-- JS to hook everything together and do annotations -->
    <script>
      // handle injection of items from PHP
      var patternPartial = "{{ patternPartial }}";
      var lineage = "";
    </script>
    <script src="../../styleguide/js/vendor/jwerty.js"></script>
    <script src="../../styleguide/js/postmessage.js"></script>
    <script src="../../data/annotations.js"></script>
    <script src="../../styleguide/js/annotations-pattern.js"></script>
    <script src="../../styleguide/js/code-pattern.js"></script>

    <!--dev-->
      <script type="text/javascript" src="../../js/jspm_packages/system.js"></script>
      <script type="text/javascript" src="../../js/config.js"></script>
      <script type="text/javascript" src="../../js/init.js"></script>
    <!--/dev-->

    <!--prod:
      <script type="text/javascript" src="../../js/globalBundled.js"></script>
    :/prod-->
    <script>
      (function () {
        if (location.pathname.split("/")[1] !== "PatternLibrary") {
          return;
        }

        var links = [].slice.call(document.getElementsByTagName("a"));

        links.forEach(function (link) {
          var href = link.getAttribute("href");
          if (typeof href === "string") {
            link.href = href.replace(/^\//, "/PatternLibrary/");
          }
        });
      }());
    </script>

  </body>
</html>