&lt;div class=&quot;block block--side block--blue rvo-links&quot;&gt;
&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;Lees meer over [...] (RVO)&lt;/h2&gt;
&Tab;&lt;ul&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#1&quot;&gt;Marketingmix&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#2&quot;&gt;Sterkte-zwakte analyse&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#3&quot;&gt;Brancheonderzoek&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;