&lt;div class=&quot;sourceBlock&quot;&gt;
&Tab;&lt;p class=&quot;infoText infoText--afzender&quot;&gt;
&Tab;&Tab;&lt;span&gt;Deze informatie is geplaatst door:&lt;/span&gt;
&Tab;&lt;/p&gt;
&Tab;&lt;ul class=&quot;gridContainer gridContainer--singleLine u-noBullets&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo-image partnerLogo--contentBottom&quot; src=&quot;../../images/logos/KvK_color.svg&quot; alt=&quot;Kamer van Koophandel&quot;&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo-image partnerLogo--contentBottom&quot; src=&quot;../../images/logos/RVO_color.svg&quot; alt=&quot;Rijksdienst voor Ondernemend Nederland&quot;&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;