&lt;div class=&quot;infoText&quot;&gt;
&Tab;&lt;p&gt;Deze informatie in dit artikel komt van:&lt;/p&gt;
&Tab;&lt;ul class=&quot;gridContainer gridContainer--singleLine u-noBullets&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo partnerLogo--contentBottom&quot; src=&quot;/images/logos/KvK_dark.svg&quot; alt=&quot;Kamer van Koophandel&quot;&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;li class=&quot;verticalItem&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;partnerLogo partnerLogo--contentBottom&quot; src=&quot;/images/logos/RVO_dark.svg&quot; alt=&quot;Rijksdienst voor Ondernemend Nederland&quot;&gt;
&Tab;&Tab;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;