&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&lt;a class=&quot;promoBlock promoBlock--violet&quot;&gt;
&Tab;&Tab;&lt;figure class=&quot;promoBlock-figure&quot;&gt;
&Tab;&Tab;&Tab;&lt;img class=&quot;promoBlock-image&quot; src=&quot;../../images/verhaal-v2.jpg&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;promoBlock-label&quot;&gt;Test&lt;/div&gt;
&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&lt;div class=&quot;promoBlock-content&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2 class=&quot;promoBlock-title h4&quot;&gt;Doe de ondernemerschapstest&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;p&gt;Krijg meer inzicht in uw persoonlijke kwaliteiten&lt;/p&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/a&gt;
&Tab;&lt;!--div class=&quot;blockContainer-more blockContainer-more--violet&quot;&gt;
&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;http://verhalen.ondernemersplein.nl&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;Meer verhalen
&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;
&Tab;&lt;/div--&gt;
&lt;/div&gt;