.header {

}

.brandBar {
	background: mapDeepGet($colors, hemelblauw default);
	min-height: 66px;
	border-bottom: 10px solid mapDeepGet($colors, hemelblauw light);
}

// logo styling -> _header-logo.scss

// Pay-off
.payOff {
	@extend .lc;
	padding: $pad $pad-half;
	.brandBar & {
		color: mapDeepGet($colors, wit);
		display: none;
	}
}

// Kruimelpad
.breadcrumbs {
	@extend .lc;

	li {
		display: inline-block;
		.brandBar & {
			color: mapDeepGet($colors, wit);
		}
		&:before {
			content: ">";
			display: inline-block;
			padding-right: $pad;
		}
		&:first-child:before {
			content: "";
			padding-right: 0;
		}
	}

	a {
		display: inline-block;
		padding: $pad-half $pad $pad-half 0;
		.brandBar & {
			color: mapDeepGet($colors, wit);
		}
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}