// Logo Ondernemersplein

.logo {
	display: block;
	position: relative;
	margin-top: 5px;
	@extend .lc;

	.logo-link {
		font-family: $fontBold;
		color: $darkestGray;
		display: block;
		font-size: 32px;
		line-height: .85;
		text-decoration: none;
		height: 55px;

		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $blue;

			&:before {
				content: "Home";
				speak: none;
				display: block;
				position: absolute;
				bottom: 13px;
				left: 90px;
				z-index: 1;
				font-size: 20px;
				font-family: $font;
			}
		}
		&:focus {
			outline: 1px dotted $darkestGray;
		}

	}
}