&lt;style type=&quot;text/css&quot;&gt;
&Tab;.lab-colors ul,
&Tab;.lab-colors {
&Tab;&Tab;list-style: none;
&Tab;&Tab;padding-left: 0;
&Tab;&Tab;margin-bottom: 0;
&Tab;}

&Tab;.lab-colors li {
&Tab;&Tab;margin: 2em 0;
&Tab;}
&Tab;.lab-colors li:before {
&Tab;&Tab;content: &quot;&quot;;
&Tab;&Tab;position: relative;
&Tab;&Tab;display: none;
&Tab;}

&Tab;.lab-colors ul li {
&Tab;&Tab;width: 18em;
&Tab;&Tab;border-radius: 999px;
&Tab;&Tab;padding: 0.5em 1.3em;
&Tab;&Tab;margin: 1em;
&Tab;&Tab;display: flex;
&Tab;&Tab;justify-content: space-between;
&Tab;}

&Tab;.lab-colors span {
&Tab;&Tab;min-width: 8em;
&Tab;}

&Tab;.lab-colors span + span {
&Tab;&Tab;flex-grow: 0;
&Tab;&Tab;min-width: 0;
&Tab;}
&lt;/style&gt;

&lt;h2&gt;Kleuren&lt;/h2&gt;
&lt;ul class=&quot;lab-colors&quot;&gt;
&Tab;&lt;li&gt;Steunkleuren:
&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #777C00;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Mosgroen:&lt;/span&gt; &lt;span&gt;#777C00&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #A90061;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Violet:&lt;/span&gt; &lt;span&gt;#A90061&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #42145F;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Paars:&lt;/span&gt; &lt;span&gt;#42145F&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/li&gt;

&Tab;&lt;li&gt;Blauwtinten:
&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #007bc7;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Hemelblauw:&lt;/span&gt; &lt;span&gt;#007bc7&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #8FCAE7;&quot;&gt;&lt;span&gt;Hemelblauw licht:&lt;/span&gt; &lt;span&gt;#8FCAE7&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #DDEFF8;&quot;&gt;&lt;span&gt;Hemelblauw lichtst:&lt;/span&gt; &lt;span&gt;#DDEFF8&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #033054;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Hemelblauw donkerst:&lt;/span&gt; &lt;span&gt;#033054&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;Grijstinten:
&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #333333;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Grijs donkerst:&lt;/span&gt; &lt;span&gt;#333333&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #8F8F8F;&quot;&gt;&lt;span&gt;Grijs:&lt;/span&gt; &lt;span&gt;#8F8F8F&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #DDDDDD;&quot;&gt;&lt;span&gt;Grijs licht:&lt;/span&gt; &lt;span&gt;#DDDDDD&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #f6f6f6;&quot;&gt;&lt;span&gt;Grijs lichtst:&lt;/span&gt; &lt;span&gt;#f6f6f6&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/li&gt;

&Tab;&lt;li&gt;Overige kleuren:
&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #76d2b6;&quot;&gt;&lt;span&gt;Mintgroen:&lt;/span&gt; &lt;span&gt;#76d2b6&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #d52b1e;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Rood:&lt;/span&gt; &lt;span&gt;#d52b1e&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li style=&quot;background: #39870c;&quot; class=&quot;diapositive&quot;&gt;&lt;span&gt;Groen:&lt;/span&gt; &lt;span&gt;#39870c&lt;/span&gt;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;

&lt;style type=&quot;text/css&quot;&gt;
&Tab;.lab-gradients ul,
&Tab;.lab-gradients {
&Tab;&Tab;list-style: none;
&Tab;&Tab;display: flex;
&Tab;&Tab;flex-direction: row;
&Tab;&Tab;flex-wrap: wrap;
&Tab;}

&Tab;.lab-gradients li {
&Tab;&Tab;margin: 1em;
&Tab;&Tab;width: 5em;
&Tab;&Tab;height: 14em;
&Tab;&Tab;border-radius: 999px;
&Tab;&Tab;padding: 1.4em 0.7em;
&Tab;&Tab;margin: 1em;
&Tab;&Tab;flex-direction: column;
&Tab;&Tab;display: flex;
&Tab;&Tab;justify-content: space-between;
&Tab;&Tab;align-items: center;
&Tab;}
&Tab;.lab-gradients li:before {
&Tab;&Tab;content: &quot;&quot;;
&Tab;&Tab;position: relative;
&Tab;&Tab;display: none;
&Tab;}

&Tab;.lab-gradients span {
&Tab;&Tab;min-width: 8em;
&Tab;}

&Tab;.lab-gradients span + span {
&Tab;&Tab;flex-grow: 0;
&Tab;&Tab;min-width: 0;
&Tab;}
&lt;/style&gt;


&lt;h2&gt;Gradients&lt;/h2&gt;
&lt;ul class=&quot;lab-gradients&quot;&gt;
&Tab;&lt;li style=&quot;background: linear-gradient(#8FCAE7, #76D2B6);&quot;&gt;
&Tab;&Tab;&lt;span&gt;#8FCAE7&lt;/span&gt;
&Tab;&Tab;&lt;span&gt;#76D2B6&lt;/span&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;