&lt;section class=&quot;section latest-posts&quot;&gt;&NewLine;&Tab;&lt;h2 class=&quot;section-title&quot;&gt;Latest Posts&lt;/h2&gt;&NewLine;&Tab;&lt;ul class=&quot;post-list&quot;&gt;&NewLine;&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;&NewLine;&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;&NewLine;&Tab;&lt;/ul&gt;&NewLine;&Tab;&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;&NewLine;&lt;/section&gt;