&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;
&lt;button class=&quot;close mainMenu-close&quot; ng-click=&quot;viewModel.openClose.close(&apos;menu&apos;)&quot;&gt;
    &lt;span class=&quot;close-text&quot;&gt;Sluiten&lt;/span&gt;
    &lt;svg class=&quot;close-icon&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;use xlink:href=&quot;#figures-sluiten&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
&lt;/button&gt;
&lt;div class=&quot;mainMenu&quot; main-menu=&quot;menu&quot; default-opened=&quot;onderwerpen&quot;&gt;
    &lt;nav class=&quot;mainMenu-nav seeThroughScroll&quot; see-through-scroll open-close=&quot;viewModel.openClose&quot;&gt;
        &lt;h2 class=&quot;charlieHeading mainMenu-title seeThroughScroll-overlay&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;onderwerpen&apos;)&quot;&gt;
            &lt;span class=&quot;mainMenu-title-text&quot;&gt;Onderwerpen&lt;/span&gt;
            &lt;button class=&quot;mainMenu-button openCloseMark is-opened&quot; ng-class=&quot;{ &apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;onderwerpen&apos;) }&quot; ng-switch=&quot;viewModel.openClose.isOpened(&apos;onderwerpen&apos;)&quot;&gt;
                &lt;svg class=&quot;openCloseMark-icon&quot; aria-hidden=&quot;true&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-chevron-down&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;span class=&quot;openCloseMark-text&quot; ng-switch-when=&quot;true&quot;&gt;sluiten&lt;/span&gt;
                &lt;span class=&quot;openCloseMark-text&quot; ng-switch-when=&quot;false&quot;&gt;openen&lt;/span&gt;
            &lt;/button&gt;
        &lt;/h2&gt;

        &lt;div class=&quot;seeThroughScroll-size ngAnimate-seeThroughScroll mainMenu-content is-hidden&quot; see-through-scroll-element=&quot;size&quot; unit-name=&quot;onderwerpen&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;seeThroughScroll-scroll mainMenu-content-background is-hidden&quot; see-through-scroll-element=&quot;scroll&quot; unit-name=&quot;onderwerpen&quot;&gt;
            &lt;div class=&quot;seeThroughScroll-content&quot; see-through-scroll-element=&quot;content&quot; unit-name=&quot;onderwerpen&quot;&gt;
                &lt;ul class=&quot;mainMenu-linkList list list--double&quot;&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Personeel&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Bedrijf starten&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Handelsregister&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Administratie&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Geldzaken&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Belastingen&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Internationaal ondernemen&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Innovatie en productontwikkeling&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Marketing&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Huisvesting&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Bedrijf organiseren&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Bedrijf beschermen&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Freelance en zzp&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Bedrijf stoppen of verkopen&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-theme }}&quot;&gt;Duurzaam ondernemen&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;h2 class=&quot;charlieHeading mainMenu-title seeThroughScroll-overlay&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;directNaar&apos;)&quot;&gt;
            &lt;span class=&quot;mainMenu-title-text&quot;&gt;Direct naar&hellip;&lt;/span&gt;
            &lt;button class=&quot;mainMenu-button openCloseMark&quot; ng-class=&quot;{ &apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;directNaar&apos;) }&quot; ng-switch=&quot;viewModel.openClose.isOpened(&apos;directNaar&apos;)&quot;&gt;
                &lt;svg class=&quot;openCloseMark-icon&quot; aria-hidden=&quot;true&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-chevron-down&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;span class=&quot;openCloseMark-text&quot; ng-switch-when=&quot;true&quot;&gt;sluiten&lt;/span&gt;
                &lt;span class=&quot;openCloseMark-text&quot; ng-switch-when=&quot;false&quot;&gt;openen&lt;/span&gt;
            &lt;/button&gt;
        &lt;/h2&gt;
        &lt;div class=&quot;mainMenu-content seeThroughScroll-size ngAnimate-seeThroughScroll is-hidden&quot; see-through-scroll-element=&quot;size&quot; unit-name=&quot;directNaar&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;seeThroughScroll-scroll mainMenu-content-background is-hidden&quot; see-through-scroll-element=&quot;scroll&quot; unit-name=&quot;directNaar&quot;&gt;
            &lt;div class=&quot;seeThroughScroll-content&quot; see-through-scroll-element=&quot;content&quot; unit-name=&quot;directNaar&quot;&gt;
                &lt;ul class=&quot;mainMenu-linkList list list--double&quot;&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-wet-7003&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Wetten en regels
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-consument-6003&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Direct regelen
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-landbouw-6020&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Branche-informatie
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-gemeente-5001&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Gemeente-informatie
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-world&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Landeninformatie
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-video-2017&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Webinars en video&CloseCurlyQuote;s
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-groep-mensen-0015&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Evenementen en bijeenkomsten
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link inlineMedia&quot; href=&quot;#&quot;&gt;
                        &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon mainMenu-link-icon&quot;&gt;
                          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-facts-and-figures-1013&quot;&gt;&lt;/use&gt;
                        &lt;/svg&gt;
                        &lt;span class=&quot;media-text&quot;&gt;
                            Feiten en cijfers
                        &lt;/span&gt;
                    &lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;h2 class=&quot;charlieHeading mainMenu-title seeThroughScroll-overlay&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;ondernemersplein&apos;)&quot;&gt;
            &lt;span class=&quot;mainMenu-title-text&quot;&gt;Ondernemersplein&lt;/span&gt;
            &lt;button class=&quot;mainMenu-button openCloseMark&quot; ng-class=&quot;{ &apos;is-opened&apos;: viewModel.openClose.isFullyOpened(&apos;ondernemersplein&apos;) }&quot; ng-switch=&quot;viewModel.openClose.isOpened(&apos;ondernemersplein&apos;)&quot;&gt;
                &lt;svg class=&quot;openCloseMark-icon&quot; aria-hidden=&quot;true&quot;&gt;
                    &lt;use xlink:href=&quot;#figures-chevron-down&quot;&gt;&lt;/use&gt;
                &lt;/svg&gt;
                &lt;span class=&quot;openCloseMark-text&quot; ng-switch-when=&quot;true&quot;&gt;sluiten&lt;/span&gt;
                &lt;span class=&quot;openCloseMark-text&quot; ng-switch-when=&quot;false&quot;&gt;openen&lt;/span&gt;
            &lt;/button&gt;
        &lt;/h2&gt;
        &lt;div class=&quot;mainMenu-content seeThroughScroll-size ngAnimate-seeThroughScroll is-hidden&quot; see-through-scroll-element=&quot;size&quot; unit-name=&quot;ondernemersplein&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;seeThroughScroll-scroll mainMenu-content-background is-hidden&quot; see-through-scroll-element=&quot;scroll&quot; unit-name=&quot;ondernemersplein&quot;&gt;
            &lt;div class=&quot;seeThroughScroll-content&quot; see-through-scroll-element=&quot;content&quot; unit-name=&quot;ondernemersplein&quot;&gt;
                &lt;ul class=&quot;mainMenu-linkList list list--double&quot;&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Over ons&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Disclaimer&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Cookies &amp;amp; Privacy&lt;/a&gt;&lt;/li&gt;
                    &lt;li class=&quot;mainMenu-item list-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Sitemap&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/nav&gt;
&lt;/div&gt;
