&lt;div class=&quot;mainMenu&quot;&gt;
    
    &lt;button class=&quot;close mainMenu-close&quot; ng-click=&quot;viewModel.openClose.close(&apos;menu&apos;)&quot;&gt;
        &lt;span class=&quot;close-text&quot;&gt;Sluiten&lt;/span&gt;
        &lt;svg class=&quot;close-icon&quot;&gt;
            &lt;use xlink:href=&quot;#figures-sluiten&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;
    &lt;/button&gt;
    &lt;nav class=&quot;mainMenu-nav&quot; main-menu default-opened=&quot;onderwerpen&quot;&gt;
        &lt;h2 class=&quot;charlieHeading mainMenu-title&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;onderwerpen&apos;)&quot;&gt;
            Onderwerpen
            &lt;button class=&quot;mainMenu-button&quot; ng-switch=&quot;viewModel.openClose.isOpened(&apos;onderwerpen&apos;)&quot;&gt;
                &lt;span ng-switch-when=&quot;true&quot;&gt;sluiten&lt;/span&gt;
                &lt;span ng-switch-when=&quot;false&quot;&gt;openen&lt;/span&gt;
            &lt;/button&gt;
        &lt;/h2&gt;
        &lt;div class=&quot;mainMenu-content ngAnimate-height&quot; data-open-close-name=&quot;onderwerpen&quot; ng-show=&quot;viewModel.isOpened(&apos;onderwerpen&apos;)&quot;&gt;
            &lt;ul class=&quot;mainMenu-linkList&quot;&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Personeel&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Bedrijf starten&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Handelsregister&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Administratie&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Geldzaken&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Belastingen&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Internationaal ondernemen&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Innovatie en productontwikkeling&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Marketing&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Huisvesting&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Bedrijf organiseren&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Bedrijf beschermen&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Freelance en zzp&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Bedrijf stoppen of verkopen&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Duurzaam ondernemen&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;h2 class=&quot;charlieHeading mainMenu-title&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;directNaar&apos;)&quot;&gt;
            Direct naar&hellip;
            &lt;button class=&quot;mainMenu-button&quot; ng-switch=&quot;viewModel.openClose.isOpened(&apos;directNaar&apos;)&quot;&gt;
                &lt;span ng-switch-when=&quot;true&quot;&gt;sluiten&lt;/span&gt;
                &lt;span ng-switch-when=&quot;false&quot;&gt;openen&lt;/span&gt;
            &lt;/button&gt;
        &lt;/h2&gt;
        &lt;div class=&quot;mainMenu-content ngAnimate-height ng-hide&quot; data-open-close-name=&quot;directNaar&quot; ng-show=&quot;viewModel.isOpened(&apos;directNaar&apos;)&quot;&gt;
            &lt;ul class=&quot;mainMenu-linkList&quot;&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Wetten en regels&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Wetswijzigingen&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Subsidies&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Direct regelen&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Branche-informatie&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Regio-informatie&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Webinars en video&CloseCurlyQuote;s&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Evenementen&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;h2 class=&quot;charlieHeading mainMenu-title&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;ondernemersplein&apos;)&quot;&gt;
            Ondernemersplein
            &lt;button class=&quot;mainMenu-button&quot; ng-switch=&quot;viewModel.openClose.isOpened(&apos;ondernemersplein&apos;)&quot;&gt;
                &lt;span ng-switch-when=&quot;true&quot;&gt;sluiten&lt;/span&gt;
                &lt;span ng-switch-when=&quot;false&quot;&gt;openen&lt;/span&gt;
            &lt;/button&gt;
        &lt;/h2&gt;
        &lt;div class=&quot;mainMenu-content ngAnimate-height ng-hide&quot; data-open-close-name=&quot;ondernemersplein&quot; ng-show=&quot;viewModel.isOpened(&apos;ondernemersplein&apos;)&quot;&gt;
            &lt;ul class=&quot;mainMenu-linkList&quot;&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Uw idee ter verbetering&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;mainMenu-item&quot;&gt;&lt;a class=&quot;mainMenu-link&quot; href=&quot;#&quot;&gt;Over ons&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
    &lt;/nav&gt;
&lt;/div&gt;
