.contentIndex {
	@include noBullets;
	padding: 1rem 0;

	@include mqLesserThan(medium) {
		display: none;
	}

	&-item {
		padding: 0;
	}

	&-link {
		&.is-active {
			fill: getColor(hemelblauw darkest);
			color: getColor(hemelblauw darkest);
		}
	}

	&-icon {
		&.is-active {
			transform: rotate(90deg);
		}
	}
}
.contentIndexInTab {
	@include noBullets;

	&-item {
		padding: 0;
		margin: 0 1px;
		border-top: 1px solid getColor(grijs light);
	}

	&-link {
		@include noUnderline;
		display: block;
		color: getColor(hemelblauw grijscontrast);
		padding: 0.8rem 0.8rem;

		&.is-active {
			color: getColor(hemelblauw darkest);
		}

		@include hoverEtc {
			color: getColor(hemelblauw darkest);

		}
	}
}
