.deadLink{
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width:100%;
	height: 100%;
	background-color: rgba(getColor(hemelblauw light),0.9);
	top: 0;
	left: 0;
	padding: 5rem;
	@include zIndex(overlay);


	strong{
		display: flex;
		position: relative;
		font-size:200%;
		font-size: 200%;
	}

	button{
		background-color: getColor(wit);
		margin-left: 5%;
		padding: 0.4rem 1rem;
		color: getColor(hemelblauw darkest);
		transition: transform .5s ease-in-out;
		border: none;
	}

	button:hover{
		transform: scale(1.05);
		color: getColor(zwart);
	}

}

