.filterContent {
	background-color: rgba(getColor(wit), 0.6);
	border-radius: 3px;
	padding: 0.5rem 0.8rem;
	width: fit-content;

	&-select {
		border-radius: 3px;
		appearance: none;
		border: none;
		background-color: getColor(violet default);
		color: getColor(wit);
		padding: 0.25em 1.6em 0.3em 0.8em;
		border-right: 0.3em solid transparent;
		margin: 0 0.2em;
		background-repeat: no-repeat;
		background-size: auto 80%;
		background-position: 100% 50%;
		background-image: url("../../images/chevron-down.svg");
	}
}