.filterContent {
	background-color: rgba(getColor(wit), 0.51);
	border-radius: 3px;

	&-select {
		border-radius: 3px;
		appearance: none;
		border: none;
		background-color: getColor(violet default);
		color: getColor(wit);
		padding: 0.1em 1.8em 0.2em 0.8em;
		margin: 0 0.2em;
	}
}