.headerStory {
	background: rgba(getColor(zwart), 0.51);
	color: getColor(wit);
	padding: 0.6rem 1.5rem;
	@include noUnderline;
	display: block;
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 15rem;
	line-height: 1.2;
	transform-origin: 100% 100%;
	transition: transform 200ms;

	@include mqLesserThan(smallMedium) {
		display: none;
	}

	@include hoverEtc {
		transform: scale(1.025);
	}

	&-intro {
		font-weight: normal;
		font-style: italic;
		font-size: getFontSize(small);
		color: getColor(wit);
		margin: 0;
	}
	&-blockquote {
		color: getColor(wit);
		border: none;
		padding: 0;
		font-style: normal;
		margin: 0;

	}
	&-quote {
		font-weight: bold;
		position: relative;
		margin: 0.3em 0;

		@include before("“") {
			position: absolute;
			right: 100%;
			top: 0;
			margin-right: 0.3em;
		}
		@include after("”") {
			margin-left: 0.3em;
		}
	}
	&-citation {
	}
}