// Wordt nu gebruikt voor: Toptaken

.labelList {
	@include noBullets;
	margin: 1rem 0 1.5rem 0;
	@include setPropWithMq(greater, font-size, getFontSize(h3));

	&-title {
		font-weight: normal;
	}

	&-item {
		display: inline-block;
		margin: 0 0.5rem 0.5rem 0;
		padding: 0;
	}

	&-link {
		line-height: 1.6;
		@include noUnderline;
		color: getColor(hemelblauw darkest);
		background-color: getColor(mintgroen default);
		display: inline-flex;
		align-items: flex-start;
		font-style: italic;
		padding: 0.4rem 1rem;
		transition: all 0.2s ease-in-out;

		@include hoverEtc {
			transform: scale(1.05);
			color: getColor(zwart);
		}

		&--white {
			background-color: getColor(wit);
			color: rgba(getColor(hemelblauw darkest), 0.9);
			box-shadow: 1px 1px 0 0 rgba(getColor(zwart), 0.1);

			&:hover {
				color: getColor(hemelblauw default);
			}
		}

	}
	&-text {
		flex: 1 1 0;
		line-height: 1.3;
	}
}