// Wordt nu gebruikt voor: Toptaken

.labelList {
	@include noBullets;
	margin: 1rem 0 1.5rem 0;
	@include setPropWithMq(greater, font-size, getFontSize(h3));

	&-item {
		display: inline-block;
		margin: 0 0.5rem 0.5rem 0;
		padding: 0;
	}
	&-link {
		line-height: 1.6;
		@include noUnderline;
		color: getColor(hemelblauw darkest);
		background-color: getColor(mintgroen default);
		display: inline-flex;
	    align-items: flex-start;
	    font-style: italic;
	    padding: 0.4rem 1rem;
	    transition: all 0.2s ease-in-out;

	    &:hover {
			transform: scale(1.025);
			color: getColor(hemelblauw darkest);
	    }

	}
	&-text {
		flex: 1 1 0;
		@include hideUnderline;
		line-height: 1.3;

		span {
			@include noUnderline;
			@include hoverEtc {
				@include noUnderline;
				color: getColor(hemelblauw darkest);
			}
		}
	}
}