.linkList {
	@include noBullets;

	.block-crs & {
		margin-left: 0;
	}

	.readMoreBlock &,
	.pageContentNav &,
	.aside & {
		margin-left: 0;

		.interfaceLink {
			color: getColor(grijs rightcolumn);
			fill: getColor(grijs default);

			&:hover,
			&:active,
			&:focus {
				color: getColor(hemelblauw default);
				fill: getColor(hemelblauw default);
			}
		}
	}

	.readMoreBlock &,
	.pageContentNav & {
		.list-spacedItem {
			margin-left: 0;
		}
	}
}
