.scBlock {
	position: relative;

	&-main {
		background-color: getColor(paars default);
		color: getColor(wit);
		margin: 0;
	}

	&-button {
		background-color: getColor(paars default);
		border: none;
		@include insideMargin($halfSpace);
		padding: 0 $halfSpace;
	}

	&-wrapper {
		margin: 1rem 0;
	}

	&-icon {
		fill: getColor(wit);
		height: 2.2em;
		width: 2.2em;
		display: block;
	}
	&-title {
		color: getColor(wit);
		font-size: 1.35rem;
		margin-bottom: 0;

		&-text {
			margin-left: 0.5em;
		}
	}
	&-subTitle {

	}
	&-form {
		position: relative;
	}
	&-clearIcon {
		position: absolute;
		top: 8px;
		right: 8px;
		height: 1.25rem;
		width: 1.25rem;
	}
	&-result {
		color: getColor(paars default);
		background-color: getColor(paars lightest);
		border-top: 3px solid getColor(wit);
	}
	&-resultLink {
		color: getColor(paars default);
		fill: getColor(paars default);
		padding: 0.35em 0.35em 0.35em 5em;
		display: block;
		&:hover,
		&:focus,
		&:active {
			background-color: getColor(paars light);
			color: getColor(paars default);
			//fill: getColor(grijs darkest);
			.interfaceLink-text {
				span {
					@include underline;
				}
			}
		}
		.interfaceLink-icon {
			height: 0.9rem;
			width: 0.9rem;
		}
	}
	&-noResult {
		padding: 0.35em 0.35em 0.35em 5em;
		background-color: getColor(rood lightest);
		border-top: 3px solid getColor(wit);
	}
	&-noResultText {
		color: getColor(grijs darkest);
		font-size: getFontSize(small);
		font-style: italic;
		display: block;
		margin-bottom: 0.5em;
	}
	&-noResultLink {
		color: getColor(grijs darkest);
		fill: getColor(grijs darkest);
		&:hover,
		&:focus,
		&:active {
			color: getColor(grijs darkest);
		}
		.interfaceLink-icon {
			height: 0.9rem;
			width: 0.9rem;
			margin-top: 2px;
		}
	}
}