.scBlock {
	padding-left: 5em;
	position: relative;
	margin: 0;

	&-wrapper {
		margin: 1rem 0;
	}

	&--icon {
		fill: getColor(paars default);
		height: 2.2em;
		width: 2.2em;
		position: absolute;
		top: 0.75em;
		left: 0.5em;
		display: block;
	}
	&--title {
		color: getColor(paars default);
		font-size: 1.35rem;
		margin-bottom: 0;
	}
	&--subTitle {

	}
	&--form {
		position: relative;
	}
	&--clearIcon {
		position: absolute;
		top: 6px;
		right: 6px;
		height: 1.5rem;
		width: 1.5rem;
	}
	&--result {
		padding: 0.35em 0.35em 0.35em 5em;
		color: getColor(paars default);
		background-color: getColor(paars lightest);
		border-top: 3px solid getColor(wit);
	}
	&--resultLink {
		color: getColor(paars default);
		fill: getColor(paars default);
		&:hover,
		&:focus,
		&:active {
			color: getColor(paars default);
		}
	}
	&--noResult {
		padding: 0.35em 0.35em 0.35em 5em;
		background-color: getColor(rood lightest);
		border-top: 3px solid getColor(wit);
	}
	&--noResultText {
		color: getColor(grijs darkest);
		font-size: getFontSize(small);
		font-style: italic;
		display: block;
		margin-bottom: 0.5em;
	}
	&--noResultLink {
		color: getColor(grijs darkest);
		fill: getColor(grijs darkest);
		&:hover,
		&:focus,
		&:active {
			color: getColor(grijs darkest);
		}
	}
}