

.seeThroughScroll {
	position: relative;
	@include zIndex(menuBar content seeThroughScroll);

	&-size {
		overflow: hidden;
		@include mqDisableSeeThroughScroll {
			display: none;
		}
	}
	&-scroll {
		overflow: auto;
		overflow-x: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include zIndex(menuBar content seeThroughScroll content);
		@include mqDisableSeeThroughScroll {
			position: relative;
			width: auto;
			height: auto;
			left: auto;
			top: auto;
			overflow: visible;
		}

		@include mqDisableSeeThroughScroll {
			&.is-hidden:not(.ng-animate) {
				display: block !important;
			}
		}

		.touch & {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			@include mqDisableSeeThroughScroll {
				overflow-y: visible;
			}
		}
	}
	&-content {
		position: relative;
	}
	&-overlay {
		position: relative;
		@include zIndex(menuBar content seeThroughScroll overlay);
	}
}