.seeThroughScroll {
	position: relative;
	@include zIndex(seeThroughScroll);

	&-size {
		overflow: hidden;
	}
	&-scroll {
		overflow: auto;
		overflow-x: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include zIndex(seeThroughScroll content);

		.touch & {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
	&-content {
		position: relative;
	}
	&-overlay {
		position: relative;
		@include zIndex(seeThroughScroll overlay);
	}
}