// SOCIAL MEDIA

.share-close {
	@include zIndex(seeThroughScroll front);
	position: absolute;
	right: $quarterSpace;
	top: 1.25rem;

	@include mqGreaterThan(small) {
		right: $halfSpace;
		top: $quarterSpace;
	}

	.close-icon {
		fill: getColor(hemelblauw darkest);
	}
}


// Social Base

.social {
	&-link {
		display: block;
		height: 2rem;
		width: 2rem;
		@include noUnderline;
		margin: 0 0.5rem;
		transition: background-color 400ms;

		&:hover {
			transition: all 0.2s ease-in-out;
			transform: scale(1.1);
		}

		&--facebook {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials facebook);
				}
			}
			.social--share & {
				.social-figure-background {
					fill: getColor(socials facebook);
				}
			}
		}
		&--twitter {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials twitter);
				}
			}
			.social--share & {
				.social-figure-background {
					fill: getColor(socials twitter);
				}
			}
		}
		&--linkedin {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials linkedin);
				}
			}
			.social--share & {
				.social-figure-background {
					fill: getColor(socials linkedin);
				}
			}
		}
		&--googleplus {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials googleplus);
				}
			}
			.social--share & {
				.social-figure-background {
					fill: getColor(socials googleplus);
				}
			}
		}
		&--youtube {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials youtube);
				}
			}
			.social--share & {
				.social-figure-background {
					fill: getColor(socials youtube);
				}
			}
		}
		&--email {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(hemelblauw default);
				}
			}
			.social--share & {
				.social-figure-background {
					fill: getColor(hemelblauw default);
				}
			}
		}


		@include hoverEtc {
			.social-figure-foreground {
				fill: getColor(wit);
			}
		}
	}

	&-figure {
		height: 100%;


		&-background,
		&-foreground {
			transition: fill 400ms;
		}

		&-background {
			fill: getColor(grijs default);
		}

		&-foreground {
			fill: getColor(wit);

			.footer & {
				fill: getColor(grijs light);
			}
		}
	}

	&--share {
		margin-left: 0;
	}

	&--follow {
		margin: 0.5em 0 0.9em 0;
	}
}