// SOCIAL MEDIA


// Social Base

.socials {
	margin: {
		top: 0.5rem;
		bottom: 0.9rem;
	}
}

.social {
	&-link {
		display: block;
		height: 2rem;
		width: 2rem;
		@include noUnderline;
		margin: 0 0.5rem;
		transition: background-color 400ms;

		&:hover {
			transition: all 0.2s ease-in-out;
			transform: scale(1.1);
		}

		&--facebook {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials facebook);
				}
			}
		}
		&--twitter {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials twitter);
				}
			}
		}
		&--linkedin {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials linkedin);
				}
			}
		}
		&--googleplus {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials googleplus);
				}
			}
		}
		&--youtube {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(socials youtube);
				}
			}
		}
		&--email {
			@include hoverEtc {
				.social-figure-background {
					fill: getColor(hemelblauw darkest);
				}
			}
		}


		@include hoverEtc {
			.social-figure-foreground {
				fill: getColor(wit);
			}
		}
	}

	&-figure {
		height: 100%;


		&-background,
		&-foreground {
			transition: fill 400ms;
		}

		&-background {
			fill: getColor(grijs default);
		}

		&-foreground {
			fill: getColor(grijs light);
		}
	}
}