// SOCIAL MEDIA

%sociallink_basis {
	display: block;
	height: 34px;
	width: 34px;
	text-decoration: none;
	background-color: mapDeepGet($colors, hemelblauw default);
	color: mapDeepGet($colors, wit);
	overflow: hidden;

	&:before {
		@include icon;
		content: "";
		display: inline-block;
		width: 34px;
		height: 34px;
		font-size: 30px;
		line-height: 1.15;
		text-align: center;
	}
	&:hover, &:active {
		background-color: mapDeepGet($colors, grijs darkest);
	}
	span {
		@include accHide;
	}
}

// Social Base

.social {
	overflow: hidden;
	padding-left: 0;

	li {
		display: inline-block;
		margin-right: $pad;
		&:last-child {
			margin-right: 0;
		}
	}

	a {
		@extend %sociallink_basis;
		&.twitter {
			background-color: mapDeepGet($colors, twitter);
			&:before {
				content: getIcon(social twitter);
			}
			&:hover, &:active {
				background-color: mapDeepGet($colors, grijs darkest);
			}
		}
		&.facebook {
			background-color: mapDeepGet($colors, facebook);
			&:before {
				content: getIcon(social facebook);
			}
			&:hover, &:active {
				background-color: mapDeepGet($colors, grijs darkest);
			}
		}
		&.linkedin {
			background-color: mapDeepGet($colors, linkedin);
			&:before {
				content: getIcon(social linkedin);
			}
			&:hover, &:active {
				background-color: mapDeepGet($colors, grijs darkest);
			}
		}
		&.googleplus {
			background-color: mapDeepGet($colors, googleplus);
			&:before {
				content: getIcon(social googleplus);
			}
			&:hover, &:active {
				background-color: mapDeepGet($colors, grijs darkest);
			}
		}
		&.youtube {
			background-color: mapDeepGet($colors, youtube);
			&:before {
				content: getIcon(social youtube);
			}
			&:hover, &:active {
				background-color: mapDeepGet($colors, grijs darkest);
			}
		}
		&.mail {
			&:before {
				content: getIcon(enveloppe);
				margin-top: -5px;
			}
		}
	}

	// Social Share
	&--share {
		.menuBar-content & {
			li {
				padding: 0 10px 0 0;
				&:first-child {
					padding-left: 20px;
				}
				&:hover {
					background-color: transparent;
				}
			}
			a {
				color: mapDeepGet($colors, wit);
			}
		}
	}

	// Social Follow
	&--follow {
		@include mqGreaterThan(medium) {
			text-align: right;
		}
		padding: $pad-half $pad;
		margin: 0;
		li {
			padding: 0.45rem 0px;
			margin-right: $pad-half;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			height: 24px;
			width: 24px;
			color: mapDeepGet($colors, hemelblauw light);
			background-color: mapDeepGet($colors, hemelblauw darkest);
			&:before {
				height: 24px;
				width: 24px;
				font-size: 19px;
			}
			&:hover, &:active {
				color: mapDeepGet($colors, wit);
				background-color: mapDeepGet($colors, hemelblauw default);
			}
			&.twitter,
			&.linkedin,
			&.facebook,
			&.googleplus,
			&.youtube {
				background-color: mapDeepGet($colors, hemelblauw darkest);
				&:hover, &:active {
					background-color: mapDeepGet($colors, hemelblauw default);
				}
			}
			&.youtube {
				&:before {
					margin-top: 3px;
				}
			}
		}
	}

}