.summary {
	line-height: 1.2;

	&-unit {
		align-items: flex-end;
		margin-bottom: 2.4rem;
		margin-left: -0.3rem;
	}

	&-number {
		line-height: 0.68;

		font-size: getFontSize(summary number);
		transform-origin: 100% 50%;
		transition: opacity, transform 1s, 0.3s;
		&[visual-cloak] {
			transform: scale(0.5);
		}

	}

	&-percentage {
		margin-left: -0.07em;
		position: absolute;
		display: block;
		left: 100%;
		font-size: getFontSize(summary percentage);
		bottom: 2.4rem;
		line-height: 0.68;
	}

	&-text {
	    display: block;
	    font-size: getFontSize(small);
	    background: rgba(getColor(wit), 0.8);
	    position: relative;
	}
}