.tabs {
	@include noBullets;
	position: relative;
	line-height: 1.2;
	@include zIndex(tabs);
	font-size: getFontSize(small);

	@include mqGreaterThan(medium) {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
	}
}

.tab {
	padding: 0;
	& + & {
		@include mqGreaterThan(medium) {
			margin-left: 0.35rem;
		}
	}

	&-button {
		@include cleanButton;
		display: block;
		width: 100%;
	}

	&-link {
		@include noUnderline;
		display: block;
		padding: 0.7rem 0.8rem;
		color: getColor(grijs light);
		fill: getColor(grijs light);
		position: relative;
		@include zIndex(tabs normal);

		@include before("") {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: getColor(hemelblauw darkest);
			transition: top, background-color 0.1s;

			@include mqGreaterThan(medium) {
				background-image: linear-gradient(to top,
					#{rgba(getColor(zwart), 0.15)} 0.25rem,
					transparent 0.25rem);
			}
		}

		@include mqGreaterThan(medium) {
			transform-origin: 50% 100%;
		}

		@include hoverEtc {
			@include mqLesserThan(medium) {
				color: getColor(wit);
				fill: getColor(wit);
			}
			@include mqGreaterThan(medium) {
				color: getColor(grijs light);
				fill: getColor(grijs light);
			}

			@include before() {
				@include mqLesserThan(medium) {
					background-color: getColor(hemelblauw default);
				}

				@include mqGreaterThan(medium) {
					top: -0.25rem;
					background-image: linear-gradient(to top,
						#{rgba(getColor(zwart), 0.15)},
						#{rgba(getColor(zwart), 0.15)});
				}
			}
		}

		&--small {
			@include mqLesserThan(medium) {
				display: block;
			}
			@include mqGreaterThan(medium) {
				display: none;
			}
		}

		&--large {
			@include mqLesserThan(medium) {
				display: none;
			}
			@include mqGreaterThan(medium) {
				display: block;
			}
		}

		&.is-active {
			@include zIndex(tabs active);
			font-weight: bold;
			@include mqLesserThan(medium) {
				box-shadow: 0px -4px 0px 0px rgba(getColor(zwart), 0.15),
						0px 4px 0px 0px rgba(getColor(zwart), 0.15);

				@include before() {
					left: -0.25rem;
					right: -0.25rem;
				}
			}

			@include mqGreaterThan(medium) {
				color: getColor(hemelblauw darkest);
				fill: getColor(hemelblauw darkest);

				@include before() {
					top: -0.25rem;
					background-color: #{getColor(wit)};
					background-image: none;
				}
			}
		}

		&--content.is-active {
			@include mqGreaterThan(medium) {
				@include before() {
					background-color: #{getColor(grijs lightest)};
				}
			}
		}

		&--openClose {
			&,
			&.is-active {
				box-shadow: none;
			}
		}
	}

	&-icon {
		position: relative;
		width: 1.3em;
		height: 1.3em;
    	margin-top: -0.15em;
    	margin-right: 0.5em;

    	&--overzicht {
			@include mqGreaterThan(medium) {
				margin-right: 0.1em;
				margin-left: -0.3em;
			}
    	}
	}

	&-text {
		position: relative;
	}

	&-openClose {
		position: relative;
		@include before("") {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: getColor(grijs lightest);
			box-shadow: 0px 0px 0px 1px getColor(grijs default) inset;
		}
		&.is-active {
			@include zIndex(tabs active);
			box-shadow: 0px -4px 0px 0px rgba(getColor(zwart), 0.15),
					0px 4px 0px 0px rgba(getColor(zwart), 0.15);
			@include before("") {
				@include mqLesserThan(medium) {
					left: -0.25rem;
					right: -0.25rem;
				}
			}
		}

		&-link {
			&.is-opened {
				color: getColor(hemelblauw darkest);
				fill: getColor(hemelblauw darkest);

				@include before() {
					top: -0.25rem;
					background-color: transparent;
					background-image: none;
				}
			}
		}
		&-content {
			position: relative;
			overflow: hidden;
		}
		&-icon {
			position: relative;
			width: 1.8em;
			height: 1.8em;
	    	margin: -0.3em 0 -0.3em 0.3em;


			transition: transform 400ms;
		    transform: rotate(0deg);

			&.is-opened {
				transform: rotate(-180deg);
			}
		}
	}
}