&lt;div class=&quot;column column--third blockContainer&quot;&gt;
&Tab;&lt;div class=&quot;homeBlockMore homeBlockMore--green&quot;&gt;
&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;Wetten en regels
&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&lt;/a&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;listBlock listBlock--green&quot;&gt;
&Tab;&Tab;&lt;p class=&quot;infoText&quot;&gt;Alles te weten komen waaraan u moet voldoen met uw onderneming?&lt;/p&gt;
&Tab;&Tab;&lt;ul class=&quot;listBlock-list linkList&quot;&gt;
&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Wetten en regels op onderwerp
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Wetten en regels per sector
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&lt;ul class=&quot;listBlock-list linkList&quot; style=&quot;margin-top:1em;&quot;&gt;
&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon(goIcon: {className: &quot;interfaceLink-icon&quot;}) }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;postTitle interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Alle wetswijzigingen
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;

&Tab;&lt;/div&gt;
&lt;/div&gt;