&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;{{&gt; organisms-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Marketing&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title h3&quot;&gt;Veel gezocht&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;                        &lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Maak een concurrentieanalyse&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;                        &lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Hoe kunt u reclame maken?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;                        &lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Zorg voor een goede marketingmix&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;                    &lt;/ul&gt;
&Tab;                &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-contactblok }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
                &lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;{{ link.templates-subject }}&quot;&gt;Marktonderzoek&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Marktonderzoek doen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Brancheonderzoek&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Onderzoek uw klanten&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een concurrentieanalyse maken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Omgevingsanalyse&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;{{ link.templates-subject }}&quot;&gt;Marketingplan&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Marketingmix&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Sterkte-zwakte analyse&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;{{ link.templates-subject }}&quot;&gt;Klanten vinden&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Hoe vindt u uw klanten?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Netwerken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een offerte maken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Social media&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;{{ link.templates-subject }}&quot;&gt;Aanbestedingen&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Aanbestedingen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Stappenplan inschrijven op aanbestedingen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Direct regelen&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Bestel een digitaal gewaarmerkt uittreksel met iDeal of creditcard bij de Kamer van Koophandel&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Vraag een toegangscode Handelsregister aan om bedrijfsinformatie op te vragen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Wat kan ik nog meer direct regelen?&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Wetten en regels&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Reclamebelasting&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Reclame maken op uw pand&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Reclamemateriaal verspreiden&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Reclame maken&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.templates-contentpage-base }}&quot;&gt;Alle wetten en regels voor reclame en promotie&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-linklijst}}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal}}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-promoblok}}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;