/* Z-INDEX */

$zIndex: (
	overlay,
	stickyBar,
	(
		name: menuBar,
		subZIndex: (
			(name: title),
			(name: test)
		),
	)
);

@function saveMapGet($potentialMap, $name, $default: null) {
	@if  type-of($potentialMap) == "map" {
		@return map-get($potentialMap, $name);
	} @else {
		@return $default;
	}
}

@function getZIndex($names) {
	$list: $zIndex;

	@each $name in $names {
		$match: null;
		$i: 1;

		@while not $match and $i <= length($list) {
			$item: nth($list, $i);

			@if saveMapGet($item, "name", $item); == $name {
				$match: $i + 1;
				$list: saveMapGet($item, "subZIndex", ());
			}
			$i: $i + 1;
		}
  	}

  	@if not $match {
  		@error "z-index “#{$names}” was not found";
  	}

	@return $match;
}

@mixin zIndex($names) {
	z-index: getZIndex($names);
}

// a {
// 	@include zIndex(overlay);
// 	@include zIndex(menuBar title);
// 	@include zIndex(menuBar);
// }