<figure class="image-figure">
	<img class="image" src="../../images/voorbeeld-afbeelding.jpg" alt="Voorbeeld afbeelding" />
	<figcaption class="image-caption">Voordelen van een bedrijf aan huis zijn de relatief lage kosten en de reistijd die u bespaart.</figcaption>
</figure>
