&lt;!--&lt;iframe width=650 height=400 frameborder=&quot;0&quot; scrolling=&quot;no&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot; src=&quot;https://maps.google.com/?ie=UTF8&amp;amp;hq=&amp;amp;hnear=2903+Simkins+Ct,+Palo+Alto,+California+94303&amp;amp;ll=37.44041,-122.117335&amp;amp;spn=0.017412,0.019462&amp;amp;t=m&amp;amp;z=16&amp;amp;output=embed&quot;&gt;&lt;/iframe&gt;--&gt;