&lt;div zoom-table&gt;
    &lt;div class=&quot;tableWrapper&quot; ng-class=&quot;viewModel.getStateClass()&quot;&gt;
        &lt;button class=&quot;table-control&quot; ng-click=&quot;viewModel.openClose.toggle(&apos;table&apos;)&quot;&gt;Zoom&lt;/button&gt;
        &lt;table&gt;
            &lt;caption&gt;Voorbeeldtabel kies een rechtsvorm&lt;/caption&gt;
            &lt;thead&gt;
                &lt;tr&gt;
                    &lt;td&gt;
                    &lt;/td&gt;
                    &lt;th scope=&quot;col&quot;&gt;
                        Eenmanszaak
                    &lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;
                        Maatschap
                    &lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;
                        VOF
                    &lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;
                        BV
                    &lt;/th&gt;
                &lt;/tr&gt;

            &lt;/thead&gt;
            &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Kenmerken
                    &lt;/th&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;E&eacute;n eigenaar&lt;/li&gt;
                            &lt;li&gt;Natuurlijk persoon&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Bundeling van eenmanszaken en/of BV&CloseCurlyQuote;s. De leden worden maten genoemd.&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Bundeling van eenmanszaken en/of BV&CloseCurlyQuote;s. De leden worden vennoten genoemd.&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Een of meer aandeelhouders&lt;/li&gt;
                            &lt;li&gt;Rechtspersoon&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Aansprakelijkheid
                    &lt;/th&gt;
                    &lt;td&gt;
                        &lt;p&gt;Priv&eacute; &lt;a title=&quot;Aansprakelijkheid&quot; href=&quot;../juridisch/aansprakelijkheid&quot; target=&quot;_self&quot;&gt;aansprakelijk&lt;/a&gt;&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Maten zijn ieder voor een gelijk deel &lt;a title=&quot;Aansprakelijkheid&quot; href=&quot;../juridisch/aansprakelijkheid&quot; target=&quot;_self&quot;&gt;aansprakelijk&lt;/a&gt;,&amp;nbsp;ook met hun priv&eacute;vermogen&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Vennoten zijn ieder voor 100% aansprakelijk, ook met hun priv&eacute;vermogen&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;In principe niet priv&eacute; aansprakelijk, behalve bij wanbeheer&lt;/p&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Oprichting
                    &lt;/th&gt;
                    &lt;td&gt;
                        &lt;p&gt;Inschrijven bij &lt;a title=&quot;De Kamer van Koophandel&quot; href=&quot;../../starten/kvk/index_html&quot; target=&quot;_self&quot;&gt;KvK&lt;/a&gt;&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Afzonderlijke maten schrijven zich in bij &lt;a title=&quot;De Kamer van Koophandel&quot; href=&quot;../../starten/kvk/index_html&quot; target=&quot;_self&quot;&gt;KvK&lt;/a&gt; &lt;/li&gt;
                            &lt;li&gt;Maatschapscontract opstellen (niet verplicht, wel sterk aan te raden)&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;VOF inschrijven bij KvK&lt;/li&gt;
                            &lt;li&gt;Vennootschapscontract opstellen (niet verplicht, wel sterk aan te raden)&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Wordt opgericht door de notaris&lt;/li&gt;
                            &lt;li&gt;Oprichtingskapitaal&amp;nbsp; nodig&lt;/li&gt;
                            &lt;li&gt;Notaris zorgt voor inschrijving bij de KvK&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Belastingen
                    &lt;/th&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;a title=&quot;Inkomstenbelasting&quot; href=&quot;../inkomstenbelasting/index_html&quot; target=&quot;_self&quot;&gt;Inkomstenbelasting&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a title=&quot;Zelfstandigenaftrek&quot; href=&quot;../inkomstenbelasting/aftrekposten/zelfstandigenaftrek&quot; target=&quot;_self&quot;&gt;Zelfstandigenaftrek&lt;/a&gt;&amp;nbsp;en &lt;a title=&quot;Startersaftrek&quot; href=&quot;../inkomstenbelasting/aftrekposten/startersaftrek&quot; target=&quot;_self&quot;&gt;startersaftrek&lt;/a&gt; (onder voorwaarden)&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;a title=&quot;Inkomstenbelasting&quot; href=&quot;../inkomstenbelasting/index_html&quot; target=&quot;_self&quot;&gt;Inkomstenbelasting&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a title=&quot;Zelfstandigenaftrek&quot; href=&quot;../inkomstenbelasting/aftrekposten/zelfstandigenaftrek&quot; target=&quot;_self&quot;&gt;Zelfstandigenaftrek&lt;/a&gt;&amp;nbsp;en &lt;a title=&quot;Startersaftrek&quot; href=&quot;../inkomstenbelasting/aftrekposten/startersaftrek&quot; target=&quot;_self&quot;&gt;startersaftrek&lt;/a&gt; (onder voorwaarden)&lt;/li&gt;
                            &lt;li&gt;Maten zijn ieder afzonderlijk ondernemer voor de Belastingdienst, maar voor de &lt;a title=&quot;BTW&quot; href=&quot;../btw/index_html&quot; target=&quot;_self&quot;&gt;btw&lt;/a&gt; is de maatschap als geheel ondernemer&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Inkomstenbelasting zelfstandigenaftrek en startersaftrek (onder voorwaarden)&lt;/li&gt;
                            &lt;li&gt;Vennoten zijn ieder afzonderlijk ondernemer voor de Belastingdienst, maar voor de btw&amp;nbsp;is de VOF als geheel ondernemer&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;a title=&quot;Vennootschapsbelasting&quot; href=&quot;bv/vennootschapsbelasting&quot; target=&quot;_self&quot;&gt;Vennootschapsbelasting&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a title=&quot;Inkomstenbelasting&quot; href=&quot;../inkomstenbelasting/index_html&quot; target=&quot;_self&quot;&gt;Inkomstenbelasting&lt;/a&gt;&amp;nbsp;over salaris directeur-grootaandeelhouder&lt;/li&gt;
                            &lt;li&gt;Dividendbelasting&lt;/li&gt;
                            &lt;li&gt;Geen ondernemersaftrekposten&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Sociale zekerheid
                    &lt;/th&gt;
                    &lt;td&gt;
                        &lt;p&gt;Geen werknemersverzekeringen&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Geen werknemersverzekeringen&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Geen werknemersverzekeringen&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Directeur-grootaandeelhouder valt niet onder werknemersverzekeringen (tenzij er sprake is van ondergeschiktheid)&lt;/p&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Verplichtingen
                    &lt;/th&gt;
                    &lt;td&gt;
                        &lt;p&gt;Inschrijving KvK&amp;nbsp;&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Inschrijving KvK van de aangesloten eenmanszaken&amp;nbsp;en &lt;a title=&quot;BV&quot; href=&quot;bv/index_html&quot; target=&quot;_self&quot;&gt;BV&CloseCurlyQuote;s&lt;/a&gt;&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Inschrijving KvK&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;a title=&quot;Jaarrekening&quot; href=&quot;../inkomstenbelasting/jaarrekening/index_html&quot; target=&quot;_self&quot;&gt;Jaarrekening&lt;/a&gt; maken en deponeren bij de KvK&lt;/li&gt;
                            &lt;li&gt;Inschrijving KvK&lt;/li&gt;
                            &lt;li&gt;Maandelijks aangifte &eacute;n betaling loonbelasting&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Kosten
                    &lt;/th&gt;
                    &lt;td&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Kosten voor het opstellen van het maatschapscontract&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Kosten voor het opstellen van het vennootschapscontract&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Oprichtingskosten circa &euro; 1500&lt;/li&gt;
                            &lt;li&gt;Oprichtingskapitaal&amp;nbsp;circa &euro; 18.000 (in elk geval tot de wet vereenvoudiging en flexibilisering bv-recht ingaat)&lt;/li&gt;
                            &lt;li&gt;Accountantskosten vanwege de jaarrekening&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope=&quot;row&quot;&gt;
                        Bijzonderheden
                    &lt;/th&gt;
                    &lt;td&gt;&lt;/td&gt;
                    &lt;td&gt;
                        &lt;p&gt;Waarschijnlijk in 2008 treedt er een nieuwe wet in werking die invloed heeft op deze rechtsvorm.&lt;/p&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Waarschijnlijk in 2008 treedt er een nieuwe wet in werking die invloed heeft op deze &lt;a title=&quot;Rechtsvormen&quot; href=&quot;index_html&quot; target=&quot;_self&quot;&gt;rechtsvorm&lt;/a&gt;.&lt;/li&gt;
                            &lt;li&gt;Freelancende levenspartners kunnen een speciale VOF oprichten: de man/vrouw-firma.&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        &lt;ul&gt;
                            &lt;li&gt;Het tarief van de &lt;a title=&quot;Vennootschapsbelasting&quot; href=&quot;bv/vennootschapsbelasting&quot; target=&quot;_self&quot;&gt;vennootschapsbelasting&lt;/a&gt; ligt lager dan dat van de &lt;a title=&quot;Inkomstenbelasting&quot; href=&quot;../inkomstenbelasting/index_html&quot; target=&quot;_self&quot;&gt;inkomstenbelasting&lt;/a&gt;. Boven een bepaalde nettowinst kan een &lt;a title=&quot;BV&quot; href=&quot;bv/index_html&quot; target=&quot;_self&quot;&gt;BV&lt;/a&gt; daardoor voordeliger zijn. Dit omslagpunt is per situatie verschillend, maar ligt globaal bij een nettowinst van circa &euro; 70.000.&lt;/li&gt;
                            &lt;li&gt;Aantrekkelijke korting bij ouderschapsverlof.&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;