/* BLOCKS */

.block {

	&--side {
		margin-bottom: 1.5em;
	}
	&--blue {
		background-color: mapDeepGet($colors, hemelblauw lightest);
		padding: 0.5em;
	}
	&--border {
		border: 1px solid mapDeepGet($colors, mosgroen default);
		padding: 0.5em;
	}
}
.block-title {

}