/* BLOCKS */

.block {

	margin: {
		top: $space/2;
		bottom: $space/2;
	}

	&--side {
		margin-top: 0;
		margin-bottom: 1.5em;
		border-bottom: 4px solid getColor(grijs border);
		padding-bottom: 0.5em;

		&:last-child {
			border-bottom: none;
		}
	}
	&--blue {
		background-color: getColor(hemelblauw lightest);
		padding: 0 0.5em;
		@include insideMargin(0.5em);
		border-left: 0;
	}
	&--grey {
		background-color: getColor(grijs lightest);
		padding: 1em;
		@include insideMargin(0.5em);
		border-left: 0;
	}
	&--border {
		border: 1px solid getColor(mosgroen default);
		padding: 0 0.5em;
		@include insideMargin(0.5em);
	}

	&-title {
		margin-top: 0.34rem;
	}
	&-image {

	}
	&-link {

	}
}