/* GRID */

$maxWidth: 75rem; //1350px
$space: 2rem;
$doubleSpace: $space*2; // 4rem
$halfSpace: $space/2; // 1rem
$quarterSpace: $space/4; // 0.5rem
$eighthSpace: $space/8; // 0.25rem


// Returns the value for the with of al column of a certain ratio
// It takes the gutter space into account
// Example:
// calcColumnWidth(1/1) -> calc(100% - 2rem)
// calcColumnWidth(1/2) -> calc(50% - 2rem)
@function calcColumnWidth($ratio) {
	@return calc(#{$ratio * 100%} - #{$space});
}


.layoutContainer {
	margin: {
		left: auto;
		right: auto;
	};

    border-left: solid transparent;
    max-width: $maxWidth;

	@include setPropWithMq(greater, padding, (
		all: 0 0.2rem 0 0,
		extraSmall: 0 3% 0 0,
		small: 0 1.6rem,
		mediumLarge: 0 1rem,
		extraLarge: 0 1.6rem
	));

	@include setPropWithMq(greater, border-left-width, (
		all: $menuBarWidthSmall - 0.5rem,
		small: $menuBarWidthLarge,
		extraExtraLarge: $menuBarWidthExtraLarge,
		extraExtraExtraLarge: $menuBarWidthExtraExtraLarge,
	));

	&--fullWidth {
		max-width: none;
	}
}

// Container for elements that don't use columns
.contentContainer {
	@extend .layoutContainer;
    border-right: $halfSpace solid transparent;

	@include setPropWithMq(greater, border-left-width, (
		all: $menuBarWidthSmall - 0.5rem + $halfSpace,
		small: $menuBarWidthLarge + $halfSpace,
		extraExtraLarge: $menuBarWidthExtraLarge + $halfSpace,
		extraExtraExtraLarge: $menuBarWidthExtraExtraLarge + $halfSpace,
	));
}

.sublayoutContainer {
	margin: {
		left: negative($halfSpace);
		right: negative($halfSpace);
	};
}

.gridContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	&--stretchItems {
		align-items: stretch;
	}
	&--alignItemsToEnd {
		align-items: flex-end;
	}
	&--centerItems {
		justify-content: center;
	}
	&--spaceBetweenItems {
		justify-content: space-between;
	}
	&--singleLine {
		flex-wrap: nowrap;
	}
}

.gridItem {
	display: block;
	margin: {
		left: $halfSpace;
		right: $halfSpace;
	}
}

.column {
	@extend .gridItem;

	flex: 0 1 auto; // default

	&--fit {
		flex: 1 1 auto;
	}

	&--full {
		width: calcColumnWidth(1/1);
	}

	&--half {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(1/2)
		));
	}

	&--quarter {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/2),
			smallMedium: calcColumnWidth(1/3),
			mediumLarge: calcColumnWidth(1/4)
		));
	}

	&--threeQuarter {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(2/3),
			mediumLarge: calcColumnWidth(3/4)
		));
	}

	&--third {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(1/2),
			mediumLarge: calcColumnWidth(1/3)
		));
	}

	&--twoThird {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			mediumLarge: calcColumnWidth(2/3)
		));
	}
}