/* GRID */

$maxWidth: 68rem; //1224px
$space: 2rem;
$halfSpace: $space/2; // 1rem
$quarterSpace: $space/4; // 0.5rem


// Returns the value for the with of al column of a certain ratio
// It takes the gutter space into account
// Example:
// calcColumnWidth(1/1) -> calc(100% - 2rem)
// calcColumnWidth(1/2) -> calc(50% - 2rem)
@function calcColumnWidth($ratio) {
	@return calc(#{$ratio * 100%} - #{$space});
}


.layoutContainer {
	margin: {
		left: auto;
		right: auto;
	};

    border-left: solid transparent;
    border-left-width: $menuBarWidthSmall - 0.5rem;
    max-width: $maxWidth;

	@include setPropWithMq(greater, padding, (
		all: 0 0.2rem 0 0,
		extraSmall: 0 3% 0 0,
		small: 0 1.6rem,
		mediumLarge: 0 1rem,
		extraLarge: 0 1.6rem
	));

	@include mqGreaterThan(small) {
	    border-left-width: $menuBarWidthLarge;
	}

	@include mqGreaterThan(extraExtraLarge) {
	    border-left-width: $menuBarWidthExtraLarge;
	}

	&--fullWidth {
		max-width: none;
	}
}

.sublayoutContainer {
	margin: {
		left: (-1*$halfSpace);
		right: (-1*$halfSpace);
	};
}

.gridContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	&--stretchItems {
		align-items: stretch;
	}
	&--alignItemsToEnd {
		align-items: flex-end;
	}
	&--centerItems {
		justify-content: center;
	}
	&--spaceBetweenItems {
		justify-content: space-between;
	}
	&--singleLine {
		flex-wrap: nowrap;
	}
}


.column {
	display: block;
	margin: {
		left: $halfSpace;
		right: $halfSpace;
	}

	flex: 0 1 auto; // default

	&--fit {
		flex: 1 1 auto;
	}

	&--full {
		width: calcColumnWidth(1/1);
	}

	&--half {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(1/2)
		));
	}

	&--quarter {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/2),
			smallMedium: calcColumnWidth(1/3),
			mediumLarge: calcColumnWidth(1/4)
		));
	}

	&--threeQuarter {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(2/3),
			mediumLarge: calcColumnWidth(3/4)
		));
	}

	&--third {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(1/2),
			mediumLarge: calcColumnWidth(1/3)
		));
	}

	&--twoThird {
		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			mediumLarge: calcColumnWidth(2/3)
		));
	}
}