/* GRID */

$maxWidth: 68rem; //1224px
$space: 2rem;
$halfSpace: $space/2;
$quarterSpace: $space/4;

.layoutContainer {
	max-width: $maxWidth;

	margin: {
		left: auto;
		right: auto;
	};

    border-left: solid transparent;
    border-left-width: $menuBarWidthSmall - 0.5rem;
    max-width: $maxWidth;

	@include setPropWithMq(greater, padding, (
		all: 0 0.2rem 0 0,
		extraSmall: 0 3% 0 0,
		small: 0 1.6rem,
		mediumLarge: 0 1rem,
		extraLarge: 0 1.6rem
	));

	@include mqGreaterThan(small) {
	    border-left-width: $menuBarWidthLarge;
	}

	@include mqGreaterThan(extraExtraLarge) {
	    border-left-width: $menuBarWidthExtraLarge;
	}

	&--fullWidth {
		max-width: none;
	}
}

.gridContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	&--stretchItems {
		align-items: stretch;
	}
	&--alignItemsToEnd {
		align-items: flex-end;
	}
	&--centerItems {
		justify-content: center;
	}
	&--spaceBetweenItems {
		justify-content: space-between;
	}
	&--singleLine {
		flex-wrap: nowrap;
	}
}


.column {
	display: block;
	margin: {
		left: $halfSpace;
		right: $halfSpace;
	}

	//flex: 1 1 100%;
	flex: 0 1 auto; // default

	&--fit {
		flex: 1 1 auto;
	}

	&--full {
		flex-basis: 100%;
	}

	&--half {
		@include setPropWithMq(greater, flex-basis, (
			all: 100%,
			smallMedium: calc(50% - #{$space}),
		));
	}

	&--quarter {
		@include setPropWithMq(greater, flex-basis, (
			all: calc(50% - #{$space}),
			smallMedium: calc(#{100%*1/3} - #{$space}),
			mediumLarge: calc(25% - #{$space})
		));
	}

	&--threeQuarter {
		@include setPropWithMq(greater, flex-basis, (
			all: 100%,
			smallMedium: calc(#{100%*2/3} - #{$space}),
			mediumLarge: calc(75% - #{$space})
		));
	}

	&--third {
		@include setPropWithMq(greater, flex-basis, (
			all: 100%,
			smallMedium: calc(#{100%*1/2} - #{$space}),
			mediumLarge: calc(#{100%*1/3} - #{$space})
		));
	}

	&--twoThird {
		@include setPropWithMq(greater, flex-basis, (
			all: 100%,
			mediumLarge: calc(#{100%*2/3} - #{$space})
		));
	}
}