.list {
	&--double {
		@include mqGreaterThan(small) {
			column-count: 2;
		}
	}
	&--triple {
		@include setPropWithMq(greater, column-count, (
			small: 2,
			medium: 3
		));
	}
	&--quadruple {
		@include setPropWithMq(greater, column-count, (
			small: 2,
			smallMedium: 3,
			mediumLarge: 4
		));
	}

	&-spacedItem {
		break-inside: avoid;
		margin: {
			left: $halfSpace;
			right: $halfSpace;
		}
	}

	&-item {
		break-inside: avoid;
	}
}