/* BREADCRUMBS */

.breadcrumbs {
	margin: 0 0.5rem;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@include noBullets;
}

.breadcrumb {
	&:before {
		content: ">";
		display: inline-block;
		padding-right: $pad;
	}
	&:first-child:before {
		content: "";
		padding-right: 0;
	}

	&-link {
		@include hideUnderline;
		display: inline-block;
		padding: $pad-half $pad $pad-half 0;

		&:hover, &:active, &:focus {
			@include underline;

		}
	}
}