// Logo Ondernemersplein

.logo {
	display: block;
	position: relative;

	@include mqGreaterThan(mediumLarge) {
		width: calcColumnWidth(2/3);
	}

	&-link {
		@include noUnderline;

		font-weight: bold;
		color: getColor(grijs darkest);
		display: inline-block;
		@include setPropWithMq(greater, font-size, getFontSize(logo));
		line-height: 0.89;

		&:focus {
			outline: 1px dotted getColor(grijs darkest);
		}
	}
}