/* HEADER */

.header { }

.brandBar {
	background: mapDeepGet($colors, hemelblauw default);
	min-height: 50px;
	border-bottom: 10px solid mapDeepGet($colors, hemelblauw light);
}

// logo styling -> _header-logo.scss

// Pay-off
.payOff {
	margin: 1rem;
	text-align: right;
}