&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;{{&gt; organisms-homepage-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div themes-view&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;!-- Alle ondernemers --&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot; ng-if=&quot;viewModel.selectedAudience == &apos;Ondernemers&apos;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list list--triple themeList&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&Tab;&quot;{{ link.usability-mkb-01-personeel }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-4094-werkgelegenheid&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Personeel&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.usability-starter-01-bedrijf-starten }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6005-starters&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf starten&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-budget-9000&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Geldzaken&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-world&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Internationaal ondernemen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6019-innovatie&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Innovatie&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-5066-milieu&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Huisvesting en milieu&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.usability-zzp-01-freelance-en-zzp }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6033-zzp&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Freelance en zzp&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-9012-koopwoning&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf stoppen of verkopen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6023-ondernemen&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Duurzaam ondernemen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-4070-beschermen&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf beschermen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-0017-bespreking&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf organiseren&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-1008-oog&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Marketing&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-9001-rekening&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Administatie&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-9004-belastingen&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Belastingen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6028-producten&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Product en dienst&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList linkList--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList-itemMore&quot; style=&quot;padding:0.5em 0;&quot;&gt;
&Tab;&Tab;&Tab;                    &lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;                    &Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;                    &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bekijk alle onderwerpen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;                    &lt;/a&gt;
&Tab;&Tab;&Tab;                &lt;/div&gt;
&Tab;&Tab;                &lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&lt;!-- Startende ondernemers --&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot; ng-if=&quot;viewModel.selectedAudience == &apos;Starters&apos;&quot; ng-cloak&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot; style=&quot;margin-bottom:1rem;&quot;&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot; style=&quot;margin-top:0;&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;{{ link.usability-starter-01-bedrijf-starten }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6005-starters&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijf starten&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Starten vanuit huis&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;In 10 stappen naar een eigen bedrijf&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;{{ link.usability-zzp-01-freelance-en-zzp }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6033-zzp&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Freelance en zzp&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.usability-zzp-02-var }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Verklaring Arbeidsrelatie (VAR)&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.usability-zzp-00-samenwerken-als-zzpers }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Samenwerken als zzp&apos;ers&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot; style=&quot;margin-top:0;&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-9001-rekening&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Administratie&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Hoe beheert u uw administratie?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Welke eisen bestaan er t.a.v. facturatie?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-budget-9000&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Geldzaken&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Uw financi&euml;n onder controle&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Subsidies&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Duurzaam ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.usability-mkb-01-personeel }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Personeel&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Bedrijf beschermen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Innovatie&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Internationaal ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Huisvesting en milieu&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList linkList--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList-itemMore&quot; style=&quot;padding:0.5em 0;&quot;&gt;
&Tab;&Tab;&Tab;                    &lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;                    &Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;                    &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bekijk alle onderwerpen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;                    &lt;/a&gt;
&Tab;&Tab;&Tab;                &lt;/div&gt;
&Tab;&Tab;                &lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&Tab;&lt;!-- Ervaren ondernemers --&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot; ng-if=&quot;viewModel.selectedAudience == &apos;Ervaren ondernemers&apos;&quot; ng-cloak&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot; style=&quot;margin-bottom:1rem;&quot;&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot; style=&quot;margin-top:0;&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;{{ link.usability-mkb-01-personeel }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-4094-werkgelegenheid&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Personeel&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Personeel aannemen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;{{ link.usability-mkb-03-ontslagprocedures }}&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Ontslagprocedures&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;{{ link.usability-zzp-01-freelance-en-zzp }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-world&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Internationaal ondernemen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Exporteren&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Belastingen bij internationaal ondernemen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot; style=&quot;margin-top:0;&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6019-innovatie&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Innovatie&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bescherm uw idee of product&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Samen innoveren&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;                &Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;                &Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6023-ondernemen&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Duurzaam ondernemen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;                &Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList linkList--grey list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Subsidies voor duurzaam ondernemen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Energielabel voor bedrijfspand&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Bedrijf stoppen of verkopen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;{{ link.usability-mkb-01-personeel }}&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Freelance en zzp&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Bedrijf beschermen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Administratie&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Geldzaken&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item themeList-item&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;headingLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Huisvesting en milieu&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; atoms-goIcon-headingLink }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList linkList--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList-itemMore&quot; style=&quot;padding:0.5em 0;&quot;&gt;
&Tab;&Tab;&Tab;                    &lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;&Tab;                    &Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;&Tab;                    &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bekijk alle onderwerpen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;&Tab;                    &lt;/a&gt;
&Tab;&Tab;&Tab;                &lt;/div&gt;
&Tab;&Tab;                &lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-home-evenementen }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-home-wetten-regels }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-tool}}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot; style=&quot;margin-top:1em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;imageLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img src=&quot;../../images/block-sector.png&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;imageLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img src=&quot;../../images/block-gemeente.png&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;imageLink&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img src=&quot;../../images/block-landen.png&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;!-- Handelsregister --&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-6034-handel&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Handelsregister&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg class=&quot;goIcon headingLink-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-pijl-rechts-1003&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Met o.a.:
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Inschrijven KvK&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;|
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Bedrijfsinformatie&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;|
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Wijzig inschrijving&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;!-- Vergunningen --&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-1012-rijkspas&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Vergunningen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg class=&quot;goIcon headingLink-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-pijl-rechts-1003&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Met o.a.:
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Drank- en horeca vergunning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;|
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Terrasvergunning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;|
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;{{ link.usability-mkb-00-omgevingsvergunning }}&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Omgevingsvergunning&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;!-- Online aanvragen --&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;h3&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;headingLink&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg aria-hidden=&quot;true&quot; class=&quot;headingLink-bigIcon&quot; style=&quot;height:2em;width:2em;margin-right:0.5em;&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-2008-computer&quot;&gt;&lt;/use&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;headingLink-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;underliner&quot;&gt;Online aanvragen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;svg class=&quot;goIcon headingLink-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-pijl-rechts-1003&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Met o.a.:
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;VAR aanvragen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;|
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;SMS Alert BTW aangifte&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;|
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;interfaceLink&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;A1 verklaring aanvragen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList linkList--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;linkList-itemMore&quot; style=&quot;padding-top:0.5em;&quot;&gt;
&Tab;&Tab;                    &lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;
&Tab;&Tab;                    &Tab;{{&gt; atoms-goIcon-interfaceLink }}
&Tab;&Tab;                    &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Meer direct regelen&lt;/span&gt;&lt;/span&gt;
&Tab;&Tab;                    &lt;/a&gt;
&Tab;&Tab;                &lt;/div&gt;
&Tab;                &lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer gridContainer--stretchItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-feiten-en-cijfers }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-home-webinars }}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-home-situaties }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;