&lt;div class=&quot;hide-svg&quot;&gt;{{&gt; atoms-figures }}&lt;/div&gt;

&lt;div class=&quot;socials layoutContainer&quot;&gt;
&Tab;&lt;ul class=&quot;gridContainer gridContainer--centerItems u-noBullets&quot;&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;http://twitter.com/OP_Nederland&quot; class=&quot;social-link social-link--twitter&quot; title=&quot;Volg ons op Twitter&quot;&gt;
&Tab;        &lt;svg class=&quot;social-figure&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;#figures-squircle&quot; class=&quot;social-figure-background&quot;&gt;&lt;/use&gt;
&Tab;            &lt;use xlink:href=&quot;#figures-Twitter&quot; class=&quot;social-figure-foreground&quot;&gt;&lt;/use&gt;
&Tab;        &lt;/svg&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;is-vishidden&quot;&gt;Twitter&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;https://nl.linkedin.com/company/ondernemersplein-nl&quot; class=&quot;social-link social-link--linkedin&quot; title=&quot;Volg ons op LinkedIn&quot;&gt;
&Tab;        &lt;svg class=&quot;social-figure&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;#figures-squircle&quot; class=&quot;social-figure-background&quot;&gt;&lt;/use&gt;
&Tab;            &lt;use xlink:href=&quot;#figures-LinkedIn&quot; class=&quot;social-figure-foreground&quot;&gt;&lt;/use&gt;
&Tab;        &lt;/svg&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;is-vishidden&quot;&gt;LinkedIn&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;https://plus.google.com/115566178692151570584/posts&quot; class=&quot;social-link social-link--googleplus&quot; title=&quot;Volg ons op Google+&quot;&gt;
&Tab;        &lt;svg class=&quot;social-figure&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;#figures-squircle&quot; class=&quot;social-figure-background&quot;&gt;&lt;/use&gt;
&Tab;            &lt;use xlink:href=&quot;#figures-GooglePlus&quot; class=&quot;social-figure-foreground&quot;&gt;&lt;/use&gt;
&Tab;        &lt;/svg&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;is-vishidden&quot;&gt;Google&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;https://www.youtube.com/user/ondernemerspleinnl&quot; class=&quot;social-link social-link--youtube&quot; title=&quot;Bekijk ons YouTube kanaal&quot;&gt;
&Tab;        &lt;svg class=&quot;social-figure&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;#figures-squircle&quot; class=&quot;social-figure-background&quot;&gt;&lt;/use&gt;
&Tab;            &lt;use xlink:href=&quot;#figures-YouTube&quot; class=&quot;social-figure-foreground&quot;&gt;&lt;/use&gt;
&Tab;        &lt;/svg&gt;
&Tab;&Tab;&Tab;&lt;span class=&quot;is-vishidden&quot;&gt;YouTube&lt;/span&gt;
&Tab;&Tab;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;