&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&lt;ul class=&quot;social social--follow&quot;&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;http://twitter.com/OP_Nederland&quot; class=&quot;twitter&quot; title=&quot;Volg ons op Twitter&quot;&gt;&lt;span&gt;Twitter&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;https://nl.linkedin.com/company/ondernemersplein-nl&quot; class=&quot;linkedin&quot; title=&quot;Volg ons op LinkedIn&quot;&gt;&lt;span&gt;LinkedIn&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;https://plus.google.com/115566178692151570584/posts&quot; class=&quot;googleplus&quot; title=&quot;Volg ons op Google+&quot;&gt;&lt;span&gt;Google+&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;https://www.youtube.com/user/ondernemerspleinnl&quot; class=&quot;youtube&quot; title=&quot;Bekijk ons YouTube kanaal&quot;&gt;&lt;span&gt;YouTube&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;