<section class="section theme-overview">
	<h2 class="section-title">Wilt u alles weten over ...</h2>
	<div class="layoutContainer gridContainer">
		<div class="column column--quarter">
			<h3><a href="#personeel">Personeel</a></h3>
		</div>
		<div class="column column--quarter">
			<h3><a href="#geldzaken">Geldzaken</a></h3>
		</div>
		<div class="column column--quarter">
			<h3><a href="#innoveren">Innoveren</a></h3>
		</div>
		<div class="column column--quarter">
			<h3><a href="#marketing">Marketing</a></h3>
		</div>
		<div class="column column--quarter">
			<h3><a href="#duurzaam">Duurzaam ondernemen</a></h3>
		</div>
		<div class="column column--quarter">
			<h3><a href="#stoppen">Bedrijf stoppen of verkopen</a></h3>
		</div>
		<div class="column column--quarter">
			<h3><a href="#huisvesting">Huisvesting</a></h3>
		</div>
	</div>
</section>