&lt;p class=&quot;error&quot;&gt;Dit is een paragraaf met de class &apos;error&apos; die gebruikt kan worden voor foutmeldingen&lt;/p&gt;
&lt;p class=&quot;valid&quot;&gt;Dit is een paragraaf met de class &apos;valid&apos; waarmee kan worden aangegeven dat er geen fouten zijn gevonden&lt;/p&gt;
&lt;p class=&quot;warning&quot;&gt;Dit is een paragraaf met de class &apos;warning&apos; die gebruikt kan worden voor waarschuwingen&lt;/p&gt;
&lt;p class=&quot;information&quot;&gt;Dit is een paragraaf met de class &apos;information&apos; die gebruikt kan worden om bepaalde informatie (of tip) uit te lichten&lt;/p&gt;
&lt;p&gt;Dit is een tekst waarin een bepaald &lt;span class=&quot;highlight--blue&quot;&gt;woord&lt;/span&gt; benadrukt wordt (m.b.v. de class &apos;highlight--blue&apos;)&lt;/span&gt;&lt;/p&gt;