<div class="hide-svg">{{> atoms-figures }}</div>

<div class="socials layoutContainer">
	<ul class="gridContainer gridContainer--centerItems u-noBullets social--share">
		<li><a href="#twitter" class="social-link social-link--twitter" title="Delen via Twitter">
			<svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-Twitter" class="social-figure-foreground" width="60%" height="60%" x="20%" y="20%" />
	        </svg>
			<span class="is-vishidden">Twitter</span>
		</a></li>
		<li><a href="#facebook" class="social-link social-link--facebook" title="Delen via Facebook">
			<svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-Facebook" class="social-figure-foreground" width="60%" height="60%" x="20%" y="20%" />
	        </svg>
			<span class="is-vishidden">Facebook</span>
		</a></li>
		<li><a href="#linkedin" class="social-link social-link--linkedin" title="Delen via LinkedIn">
			<svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-LinkedIn" class="social-figure-foreground" width="60%" height="60%" x="20%" y="20%" />
	        </svg>
			<span class="is-vishidden">LinkedIn</span>
		</a></li>
		<li><a href="#googleplus" class="social-link social-link--googleplus" title="Delen via Google+">
			<svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-GooglePlus" class="social-figure-foreground" width="60%" height="60%" x="20%" y="20%" />
	        </svg>
			<span class="is-vishidden">Google</span>
		</a></li>
		<li><a href="#mail" class="social-link social-link--email" title="Delen via E-mail">
			<svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-email-2012" class="social-figure-foreground" width="60%" height="60%" x="20%" y="20%" />
	        </svg>
			<span class="is-vishidden">E-mail</span>
		</a></li>
	</ul>
</div>