<ul class="social social--share">
	<li><a href="#twitter" class="twitter" title="Delen via Twitter"><span>Twitter</span></a></li>
	<li><a href="#facebook" class="facebook" title="Delen via Facebook"><span>Facebook</span></a></li>
	<li><a href="#linkedin" class="linkedin" title="Delen via LinkedIn"><span>LinkedIn</span></a></li>
	<li><a href="#googleplus" class="googleplus" title="Delen via Google+"><span>Google+</span></a></li>
	<li><a href="#mail" class="mail" title="Delen via E-mail"><span>E-mail</span></a></li>
</ul>