<ul class="social social--share">
	<li><a href="#twitter" class="twitter"><span>Twitter</span></a></li>
	<li><a href="#facebook" class="facebook"><span>Facebook</span></a></li>
	<li><a href="#linkedin" class="linkedin"><span>LinkedIn</span></a></li>
	<li><a href="#googleplus" class="googleplus"><span>Google+</span></a></li>
	<li><a href="#mail" class="mail"><span>E-mail</span></a></li>
</ul>