<ul class="tabs">
	<li class="tab"><a class="tab-link is-active" href="#"><span class="tab-link-text">Overzicht</span></a></li>
	<li class="tab"><span class="tab-link tab-link--content" href="#"><span class="tab-link-text">Inhoud</span></span></li>
	<li class="tab"><a class="tab-link" href="#"><span class="tab-link-text">Wetten en regels</span></a></li>
	<li class="tab"><a class="tab-link" href="#"><span class="tab-link-text">Direct regelen</span></a></li>
	<li class="tab"><a class="tab-link" href="#"><span class="tab-link-text">Forum</span></a></li>
</ul>