<ul class="tabs">
	<li class="tab"><a class="tab-link" href="#">Overzicht</a></li>
	<li class="tab"><a class="tab-link tab-link--content is-active" href="#">Inhoud</a></li>
	<li class="tab"><a class="tab-link" href="#">Wetten en regels</a></li>
	<li class="tab"><a class="tab-link" href="#">Direct regelen</a></li>
	<li class="tab"><a class="tab-link" href="#">Forum</a></li>
</ul>