<div class="hide-svg">{{> atoms-figures }}</div>

<div class="socials layoutContainer">
	<ul class="gridContainer gridContainer--centerItems u-noBullets">
		<li><a href="http://twitter.com/OP_Nederland" class="social-link social-link--twitter" title="Volg ons op Twitter">
	        <svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-Twitter" class="social-figure-foreground"></use>
	        </svg>
			<span class="is-vishidden">Twitter</span>
		</a></li>
		<li><a href="https://nl.linkedin.com/company/ondernemersplein-nl" class="social-link social-link--linkedin" title="Volg ons op LinkedIn">
	        <svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-LinkedIn" class="social-figure-foreground"></use>
	        </svg>
			<span class="is-vishidden">LinkedIn</span>
		</a></li>
		<li><a href="https://plus.google.com/115566178692151570584/posts" class="social-link social-link--googleplus" title="Volg ons op Google+">
	        <svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-GooglePlus" class="social-figure-foreground"></use>
	        </svg>
			<span class="is-vishidden">Google</span>
		</a></li>
		<li><a href="https://www.youtube.com/user/ondernemerspleinnl" class="social-link social-link--youtube" title="Bekijk ons YouTube kanaal">
	        <svg class="social-figure" aria-hidden="true">
                <use xlink:href="#figures-squircle" class="social-figure-background"></use>
	            <use xlink:href="#figures-YouTube" class="social-figure-foreground"></use>
	        </svg>
			<span class="is-vishidden">YouTube</span>
		</a></li>
	</ul>
</div>