&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;{{&gt; organisms-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Marktonderzoek doen&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;infoText infoText--source&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Geplaatst door: {{ author.partner }}&lt;/span&gt;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;infoText infoText--date&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Laatste update: &lt;time datetime=&quot;2015-07-14T10:32+00:00&quot;&gt;14 juli 2015&lt;/time&gt;&lt;/span&gt;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-intro-text }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;infoText&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Ingangsdatum: &lt;time datetime=&quot;2015-07-14T10:32+00:00&quot;&gt;1 januari 2016&lt;/time&gt;&lt;/span&gt;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side block--blue sc-block&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Meer weten of direct aanvragen&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;SC block&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-content-body }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side block--blue rvo-links&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Lees meer over [...] (RVO)&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#1&quot;&gt;Marketingmix&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#2&quot;&gt;Sterkte-zwakte analyse&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#3&quot;&gt;Brancheonderzoek&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-social-share }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-contactblok }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side suggestions&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;Niet gevonden wat u zocht?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Was u misschien op zoek naar:&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#1&quot;&gt;Marketingmix&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#2&quot;&gt;Sterkte-zwakte analyse&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#3&quot;&gt;Brancheonderzoek&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side avb-law&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Wet- en regelgeving (AvB&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;http://wetten.overheid.nl/1.0:c:BWBR0024779&quot;&gt;&lt;span&gt;Wet algemene bepalingen omgevingsrecht (Wabo) (Overheid.nl)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;http://wetten.overheid.nl/1.0:c:BWBR0027464&quot;&gt;&lt;span&gt;Besluit omgevingsrecht (Overheid.nl)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;http://zoekdienst.overheid.nl/ictu_website/CVDR/CVDRZoeken.aspx?searchtype=Simple&amp;amp;connection=CVDR&quot;&gt;&lt;span&gt;Regelingen van gemeenten, provincies en waterschappen (Overheid.nl)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side avb-links&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Externe links (AvB)&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;external-links&quot;&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a href=&quot;https://www.omgevingsloket.nl/Zakelijk/zakelijk/home?init=true&quot;&gt;Omgevingsloket online zakelijk&lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a href=&quot;http://www.infomil.nl/onderwerpen/integrale/omgevingsloket/bedrijven/infoblad-bedrijven/&quot;&gt;Infoblad voor bedrijven - Omgevingsvergunning en watervergunning (Kenniscentrum InfoMil)&lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a href=&quot;http://www.infomil.nl/onderwerpen/integrale/omgevingsloket&quot;&gt;Omgevingsloket online (Kenniscentrum InfoMil)&lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a href=&quot;http://www.infomil.nl/onderwerpen/integrale/omgevingsvergunning/&quot;&gt;Omgevingsvergunning/Wabo (Kenniscentrum InfoMil)&lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a href=&quot;https://www.eherkenning.nl/inloggen-met-eherkenning/&quot;&gt;Veilig inloggen (eHerkenning)&lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a href=&quot;http://www.rijksoverheid.nl/onderwerpen/omgevingswet&quot;&gt;Omgevingswet (Rijksoverheid)&lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                    &lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side block--blue avb-links&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Altijd op de hoogte blijven?&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;&lt;a href=&quot;#app&quot;&gt;Download de gratis NieuweWetten-app van Antwoord voor bedrijven&lt;/a&gt;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side avb-law&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Wetswijzigingen (AvB)&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;
&Tab;                            &lt;a class=&quot;block_link&quot; href=&quot;/wetswijziging/nieuwe-wet-natuurbescherming/&quot;&gt;
&Tab;                                &lt;span class=&quot;postTitle&quot;&gt;Nieuwe Wet Natuurbescherming&lt;/span&gt;
&Tab;                                &lt;time class=&quot;postDate textLine&quot; datetime=&quot;Ingangsdatum: nog niet bekend&quot;&gt;
&Tab;                                    Ingangsdatum: nog niet bekend
&Tab;                                &lt;/time&gt;
&Tab;                            &lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a class=&quot;block_link&quot; href=&quot;/wetswijziging/verlening-milieuvergunningen-omgevingsdiensten/&quot;&gt;
&Tab;                                &lt;span class=&quot;postTitle&quot;&gt;Omgevingsdiensten verlenen en handhaven milieuvergunningen&lt;/span&gt;
&Tab;                                &lt;time class=&quot;postDate textLine&quot; datetime=&quot;Ingangsdatum: 1 jan 2016&quot;&gt;
&Tab;                                    Ingangsdatum: 1 jan 2016
&Tab;                                &lt;/time&gt;
&Tab;                            &lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;                        &lt;li&gt;
&Tab;                            &lt;a class=&quot;block_link&quot; href=&quot;/wetswijziging/aanpassing-omgevingsrecht/&quot;&gt;
&Tab;                                &lt;span class=&quot;postTitle&quot;&gt;Omgevingsrecht wordt aangepast&lt;/span&gt;
&Tab;                                &lt;time class=&quot;postDate textLine&quot; datetime=&quot;Ingangsdatum: 1 jan 2018&quot;&gt;
&Tab;                                    Ingangsdatum: 1 jan 2018
&Tab;                                &lt;/time&gt;
&Tab;                            &lt;/a&gt;
&Tab;                        &lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side faq&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Veelgestelde vragen&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Gerelateerde FAQ (KvK) - nu niet in gebruik?&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--side products&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title echoHeading&quot;&gt;&lt;span class=&quot;yellow-marker&quot;&gt;Gerelateerde producten&lt;/span&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Overzich van gerelateerde SC-producten - nu niet in gebruik?&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-promoblok}}
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;CRS 1&lt;/span&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bijvoorbeeld: Forum&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;CRS 2&lt;/span&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bijvoorbeeld: Bijeenkomsten&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h3&gt;&lt;span class=&quot;yellow-line&quot;&gt;CRS 3&lt;/span&gt;&lt;/h3&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bijvoorbeeld: Verhaal&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;