&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;{{&gt; organisms-header }}
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--twoThird&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Marktonderzoek doen&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-bronhouder }}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-laatste-update }}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-intro-text }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-content-body }}
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-social-share }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;contact&quot;&gt;
&Tab;        &Tab;&Tab;&Tab;&lt;h2 class=&quot;contact-title echoHeading&quot;&gt;Neem contact op met&lt;/h2&gt;
&Tab;        &Tab;&Tab;&Tab;&lt;p class=&quot;contact-info echoHeading highlight--blue&quot;&gt;een adviseur van de KvK&lt;/p&gt;
&Tab;        &Tab;&Tab;&Tab;&lt;p class=&quot;contact-phone&quot;&gt;
&Tab;        &Tab;&Tab;&Tab;&Tab;&lt;span&gt;Bel  (088) 585 2222&lt;/span&gt;
&Tab;                    &lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;