<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;">Zoals nu op Ondernemersplein: Blauw</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #005387;"></span>
		<span class="sg-label">#005387<br /><small>darkestBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #005b94;"></span>
		<span class="sg-label">#005b94<br /><small>darkerBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #006bad;"></span>
		<span class="sg-label">#006bad<br /><small>darkBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #007bc8;"></span>
		<span class="sg-label">#007bc8<br /><small>blue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #1693e0;"></span>
		<span class="sg-label">#1693e0<br /><small>mediumBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #23a4f3;"></span>
		<span class="sg-label">#23a4f3<br /><small>lightMediumBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #b2d7ee;"></span>
		<span class="sg-label">#b2d7ee<br /><small>lightBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d9ebf7;"></span>
		<span class="sg-label">#d9ebf7<br /><small>lighterBlue</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #e7f7fe;"></span>
		<span class="sg-label">#e7f7fe<br /><small>lightestBlue</small></span>
	</li>
</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;">Rijkshuisstijl Blauwtinten</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #154273;"></span>
		<span class="sg-label">#154273<br /><small>Tekst links</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #01689b  ;"></span>
		<span class="sg-label">#01689b  <br /><small>Donkerblauw 1</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #007bc7;"></span>
		<span class="sg-label">#007bc7<br /><small>Hemelblauw 1</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #8fcae7;"></span>
		<span class="sg-label">#8fcae7<br /><small>Lichtblauw 1</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #b2d7ee;"></span>
		<span class="sg-label">#b2d7ee<br /><small>Hemelblauw 2</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #cce0f1;"></span>
		<span class="sg-label">#cce0f1<br /><small>Donkerblauw 2</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d9ebf7;"></span>
		<span class="sg-label">#d9ebf7<br /><small>Hemelblauw 3</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #ddeff8;"></span>
		<span class="sg-label">#ddeff8<br /><small>Lichtblauw 2</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #e5f0f9;"></span>
		<span class="sg-label">#e5f0f9<br /><small>Donkerblauw 3</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #eef7fb;"></span>
		<span class="sg-label">#eef7fb<br /><small>Lichtblauw 3</small></span>
	</li>

</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin-top:1.5em;">Zoals nu op Ondernemersplein: Grijs</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #3e3e3e;"></span>
		<span class="sg-label">#3e3e3e<br /><small>darkestGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #575757;"></span>
		<span class="sg-label">#575757<br /><small>darkerGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #8a8a8a;"></span>
		<span class="sg-label">#8a8a8a<br /><small>darkGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #a3a3a3;"></span>
		<span class="sg-label">#a3a3a3<br /><small>mediumGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d9d9d9;"></span>
		<span class="sg-label">#d9d9d9<br /><small>lightGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #e5e5e5;"></span>
		<span class="sg-label">#e5e5e5<br /><small>lighterGray</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #f3f3f3;"></span>
		<span class="sg-label">#f3f3f3<br /><small>lightestGray</small></span>
	</li>
</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;">Rijkshuisstijl Grijstinten</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #535353;"></span>
		<span class="sg-label">#535353<br /><small>Achtergrond links</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #696969;"></span>
		<span class="sg-label">#696969<br /><small>Links visited</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">#999999<br /><small>Grijs 4</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #b4b4b4;"></span>
		<span class="sg-label">#b4b4b4<br /><small>Grijs 3</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">#cccccc<br /><small>Grijs 2</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #e6e6e6;"></span>
		<span class="sg-label">#e6e6e6<br /><small>Grijs 1</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #f3f3f3;"></span>
		<span class="sg-label">#f3f3f3<br /><small>Achtergrond</small></span>
	</li>
</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin-top:1.5em;">Rijkshuisstijl steunkleuren</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #CA005D;"></span>
		<span class="sg-label">#CA005D<br /><small>R202G0B93<br />Robijnrood</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #777C00;"></span>
		<span class="sg-label">#777C00<br /><small>R119G124B0<br />Mosgroen</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #42145F;"></span>
		<span class="sg-label">#42145F<br /><small>R66G20B95<br />Paars</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000<br /><small>R0G0B0<br />Zwart</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">#FFFFFF<br /><small>R255G255B255<br />Wit</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #d52b1e;"></span>
		<span class="sg-label">#d52b1e<br /><small>R213G43B30<br />Rood</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #39870c;"></span>
		<span class="sg-label">#39870c<br /><small>R57G135B12<br />Groen</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #76d2b6;"></span>
		<span class="sg-label">#76d2b6<br /><small>R118G210B182<br />Mintgroen</small></span>
	</li>
</ul>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin-top:1.5em;">Social Media kleuren</p>
<ul class="sg-colors">
	<li class="align-center">
		<span class="sg-swatch" style="background: #3B5998;"></span>
		<span class="sg-label">#3B5998<br /><small>Facebook</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #5EA9DD;"></span>
		<span class="sg-label">#5EA9DD<br /><small>Twitter</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #0274B3;"></span>
		<span class="sg-label">#0274B3<br /><small>LinkedIn</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #DA4835;"></span>
		<span class="sg-label">#DA4835<br /><small>Google+</small></span>
	</li>
	<li class="align-center">
		<span class="sg-swatch" style="background: #CC181E;"></span>
		<span class="sg-label">#CC181E<br /><small>YouTube</small></span>
	</li>
</ul>