<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin:15px 0;">Standaard font</p>
<p>Standaard: 'RijksOverheidSansRegular', 'tahoma', sans-serif;</p>
<p><em>Italic: 'RijksOverheidSansRegularItalic', 'tahoma', sans-serif;</em></p>
<p><strong>Bold: 'RijksOverheidSansBold', 'tahoma', sans-serif;</strong></p>
<p><strong><em>Bold Italic: 'RijksOverheidSansBoldItalic', 'tahoma', sans-serif;</em></strong></p>

<p style="text-transform:uppercase;border-bottom: 1px dashed #42145F;margin:15px 0">Fall-back font</p>
<p class="font-secondary">Standaard: 'Tahoma', sans-serif;</p>
<p class="font-secondary"><em>Italic: 'Tahoma', sans-serif;</em></p>
<p class="font-secondary"><strong>Bold: 'Tahoma', sans-serif;</strong></p>
<p class="font-secondary"><strong><em>Bold Italic: 'Tahoma', sans-serif;</em></strong></p>
