&lt;div class=&quot;container&quot;&gt;
&Tab;{{&gt; organisms-sidebar }}
&Tab;&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;&Tab;&lt;header class=&quot;header clearfix&quot; role=&quot;banner&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;header-heading layoutContainer gridContainer gridContainer--singleLine gridContainer--alignItemsToEnd gridContainer--spaceBetweenItems&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-logo }}
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-payoff }}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;brandBar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;breadcrumbs diapositive&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link breadcrumb-linkFirst diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Home&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;breadcrumb&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a class=&quot;breadcrumb-link diapositive-link&quot; href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;span class=&quot;breadcrumb-text&quot;&gt;Alles over ondernemen&lt;/span&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&lt;div class=&quot;main&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;header class=&quot;article-header&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h1&gt;Bedrijf starten&lt;/h1&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/header&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--full&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block--grey&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title&quot;&gt;Veel gezocht&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;                        &lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Stappenplan bedrijf starten&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;                    &lt;/ul&gt;
&Tab;                &lt;/div&gt;
                &lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
                &lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;&quot;&gt;&lt;a href=&quot;#&quot;&gt;Ondernemen, iets voor u?&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Een eigen bedrijf, wat betekent dat?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Ondernemen, iets voor u?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;Hoe wilt u starten?&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Een bedrijf starten kan op allerlei manieren. Waar kiest u voor?&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;Stappenplan bedrijf starten&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Een bedrijf starten, hoe pakt u dat aan? In 10 stappen naar uw eigen bedrijf.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;{{ link.usability-starter-02-alle-rechtsvormen }}&quot;&gt;Rechtsvorm kiezen&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Bv, nv, eenmanszaak, vof; welke juridische vormen zijn er allemaal?&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;Een ondernemingsplan maken&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Briljant bedrijfsidee? Met een ondernemingsplan ziet u meteen of uw plan haalbaar is.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;De juiste papieren&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Onderzoek voor de start van uw bedrijf of u vergunningen, diploma&apos;s of een VAR nodig heeft.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;Breng uw risico&apos;s in kaart&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Verklein de risico&apos;s die u als ondernemer loopt door u goed voor te bereiden.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2&gt;&lt;a href=&quot;#&quot;&gt;Btw-aangifte doen&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Btw-aangifte doen hoort er vanaf het begin bij, ook als u geen omzet heeft.&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
                &Tab;&lt;h2 class=&quot;&quot;&gt;&lt;a href=&quot;#&quot;&gt;Een bestaand bedrijf kopen&lt;/a&gt;&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Waarom een bedrijf overnemen?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Waar vind ik bedrijven te koop?&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Wat en hoe betaal ik voor het bedrijf dat te koop staat&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Meer&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Direct regelen&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;http://kvk.ondernemerstest.nl/app/&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Doe de &apos;Ondernemerschapstest&apos; en ontdek of u klaar bent voor het ondernemerschap&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/themaoverstijgend/programmas_en_formulieren/aanvraag_verklaring_arbeidsrelatie_online_formulier&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text externalLink&quot;&gt;&lt;span&gt;Vraag een Verklaring arbeidsrelatie (VAR) aan bij de Belastingdienst&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot;&gt;Wat kan ik nog meer direct regelen?&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Wetten en regels&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;linkList list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li class=&quot;linkList-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;interfaceLink&quot;&gt;{{&gt; atoms-goIcon-interfaceLink }}&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span&gt;Bedrijf starten of kopen&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot;&gt;Alle wetten en regels voor bedrijf starten&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-linklijst}}
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;crs-wrapper&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;layoutContainer gridContainer&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-verhaal}}
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-crsblok-discussies }}
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;column column--third&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block block-promo block-promo--green&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;figure class=&quot;block-image&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;img src=&quot;../../images/startersdag.png&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block-label&quot;&gt;Evenement&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/figure&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2 class=&quot;block-title h4&quot;&gt;Zeker weten dat je goed van start gaat?&lt;/h2&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;block-text&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Kom naar de KvK Startersdag op 7 november 2015&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;http://www.google.nl&quot; class=&quot;block-link&quot;&gt;Meer over de Startersdag&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;{{&gt; organisms-footer }}
&Tab;&lt;/div&gt;
&lt;/div&gt;