.homepageHeader {
	background-color: getColor(hemelblauw lightest);
	position: relative;

	&-container {
		min-height: 20rem;
	}


	&-topTasks {
		position: relative;
		@include insideMargin(1.5rem 2.5rem);

		@include setPropWithMq(greater, width, (
			all: calcColumnWidth(1/1),
			smallMedium: calcColumnWidth(2/3)
		));
	}
	&-background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;

		&-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 66% 90%;

			animation: zoomPhoto 10s forwards;
			@include mqLesserThan(smallMedium) {
				display: none;

				@include after("") {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-image: linear-gradient(
						to bottom,
						hsla(0, 100%, 100%, 0.5),
						hsla(0, 100%, 100%, 0) 44%
					);
				}
			}
		}
	}
}