.mainMenu {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;

	&-close {
		@include zIndex(seeThroughScroll front);
		position: absolute;
		left: $halfSpace;
		top: 0;
		background: getColor(wit);

		.close-icon {
			fill: getColor(hemelblauw darkest);
		}
	}

	&-nav {
		display: flex;
		flex-direction: column;
		flex: 1 1 0;

		@include before("") {
			display: block;
			flex: 0 0 auto;
			@include zIndex(seeThroughScroll overlay);
			background: rgba(getColor(hemelblauw lightest), 0.9);
			height: $menuBarWidthSmall + 0.75rem;
			@include mqGreaterThan(small) {
				height: $menuBarWidthLarge + 0.6rem;
			}
			@include mqGreaterThan(large) {
				height: $menuBarWidthLarge + 0.8rem;
			}
		}

		@include after("") {
			display: block;
			flex: 1 0 auto;
			@include zIndex(seeThroughScroll overlay);
			background: rgba(getColor(hemelblauw lightest), 0.9);
			height:  1rem;
			@include mqGreaterThan(small) {
				height: 2rem;
			}
			@include mqGreaterThan(large) {
				height: 3rem;
			}
		}
	}

	&-title {
		flex: 0 0 auto;
		margin: 0;
		padding: $halfSpace $halfSpace;
		line-height: 1.6;
		cursor: pointer;
		background: rgba(getColor(hemelblauw lightest), 0.9);

		.no-touch  & {
			@include hoverEtc {
				.mainMenu-title-text {
					@include underline;
				}
			}
		}
	}

	&-button {
		@include cleanButton;
		display: inline-block;
		width: 2rem;
		height: 1.5rem;
	    vertical-align: -31%;
	}

	&-content {
		flex: 0 1 auto;
		overflow: auto;
		overflow-x: hidden;
		padding: 0;

		&.ng-animate {
			overflow: hidden;
		}

		&-background {
			background: rgba(getColor(wit), 0.6);
		}
	}

	&-linkList {
		padding: $quarterSpace 0;
		@include noBullets;
	}

	&-item {
		margin: 0;
	}

	&-link {
		display: block;
		@include noUnderline;
		padding: $quarterSpace $halfSpace;

		transition: background-color 400ms;

		@include hoverEtc {
			color: inherit;
			background: getColor(hemelblauw lightest);
		}
	}
}