@mixin mqDisableSeeThroughScroll {
	@include mqGreaterThan(smallMedium) {
		@include mqGreaterThan(mediumHeight) {
			@content;
		}
	}
}

.mainMenu {
	$menuItemPadding: 0.33rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;

	&-close {
		@include zIndex(seeThroughScroll front);
		position: absolute;
		left: $halfSpace;
		top: 0;
		background: getColor(wit);

		.close-icon {
			fill: getColor(hemelblauw darkest);
		}
	}

	&-nav {
		display: flex;
		flex-direction: column;
		flex: 1 1 0;
		font-size: getFontSize(small);

		@include mqDisableSeeThroughScroll {
			margin-top: $menuBarWidthSmall + 1.75rem;
			overflow: auto;
			overflow-x: hidden;
		}

		@include before("") {
			display: block;
			flex: 0 0 auto;
			@include zIndex(seeThroughScroll overlay);
			background: rgba(getColor(hemelblauw lightest), 0.9);
			height: $menuBarWidthSmall + 0.75rem;
			@include mqGreaterThan(small) {
				height: $menuBarWidthLarge + 0.6rem;
			}
			@include mqGreaterThan(large) {
				height: $menuBarWidthLarge + 0.8rem;
			}
			@include mqDisableSeeThroughScroll {
				display: none;
			}
		}

		@include after("") {
			display: block;
			flex: 1 0 auto;
			@include zIndex(seeThroughScroll overlay);
			background: rgba(getColor(hemelblauw lightest), 0.9);
			height:  1rem;
			@include mqGreaterThan(small) {
				height: 2rem;
			}
			@include mqGreaterThan(large) {
				height: 3rem;
			}
		}
	}

	&-title {
		flex: 0 0 auto;
		margin: 0;
		padding: $menuItemPadding $halfSpace;
		line-height: 1.6;
		cursor: pointer;
		background: rgba(getColor(hemelblauw lightest), 0.9);

		.no-touch  & {
			@include hoverEtc {
				.mainMenu-title-text {
					@include underline;
				}
			}
		}

		@include mqDisableSeeThroughScroll {
			cursor: auto;
			margin-top: 1rem;
			padding: {
				top: ($menuItemPadding / 2);
				bottom: ($menuItemPadding / 2);
			}
			.no-touch  & {
				@include hoverEtc {
					.mainMenu-title-text {
						@include noUnderline;
					}
				}
			}
		}
	}

	&-button {
		@include cleanButton;
		display: inline-block;
		width: 2rem;
		height: 1.5rem;
	    vertical-align: -31%;
		@include mqDisableSeeThroughScroll {
			display: none;
		}
	}

	&-content {
		flex: 0 1 auto;
		overflow: auto;
		overflow-x: hidden;
		padding: 0;

		&.ng-animate {
			overflow: hidden;
		}

		&-background {
			background: rgba(getColor(wit), 0.6);
			@include mqDisableSeeThroughScroll {
				background: none;
			}
		}
	}

	&-linkList {
		padding: $menuItemPadding 0;
		@include noBullets;
		margin-left: 0;
		@include mqDisableSeeThroughScroll {
			padding: 0;
		}
	}

	&-item {
		margin: 0;
		padding: 0;
	}

	&-link {
		display: block;
		@include mqGreaterThan(smallMedium) {
			display: inline-block;
		}
		@include noUnderline;
		padding: $menuItemPadding $halfSpace;
		color: getColor(hemelblauw darkest);

		transition: background-color 400ms;

		@include hoverEtc {
			color: inherit;
			background: getColor(hemelblauw lightest);
			@include mqGreaterThan(large) {
				background: getColor(hemelblauw light);
			}
		}

		&-icon {
			height: 1.5rem;
			width: 1.5rem;
			margin: -0.2rem 0.8rem -0.2rem 0;
			fill: getColor(hemelblauw darkest);
		}
	}
}