// MENU

$menuBarWidth: 50px;

.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
}

.menuBarContainer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	@include zIndex(menuBar);
}

.menuBar {
	position: relative;
	height: 100%;
	width: $menuBarWidth;
	background: getColor(blauw lichtblauwRH) none repeat scroll 0% 0%;
	background-image: linear-gradient(getColor(blauw lichtblauwRH), getColor(groen mintgroenRH));

	&:before {
		content: "";
		position: absolute;
		display: block;
		background: getColor(hemelblauw lightest);
		top: 0;
		bottom: 0;
		right: 100%;
		width: 2000px;
		width: 100vw;
	}
}

.menuBar-button {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 0;
    background: none;
    border: none;
    width: $menuBarWidth;
    height: $menuBarWidth;
    padding: 0;

    &.menuBar-button--menu {

	}
    &.menuBar-button--search {
		top: 75px;
    }
    &.menuBar-button--profile {
    	top: 145px;
    }
    &.menuBar-button--share {
    	top: 265px;
    }
    &.menuBar-button--feedback {
    	top: 335px;
    }
    &.menuBar-button--enquete {
    	top: 405px;
    }

    &.is-opened {
    	.menuBar-icon {
    		fill: getColor(zwart);
    		transform: scale(1.1);
    	}
	}
}

// SVG Icon
.menuBar-icon {
	width: 40px;
	height: 40px;
	fill: getColor(hemelblauw darkest);
	transition: all .2s ease-in-out;
}
.no-touch .menuBar-button:hover {
	.menuBar-icon {
		//stroke: getColor(wit);
		//stroke-width: 1px;
		//fill-opacity:0.1;
		//stroke-opacity:0.9;
		fill: getColor(zwart);
		//filter: url(../../images/svg-filters.svg#shadow);
		//fill: url("../../images/svg-filters.svg#gradient");
		transform: scale(1.1);
	}
}

.menuBar-content {
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	z-index: 10;
	background: getColor(hemelblauw lightest);
	overflow-y: visible;
	overflow-x: hidden;
	width: 240px;
	height: 100%;
	max-width: calc(100vw - #{$menuBarWidth + 20px});

	// For testing script
	&:nth-child(2) {
		width: 250px;
	}
	&:nth-child(3) {
		width: 300px;
	}
	&:nth-child(4) {
		@include mqLesserThan(small) {
			width: 250px;
		}
		@include mqGreaterThan(small) {
			width: 500px;
		}
	}
	&:nth-child(5) {
		width: 300px;
	}
	&:nth-child(6) {
		width: 450px;
	}
	&:nth-child(7) {
		width: 450px;
	}

	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	.linkList {
		li {
		    &:hover {
		    	background: getColor(hemelblauw default);
		    	a {
		    		color: getColor(wit);
		    	}
		    }
		}
    }
	li {
	    margin: 0;
	    padding: 5px 20px;
	}
	a {
	    color: getColor(hemelblauw darkest);
	    text-decoration: none;
	    display: block;
	}
	p {
		padding: 5px 20px;
	}

}
.menuBar--title {
	font-weight: bold;
	padding: 20px 20px 10px 20px;
	font-size: 1.5em;

	a {
		padding: 0;
		&:hover, &:active {
	    	text-decoration: underline;
		}
	}
}
.menuBar--subTitle {
	padding: 10px 20px;
	color: getColor(grijs darkest);
	font-weight: bold;
	text-transform: uppercase;
}