&lt;div class=&quot;colophon&quot;&gt;
&Tab;&lt;div class=&quot;layoutContainer layoutContainer--fullWidth&quot;&gt;
&Tab;&Tab;{{&gt; molecules-partnerlogos }}
&Tab;&Tab;&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2015 Ondernemersplein&lt;/p&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;