&lt;div class=&quot;blockContact blockContact--purple&quot;&gt;
&Tab;&lt;h2 class=&quot;blockContact-title h3&quot;&gt;Heeft u nog vragen?&lt;/h2&gt;
    &lt;p&gt;Belastingdienst:&lt;/p&gt;
&Tab;&lt;p class=&quot;blockContact-item&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
            &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon blockContact-icon&quot;&gt;
              &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-telefoon-0022&quot;&gt;&lt;/use&gt;
            &lt;/svg&gt;
            &lt;span class=&quot;media-text&quot;&gt;
                Bel 0800-0543
            &lt;/span&gt;
        &lt;/span&gt;
    &lt;/p&gt;
    &lt;p class=&quot;blockContact-item&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
            &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon blockContact-icon&quot;&gt;
              &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-email-2012&quot;&gt;&lt;/use&gt;
            &lt;/svg&gt;
            &lt;span class=&quot;media-text&quot;&gt;
                &lt;a class=&quot;interfaceLink blockContact-link&quot; href=&quot;#&quot;&gt;
                &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Stuur een e-mail&lt;/span&gt;&lt;/span&gt;
                &lt;/a&gt;
            &lt;/span&gt;
        &lt;/span&gt;
    &lt;/p&gt;
    &lt;p class=&quot;blockContact-item&quot;&gt;
&Tab;&Tab;&lt;span class=&quot;inlineMedia&quot;&gt;
            &lt;svg aria-hidden=&quot;true&quot; class=&quot;media-icon blockContact-icon&quot;&gt;
              &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#figures-contact-2005&quot;&gt;&lt;/use&gt;
            &lt;/svg&gt;
            &lt;span class=&quot;media-text&quot;&gt;
                &lt;a class=&quot;interfaceLink blockContact-link&quot; href=&quot;#&quot;&gt;
                &Tab;&lt;span class=&quot;interfaceLink-text&quot;&gt;&lt;span class=&quot;underliner&quot;&gt;Chat&lt;/span&gt;&lt;/span&gt;
                &lt;/a&gt;
            &lt;/span&gt;
        &lt;/span&gt;
    &lt;/p&gt;
&lt;/div&gt;